@import '../../../../../content/scss/global.scss';

.related-blogs {
    width: 100%;
    padding: 1.87rem 0;

    .sub-heading {
        font-size: 0.94rem;
        color: $heading-color;
        font-weight: bold;
        margin: 0;
    } /* /sub-headings */

    .popular-one {
        float: left;
        width: 33.3%;
        margin-top: 1.87rem;
        .wrapper {
            max-width: 10rem;
            width: 98%;
            float: left;
            img {
                width: 100%;
            }
        }
        // end wrapper
        .caption {
            font-size: 0.75rem;
            color: $heading-color;
            margin: 1rem 0 0 0;
            font-weight: bold;
            &:hover {
                color: $color-red;
            }
        }
        // end caption

        .date {
            font-size: 0.7rem;
            margin-top: 0.6rem;
            color: $color-gray;
        }
    } /* /popular-one */

    .popular-two {
        @extend .popular-one;
        .wrapper {
            float: none;
            margin: 0 auto;
        }
    }

    // end section post
    .popular-three {
        @extend .popular-one;
        .wrapper {
            float: right;
        }
    }
    // end third post
} /* /related-blogs */
