<!-- Start People likes popular blogs -->
  <div class="related-blogs">
      <h4 class="sub-heading">People also like:</h4>

      <!-- this is first popular post -->
      <div class="popular-one">
        <div class="wrapper">
          <div class="preview-img">
              <a (click)="movetoTop()" routerLink="/blogs/blog-detail/aleeph-solution-making-things-simple"> <img src="../../../../../content/images/blog/images/popular1.jpg"></a>
          </div><!-- /preview-img -->
          <a (click)="movetoTop()" routerLink="/blogs/blog-detail/aleeph-solution-making-things-simple" class="caption">Aleeph Solution making things simple</a><!-- /caption -->
          <p class="date"> <small>May 14, 2018</small></p><!-- /date -->
        </div><!-- /wrapper -->
      </div><!-- /popular-one -->

      <!-- this is second popular post -->
      <div class="popular-two">
        <div class="wrapper">
          <div class="preview-img">
              <a (click)="movetoTop()" routerLink="/blogs/blog-detail/aleeph-data-platform">  <img src="../../../../../content/images//blog/images/popular2.jpg"></a>
          </div><!-- /preview-img -->
          <a (click)="movetoTop()" routerLink="/blogs/blog-detail/aleeph-data-platform" class="caption"> Aleeph Data Platform</a><!-- /caption -->
            <p class="date"> <small>May 14, 2018</small></p><!-- /date -->
          </div><!-- /popular-two -->
        </div><!-- /wrapper -->

        <!-- this is third popular post -->
      <div class="popular-three">
        <div class="wrapper">
          <div class="preview-img">
              <a (click)="movetoTop()" routerLink="/blogs/blog-detail/how-to-make-video-resume-impressive"> <img src="../../../../../content/images/blog/images/popular3.jpg"></a>
          </div><!-- /preview-img -->
          <a (click)="movetoTop()" routerLink="/blogs/blog-detail/how-to-make-video-resume-impressive" class="caption">How to make video resume impressive</a><!-- /caption -->
            <p class="date"> <small>May 14, 2018</small></p><!-- /date -->
          </div><!-- /popular-three -->
        </div><!-- /wrapper -->

    </div><!-- /related-blogs -->
    