@import '../../../../../content/scss/global';

/* For Map PopUps */

.pop {
    padding: 0.62rem;
    h4 {
        color: $heading-color;
        font-size: 0.94rem;
        font-weight: bold;
        margin: 0;
        text-transform: uppercase;
        margin-top: 0.44rem;
    }
    p {
        color: $color-gray;
        font-size: 0.94rem;
        margin: 0;
        margin-top: 0.62rem;
    }
    img {
        float: left;
        width: 1.87rem;
        height: 1.87rem;
        margin-right: 0.62rem;
    }
} /* .pop */
#technology {
    width: 100%;
    background: url('../../../../../content/images/home/new-home/technology-bg.jpg') no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 5.62rem;
    padding-bottom: 5.62rem;

    h4.heading {
        color: $color-white;
        font-size: 2.19rem;
        font-weight: bold;
        text-transform: uppercase;
    }
    .content {
        width: 98%;
        max-width: 57.5rem;
        margin: 4.4rem auto;
        .col-md-6 {
            position: relative;
            &:hover {
                .fliping {
                    transform: rotateY(180deg);
                }
            }
            .fliping {
                width: 100%;
                height: 100%;
                transform-style: preserve-3d;
                transition: all 0.4s ease;
                left: 0;
                .front {
                    width: 100%;
                    backface-visibility: hidden;
                }
                .back {
                    transform: rotateY(180deg);
                    width: 100%;
                    backface-visibility: hidden;
                    background: $color-white;
                    color: $color-gray;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    position: absolute;
                    p {
                        text-align: center;
                        position: absolute;
                        width: 80%;
                        top: 50%;
                        left: 50%;
                        font-size: 1.25rem;
                        transform: translate(-50%, -50%);
                    }
                }
            } /* /fliping */
        }
    }
} /* /technology */
