   <!-- Start Technology -->
   <div id="technology">
      <div class="container">
        <h4 class="heading text-center">Technology We're using</h4>
        <div class="content">
          <div class="row clearfix">
          <div class="col-md-6">
            <div class="fliping">
              <div class="front">
                <img src="../../../../../content/images/home/new-home/ai.jpg" class="img-fluid">
              </div><!-- /front -->
              <div class="back">
                <p>Artificial Intelligence, a state-of-the-art technology which enables the devices to perceive 
  human-like intelligence and Aleeph helps in maximizing the abilities to achieve its objectives.</p>
              </div>
            </div><!-- /fliping -->
          </div><!-- col-md-6 -->
          <div class="col-md-6">
            <div class="fliping">
              <div class="front">
                <img src="../../../../../content/images/home/new-home/hci.jpg" class="img-fluid">
              </div><!-- /front -->
              <div class="back">
                <p>Human-computer interaction majorly concentrates on how people use and are affected by the computer technology. Aleeph’s objective is to observe the human interaction with the computer to determine their activities.</p>
              </div>
            </div><!-- /fliping -->
          </div><!-- /col-md-6 -->
          </div><!-- /row -->
        </div><!-- /content -->
      </div><!-- /container -->
    </div><!-- /technology -->