@import '../../../../../content/scss/global';
/* Start Special Thanks */
#special-thanks {
    width: 100%;
    padding: 2.5rem 0;

    h4.heading {
        text-transform: uppercase;
        font-size: 2.18rem;
        font-weight: bold;
        color: $heading-color;
        margin-bottom: 2.5rem;

        @include respons(view-533) {
            font-size: 1.87rem;
        }
    }
    .container {
        max-width: 71.25rem;
        padding-top: 3.75rem;
        padding-bottom: 3.75rem;
        position: relative;
        overflow: hidden;

        @include respons(view-767) {
            height: 8.12rem;
            padding-top: 0;
            padding-bottom: 0;
        }
    }

    .first {
        @include respons(view-767) {
            display: none;
        }
        width: 100%;
        float: left;
        animation: 15s linear infinite;
        animation-name: husain11;
        position: absolute;
        left: 100%;
        min-width: 50rem;
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .second {
        @include respons(view-767) {
            display: none;
        }
        width: 100%;
        float: left;
        animation: 15s linear infinite;
        animation-name: husain111;
        animation-delay: 7.5s;
        position: absolute;
        left: 100%;
        min-width: 50rem;
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    @keyframes husain11 {
        0% {
            left: 100%;
        }
        100% {
            left: -105%;
        }
    }

    @keyframes husain111 {
        0% {
            left: 100%;
        }
        100% {
            left: -105%;
        }
    }
} /* /special-thanks */
/* Start Potential */
.potential {
    width: 100%;
    background: linear-gradient(to right, #0b2ba0, #d2003b);
    position: relative;
    padding: 3.75rem 0;

    @include respons(view-480) {
        padding: 3.75rem 0.94rem;
    }

    .text {
        width: 100%;
        color: #fff;
        font-size: 2.18rem;
        font-weight: 350;
        margin: 0 auto;
        text-align: center;

        @include respons(view-480) {
            font-size: 1.75rem;
        }

        .mouse {
            width: 3.43rem;
            height: 5.31rem;
            background: #fff;
            box-shadow: 0 0 1.25rem 0 rgba(0, 0, 0, 0.5);
            display: inline-block;
            border-radius: 1.87rem;
            margin: 0 1.25rem -1.75rem 1.25rem;
            cursor: pointer;

            @include respons(view-480) {
                width: 1.87rem;
                height: 2.81rem;
                background: #fff;
                box-shadow: 0 0 1.25rem 0 rgba(0, 0, 0, 0.5);
                display: inline-block;
                border-radius: 1.87rem;
                margin: 0 0.31rem -0.81rem 0.31rem;
            }

            hr {
                width: 1.25rem;
                border: 0.062rem solid rgba(0, 0, 0, 0.5);
                transform: rotate(90deg);

                @include respons(view-480) {
                    width: 0.62rem;
                    margin-top: 0.62rem;
                }
            }
        } /* /mouse */
    } /* /text */
} /* /potential */
.mobile-view-animation {
    width: 100%;
    padding: 0;
    display: none;

    @include respons(view-767) {
        display: block !important;
    }
    .img {
        width: 50%;
    }

    img {
        @media screen and (max-width: 26.25rem) {
            width: 80%;
        }
        margin-top: 1.5rem;
    }
    .mt-img {
        margin-top: 1.87rem;
    }
    .big-img {
        @media screen and (max-width: 26.25rem) {
            width: 55% !important;
        }
    }
}
