
      <!-- Start special Thanks -->
   <div id="special-thanks">
    <h4 class="heading text-center">Special Thanks</h4>
    <div class="container">
      <div class="first">
           <div class="row">
           <div class="col-sm-3">
             <img src="../../../../../content/images/we/Gusto.png">
           </div><!-- /col-md-3 -->
           <div class="col-sm-3">
             <img src="../../../../../content/images/we/pragra.png">
           </div><!-- /col-md-3 -->
           <div class="col-sm-3">
             <img src="../../../../../content/images/we/mazaya.png">
           </div><!-- /col-md-3 -->
           <div class="col-sm-3">
             <img src="../../../../../content/images/we/standered-chartered.png">
           </div><!-- /col-md-3 -->
         </div><!-- /row -->
      </div><!-- /first -->
      <div class="second">
           <div class="row">
           <div class="col-sm-3">
             <img src="../../../../../content/images/we/Gusto.png">
           </div><!-- /col-md-3 -->
           <div class="col-sm-3">
             <img src="../../../../../content/images/we/pragra.png">
           </div><!-- /col-md-3 -->
           <div class="col-sm-3">
             <img src="../../../../../content/images/we/mazaya.png">
           </div><!-- /col-md-3 -->
           <div class="col-sm-3">
             <img src="../../../../../content/images/we/standered-chartered.png">
           </div><!-- /col-md-3 -->
         </div><!-- /row -->
         </div><!-- /first -->
        
      <!-- Carousel for Mobile Views -->
  <div class="mobile-view-animation">
      <div class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
              <div class="img text-center">
                <img src="../../../../../content/images/we/Gusto.png">
              </div>

              <div class="img text-center">
                <img src="../../../../../content/images/we/mazaya.png" class="mt-0 big-img">
              </div>
            </div>
          </div>
          <!-- first carousel-item -->

          <div class="carousel-item">
            <div class="row">
              <div class="img text-center">
                <img src="../../../../../content/images/we/pragra.png" class="mt-img">
              </div>

              <div class="img text-center">
                <img src="../../../../../content/images/we/standered-chartered.png">
              </div>
            </div>
          </div>
          <!-- second carousel-item -->
        </div>
      </div>
    </div>
    <!-- /mobile view animation -->

    </div><!-- /container -->
  </div><!-- /special-thanks -->
  <div class="potential">
      <div class="text">Potential Candidates just a few click <a class="mouse" (click)="register()"><hr> </a> away
      </div><!-- /text -->
  </div><!-- /potential -->
  