@import '../education/education.scss';

.experience-data {
    @extend .education-data;
    .current-date {
        color: $light-gray-color;
        font-size: 0.94rem;
        float: right;
        margin: 0.9rem;
    }
    .buttons {
        clear: both;
        margin-right: 0.9rem;
    }
    .example-full-width {
        width: 97% !important;
    }
}
