<div class="experience-data row">
  <div class="col-md-4 saved-data-container">
    <p class="summary-haed">Summary</p>
    <div class="saved-data-box">
      <span class="delete">
        <mat-icon>delete</mat-icon>
      </span>
      <p class="designation">Software Developer</p>
      <p class="company-name">Amazon</p>
      <p class="company-name">Full Time</p>
      <p class="job-location">Delhi</p>
      <p class="job-duration">
        <span>Jan 2015</span> -
        <span>March 2017</span>
      </p>
    </div>
    <div class="saved-data-box instruction">
      <p class="designation">Add new form</p>
    </div>
  </div>
  <div class="form-container clearfix col-md-8">
      <jhi-experience-modal></jhi-experience-modal>
  </div>
</div>