<div id="reschedule">
  <div class="scroll">
    <div class="box" *ngFor='let rescheduleInterview of rescheduleInterviews'>
      <div class="img">
       <a> <img src="{{rescheduleInterview.candidateUrl}}"></a>
      </div>
      <div class="headings">
        <h4><a>{{rescheduleInterview.candidateName}}</a></h4>
        <p>{{rescheduleInterview.jobTitle}}</p>
        <span>{{rescheduleInterview.candidateCity}},&nbsp;{{rescheduleInterview.candidateCountry}}</span>
      </div>
      <p class="schedule">
        <strong>Schedule Interview:</strong> {{rescheduleInterview.interviewDate}}
        <br>
        <span> {{rescheduleInterview.interviewTime}}</span>
      </p>
      <p class="type">
        <strong>Interview Type:</strong> {{rescheduleInterview.interviewType}}</p>
      <p class="salary">
        <strong>Salary:</strong> {{rescheduleInterview.salaryMin}}&nbsp;{{rescheduleInterview.salaryType}}&nbsp;to&nbsp;{{rescheduleInterview.salaryMax}}&nbsp;{{rescheduleInterview.salaryType}}</p>
      <hr>
      <div class="buttons">
        <button class="accept" (click)='openCancel()'>Cancel</button>
        <button class="reschedule" (click)='openReschedule()'>Reschedule</button>
      </div>
    </div>
  </div>
</div>