<!--Full Page Title Header Start-->
<div class="slider">
  <h4>Motion Graphic Designer</h4>
</div>
<!--/End Full Page Title Header Start-->

<!--Page Content Start-->
<div class="data-cookie">
  <div class="container">
    <div class="complaints">
      <p class="heading">The Position</p>
      <p>We need a professional Motion Graphic Artist & animator who is creative and enthusiastic about creating high-quality,
        engaging content.</p>

      <p class="heading">Responsibility</p>
      <ul>
        <li>
          <span>You will illustrate the script in 2D with animation assets, plan shots and draw panels to demonstrate action and
            maintain continuity between scenes. </span>
        </li>
        <li>
          <span>You will work closely with the Creative Director, Producer and the client to visualise and tell the story. as concept
            artist</span>
        </li>
        <li>
          <span>You will prepare the storyboards for production, including indications of dialogue, character and camera moves,
            and have to create cleaned-up drawings for production </span>
        </li>
      </ul>
      <p class="heading">Requirement</p>
      <ul>
        <li>
          <span>Build great motion graphic design using 2D character, library, assets and visual elements.</span>
        </li>
        <li>
          <span>Use pro tools like adobe after effects & adobe photoshop to create design and video assets.</span>
        </li>
        <li>
          <span>Support and assist with large-scale projects, and manage assigned daily animation tasks.</span>
        </li>
        <li>
          <span>Should have the ability to understand how to design & animate from storyboards. </span>
        </li>
        <li>
          <span>Knowledge of 2D / 3D animation techniques is a must.</span>
        </li>
        <li>
          <span>*Knowledge of Adobe After Effects , Illustrator & Adobe Photoshop is a must for the position of Motion Graphics
            Artist & Animator.</span>
        </li>
      </ul>
    </div>
    <!-- /complaints -->

    <p class="heading">Apply for this position</p>
    <form class="form-inline">

      <div class="form-group">
        <!-- <input type="text" name="fname" placeholder="First Name*"> -->
        <mat-form-field>
          <input matInput placeholder="First Name" name="fname" id="field_fname" required>
          <!-- <mat-error *ngIf="nameContactUs.invalid">{{getNameErrorMessage()}}</mat-error> -->
        </mat-form-field>
      </div>
      <!-- /form-group -->

      <div class="form-group">
        <!-- <input type="text" name="lname" placeholder="Last Name*"> -->
        <mat-form-field>
          <input matInput placeholder="Last Name" name="lname" id="field_lname" required>
          <!-- <mat-error *ngIf="nameContactUs.invalid">{{getNameErrorMessage()}}</mat-error> -->
        </mat-form-field>
      </div>
      <!-- /form-group -->

      <div class="form-group">
        <!-- <input type="email" name="email" placeholder="Email*"> -->
        <mat-form-field>
          <input matInput placeholder="Email ID" name="email" id="field_email" required>
          <!-- <mat-error *ngIf="emailContactUs.invalid">{{getEmailErrorMessage()}}</mat-error> -->
        </mat-form-field>
      </div>
      <!-- /form-group -->

      <div class="form-group">
        <!-- <input type="text" name="phone" placeholder="Phone*"> -->
        <mat-form-field>
          <!-- <mat-icon matPrefix><span class="icon">
            <i class="fa fa-phone" aria-hidden="true"></i>
          </span></mat-icon> -->
          <input matInput type="tel" placeholder="Phone Number" name="phone" id="field_phone" maxlength="10" required>
          <!-- <mat-error *ngIf="phoneContactUs.invalid">{{getCountryErrorMessage()}}</mat-error> -->
        </mat-form-field>
      </div>
      <!-- /form-group -->
      <div class="upload">
        <label>Resume
          <span class="required">*</span>
        </label>
        <input type="file" name="resume" id="resume" accept="images/*">
        <label for="resume" class="upload-btn">Attach Resume</label>

      </div>
      <div class="submit-box">
        <input type="submit" name="submit" value="Submit">
      </div>



    </form>

  </div>
  <!-- /container -->
</div>
<!--/End Page Content Start-->