<!--New Design-->
<div class="case">
  <h4 class="heading text-center">Case Study</h4>
  <div class="container">
    <div class="data-text row ">
      <div class="left col-lg-6 col-md-6">
        <div class="problems clearfix">
          <div class="wrong">
            <div>
              <p>43.09
                <small>%</small>
              </p>
            </div>
            <p>Wrong
              <br>Shortlisting</p>
          </div>

          <div class="hiring">
            <div>
              <p>38.69
                <small>%</small>
              </p>
            </div>
            <p>Hiring
              <br> Failures</p>
          </div>

          <div class="profile">
            <div>
              <p>34.44
                <small>%</small>
              </p>
            </div>
            <p>Profiles missed
              <br> due to Data Size</p>
          </div>

          <div class="avg">
            <div>
              <p>3:26
                <small>min</small>
              </p>
            </div>
            <p>Avg. Time for
              <br> Recruitment</p>
          </div>
        </div>
        <!-- /problems -->
      </div>
      <!-- /left -->

      <div class=" col-lg-6 col-md-6 list-data">
        <ul class="list-unstyled">
          <li class="main-list">Hiring is a lengthy process
            <!-- <li class="sub-list">Employers have to filter thousands of resume to find right candidate for interview, take-days</li> -->
          </li>
          <li class="main-list">Huge database of resumes</li>
          <li class="sub-list">There many resume databases with inactive candidate and no ranking, results in wrong screening</li>
          <li class="main-list">Static skills matching</li>
          <li class="sub-list">Profiles are matched with key words without understanding the intent in profile, lack of intelligent matching</li>
          <li class="main-list">No Video/Audio profiles with ratings</li>
          <li class="sub-list">Video resumes and candidate profile are not aligned, there is no analysis for video / audio profiles</li>
        </ul>

      </div>
      <!-- /right -->
    </div>
    <!-- /data-text -->
  </div>
  <!-- /container -->
</div>
<!-- /case -->