@import '../../../../../content/scss/global';
/* Start Case-Study */
.case {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    width: 100%;
    background: #f4f4f4;
    @include respons(view-480) {
        padding: 2.5rem 0.625rem;
    }
    h4.heading {
        text-transform: uppercase;
        font-size: 2.19rem;
        color: $heading-color;
        margin-bottom: 2.5rem;
        font-weight: bold;

        @include respons(view-533) {
            font-size: 1.87rem;
        }
    }

    .container {
        background: #fff;
        box-shadow: 0 0 0.75rem 0 #cbcbcb;
        padding: 2.5rem 3.12rem;
        @include respons(view-1199) {
            padding: 4.69rem 1.87rem;
        }
        @include respons(view-991) {
            padding: 2.19rem 1rem;
        }

        @include respons(view-767) {
            padding: 2.19rem 1.25rem;
        }

        .problems {
            // width:62%;
            // max-width:62.19rem;
            // margin:0 auto;
            width: 70%;
            max-width: 19.69rem;
            margin: 0 auto;
            padding-top: 1.69rem;

            @include respons(view-1199) {
                width: 100%;
                max-width: 19.69rem;
                margin: 0 auto;
            }
            @include respons(view-767) {
                max-width: 29.69rem;
            }
            .wrong {
                float: left;
                text-align: center;
                width: 9.4rem;

                @include respons(view-767) {
                    width: 50%;
                }
                div {
                    box-shadow: 0 0 0.75rem 0 rgba(0, 0, 0, 0.3);
                    margin: 0 auto;
                    position: relative;
                    width: 6.25rem;
                    height: 6.25rem;
                    background: linear-gradient(to right, $color-red, $color-dark-red);
                    border-radius: 50%;
                    color: #fff;
                    text-align: center;

                    p {
                        position: absolute;
                        top: 51%;
                        left: 51%;
                        transform: translate(-50%, -62%);
                        color: #fff;
                        font-size: 1.25rem;

                        small {
                            font-size: 1.25rem;
                            margin-left: 0.187rem;
                        }
                    } /* /para */
                } /* circle */
                p {
                    margin-top: 0.312rem;
                    font-size: 0.87rem;
                    color: $heading-color;
                }
            } /* /wrong */

            .hiring {
                text-align: center;
                width: 9.4rem;
                float: left;

                @include respons(view-767) {
                    float: right;
                    width: 50%;
                }
                div {
                    box-shadow: 0 0 0.75rem 0 rgba(0, 0, 0, 0.3);
                    margin: 0 auto;
                    position: relative;
                    width: 6.25rem;
                    height: 6.25rem;
                    background: linear-gradient(to right, $color-blue, $color-dark-blue);
                    border-radius: 50%;
                    color: #fff;
                    text-align: center;

                    p {
                        margin: 0;
                        position: absolute;
                        top: 54%;
                        left: 52%;
                        transform: translate(-50%, -62%);
                        color: #fff;
                        font-size: 1.25rem;

                        small {
                            font-size: 1.25rem;
                            margin-left: 0.187rem;
                        }
                    } /* /para */
                } /* circle */
                p {
                    margin-top: 0.312rem;
                    font-size: 0.87rem;
                    color: $heading-color;
                }
            } /* /hiring */

            .profile {
                text-align: center;
                width: 9.4rem;
                float: left;
                @include respons(view-767) {
                    width: 50%;
                    margin-top: 1.87rem;
                }
                div {
                    box-shadow: 0 0 0.75rem 0 rgba(0, 0, 0, 0.3);
                    margin: 0 auto;
                    position: relative;
                    width: 6.25rem;
                    height: 6.25rem;
                    background: linear-gradient(to right, $color-red, $color-dark-red);
                    border-radius: 50%;
                    color: #fff;
                    text-align: center;

                    p {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -62%);
                        color: #fff;
                        font-size: 1.25rem;

                        small {
                            font-size: 1.25rem;
                            margin-left: 0.187rem;
                        }
                    } /* /para */
                } /* circle */
                p {
                    margin-top: 0.312rem;
                    font-size: 0.87rem;
                    color: $heading-color;
                }
            } /* /wrong */

            .avg {
                text-align: center;
                width: 9.4rem;
                float: left;

                @include respons(view-767) {
                    float: right;
                    width: 50%;
                    margin-top: 1.87rem;
                }
                div {
                    box-shadow: 0 0 0.75rem 0 rgba(0, 0, 0, 0.3);
                    margin: 0 auto;
                    position: relative;
                    width: 6.25rem;
                    height: 6.25rem;
                    background: linear-gradient(to right, $color-blue, $color-dark-blue);
                    border-radius: 50%;
                    color: #fff;
                    text-align: center;

                    p {
                        margin: 0;
                        position: absolute;
                        top: 54%;
                        left: 52%;
                        transform: translate(-50%, -62%);
                        color: #fff;
                        font-size: 1.25rem;

                        small {
                            font-size: 1.25rem;
                            margin-left: 0.187rem;
                        }
                    } /* /para */
                } /* circle */
                p {
                    margin-top: 0.312rem;
                    font-size: 0.87rem;
                    color: $heading-color;
                }
            } /* /avg */
        } /* /problems */

        .data-text {
            width: 100%;
            // float:left;
            //margin-top:1.87rem;
            margin-left: 0 !important;

            .left {
                padding-top: 0;
                width: 50%;
                float: left;

                @include respons(view-767) {
                    width: 100%;
                }

                ul {
                    li {
                        line-height: 1.8;
                        font-size: 1.25rem;
                        color: $heading-color;
                        font-weight: bold;
                        position: relative;
                        @include respons(view-767) {
                            margin-top: 1.25rem;
                        }

                        padding-left: 1.25rem;
                        &::before {
                            content: '';
                            position: absolute;
                            z-index: 9;
                            height: 0.625rem;
                            width: 0.625rem;
                            border-radius: 100%;
                            background: #fff;
                            border: 0.0625rem solid #27add0;
                            left: -0.375rem;
                            top: 0.875rem;
                        }
                        //     &:first-child
                        // {
                        //     margin-top: 0;
                        // }
                    }
                } /* /ul */
            } /* /left */
            .right {
                width: 50%;
                float: right;
                padding-left: 5.62rem;
                padding-top: 0;
                // border-left:0.0625rem solid $color-gray;
                @include respons(view-991) {
                    padding-left: 1.87rem;
                }

                @include respons(view-767) {
                    width: 100%;
                    padding-left: 0;
                    border-left: none;
                    border-top: 0.0625rem solid $color-gray;
                }

                ul {
                    li {
                        font-size: 0.87rem;
                        line-height: 2;
                        color: $color-gray;
                        position: relative;
                        @include respons(view-767) {
                            margin-top: 0.94rem;
                        }

                        padding-left: 1.25rem;
                        &::before {
                            content: '';
                            position: absolute;
                            z-index: 9;
                            height: 0.312rem;
                            width: 0.312rem;
                            border-radius: 100%;
                            background: #27add0;
                            left: 0;
                            top: 0.875rem;
                        }
                    }
                } /* /ul */
            } /* /right */
        } /* /data-text */
    } /* /container */
    .list-data {
        ul.list-unstyled {
            @include respons(view-767) {
                padding-top: 1.87rem;
                margin-left: 5%;
            }
            li.main-list {
                font-size: 1.25rem;
                font-weight: 500;
                position: relative;
                &::before {
                    content: '';
                    position: absolute;
                    z-index: 9;
                    height: 0.625rem;
                    width: 0.625rem;
                    border-radius: 100%;
                    background: #fff;
                    border: 0.0625rem solid #27add0;
                    left: -1.25rem;
                    top: 0.75rem;
                }
            }
            li.sub-list {
                font-size: 0.87rem;
                position: relative;
                margin-bottom: 1.25rem;
                &::before {
                    content: '';
                    position: absolute;
                    z-index: 9;
                    height: 0.312rem;
                    width: 0.312rem;
                    border-radius: 100%;
                    background: #27add0;
                    left: -1.12rem;
                    top: 0.625rem;
                }
            }
            li:last-child {
                margin-bottom: 0;
            }
        }
    }
} /* /Case */
