
<!--***************************************************
   // Landing Page Common Navigation Header Component
   // Belongs to webapp/app/common/shared/ui-navigation folder
***********************************************************-->
<jhi-navigation></jhi-navigation>
<!--/End Navigation Header Component-->

<!--
    Slider section
    Belongs to webapp/app/home/carousel folder
-->
<jhi-carousel></jhi-carousel>

<!--
    How it Works section
    Belongs to webapp/app/home/how-it-works folder
-->
<jhi-how-it-works></jhi-how-it-works>

<!--
    We section
    Belongs to webapp/app/home/we folder
-->
<jhi-we></jhi-we>

<!--
    Device Section
    Belongs to webapp/app/home/devise folder
-->
<jhi-device></jhi-device>

<!--
    Oppotunities section
     Belongs to webapp/app/home/oppotunities folder
-->
<jhi-opportunities></jhi-opportunities>
<!-- 
    Blog section 
     Belongs to webapp/app/home/blog folder
-->

<jhi-blog></jhi-blog>

<!--Our Associate section
 Belongs to webapp/app/home/associates folder
-->
<section id='our-accociates'>
    <jhi-associates></jhi-associates>
</section>

<!-- 
    Map Section
     Belongs to webapp/app/home/map-query folder
-->
<jhi-map-query></jhi-map-query>

<!--***************************************************
    // Landing Page Common Footer Component
    // Belongs to webapp/app/common/shared/ui-footer folder
***********************************************************-->
<jhi-footer></jhi-footer>
<!--/End Navigation Footer Component-->