<!--jobs filter bar-->
<div class="fixed-bar clearfix">
    <span class="paging">Showing 1-8 of 254</span>
    <div class="sorted">
      <span>Sort by:</span>
      <select class="category">
        <option>Most view jobs</option>
        <option>Most view jobs</option>
        <option>Most view jobs</option>
      </select>
    </div>
    <!-- /sorted -->
  </div>
  <!-- /jobs filter bar-->
<!--start favourite jobs-->
<div class="favorite-job" *ngFor='let favouriteJob of favouriteJobs'>
    <div class="data-preview clearfix">
        <div class="logo">
            <a class="circle">
             <img src="{{favouriteJob.logoUrl}}">
           </a>
         <!-- /img -->
        </div>
        <div class="right">
           <button class="favourite" title="Unfavourite" type="button"></button>
          <div class="activity">   
            <div class="buttons">
              <a class="apply">Apply</a>
              <a class="cancel">Not Interested</a>
            </div><!-- /buttons -->
          </div><!-- /activity -->

          <div class="content">
             <p class="heading"><a>{{favouriteJob.jobTitle}}</a></p>
             <p class="sub-heading"><a>{{favouriteJob.employerName}}</a></p>
             <p>{{favouriteJob.jobType}} | {{favouriteJob.jobCity}},&nbsp;{{favouriteJob.jobCountry}}</p>
             <p class="salary">
               <strong>Salary: </strong>{{favouriteJob.salaryFigureType}}&nbsp;{{favouriteJob.salaryMin}}&nbsp;{{favouriteJob.salaryType}}&nbsp;to&nbsp;{{favouriteJob.salaryMax}}&nbsp;{{favouriteJob.salaryType}}</p>
               <p class="skills">
                  <strong>Skills: </strong>
               <span *ngFor='let skill of favouriteJob.skills; index as i'>
                 <span *ngIf="((favouriteJob.skills?.length)-1) !== i">{{skill}},</span>
                 <span *ngIf="((favouriteJob.skills?.length)-1) === i">{{skill}}</span>
               </span>
             </p>
             <p class="description">{{favouriteJob.jobDescription}}</p>
           </div>
           <!-- /content -->
          
        </div><!-- /right -->
     </div><!-- data-preview -->   
  </div>
</div>
<!-- /end favorite jobs -->