@import '../matching/matching.scss';

.favorite-job {
    @extend .matching-jobs;
}
button {
    cursor: pointer;
    position: absolute;
    right: 0.6rem;
    top: -1.3rem;
    padding: 0.5rem;
    border: none;
}
button.favourite {
    background: url('../../../../../content/images/user/interviews/red-heart.png') center no-repeat;
    padding: 0.5rem;
    &:hover,
    &:active,
    &:focus {
        background: url('../../../../../content/images/user/interviews/heart.png') center no-repeat;
    }
}
button.unfavourite {
    background: url('../../../../../content/images/user/interviews/heart.png') center no-repeat !important;
}
