<div id="features">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-md-4">
          <div class="customer-support">
            <div class="icon">
              <img src="../../../../../content/images/home/new-home/customer-support.png">
            </div><!-- /icon -->
            <h4 class="heading">HCI Analysis</h4>
            <p>InsyghtAI's objective is to observe the human interaction with the computer to determine their activities.</p>
          </div><!-- /customer-support -->
        </div><!-- /col-md-4 -->
        <div class="col-md-4">
          <div class="icon">
            <img src="../../../../../content/images/home/new-home/live-interview.png">
          </div><!-- icon -->
          <h4 class="heading">Live Interview</h4>
          <p>Enhance the productivity, subtract the time and analyze the best-fit talent with the hassle-free online interviews in real time.</p>
        </div><!-- /col-md-4 -->
        <div class="col-md-4">
          <div class="icon">
            <img src="../../../../../content/images/home/new-home/live-icon.png">
          </div><!-- icon -->
          <!-- <h4 class="heading"> <span id="levi">Levi</span> assistance</h4> -->
          <h4 class="heading"><span id="levi">Live</span> Streaming</h4>
          <p>Our Products Empower People To Share Their Creativity.</p>
        </div><!-- /col-md-4 -->
      </div><!-- /row -->
    </div><!-- /col-lg-12 -->
  </div><!-- /features -->