@import '../../../../../content/scss/global';
/* For Map PopUps */

#features {
    width: 98%;
    max-width: 57.5rem;
    background: #fff;
    box-shadow: 0 0 1.87rem 0 #cbcbcb;
    padding: 1.25rem 2.81rem;
    margin: 0 auto;

    color: $color-gray;
    h4.heading {
        color: $heading-color;
        font-size: 1.25rem;
        font-weight: bold;
        margin: 0.62rem 0;
    }
    p {
        font-size: 0.87rem;
    }
    .articles {
        padding-left: 1.56rem;
        padding-right: 1.56rem;
        max-width: 33.75rem;
        margin: 0 auto;
        &:last-of-type {
            div {
                border: none;
            }
        }
        .icon {
            img {
                width: 1.87rem;
                height: 1.87rem;
            }
        }
    }
    .articles > div {
        @include respons(view-767) {
            padding: 1.87rem 0;
            border-bottom: 0.06rem solid #cbcbcb;
        }
    }
} /* /features */
