@import '../../../../../content/scss/global';
/* Start Features */
.features {
    background: #f4f4f4;
    width: 100%;
    padding: 2.5rem 0 1.25rem;

    @include respons(view-480) {
        padding: 2.5rem 0;
    }

    h4.heading {
        text-transform: uppercase;
        font-size: 2.19rem;
        color: $heading-color;
        margin: 0 auto 2.5rem;
        font-weight: bold;
        @include respons(view-533) {
            font-size: 1.87rem;
        }
    } /* /heading */

    .box {
        margin-bottom: 1.25rem;
        width: 100%;
        max-width: 34.06rem;
        margin: 0 auto 1.25rem auto;
        background: #fff;
        padding: 1.87rem;
        box-shadow: 0 0 0.75rem 0 #cbcbcb;
        transition: all 0.2s ease-in-out;
        height: 13.75rem;
        position: relative;
        // -webkit-transition: .6s cubic-bezier(0,1.5,.5,1);
        // -moz-transition: .6s cubic-bezier(0,1.5,.5,1);
        // -ms-transition: .6s cubic-bezier(0,1.5,.5,1);
        // -o-transition: .6s cubic-bezier(0,1.5,.5,1);
        // transition: .6s cubic-bezier(0,1.5,.5,1);

        -webkit-transform: translateZ(0);
        -webkit-backface-visibility: hidden;
        -webkit-transition: all 200ms ease-out;
        -webkit-transform: scale(1);
        -ms-transition: all 200ms ease-out;
        -ms-transform: scale(1);
        -moz-transition: all 200ms ease-out;
        -moz-transform: scale(1);
        transition: all 200ms ease-out;
        transform: scale(1);

        // -webkit-transition: all 100ms linear;
        // -moz-transition: all 100ms linear;
        // -ms-transition: all 100ms linear;
        // -o-transition: all  100ms linear;
        // transition: all  100ms linear;
        // .box-hover
        // {
        //     position: absolute;
        //     left: 0;
        //     right:0;
        //     top:0;
        //     bottom: 0;
        //     padding: 1.87rem;
        //     -webkit-transition: .6s cubic-bezier(0,1.5,.5,1);
        // -moz-transition: .6s cubic-bezier(0,1.5,.5,1);
        // -ms-transition: .6s cubic-bezier(0,1.5,.5,1);
        // -o-transition: .6s cubic-bezier(0,1.5,.5,1);
        // transition: .6s cubic-bezier(0,1.5,.5,1);
        // }
        @include respons(view-991) {
            height: auto;
        }
        p {
            font-size: 0.87rem;
            color: $color-gray;
            // -webkit-transition: all 100ms linear;
            // -moz-transition: all 100ms linear;
            // -ms-transition: all 100ms linear;
            // -o-transition: all  100ms linear;
            // transition: all  100ms linear;
        }
        .left {
            width: 30%;
            float: left;
            @include respons(view-480) {
                width: 100%;
                text-align: left;
            }

            h2 {
                font-size: 1.25rem;
                color: $color-blue;
                font-weight: bold;
                // -webkit-transition: all 100ms linear;
                // -moz-transition: all 100ms linear;
                // -ms-transition: all 100ms linear;
                // -o-transition: all  100ms linear;
                // transition: all  100ms linear;
                @include respons(view-480) {
                    font-size: 1.25rem;
                    margin-bottom: 0.625rem;
                }
            }
        }
        .right {
            width: 65%;
            float: right;
            @include respons(view-480) {
                width: 100%;
            }
        }
        &:hover {
            // .box-hover
            // {
            //     background: linear-gradient(to right, #eb3856, #bf2046) !important;
            //     left: -0.5rem;
            //     right: -0.5rem;
            //     top: -0.5rem;
            //     bottom: -0.5rem;
            //     h2.heading, p
            // {
            //     color: $white;
            // }
            // h2.heading
            // {
            //     font-size:1.35rem;
            // }
            // p
            // {
            //     font-size:0.9rem;
            // }
            // }
            background: linear-gradient(to right, #eb3856, #bf2046) !important;
            // css for zoom effect
            //1.
            -webkit-transition: all 200ms ease-in;
            -webkit-transform: scale(1.05);
            -ms-transition: all 200ms ease-in;
            -ms-transform: scale(1.05);
            -moz-transition: all 200ms ease-in;
            -moz-transform: scale(1.05);
            transition: all 200ms ease-in;
            transform: scale(1.05);

            //2.
            // -webkit-transform:scale(1.05);
            // -moz-transform:scale(1.05);
            // -ms-transform:scale(1.05);
            // -o-transform:scale(1.05);
            // transform:scale(1.05);

            //box-shadow:0 0 0.94rem 0 #cbcbcb;
            h2.heading,
            p {
                color: #fff;
            }
        }
    } /* /box */
} /* /features */

/* Start Potential */
.potential {
    width: 100%;
    background: linear-gradient(to right, #0b2ba0, #d2003b);
    position: relative;
    padding: 3.75rem 0;

    @include respons(view-480) {
        padding: 3.75rem 0.94rem;
    }

    .text {
        width: 100%;
        color: #fff;
        font-size: 2.19rem;
        font-weight: 350;
        margin: 0 auto;
        text-align: center;

        @include respons(view-533) {
            font-size: 1.87rem;
        }

        .mouse {
            width: 3.43rem;
            height: 5.31rem;
            background: #fff;
            box-shadow: 0 0 1.25rem 0 rgba(0, 0, 0, 0.5);
            display: inline-block;
            border-radius: 1.87rem;
            margin: 0 1.25rem -1.75rem 1.25rem;
            cursor: pointer;

            @include respons(view-480) {
                width: 1.87rem;
                height: 2.81rem;
                background: #fff;
                box-shadow: 0 0 1.25rem 0 rgba(0, 0, 0, 0.5);
                display: inline-block;
                border-radius: 1.87rem;
                margin: 0 0.315rem -0.812rem 0.315rem;
            }

            hr {
                width: 1.25rem;
                border: 0.0625rem solid rgba(0, 0, 0, 0.5);
                transform: rotate(90deg);

                @include respons(view-480) {
                    width: 0.625rem;
                    margin-top: 0.625rem;
                }
            }
        } /* /mouse */
    } /* /text */
} /* /potential */
a {
    cursor: pointer;
}
p {
    text-align: justify;
}
