<div class="features">
  <div class="container">
    <h4 class="heading text-center">Features</h4>
    <div class="row">
      <div class="col-lg-6">
        <div class="box clearfix">
          <!-- <div class="box-hover"> -->
          <div class="left">
          <h2 class="heading">
            AI Engine
          </h2>
        </div><!-- /left -->
        <div class="right">
          <p>We aim to diminish human feasibility by applying the power of evolving technologies and reinvent Talent Acquisition process. Therefore, our Aleeph Engine targets  to reduce all the troubles like Data Redundancy, Lack of Workflow, User Management Issues, Duplication of Jobs, No Proper Feedback etc. that talents and recruiters faces in conventional hiring processes.</p>
        </div>
        <!-- </div> -->
      </div>
      </div><!-- /col-lg -->

      <div class="col-lg-6">
        <div class="box clearfix">
          <div class="left">
          <h2 class="heading">
            Resume Assistance
          </h2>
        </div><!-- /left -->
        <div class="right">
          <p>Aleeph platform allows recruiters and talents to upload their context, audio, video job posts and resumes. Intelligent screening of 1000s of profiles and their relative matching AI score is driven to with the help of chat-bot very efficiently, reducing the time and efforts of users instantly.</p>
        </div>
        </div>
      </div><!-- /col-lg -->
    </div><!-- /row -->

    <div class="row">
      <div class="col-lg-6">
        <div class="box clearfix">
          <div class="left">
          <h2 class="heading">HCI Analytics</h2>
        </div><!-- /left -->
        <div class="right">
          <p>It is technically designed to reduce the time spent during screening of candidates. The test section on Aleeph is enhanced and updated with wide variety of technical & analytical skills, making it the most comprehensive platform.          </p>
        </div>
        </div>
      </div><!-- /col-lg -->

      <div class="col-lg-6">
        <div class="box clearfix">
          <div class="left">
          <h2 class="heading">Position Identification</h2>
        </div><!-- /left -->
        <div class="right">
          <p>Aleeph platform identifies positions in the organizational structure that have a high number of direct subordinates compared with similar key positions. Without these key positions, numerous employees would be without direction and guidance, which can have trickle-down effects all the way to the front line.          </p>
        </div>
        </div>
      </div><!-- /col-lg -->
    </div><!-- /row -->

    <div class="row">
      <div class="col-lg-6">
        <div class="box clearfix">
          <div class="left">
          <h2 class="heading">Video CV/JD</h2>
        </div><!-- /left -->
        <div class="right">
          <p>Recruiters and talents will be able to upload job description and curriculum vitae in video format. A video CV shows the talents as friendly and sociable person and helps in enhancing talents characteristics like assertiveness & confidence, video JD increases the number of click-throughs, applications and number of qualified candidates applying.          </p>
        </div>
        </div>
      </div><!-- /col-lg -->

      <div class="col-lg-6">
        <div class="box clearfix">
          <div class="left">
          <h2 class="heading">Search, Application</h2>
        </div><!-- /left -->
        <div class="right">
          <p>Recruiters can search talents based on their location, joining period and other necessary skills best suited to company's requirements. Likewise, talents can search companies and positions that suit them best.</p>
        </div>
        </div>
      </div><!-- /col-lg -->
    </div><!-- /row -->

    <div class="row">
      <div class="col-lg-6">
        <div class="box clearfix">
          <div class="left">
          <h2 class="heading">Video/Audio Analytics</h2>
        </div><!-- /left -->
        <div class="right">
          <p>Aleeph’s audio and video analysis understands insight from video resume. If you have got bored of reading resumes then watch video resumes of applicants directly on Aleeph & shortlist them based on the required skill set.          </p>
        </div>
        </div>
      </div><!-- /col-lg -->

      <div class="col-lg-6">
        <div class="box clearfix">
          <div class="left">
          <h2 class="heading">Interview, Screening</h2>
        </div><!-- /left -->
        <div class="right">
          <p>The test section on Aleeph is enhanced and updated with wide variety of technical & analytical skills, making it the most comprehensive platform.          </p>
        </div>
        </div>
      </div><!-- /col-lg -->
    </div><!-- /row -->

    <div class="row">
      <div class="col-lg-6">
        <div class="box clearfix">
          <div class="left">
          <h2 class="heading">Social Media Scoring</h2>
        </div><!-- /left -->
        <div class="right">
          <p>Aleeph’s AI & ML assess talents on various factors and generate professional score. Users will be driven by AI scores and their profile will also be scored on the basis of social media profile like LinkedIn, Instagram, Facebook etc.          </p>
        </div>
        </div>
      </div><!-- /col-lg -->

      <div class="col-lg-6">
        <div class="box clearfix">
          <div class="left">
          <h2 class="heading">Verification, Finalization</h2>
        </div><!-- /left -->
        <div class="right">
          <p>Platform does intelligent screening of 1000s of profiles and provides recruiters AI based matching talents, resulting in no wrong screening and ideal verification of talents.          </p>
        </div>
        </div>
      </div><!-- /col-lg -->
    </div><!-- /row -->
  </div><!-- /container -->
</div><!-- /features -->

<div class="potential">
  <div class="text">Potential Candidates just a few click <a class="mouse" (click)="register()"><hr> </a> away
  </div><!-- /text -->
</div><!-- /potential -->
