
 <!--***************************************************
    Blog Page Common Navigation Header Component
    Belongs to webapp/app/common/shared/blog/header folder
***********************************************************-->
<jhi-navigation></jhi-navigation>
<!--/End Navigation Header Component-->

<!--**********************************
      Blog Page Slider Component
      Belongs to webapp/app/common/shared/blog/banner folder
    **************************************-->
    <jhi-banner></jhi-banner>
    <!--/End banner slider component-->

  <!-- start for blog detail section -->

  <div class="blog-detail">
      <div class="container">
        <div class="row">
  
  
          <!-- this col is for left spacing -->
          <div class="col-md-2"></div><!-- /col-md-2 -->
  
          <!-- this col is for blog section detail -->
          <div class="col-md-8">
            <div class="inner-wrapper">
              
  
              <div class="preview-img">
                <img src="../../../../../../content/images/blog/images/aleeph-solution.jpeg" class="img-fluid">
              </div><!-- /preview-img -->
  
              <!-- this is preview-img blog data -->
              <div class="blog-content">
                <p class="date"> <small>May 14, 2018</small></p><!-- /date -->
                <h3 class="heading">Aleeph solution making things simple</h3>
                <p>
                  <span class="favourite-counting"><i class="fa fa-heart"></i> 24 |</span>
                  <small>Tags: Technology, Education</small>
                </p>
    
                <p class="first-para">Searching and recruiting best quality candidates have become a complicated task nowadays. In today’s evolving and competitive environment, finding jobs and searching the right candidate is a significant pain area for companies looking to grow their team.  But our system is an employment service provider that will connect both job seekers and companies on a single platform. The solution allows candidates to search for jobs in different categories.</p>
              
                <p class="second-para">Many job portals, mobile apps, online employment exchanges, and consultancies have emerged to solve the need, but they are facing new challenges to short-list qualified candidates in limited time. Our platform is developed to address the companies to post jobs and target right candidates to minimize the search time of both employers and candidates.</p>
    
    
                <div class="social-connections">
                  <ul class="social-icons list-unstyled">
                    <li>share:</li>
                    <li class="list-inline-item">
                      <a href="https://www.facebook.com/AleephIndia/" class="facebook" target="_blank">
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="https://twitter.com/AleephAdvisors" class="twitter" target="_blank">
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="https://www.linkedin.com/company/aleeph-advisors-india-pvt-ltd/" class="linkedin" target="_blank">
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="https://www.instagram.com/aleephindia/" class="instagram" target="_blank">
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a class="google-plus">
                      </a>
                    </li>
                  </ul><!-- /social-icons -->
                </div><!-- /social-connection -->
              </div><!-- /blog-content -->
  
              <!-- this is for most popular posts -->
              <jhi-popular-post></jhi-popular-post>
    
            </div><!-- /inner-wrapper -->
          </div><!-- /col-md-8 -->
  
            <!-- this col is for left spacing -->
          <div class="col-md-2"></div><!-- /col-sm-2 -->
  
        </div><!-- /row -->
      </div><!-- /container -->
    </div><!-- /blog-preview -->

  <!-- This is for SignIn or SignUP -->
  <div class="potential">
      <div class="text">Potential Candidates just a few click <a class="mouse" (click)="register()"><hr> </a> away
      </div><!-- /text -->
  </div><!-- /potential -->

  <!--***************************************************
    Landing Page Common Footer Component
    Belongs to webapp/app/common/shared/ui-footer folder
***********************************************************-->
<jhi-footer></jhi-footer>
<!--/End Navigation Footer Component-->