<!--Trending blogs section start-->
<div class="trending">
    <div class="container">
        <h4 class="trend-heading"> Trending </h4>

      <!-- Trending blogs row start-->
      <div class="row text-center">
        <div class="col-md-4">
          <div class="trendimg">
            <img class="" src="../../../../../content/images/home/new-home/blogs/trending1.jpg" alt="Generic placeholder image">
            <div class="overlay">
            <p>Technology <br>
            Latest Technology Added</p>
            </div>
          </div><!-- end trendimg -->
        </div><!-- /.col-lg-4 -->
        <div class="col-md-4">
          <div class="trendimg">
            <img class="" src="../../../../../content/images/home/new-home/blogs/trending2.jpg" alt="Generic placeholder image">
          <div class="overlay">
          <p>World <br>
          Latest Technology Added</p>
          </div><!-- / end overlay -->
          </div><!-- end trendimg -->
        </div><!-- /.col-lg-4 -->        
        <div class="col-md-4">
          <div class="trendimg">
            <img class="" src="../../../../../content/images/home/new-home/blogs/trending3.jpg" alt="Generic placeholder image">
            <div class="overlay">
            <p>Product Launch <br>
            Latest Technology Added</p>
            </div><!-- / end overlay -->
          </div><!-- / end trendimg -->
        </div><!-- /.col-lg-4 -->
      </div> <!-- /Trending blogs row end-->

    </div><!-- /.container -->
</div><!--/Trending blogs section end-->