<div class="top-navbar">
   
  <div class="container-fluid">
    <div class="search-box">
      <fa-icon [icon]="faSearch"></fa-icon></fa-icon>
      <input type="text" name="search" placeholder="Search...">
    </div>
    <!-- /search-box -->
    <div class="right-side">
      <span class="notification">
        <img src="../../../../../content/images/dashboard/notification-icon.png">
      </span>
      <!-- /notification -->
      <span class="message">
        <img src="../../../../../content/images/dashboard/message-icon.png">
      </span>
      <!-- /message -->
      <!-- <span class="user-profile">
        <div class="circle"></div>
        <i class="fa fa-chevron-down"></i>
      </span> -->
      <div ngbDropdown class="d-inline-block">
              <button class="nav-link dropdown-toggle drop-menu" id="dropdownBasic1" ngbDropdownToggle>
                <span *ngIf='!user.imageUrl'>
                  <!-- <i class="fa fa-user"></i> -->
                  <fa-icon [icon]="faUser"></fa-icon>
                  <fa-icon [icon]="faChevronDown"></fa-icon>
                </span>
                <span *ngIf='user.imageUrl'>
                  <img src="{{user.imageUrl}}" class="user-icon" />
                </span>
                <!-- <img src="https://s3.us-east-1.amazonaws.com/img-storage.aleeph.io/1531544871914-images_(1).jpeg" class="user-icon"> -->
                <!-- <i class="fa fa-user"></i> -->
              </button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="top-profile-dropdown">
                <div class="media dropdown-item">
                  <!-- <img src="" class="align-self-center mr-3"> -->
                  <div class="media-body" *ngIf="userExist">
                    <h5>{{user.firstName}} {{user.lastName}}</h5>
                  </div>
                  <!-- /end media-body -->
                </div>
                <!-- /end media -->
                <ul class="profile-options list-unstyled">
                  <li>
                    <a>Setting &amp; Privacy</a>
                  </li>
                  <li>
                    <a>Levi Assistance</a>
                  </li>
                  <li>
                    <a>Post &amp; Activity</a>
                  </li>
                  <li>
                    <a>Premium Services</a>
                  </li>
                  <li>
                    <a (click)="logout()">Sign Out</a>
                  </li>
                </ul>
              </div>
            </div>
      <!-- /user-profile -->
    </div>
    <!-- /right-side -->
  </div>
  <!-- /container -->
</div>
<!-- /top-navbar -->