@import '../../../../../content/scss/global.scss';

.top-navbar {
    position: fixed;
    width: 100%;
    padding-left: 11.9rem;
    height: 4.4rem;
    background: $white-color;
    z-index: 9;

    .search-box {
        width: 75%;
        min-width: 21.25rem;
        padding-left: 4.4rem;
        float: left;
        padding-top: 1.3rem;
        @media screen and (max-width: 63.125rem) {
            width: 50%;
            min-width: 20rem;
            padding-left: 3rem;
        }
        i.fa-search {
            cursor: pointer;
            margin-right: 0.625rem;
        }
        input {
            width: 90%;
            border: none;
            color: $dark-gray-color;
            outline: none;
        }
    }
    .right-side {
        width: 12rem;
        float: right;
        line-height: 4.4rem;
        span {
            position: relative;
            cursor: pointer;
            &:before {
                content: '';
                width: 0.375rem;
                height: 0.375rem;
                border-radius: 50%;
                background: linear-gradient(to bottom, $red-color, $dark-red-color);
                position: absolute;
                top: 0;
                right: 0;
            }
            &:last-child {
                &:before {
                    content: '';
                    display: none;
                }
            }
        }
        .message {
            margin: 0 2rem;
        }
        .circle {
            width: 1.5rem;
            border-radius: 50%;
            background: $gray-color;
            height: 1.5rem;
            margin-bottom: -0.75rem;
            display: inline-block;
        }
        .fa-chevron-down {
            color: $blue-color;
            margin: 0.125rem 0 0 0.3rem;
            font-size: 0.5rem;
        }
    } /* /right-side */
} /* /top-navbar */
/*  Start top-profile-dropdown */

.top-profile-dropdown {
    width: 11.875rem;
    background: #e8ecf2;
    top: 2rem;
    left: 0;
    position: absolute;
    padding: 0;
    border: 0;

    .media {
        width: 100%;
        padding: 0.625rem 0 1em 0.625rem;
        padding-right: 0;
        border-top: 0.0625rem solid #c1c4c7;
        border-bottom: 0.0625rem solid #c1c4c7;

        .media-body {
            width: 100%;
            h5 {
                font-size: 0.9em;
                font-weight: 600;
                margin-bottom: 0;
            }

            p {
                text-align: left;
                margin: 0;
                font-size: 0.6875rem;
            }
        }
    }
    .profile-options {
        width: 100%;

        li {
            line-height: 1.5em;
            width: 100%;
            border-bottom: 0.0625rem solid #c1c4c7;
            &:last-child {
                border: none;
            }
            a {
                text-decoration: none;
                font-size: $font-size !important;
                color: $font-color-black;
                padding: 0.3125rem 0.94rem;
                &:hover {
                    color: $color-blue;
                }
            }
        }
    }
}
button.nav-link {
    color: $font-color-black;
    padding: $padding $padding + 1rem;
    font-size: $font-size;
    position: relative;
    @include focus;
    border: none;
    background: transparent;
}
.dropdown-toggle::after {
    display: none !important;
}
