@import '../../../../../content/scss/global';
.simple-thing {
    width: 100%;
    overflow: hidden;
    h4.heading {
        text-transform: uppercase;
        font-size: 2.19rem;
        color: $heading-color;
        margin: 2.5rem auto;
        font-weight: bold;
        @include respons(view-533) {
            font-size: 1.87rem;
        }
    } /* /heading */
    .container {
        position: relative;
        width: 69.37rem;
        @media screen and (max-width: 36rem) {
            width: 100%;
        }
        button {
            background: transparent;
            border: none;
            outline: none;
            cursor: pointer;
            position: absolute;
            top: 0;
        }
        button.prev-btn,
        button.next-btn {
            right: 3.125rem;
            top: -1.87rem;
            transform: translateY(-50%);
            border: 0.0625rem solid #c1c1c1;
            padding: 0 0.44rem 0.0625rem;
            font-size: 0.94rem;
            box-shadow: -0.0625rem -0.0625rem 0.0625rem 0 rgba(4, 4, 4, 0.28);
            img {
                width: 0.44rem;
            }
        }
        button.next-btn {
            right: 1rem;
        }

        #bookid {
            width: 100%;
            margin-bottom: 2.5rem;
        }

        h4.head {
            text-transform: uppercase;
            text-align: center;
            font-size: 0.94rem;
            margin: 2.81rem 0;
        }
        p.problem {
            color: #a20615;
        }
        p.solution {
            color: #03588c;
            margin-top: 85%;
            margin-left: 45%;
        }

        .left-side {
            border-right: 0.188rem solid $color-white;
            width: 50%;
            float: left;
            background: $color-red;
            left: 0;
            padding-left: 7%;
            @include respons(view-991) {
                width: 80%;
                margin: 1.25rem 10%;
                text-align: center;
                padding: 0;
            }
            @include respons(view-480) {
                width: 100%;
                margin: 1.25rem 0;
            }
            .bars {
                margin-top: 5.62rem;
                width: 5.88rem;
                height: 21.75rem;
                float: right;

                @include respons(view-991) {
                    display: none;
                }

                span {
                    display: block;
                    margin-top: 4.06rem;
                    width: 100%;
                    height: 0.375rem;
                    background: $color-white;
                }
            }
            .question {
                background: $color-white;
                width: 75%;
                height: 21.75rem;
                margin-top: 5.62rem;
                float: right;
                border-right: 0.188rem solid #f4f4f4;
                position: relative;
                margin-bottom: 5.31rem;
                @include respons(view-991) {
                    width: 75%;
                    margin: 3.75rem auto;
                    height: 15.63rem;
                    display: inline-block;
                    float: none;
                }

                @include respons(view-480) {
                    width: 85%;
                    margin: 1.87rem auto;
                }

                p {
                    width: 12.5rem;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    text-align: center;
                    transform: translate(-50%, -50%);
                    color: $color-red;
                    font-size: 0.87rem;
                }
            } /* /left */
        }

        .right-side {
            width: 50%;
            border-left: 0.188rem solid $color-white;
            right: 0;
            float: right;
            background: $color-blue;
            padding-bottom: 5.25rem;
            padding-right: 7%;
            @include respons(view-991) {
                width: 80%;
                margin: 1.25rem 10%;
                text-align: center;
                padding: 0;
            }
            @include respons(view-480) {
                width: 100%;
                margin: 1.25rem 0;
            }
            h4.head {
                margin-top: 2.62rem;
            }

            .bars {
                margin-top: 5.62rem;
                width: 5.88rem;
                height: 21.75rem;
                float: left;
                @include respons(view-991) {
                    display: none;
                }

                span {
                    display: block;
                    margin-top: 4.06rem;
                    width: 100%;
                    height: 0.375rem;
                    background: $color-white;
                }
            }
            .answer {
                position: relative;
                background: $color-white;
                margin-top: 5.62rem;
                width: 75%;
                height: 21.75rem;
                float: left;
                border-right: 0.188rem solid #f4f4f4;

                @include respons(view-991) {
                    width: 75%;
                    margin: 3.75rem auto;
                    height: 15.63rem;
                    display: inline-block;
                    float: none;
                }
                @include respons(view-480) {
                    width: 85%;
                    margin: 1.87rem auto;
                }

                p {
                    text-align: center;
                    width: 15rem;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    color: $color-blue;
                    font-size: 0.87rem;
                }
            } /* /left */
        }
    }
} /* /simple-thing */

// .line1
// {
// 	position: absolute;
//     background: #f4f4f4;
//     width: 197px;
//     height: 0.312rem;
//     margin: 0 auto;
//     z-index: 1;
//     left: 41%;
//     top: 29%;
// }
// .line2
// {
// 	position: absolute;
//     background: #f4f4f4;
//     width: 197px;
//     height: 0.312rem;
//     margin: 0 auto;
//     z-index: 1;
//     left: 41%;
//     top: 42%;
// }
// .line3
// {
// 	position: absolute;
//     background: #f4f4f4;
//     width: 197px;
//     height: 0.312rem;
//     margin: 0 auto;
//     z-index: 1;
//     left: 41%;
//     top: 55%;
// }
// .line4
// {
// 	position: absolute;
//     background: #f4f4f4;
//     width: 197px;
//     height: 0.312rem;
//     margin: 0 auto;
//     z-index: 1;
//     left: 41%;
//     top: 68%;
// }
/* Start Potential */
.potential {
    width: 100%;
    background: linear-gradient(to right, #0b2ba0, #d2003b);
    position: relative;
    padding: 3.75rem 0;

    @include respons(view-480) {
        padding: 3.75rem 0.94rem;
    }

    .text {
        width: 100%;
        color: #fff;
        font-size: 2.19rem;
        font-weight: 350;
        margin: 0 auto;
        text-align: center;

        @include respons(view-480) {
            font-size: 1.75rem;
        }

        .mouse {
            width: 3.44rem;
            height: 5.31rem;
            background: #fff;
            box-shadow: 0 0 1.25rem 0 rgba(0, 0, 0, 0.5);
            display: inline-block;
            border-radius: 1.87rem;
            margin: 0 1.25rem -1.75rem 1.25rem;
            cursor: pointer;

            @include respons(view-480) {
                width: 1.87rem;
                height: 2.81rem;
                background: #fff;
                box-shadow: 0 0 1.25rem 0 rgba(0, 0, 0, 0.5);
                display: inline-block;
                border-radius: 1.87rem;
                margin: 0 0.312rem -0.812rem 0.312rem;
            }

            hr {
                width: 1.25rem;
                border: 0.0625rem solid rgba(0, 0, 0, 0.5);
                transform: rotate(90deg);

                @include respons(view-480) {
                    width: 0.625rem;
                    margin-top: 0.625rem;
                }
            }
        } /* /mouse */
    } /* /text */
} /* /potential */
