<div class="simple-thing">
    <h4 class="heading text-center">making things simple</h4>
    <div class="container clearfix">
      <!-- <button class="prev-btn"><img src="../../../../../content/images/home/new-home/left-arrow.png"></button> -->
      <div class="left-side clearfix">
          <div class="bars">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div><!-- /bars -->
          <div class="question">
              <h4 class="head problem">Problem</h4>
              <p>
              Mediocre curriculum vitae 
              responsible for sabotaging 
              opportunities
            </p>
          </div><!-- /question -->
  
         
        </div><!-- /left-side -->
  
  
      <div id="bookid" class="clearfix">
  
        <div class="right-side clearfix">
          <div class="bars">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </div><!-- /bars -->
          <div class="answer">
              <h4 class="head solution">Solution</h4>
            <p>With HCI integration, Aleeph helps the aspirants to determine the inadequacy and build an effective curriculum vitae.</p>
          </div><!-- /answer -->        
        </div><!-- /right-side -->
  
      </div><!-- /bookid -->
      
      <!-- <button class="next-btn"><img src="../../../../../content/images/home/new-home/right-arrow.png"></button> -->
  <!--  -->
  
  
  
    </div><!-- /container -->
    <div class="potential">
        <div class="text">Potential Candidates just a few click <a class="mouse" (click)="register()"><hr> </a> away
        </div><!-- /text -->
      </div><!-- /potential -->
  </div><!-- /simple-thing -->