<div class="live-streaming-container clearfix">
  <h4 class="head">Live Streaming</h4>
  <div class="full-width-streaming">
    <img src="../../../../../content/images/user/dashboard/streaming/anna.jpg" />
    <div class="caption">
      <h6>Anna Kendrick</h6>
      <p>Streaming</p>
    </div>
  </div>
  <div class="thumbnail">
    <img src="../../../../../content/images/user/dashboard/streaming/andriana.jpg" />
    <div class="caption">
      <h6>Andriana Joseph</h6>
      <p>Streaming</p>
    </div>
  </div>
  <div class="thumbnail">
    <img src="../../../../../content/images/user/dashboard/streaming/michell.jpg" />
    <div class="caption">
      <h6>Micheal Hems</h6>
      <p>Upcoming</p>
    </div>
  </div>
  <div class="thumbnail">
    <img src="../../../../../content/images/user/dashboard/streaming/mahesh.jpg" />
    <div class="caption">
      <h6>Mahesh Aggrawal</h6>
      <p>Streaming</p>
    </div>
  </div>
  <div class="thumbnail">
    <img src="../../../../../content/images/user/dashboard/streaming/rashmi.jpg" />
    <div class="caption">
      <h6>Rashmi Mittal</h6>
      <p>Upcoming</p>
    </div>
  </div>
  <div class="thumbnail">
    <img src="../../../../../content/images/user/dashboard/streaming/milli.jpg" />
    <div class="caption">
      <h6>Mili Mister</h6>
      <p>Streaming</p>
    </div>
  </div>
  <div class="thumbnail upcoming">
    <img src="../../../../../content/images/user/dashboard/streaming/vishika.jpg" />
    <div class="caption">
      <h6>Vishika</h6>
      <p>Upcoming</p>
    </div>
  </div>
  <div class="thumbnail upcoming">
    <img src="../../../../../content/images/user/dashboard/streaming/yong.jpg" />
    <div class="caption">
      <h6>Xiaong Yong</h6>
      <p>Upcoming</p>
    </div>
  </div>
  <div class="thumbnail">
    <img src="../../../../../content/images/user/dashboard/streaming/anni.jpg" />
    <div class="caption">
      <h6>Anna Kendrick</h6>
      <p>Streaming</p>
    </div>
  </div>
</div>
