@import '../education/education.scss';
.personal-data {
    @extend .education-data;
    .form {
        width: 100%;
        padding: 2rem 3rem 2rem 0;
    }
}
//upload image user icon
.upload {
    overflow: hidden;
    text-align: center;
    position: relative;
    margin-right: 1.1rem;
    @include respons(view-1199) {
        margin-right: 4rem;
    }
    @include respons(view-991) {
        margin-right: 0;
    }
    label {
        color: $light-gray-color;
        cursor: pointer;
        width: 10.6rem;
        height: 10.6rem;
        text-align: center;
        overflow: hidden;
        @include borderset(0.0625rem, solid, $bdr-clr, 50%);
        @include respond(small-tablet) {
            margin: auto;
        }
        @include respond(phone) {
            // margin-left:33%;
            padding-top: 5.5rem;
            text-align: center;
        }
    }
    #file {
        display: none;
        visibility: hidden;
    }
    #user-image-icon {
        margin: 1rem auto 0;
        display: block;
        width: 75%;
    }
    #preview-image {
        width: 100%;
        height: 100%;
        margin: 0 auto;
    }
}
.add-img {
    display: block;
    text-align: center;
    font-size: 0.875rem;
}
.mat-form-field {
    width: 100%;
}
