<div class="personal-data row">
  <form class="form" [formGroup]="firstFormGroup" (ngSubmit)="save()">
    <div class="row">
      <div class="col-lg-4 ">
        <div class="upload">
          <label for="file" class="user-pic">
            <!-- <span>
              <img src='../../../../../content/images/user/dashboard/User.png' id="user-image-icon" onerror="this.style.display='none'"
                onload="this.style.display='block'">
            </span> -->
            <span *ngIf='!localImageURL'>
              <img src='../../../../../../content/images/user/dashboard/User.png' id="preview-image" onerror="this.style.display='none'" onload="this.style.display='block'">
            </span>
            <span *ngIf='localImageURL'>
              <img src='{{localImageURL}}' id="preview-image" onerror="this.style.display='none'" onload="this.style.display='block'">
            </span>
          </label>
          <!-- /file -->
          <input type="file" id="file" accept="images/*" (change)="selectFile($event)">
        </div>
        <!-- /end upload -->
        <label for="file" class="add-img">Add Profile Image</label>
        <!-- /file -->
      </div>
      <div class="col-lg-8 col-sm-12">
        <div class="row">
          <div class="col-md-12">
            <div class="row">

              <!-- Talent First Name Input Field | Validations: Not Null -->
              <div class="col-sm-6">
                <mat-form-field>
                  <input matInput placeholder="First name" formControlName="firstNameCtrl" [(ngModel)]="personalDetail.firstName" required>
                  <mat-error>{{getFirstNameErrorMessage()}}</mat-error>
                </mat-form-field>
              </div>

              <!-- Talent Last Name Input Field | Validations: Not Null -->
              <div class="col-sm-6">
                <mat-form-field>
                  <input matInput placeholder="Last name" formControlName="lastNameCtrl" [(ngModel)]="personalDetail.lastName" required>
                  <mat-error>{{getLastNameErrorMessage()}}</mat-error>
                </mat-form-field>
              </div>

            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <!-- Gender Drop Down | Validations: Not Null -->
            <mat-form-field>
              <mat-select placeholder="Gender" formControlName="genderCtrl" [(ngModel)]="personalDetail.gender" required>
                <mat-option *ngFor="let gender of Gender" [value]="gender.value">
                  {{gender.name}}
                </mat-option>
              </mat-select>
              <mat-error>{{getGenderErrorMessage()}}</mat-error>
            </mat-form-field>
          </div>
          <div class="col-sm-6">
            <div class="date-of-birth">
              <!-- DOB Input Field -->
              <mat-form-field>
                <input matInput [matDatepicker]="dob" placeholder="Date of Birth" formControlName="dobCtrl" [(ngModel)]="personalDetail.dateOfBirth"
                  [max]="maxDate" required>
                <mat-datepicker-toggle matSuffix [for]="dob"></mat-datepicker-toggle>
                <mat-datepicker #dob></mat-datepicker>
                <mat-error>{{getDobErrorMessage()}}</mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        <!-- /end row -->
        <div class="row ">
          <div class="col-sm-6">
            <!-- Talent Mobile Numbetr Input Field | Validations: Not Null -->
            <mat-form-field>
              <input matInput type="tel" placeholder="Phone Number" formControlName="phoneNumberCtrl" [(ngModel)]="personalDetail.mobile"
                maxlength="10" minlength="10" required>
              <mat-error>{{getPhoneNumberErrorMessage()}}</mat-error>
            </mat-form-field>
          </div>
          <div class="col-sm-6">
            <!-- Talent Alternative Mobile Number Input Field -->
            <mat-form-field>
              <input matInput type="tel" placeholder="Alternate Number" formControlName="alternateNumberCtrl" [(ngModel)]="personalDetail.alternativeMobile"
              maxlength="10" minlength="10">
              <mat-error>{{getAlternateNumberErrorMessage()}}</mat-error>
            </mat-form-field>
          </div>
        </div>
        <!--Bottons-->
        <div>
          <button mat-button matStepperNext>Next</button>
          <button type="submit" [disabled]="firstFormGroup.invalid || isSaving" mat-button>Save</button>

        </div>
        <!--/Bottons-->
      </div>
    </div>
  </form>
</div>