<!--Full Page Title Header Start-->
<div class="slider">
  <h4>Frequently Asked Questions</h4>
</div>
<!--/End Full Page Title Header Start-->

<!--Page Content Start-->
<div class="data-agreement faqs">
  <div class="container">
    <p>Aleeph desktop experience was designed so you can easily surface ideas, drive conversations, and discover topics you
      care about. We’ ve incorporated top feedback from members into these changes to help you be more productive and stay
      connected. Discover updated articles and videos that can assist you with using our product, by simply logging in to
      your Aleeph account and browsing our Help Center to find updated information.</p>
    <p>Here are some frequently asked questions about the Aleeph Homepage. You can also learn more about product insights and
      information about Aleeph on our blog.</p>

    <div class="features padding-left">
      <p class="heading">
        <i class="fa fa-plus"></i>
        <span> What features are within the top and down navigation bar and how do user can access features in the navigation?</span>
      </p>

      <div class="feature-data data">
        <p>To access additional features and products:
          <br> Aleeph navigation bar is a simplified menu of tabs to help you quickly and easily locate features that you’re
          looking for. Below is a list of items and how you can find them:</p>

        <h4 class="heading">Homepage Navigation Bar</h4>

        <ul>
          <li>
            <span>
              <strong>We- </strong>Click the We icon at the top of Aleeph page you will see Aleeph team video and about us i.e. who
              are we and what we do, what are the technologies we are usin g, our core team, our advisors, chief proponent
              and special thanks.</span>
          </li>

          <li>
            <span>
              <strong>Devise- </strong>Click the Devise icon at the top of Aleeph homepage to learn about our product and what’s
              our vision for developing it, case study of failures of previous products and our solution for those failures,
              what’s our design how we are developing and deploy ing it and last making all things as simple as possible.</span>
          </li>

          <li>
            <span>
              <strong>Opportunities- </strong>Click the opportunities icon at top of homepage to know how we are minimizing, modifying
              and modesting our ap proach and our top features.</span>
          </li>

        </ul>


        <h4 class="heading">Upper Navigation Bar</h4>

        <ul>
          <li>
            <span>
              <strong>Notifications- </strong>Click the Notifications icon at the top to see updates about you, such as when someone
              likes or comments on an article you share, and to see updates about your connections, such as job changes,
              work anniversaries, birthdays, and more. A number on the icon notifies you of pending notifications since your
              last visit.</span>
          </li>

          <li>
            <span>
              <strong>Messages- </strong>Click the Messaging icon at the top of your Aleeph homepage to access your messages. A number
              on the icon notifies you of the number of unread messages you have.</span>
          </li>

          <li>
            <span>
              <strong>Profile- </strong>Click the profile image icon at the top of your Aleeph homepage to view or edit your profile.
              You can also manage your account settings, privacy settings and more. </span>
          </li>

        </ul>


        <h4 class="heading">Lower Navigation Bar</h4>

        <ul>
          <li>
            <span>
              <strong>Dashboard- </strong>Click the Dashboard icon on user dashboard and you will see your newsfeed section, a quick
              look of trending jobs, applied jobs, nearby jobs, interviews, and all notification details like events, on
              this day, your groups, suggestions and offers.</span>
          </li>

          <li>
            <span>
              <strong>Profile- </strong>Click the profile icon to edit all your personal and professional details like work experience,
              education experience, skills, desired job, connections and friends and your portfolio page.</span>
          </li>

          <li>
            <span>
              <strong>Jobs- </strong>Click the jobs icon to see all your matching, applied and favorite jobs in detail including
              job description, requirements, benefits etc.
            </span>
          </li>
          <li>
            <span>
              <strong>Interview- </strong>Click the interview icon to see all your upcoming interview, available request and cancelled
              interview in detail including job description, requirements, benefits etc.</span>
          </li>
          <li>
            <span>
              <strong>Connections- </strong>Click the connections icon to access your connections and, invitations, and to view people
              you may know.</span>
          </li>
          <li>
            <span>
              <strong>Support- </strong>Click the support icon to get support related to technical, language, phone, live chat/video,
              email, remote, social media and chatbot (Levi support).</span>
          </li>

          <li>
            <span>
              <strong>Add New Profile- </strong>Click the Add New Profile button to add your multiple job profiles.</span>
          </li>



        </ul>


      </div>
      <!-- /feature-data -->
    </div>
    <!-- /features -->

    <div class="updates padding-left">
      <p class="heading">
        <i class="fa fa-plus"></i>
        <span> How update feeds are sorted?</span>
      </p>

      <div class="updates-data data">
        <p>You can control how updates in your network are displayed in your Aleeph feed on the homepage.The feed by default
          is set to display your Top updates, which are selected according to relevance, based on your activity. On desktop,
          you can view your feed updates by Recent, which are organized chronologically.</p>
      </div>
      <!-- /updates-data -->
    </div>
    <!-- /updates -->

    <div class="privacy-page padding-left">
      <p class="heading">
        <i class="fa fa-plus"></i>
        <span> Where is Settings &amp; Privacy page?</span>
      </p>

      <div class="privacy-data data">
        <h4 class="heading">To access your Settings & Privacy page:</h4>

        <ul>
          <li>
            <span>Click the profile icon at upper navigation bar in your dashboard.</span>
          </li>
          <li>
            <span>Select Settings & Privacy from the dropdown.</span>
          </li>
        </ul>
      </div>
      <!-- /privacy-data -->

    </div>
    <!-- /privacy-page -->

    <div class="notifications padding-left">
      <p class="heading">
        <i class="fa fa-plus"></i>
        <span>How received notifications can be adjusted?</span>
      </p>

      <div class="notifications-data data">
        <p>You can receive notifications about yourself, your activity, and your connections. These include alerts for your
          posts or shares, career opportunities, and updates about people in your network.</p>
        <p>To manage these notifications you receive, you’ll need to adjust your settings within the Notifications tab.</p>
      </div>
      <!-- /notifications-data -->
    </div>
    <!-- /notifications -->

    <div class="difference padding-left">
      <p class="heading">
        <i class="fa fa-plus"></i>
        <span> What is the difference between editing my profile and my public profile?</span>
      </p>

      <div class="difference-data data">
        <p>Your public profile appears when people search for you using a public search engine like Google, Yahoo!, Bing, etc.
          as well as on other third party applications and platforms, subject to your privacy settings. You can change your
          public profile to turn on or off the sections you want visible on public search engines.</p>
        <p>When you edit your profile, not all sections are visible automatically on your public profile. To customize which
          sections are visible, you must first go to your Public Profile page.</p>
      </div>
      <!-- /difference-data -->
    </div>
    <!-- /difference -->

    <div class="update padding-left">
      <p class="heading">
        <i class="fa fa-plus"></i>
        <span> How can candidate update/edit his profile?</span>
      </p>

      <div class="update-data data">
        <p>Candidates can update profile only after login to aleeph.io. Once candidate have logged in to his account, they see
          a snapshot of profile. Changes can be made to Profile by editing the relevant sections. It is recommended that
          candidates should update their Profile regularly. Recruiters often contact only those candidates who have recently
          updated their profiles.</p>
      </div>
      <!-- /update-data -->
    </div>
    <!-- /update -->

    <div class="post padding-left">
      <p class="heading">
        <i class="fa fa-plus"></i>
        <span> How can candidate post Resume?</span>
      </p>

      <div class="post-data data">
        <p>To post Resume at aleeph.io, click on the profile section. This will take candidate to the next step of filling up
          personal and professional details. These details are important information that the recruiters look for. Once this
          is completed, candidate profile is registered with us. This is the default profile which is sent across to the
          recruiters when candidate apply for a particular job vacancy.</p>
      </div>
      <!-- /post-data -->
    </div>
    <!-- /post -->

    <div class="solution padding-left">
      <p class="heading">
        <i class="fa fa-plus"></i>
        <span> What are Job Postings? What all can employers do with job postings solution?</span>
      </p>

      <div class="solution-data data">
        <p>For filling a position, time is like money, and every minute counts. Employers need to get their job in front of
          the most qualified talents. Employers need an easy and reliable way to manage incoming CVs and select the right
          person for the job. And that's what posting job on Aleeph delivers - the most efficient and cost-effective way
          to hire online.</p>
      </div>
      <!-- /solution-data -->
    </div>
    <!-- /solution -->

    <div class="aleeph padding-left">
      <p class="heading">
        <i class="fa fa-plus"></i>
        <span> How can employers post a job on aleeph.io?</span>
      </p>

      <div class="aleeph-data data">

        <h4 class="heading">Posting jobs on Aleeph is quite easy with simple steps:</h4>

        <ul>
          <li>
            <span> Login to your recruiters account at aleeph.io with the username and password. Go to "Jobs" and Post a Job</span>
          </li>
          <li>
            <span>Fill the Job Posting form, preview and post it. You can also post a job in audio or video format.</span>
          </li>
        </ul>
      </div>
      <!-- /aleeph-data -->
    </div>
    <!-- /aleeph -->

    <div class="shortlist padding-left">
      <p class="heading">
        <i class="fa fa-plus"></i>
        <span> How employers can see shortlisted candidates?</span>
      </p>

      <div class="shortlist-data data">
        <p>Shortlisted candidates are seen after login to aleeph.io. Then employers will be redirected to dashboard and from
          their employers can select candidate’s icon from lower navigation bar. There is a tab representing matching, applied
          and shortlisted candidates. </p>
      </div>
      <!-- /shortlist-data -->
    </div>
    <!-- /shortlist -->
  </div>
  <!-- /container -->
</div>
<!--/End Page Content Start-->