@import '../../../../../content/scss/global';
.solution {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    width: 100%;
    @include respons(view-480) {
        padding: 2.5rem 0.625rem;
    }
    h4.heading {
        text-transform: uppercase;
        font-size: 2.19rem;
        color: $heading-color;
        margin-bottom: 2.5rem;
        font-weight: bold;
        @include respons(view-533) {
            font-size: 1.87rem;
        }

        @include respons(view-480) {
            margin-bottom: 2.5rem;
        }
    }
    .bulb-img img {
        width: 84%;
        @include respons(view-767) {
            width: 75%;
        }
    }

    .list {
        padding: 0 12%;
        border-radius: 0.625rem;
        background: #f4f4f4;
        box-shadow: 0 0 0.75rem 0 #cbcbcb;

        @include respons(view-767) {
            padding: 0 5%;
        }
        p {
            font-size: 1.25rem;
            font-weight: bold;
            color: $heading-color;
            width: 100%;
            padding: 2.5rem 0;
            border-bottom: 0.063rem solid $color-gray;
            margin-bottom: 0;
            img {
                margin-right: 0.94rem;
            }
            &:last-child {
                border: none;
            }
        }
    }
} /* /solution */
