<div class="solution">
  <h4 class="heading text-center">Our Solution</h4>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="img text-center bulb-img">
          <img src="../../../../../content/images/devise/solution.png" class="img-fluid">
        </div><!-- /img -->
      </div><!-- /col-lg-6 -->
      <div class="col-lg-6">
        <div class="list">
          <p><img src="../../../../../content/images/devise/setting-icon.png"> AI Driven Candidate Scores</p>
          <p><img src="../../../../../content/images/devise/setting-icon.png"> AI Based Candidate Matching</p>
          <p><img src="../../../../../content/images/devise/setting-icon.png"> Cloud Native Solution</p>
          <p><img src="../../../../../content/images/devise/setting-icon.png"> Video/Audio Profiles</p>
          <p><img src="../../../../../content/images/devise/setting-icon.png"> Microservices For Scalability</p>
        </div>  <!-- /list -->
      </div><!-- /col-lg-6 -->
    </div><!-- /row -->
  </div><!-- /container -->
</div><!-- /solution -->
