@import '../../../../../content/scss/global';
#about {
    width: 100%;
    padding-top: 2.18rem;
    background-color: #f4f4f4;

    .innovate-data {
        background-color: #fff;
        padding-top: 2.5rem;
    }

    h4.heading {
        text-transform: uppercase;
        font-size: 2.18rem;
        font-weight: bold;
        color: $heading-color;
        margin-bottom: 2.5rem;

        @include respons(view-533) {
            font-size: 1.87rem;
        }
    }
    .about-text {
        padding-left: 10%;
        padding-right: 10%;
        p {
            font-size: 0.87rem;
            color: $color-gray;
        }
        @include respons(view-480) {
            padding-left: 4%;
            padding-right: 4%;
        }
    }
    hr {
        width: 100%;
        margin: 2.5rem 0 0 0;
        height: 0.062rem;
        background: transparent;
        border: none;
    }

    .focus-text {
        text-align: center;
        padding-left: 10%;
        padding-right: 10%;
        margin-bottom: 2.5rem;
        @include respons(view-480) {
            padding-left: 4%;
            padding-right: 4%;
        }
        p {
            font-size: 1.25rem;
            font-weight: bold;
            color: $heading-color;
            margin-bottom: 0;
        }

        span {
            color: $color-blue;
            font-size: 1.87rem;

            @include respons(view-767) {
                font-size: 1.44rem;
            }
        }
    } /* /focus-text */

    .articles {
        .row {
            article {
                img {
                    width: 5rem;
                    height: 5rem;
                }
                &:first-child {
                    @include respons(view-991) {
                        padding-right: 1.25rem;
                    }
                    @include respons(view-480) {
                        padding-right: 1.25rem;
                    }
                    padding-right: 3.75rem;
                }
                padding-left: 3.75rem;
                @media screen and (min-width: 47.94rem) and (max-width: 61.94rem) {
                    padding-left: 1.25rem;
                }
                @include respons(view-480) {
                    padding-left: 1.25rem;
                }
                h2 {
                    margin-top: 1.87rem;
                    font-size: 1.25rem;
                    color: $heading-color;
                }
                p {
                    font-size: 0.87rem;
                    margin-bottom: 0;
                    color: $color-gray;

                    @include respons(view-767) {
                        padding-bottom: 1.4rem;
                    }
                }
                .border-bottom {
                    border: none;
                }
                margin-bottom: 2.5rem;
                @include respons(view-767) {
                    margin-bottom: 0;
                    padding-top: 1.4rem;
                    padding-bottom: 1.4rem;
                }
            }
        }
    } /* /articles */
} /* /about */
#about h2 {
    text-transform: uppercase;
}
