      <!-- Start About Section -->
      <div id="about">
        <h4 class="heading text-center">About us</h4>
        <div class="container">
          <div class="row">
            <div class="col-md-12 about-text">
              <p class="text-justify">Aleeph, a leading-edge platform integrated with the power of progressive 
      technologies such as Artificial Intelligence (AI) and Human Computer Interaction (HCI) is helping the enterprises to gain the leverage of modern talents. We’re spearheading with an objective to pinpoint the concerns and devise plentiful innovative solutions to overpower them without a hitch.</p>
            </div><!-- /12 -->
          </div><!-- /row -->
        </div><!-- /container -->
        <hr>
        <div class="innovate-data">
          <div class="container">
            <div class="row">
              <div class="col-md-12 focus-text">
                <p>We focus on <span>innovating</span> the approach with the help of groundbreaking 
        <span>technologies</span> to build <span>opportunities</span></p>
              </div><!-- /12 -->
            </div><!-- /row -->
            
            <div class="articles">
              <div class="row">
                <article class="col-md-6">
                  <img src="../../../../../content/images/we/runing-icon.png">
                  <h2>we fall but stand fast</h2>
                  <p>Experimenting & innovating the approaches to 
          simplify the talent hunt with a thought to fall once or twice but to stand strongly and swiftly in the next try.</p>
                </article>
        
                <article class="col-md-6">
                  <img src="../../../../../content/images/we/intelligence.png">
                  <h2>WE WIELD INTUITIVE TECHNOLOGIES</h2>
                  <p>
        Providing a revolutionary platform integrated with the state-of-the-art technologies incorporating Artificial Intelligence & Human-Computer Interaction to 
        simplify the maneuver of talent acquisition.</p>
                </article>
              </div><!-- /row -->
        
              <div class="row">
                <article class="col-md-6">
                  <img src="../../../../../content/images/we/confidant.png">
                  <h2>WE’RE CONFIDENT & PASSIONATE</h2>
                  <p>
        Passionately working around the clock to build an arch between the enterprises and aspirants while confidently administering the complicated challenges regarding the contemporary technologies like AI and HCI.</p>
                </article>
        
                <article class="col-md-6">
                  <img src="../../../../../content/images/we/bulleyes.png">
                  <h2>WE’RE THE EVENTUAL</h2>
                  <p>
        Modernizing every aspect of procuring talents from around the world within the minimum span and 
        solving the substantial concerns with innovation and knowledge.</p>
                </article>
              </div><!-- /row -->
            </div><!-- /articles -->
          </div><!-- /container -->
        </div><!-- /innovate-data -->
      </div><!-- about -->
      