@import '../../jobs/jobs.scss';
a.reminder {
    background: url('../../../../../content/images/user/interviews/add.png') center no-repeat;
    padding: 0.5rem;
    float: right;
    &:hover,
    &:active,
    &:focus {
        background: url('../../../../../content/images/user/interviews/red-add.png') center no-repeat;
    }
}
.interview-type {
    margin-left: 22.5%;
}
.venue {
    margin-left: 9%;
}
.upcoming {
    @extend .matching-jobs;
    .p-left {
        float: left;
        width: 30%;
        margin-top: 0.5rem;
    }
    .p-right {
        @extend .p-left;
        margin-left: 1%;
    }
}
