<div class="interviews-tabs">
    <h4 class="head">Interviews</h4>
    <mat-tab-group headerPosition="right">
        <mat-tab label="Available">
            <jhi-available></jhi-available>
        </mat-tab>
        <mat-tab label="Upcoming">
            <jhi-upcoming></jhi-upcoming>
        </mat-tab>

    </mat-tab-group>
    <div class="see-more-container">
        <a class="see-more disable">See More</a>
    </div>
</div>