<div class="news-letter text-center">
    <h4><i class="fa fa-envelope"></i>  Sign up for newsletter</h4>
    <p>Sign up and receive latest post &amp; news</p>

    <form class="form">
      <div class="form-group">
        <input type="email" name="email" placeholder="Your email address" class="form-control">
      </div>
      <div class="form-group">
        <button type="submit" name="button" class="form-control">Subscribe
        </button>
      </div>
    </form>
  </div><!-- / end news-letter -->