<!--***************************************************
    Blog Page Common Navigation Header Component
    Belongs to webapp/app/common/shared/blog/header folder
***********************************************************-->
<jhi-navigation></jhi-navigation>
  <!--/End Navigation Header Component-->
  
  <!--**********************************
    Blog Page Slider Component
    Belongs to webapp/app/common/shared/blog/banner folder
  **************************************-->
  <jhi-banner></jhi-banner>
  <!--/End banner slider component-->

  
<!--Blog Content Section Start-->
  <main role="main">

    <!--Main blogs section start-->
    <section id="blog">
        <div class="container">
          <div class="row">
              <div class="col-lg-9 main-blogs">

                <!--**********************************
              Blog Page Main 4 Bolgs Component
              Belongs to webapp/app/common/shared/blog/main-blog folder
              **************************************-->
                <jhi-main-blog></jhi-main-blog>
                <!--/End main 4 bolgs component-->

              </div>
              <!-- // Col-md-9 -->

              <!--Left Sidebar Start-->
              <div class="col-lg-3" id="aside-bar">
                <!--**********************************
                Blog Page Popular Bolgs Component
                Belongs to webapp/app/common/shared/blog/popular-post folder
              **************************************-->

              <div class="popular-post">
                  <h3 class="heading">Popular Post</h3>
                  <div class="first-post">
                    <a (click)="movetoTop()" routerLink="/blogs/blog-detail/helping-hands-chatbot" class="sub-heading">Helping Hands Chatbot</a>
                    <p class="date">May 14, 2018</p>
                  </div><!-- /first-post -->
        
                  <div class="second-post">
                    <a (click)="movetoTop()" routerLink="/blogs/blog-detail/aleeph-solution-making-things-simple" class="sub-heading">Aleeph solution- making things simple</a>
                    <p class="date">May 14, 2018</p>
                  </div><!-- /second-post -->
        
                  <div class="third-post">
                    <a (click)="movetoTop()" routerLink="/blogs/blog-detail/aleeph-data-platform" class="sub-heading">Aleeph Data Platform</a>
                    <p class="date">May 14, 2018</p>
                  </div><!-- /third-post -->
        
                  <div class="fourth-post">
                    <a (click)="movetoTop()" routerLink="/blogs/blog-detail/how-to-make-video-resume-impressive" class="sub-heading">How to make video resume impressive</a>
                    <p class="date">May 14, 2018</p>
                  </div><!-- /fourth-post -->
        
                </div><!-- /popular-post -->
                <!--/End popular-post component-->

                    <!--**********************************
                Blog Page SIGN UP FOR NEWSLETTER Component -->
                <div class="news-letter text-center">
                    <h4><i class="fa fa-envelope"></i>  Sign up for newsletter</h4>
                    <p>Sign up and receive latest post &amp; news</p>
      
                    <form class="form clearfix">
                      <div class="form-group">
                        <input type="email" name="email" placeholder="Your email address">
                      </div>
                      <div class="form-group">
                        <button type="submit" name="button" class="button">Subscribe
                        </button>
                      </div>
                    </form>
                  </div><!-- / end news-letter -->
                <!--/End news-subscription component-->

              </div>
               <!-- // Aside-bar -->

          </div>
              <!-- // Row -->

        </div>
        <!-- // Container -->

    </section>
    <!--/End main blogs section start-->

  </main>
  <!--/End Blog Content Section Start-->

  <!-- This is for SignIn or SignUP -->
  <div class="potential">
      <div class="text">Potential Candidates just a few click <a class="mouse" (click)="register()"><hr> </a> away
      </div><!-- /text -->
  </div><!-- /potential -->

  <!--***************************************************
    Landing Page Common Footer Component
    Belongs to webapp/app/common/shared/ui-footer folder
***********************************************************-->
<jhi-footer></jhi-footer>
<!--/End Navigation Footer Component-->