@import '../../../../content/scss/global.scss';

// Start Main Blog page
#blog {
    width: 100%;
    padding-top: 2.5rem;
    padding-bottom: 0.63rem;

    @include respons(view-991) {
        padding-bottom: 2.63rem;
    }

    /* Start Aside */

    #aside-bar {
        width: 100%;

        .popular-post {
            width: 100%;
            box-shadow: 0 0 1.25rem 0 #cbcbcb;
            padding: 2.5rem 1rem;
            background: #fff;
            .heading {
                font-size: 0.94rem;
                color: $heading-color;
                font-weight: bold;
                padding-left: 0.62rem;
            } /* /heading */

            & > div {
                border-bottom: 0.0625rem solid $bdr-clr;
                padding-left: 0.62rem;
                .sub-heading {
                    @extend .heading;
                    font-size: 0.75rem;
                    margin-top: 1rem;
                    margin-bottom: 0.5rem;
                    display: inline-block;
                    padding-left: 0;

                    &:hover {
                        color: $color-red;
                    }
                }
                .date {
                    font-size: 0.65rem;
                    color: $color-gray;
                }
            } /* /all div */

            .fourth-post {
                border: none;

                .date {
                    margin: 0;
                }
            } /* /fourth-post */
        } /* /popular-post */

        /* start new letter */

        .news-letter {
            padding: 2.5rem 1rem;
            background: #fff;
            box-shadow: 0 0 1.25rem 0 #cbcbcb;
            margin-top: 1.87rem;
            h4 {
                display: inline-block;
                font-size: 0.75rem;
                text-transform: uppercase;
            }
            p {
                font-size: 0.65rem;
                margin-bottom: 1.25rem;
                text-align: center;
            }
            form {
                width: 100%;
                input {
                    width: 100%;
                    border: none;
                    border-bottom: 0.0625rem solid $bdr-clr;
                    margin-bottom: 1rem;
                    font-size: 0.65rem;
                    border-radius: 0;
                    text-align: center;
                    padding-bottom: 0.6rem;
                }
                button {
                    background: $color-red;
                    color: $color-white;
                    cursor: pointer;
                    font-size: 0.65rem;
                    border-radius: 0;
                    width: 100%;
                    height: 2rem;
                    border: none;
                    text-transform: uppercase;
                    line-height: 2rem;
                }
            } /* /form */
        } /* /newsletter */
    }
    // End Aside-bar
}
// End of Blog

/* Start Potential */
.potential {
    width: 100%;
    background: linear-gradient(to right, #0b2ba0, #d2003b);
    position: relative;
    padding: 3.75rem 0;

    @include respons(view-480) {
        padding: 3.75rem 0.94rem;
    }

    .text {
        width: 100%;
        color: #fff;
        font-size: 2.18rem;
        font-weight: 350;
        margin: 0 auto;
        text-align: center;

        @include respons(view-480) {
            font-size: 1.75rem;
        }

        .mouse {
            width: 3.43rem;
            height: 5.31rem;
            background: #fff;
            box-shadow: 0 0 1.25rem 0 rgba(0, 0, 0, 0.5);
            display: inline-block;
            border-radius: 1.87rem;
            margin: 0 1.25rem -1.75rem 1.25rem;
            cursor: pointer;

            @include respons(view-480) {
                width: 1.87rem;
                height: 2.81rem;
                background: #fff;
                box-shadow: 0 0 1.25rem 0 rgba(0, 0, 0, 0.5);
                display: inline-block;
                border-radius: 1.87rem;
                margin: 0 0.31rem -0.81rem 0.31rem;
            }

            hr {
                width: 1.25rem;
                border: 0.062rem solid rgba(0, 0, 0, 0.5);
                transform: rotate(90deg);

                @include respons(view-480) {
                    width: 0.62rem;
                    margin-top: 0.62rem;
                }
            }
        } /* /mouse */
    } /* /text */
} /* /potential */
