@import '../../../../shared/common/navigation/navigation.scss';
// .navbar-expand-md .navbar-nav .nav-link{
//     font-size: 0.94rem;
//     color: #878787 !important;
//     padding-left: 1.25rem;
//     padding-right: 1.25rem;
//     font-weight: 500;
//     letter-spacing: 0.062rem;
//     text-transform: capitalize;
//     &:hover{
//         color: #27add0 !important;
//     }
// }
// a{
//     cursor: pointer;
// }
// .navbar-expand-md .navbar-nav .nav-item .active
// {
//     color: #27add0 !important;
//     background: transparent;
// }
a {
    &:hover {
        cursor: text;
        color: $color-gray !important;
    }
}
a.active {
    &:hover {
        cursor: pointer;
    }
}
