<!--Blog page header start-->
<header class="fixed-top">
    <div class="container">
    <nav class="navbar navbar-expand-md navbar-light bg light">
      <!--Aleeph Logo-->
       <a class="navbar-brand" routerLink="/">
         <img src="../../../../../content/images/home/new-home/logo.png" alt="img">
       </a>
       <!--/Aleeph Logo-->

       <!--Toggle button for mobile view-->
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
         <span class="navbar-toggler-icon"></span>
       </button>
       <!--/Toggle button for mobile view-->
       <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
         <!--Navigation links list start-->
         <ul class="navbar-nav nav">
           <li class="nav-item active">
             <a class="nav-link active" (click)="movetoTop()" routerLink="/blogs">Home <span class="sr-only">(current)</span></a>
           </li>
           <li class="nav-item">
             <a class="nav-link">Technology</a>
           </li>
           <li class="nav-item">
             <a class="nav-link">World</a>
           </li>
           <li class="nav-item">
            <a class="nav-link">Latest Gadgets</a>
          </li>
         </ul>
         <!--/Navigation links list end-->
       </div>
       <!-- end navbar-collapse -->
     </nav>
    </div><!-- end container -->
   </header>
   <!--/Blog page header end-->