@import '../experience/experience.scss';

.profile {
    background: #fff;
    padding-bottom: 1rem;
    box-shadow: 0.425rem 0.425rem 0.925rem 0 rgba(0, 0, 0, 0.09);
    .header {
        padding: 0.5rem 0.5rem 0.5rem 0rem;
        .add-data {
            padding-right: 0.5rem;
        }
    }
    .content {
        padding: 1.5rem;
    }
    .left-side {
        display: inline-block;
        float: left;
        .designation {
            margin-right: 5rem;
        }
    }
    .right-side {
        display: inline-block;
        margin-left: 10%;
        float: left;

        button {
            border: 1px solid $light-gray-color;
            background: transparent;
            font-size: 0.75rem;
            padding: 0.3rem 1rem;
            color: $light-gray-color;
            cursor: pointer;
            margin-left: 1.25rem;
            &:hover {
                color: $white-color;
                border: 1px solid $white-color;
                background: linear-gradient(to right, $blue-color, $dark-blue-color);
            }
        }
        .upload {
            margin-left: 3rem;
        }
        p {
            font-size: 0.875rem;
            color: $gray-color;
            margin-bottom: 0;
            display: inline-block;
        }
        a {
            color: $blue-color;
            font-size: 0.75rem;
        }
    }
}
