<div class="profile clearfix">
  <div class="header">
    <h1 class="heading">Profile</h1>
  </div>
  <!-- /header -->

  <div class="content">
    <div class="left-side">
       <h4 class="designation">Java Developer</h4>
      </div><!-- /left-side -->
      <div class="right-side">
        <p class="file-name">Resume File</p>
        <a class="linked" href="#">Manoaj Tivari.doc</a>
        <span data-toggle="modal" data-target="#exampleModal"><img src="../../../../../../../content/images/user/profile/delete-icon.png"></span>
        <button class="upload">Upload</button>
        <button class="preview">Preview</button>
    </div>

  </div><!-- /content -->  
</div>
