@import '../../../../shared/scss/shared.scss';




			/* Start All Pop-ups Coding At Here */

/* Accept Modal */

.accept-modal{
	border-radius:0;
	.modal-content{
		border-radius:0;
		border:none;
		.modal-header{
			background: linear-gradient(to right,$color-blue,$btn-dark-blue);
			border-radius:0;
			padding:.5em;
			height:6.3rem;
			img{
				margin: 0.6em auto;
				width: 6.0625rem;
			}
			button{
				padding:0;
				margin:0;
				color:#fff;
				text-shadow:none;
				&:hover{
					color:#fff;
				}
			}
		}/* /modal-header */
		.modal-body{
			border-bottom:0.1875rem solid $color-blue;
			padding:7em 1rem;
			h5{
				color:$color-blue;
				font-size: 1.5rem;
				font-weight: 400;
			}
		}/* /modal-body */
	}/* /modal-content */
}/* /accept-modal */

/* Cancel Modal */



		            /* Start Reschedule Modal */
#reschedule-modal{
    border-radius:0;
        .modal-content{
            border-radius:0;
                border:none;
                .modal-header{
                    background: linear-gradient(to right,$color-blue,$btn-dark-blue);
                    border-radius:0;
                    padding:0.3125rem;
                    height:6.25rem;

                    button.close{
                        color:#fff;
                        font-size:1.56rem;
                        text-shadow:none;
                        font-weight:350;
                        outline:none;
                        &:hover{
                            color:#fff;
                        }
                    }

                    h4{
                        color:#fff;
                        font-size:1.5rem;
                        margin:2.5rem 0 0 3.75rem;
                    }
        }

            .modal-body{
            padding:1.25rem 3.75rem;
                input{
                    &:focus{
                        outline:none;
                    }
                    @include respond(galaxy-note4){
                        width:48%;
                        float:left;
                    }
                    font-size:0.94rem;
                    border: none;
                    border-bottom: 0.0625rem solid $bdr-clr;
                    padding-left:0.25rem;

                }/* /input */
                div.dates{
                    label{
                        margin-bottom:0;
                        font-size:0.94rem;
                    }
                    input.date{
                    background: url('../../../../../../content/images/user/icons/calander-icon.png') no-repeat center right;
                    width:48%;

                        }
                        input[name="start"]{
                            margin-right: 1.0625rem;
    						margin-left: 1.0625rem;
                        }
                        input[name="end"]{
                            margin-left:1.5rem;
                        }
                }/* /dates */

                .form-group.right{
                    width:48%;
                    display:block;
                    float:right;
                }
                .form-group.left{
                    width:48%;
                    float:left;
                }
                .form-group{
                    margin-bottom:1.25rem;
                    select{
                        font-size:0.94rem;
                        width:100%;
                        border:none;
                        border-bottom:0.0625rem solid $bdr-clr;
                        color:$color-gray;
                    }
                }
                .address, .reason{
                    input{
                        width:100%;
                    }
                }/* /reason */
                textarea{
                    font-size:0.94rem;
                    width:100%;
                    height:12.5rem;
                    border:0.0625rem solid $bdr-clr;
                    color:$color-gray;
                    padding:0.625rem;

                    &::placeholder{
                        color:$color-gray;
                    }
                }
                .submit{
					padding: 0.1875rem 1.56rem 0.3125rem;
                    font-size:0.94rem;
                    color:#fff;
                    float:right;
                    outline:none;
                    cursor:pointer;
                    border-radius:1.25rem;
                    font-size:0.94rem;
                    border:none;
                    background: linear-gradient(to right,$color-blue,$btn-dark-blue);
                    margin-top: 1rem;
                }


            }/* /modal-body */
        }/* /modal-content */
        }/* /modal-dialog */

/* /End All Pop-ups & Modals */
    
