<div class="schedule-modal" id="reschedule-modal">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="heading">Reschedule Interview</h4>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.dismiss('closed')">
        <span aria-hidden="true">&times;</span>
      </button><!-- /close-btn -->
    </div><!-- /modal-header -->
    <div class="modal-body">

      <form>
      <div class="dates clearfix">
          <mat-form-field>
              <input matInput placeholder="Name" name="name" id="field_name" required>
              <!-- <mat-error *ngIf="nameContactUs.invalid">{{getNameErrorMessage()}}</mat-error> -->
            </mat-form-field>
      <div class="form-group right">
        <label>Time : 
        <input type="time" name="start">
        To
        <input type="time" name="end">
      </label>
      </div><!-- /form-group -->
      </div><!-- /dates -->

      <div class="form-group left">
        <select class="interview-type">
          <option selected disabled>Interview Type</option>
          <option>Live</option>
          <option>Face to Face</option>
        </select>
      </div><!-- /form-group -->
      <div class="form-group reason">
        <input type="text"  name="reason" placeholder="Reason">
      </div>

        <textarea placeholder="Add your message..."></textarea>
        <button type="submit" class="submit" (click)="activeModal.dismiss('closed')">Submit</button>
      </form>
    </div><!-- /modal-body -->
  </div><!-- /modal-content -->
</div>