<div id="upcoming">
  <div class="scroll">
    <div class="box" *ngFor='let upcomingInterview of upcomingInterviews'>
      <div class="img">
       <a> <img src="{{upcomingInterview.logoUrl}}"></a>
      </div>
      <div class="headings">
        <span class="float-right">{{upcomingInterview.jobType}}</span>
        <h4><a>{{upcomingInterview.employerName}}</a></h4>
        <p>{{upcomingInterview.jobTitle}}</p>
        <span>{{upcomingInterview.jobCity}},&nbsp;{{upcomingInterview.jobCountry}}</span>
      </div>
      <p class="schedule">
        <strong>Interview Schedule:</strong> {{upcomingInterview.interviewDate}}
        <br>
        <span> {{upcomingInterview.interviewTimeStart}}&nbsp;{{upcomingInterview.interviewTimeMeridianType}}&nbsp;-&nbsp;{{upcomingInterview.interviewTimeEnd}}
          {{upcomingInterview.interviewTimeMeridianType}} </span>
      </p>
      <p class="type">
        <strong>Interview Type:</strong> {{upcomingInterview.interviewType}}</p>
      <p class="venue">
        <strong>Interview Venue:</strong> {{upcomingInterview.interviewVenue}}</p>
      <p class="salary">
        <strong>Salary:</strong>{{upcomingInterview.salaryFigureType}}&nbsp;{{upcomingInterview.salaryMin}}&nbsp;{{upcomingInterview.salaryType}}&nbsp;to&nbsp;{{upcomingInterview.salaryMax}}&nbsp;{{upcomingInterview.salaryType}}</p>
      <hr>
      <div class="buttons">
        <button class="accept" (click)='openCancel()'>Cancel</button>
        <button class="reschedule" (click)='openReschedule()'>Reschedule</button>
      </div>
    </div>
  </div>
</div>