@import '../interview.scss';
#upcoming {
    width: 100%;
    .scroll {
        margin-top: 1.25rem;
        padding: 0 0.8rem;
        width: 100%;
        max-height: 33rem;
    }
    .box {
        &:nth-of-type(2n) {
            float: right;
        }
        padding: 0.625rem;
        //margin: 0 0.6rem;
        width: 48%;
        float: left;
        margin-bottom: 1rem;
        border-radius: 0.25rem;
        border: 0.0625rem solid $bdr-clr;
        div.img {
            float: left;
            width: 13%;
            padding-top: 0;
            margin-right: 0.5rem;
            img {
                width: 100%;
            }
        }
        div.headings {
            width: 100%;

            h4 {
                font-size: 0.94rem;
                font-weight: bold;
                color: $color-blue;
            }
            p {
                margin: 0;
                font-size: 0.94rem;
                color: $font-color-black;
            }
            span {
                font-size: 0.68rem;
                color: $color-gray;
                margin-bottom: 0;
                display: inline-block;
            }
        } /* /headings */
        p {
            line-height: 1.125rem;
            color: $color-gray;
            font-size: 0.74rem;
            margin: 0;
            span {
                margin-left: 6.9rem;
            }
            strong {
                font-weight: 400;
                color: $font-color-black;
            }
        }

        .buttons {
            button {
                border: 0.0625rem solid $bdr-clr;
                border-radius: 0.625rem;
                height: 1.5rem;
                font-size: 0.69rem;
                color: $color-gray;
                background: none;
                outline: none;
                cursor: pointer;
                padding: 0 0.875rem;
                margin-bottom: 0.3125rem;

                &:hover {
                    background: $color-blue;
                    color: #fff;
                    border: 0.0625rem solid $color-blue;
                }
            }
            button.active {
                background: $color-blue;
                color: #fff;
                border: 0.0625rem solid $color-blue;
            }
        } /* /buttons */
    } /* /box */
    a.see {
        color: $color-gray !important;
        font-size: 0.74rem;
        margin-left: 1.25rem;
    }
} /* /upcoming */
