<div  class="devise-data">
  <div class="container">
  <h4 class="heading text-center">Devise</h4>
    <div class="content clearfix">
      <div class="left">
        <ul class="list-inline">
          <li class="design active">design</li>
          <li class="develop">Develop</li>
          <li class="deploy">Deploy</li>
        </ul>
      </div><!-- /left -->
      <div class="right">
        <div class="preview1">
          <img src="../../../../../content/images/devise/design1.jpg" class="img-fluid">
          <p>Designing an unblemished and legible framework to 
            simplify the plight of long-established talent or opportunity hunting approaches.</p>
        </div><!-- /preview -->
        <div class="preview2 hide">
          <img src="../../../../../content/images/devise/develop-img.jpg" class="img-fluid">
          <p>Integrating the revolutionary technologies like Artifical Intelligence and Human-Computer Interaction to observe, render and streamline the table acquisition.</p>
        </div><!-- /preview -->
        <div class="preview3 hide">
          <img src="../../../../../content/images/devise/deploy1.jpg" class="img-fluid">
          <p>Introducing a leading-edge platform that will benefit the enterprises as well as the aspirants to discover the finest within 90 seconds.</p>
        </div><!-- /preview -->
      </div><!-- /right -->
    </div><!-- /content -->
  </div><!-- /container -->
</div><!-- / Devise -->