@import '../../../../content/scss/global.scss';
$font-size: 0.875rem;
.trending-jobs-container {
    background: $white-color;
    width: 100%;
    margin: 4.5rem auto 1rem;
    padding: 1rem 0.3rem;
    @include box-shadow(0.425rem, 0.425rem, 0.925rem, 0, rgba(0, 0, 0, 0.09));
}
h4.head {
    font-size: $font-size + 0.4rem;
    font-weight: 700;
    margin-top: $margin;
    margin-bottom: $margin + 0.625rem;
    padding-left: $padding + 0.35rem;
}
.see-more-container {
    text-align: right;
    padding-right: 1rem;
    a.see-more {
        color: $color-blue;
        font-size: $font-size - 0.1rem;
        margin-left: 1.25rem;
        font-weight: 700;
        &:hover {
            cursor: pointer;
            color: $color-blue;
        }
    }
}

/*************browser scroll bar custom css************/
