<div class="outer-wrapper">
  <!--left side menubar component (belongs to webapp\app\user\talent\new-dashboard\left-side-menubar folder)-->
  <jhi-side-bar></jhi-side-bar>
  <!--/end left side menubar-->
  <!--topbar component which include search bar and top right user accoun menubar-->
  <jhi-top-bar></jhi-top-bar>
  <!--end topbar-->

  <!--right side content container-->
  <div class="righ-side-container">
    <div class="trending-jobs-container">
      <div class="col-md-12">
        <jhi-trending></jhi-trending>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-7">
        <!-- interview component which includes available and upcoming components and tabs -->
        <jhi-interview></jhi-interview>
        <!-- interview tabs component-->
        <!-- applied jobs component -->
        <jhi-applied></jhi-applied>

      </div>
      <!--live steaming section-->
      <div class="col-xl-5">
        <jhi-streaming></jhi-streaming>
      </div>
      <!--/live-streaming-container-->
    </div>
    <!--/live steaming section-->
  </div>
</div>
<!--/right side content container-->
</div>

<!-- /outer-wrapper -->