<jhi-navigation></jhi-navigation>
<jhi-video></jhi-video>
<jhi-about-us></jhi-about-us>
<jhi-core-team></jhi-core-team>
<jhi-advisors></jhi-advisors>
<section id='investors-relation'>
    <jhi-chief-proponent></jhi-chief-proponent>
</section>
<jhi-special-thanks></jhi-special-thanks>
<jhi-footer></jhi-footer>