@import '../../interview/upcoming/upcoming.scss';
.applied {
    @extend #upcoming;
    background: #fff;
    padding: 1rem 0.8rem 1rem;
    width: 100%;
    margin-top: 2.4rem;
    @include box-shadow(0.425rem, 0.425rem, 0.925rem, 0, rgba(0, 0, 0, 0.09));
    .head {
        margin-bottom: 1.5rem;
        padding-left: 1.5rem;
    }
    .box span {
        font-size: 0.68rem;
        color: $color-gray;
        margin-bottom: 0;
        display: inline-block;
    }
}
