<!-- applied job section | dashboard -->
<div class="applied">
  <div class="header clearfix">
    <h4 class="head">Applied Jobs</h4>
  </div>
  <!-- /header -->
  <div class="content app-data">
    <div class="scroll">
      <div class="box" *ngFor='let appliedJob of appliedJobs'>
        <span class="float-right">{{appliedJob.jobType}}</span>
        <div class="img">
          <a><img src="{{appliedJob.logoUrl}}"></a>
        </div>
        <div class="headings">
          <h4><a>{{appliedJob.employerName}}</a></h4>
          <p>{{appliedJob.jobTitle}}</p>
          <span>{{appliedJob.jobCity}},&nbsp;{{appliedJob.jobCountry}}</span>
        </div>
        <p class="exp">
          <strong>Experience Req:</strong> {{appliedJob.experienceMin}}{{appliedJob.experienceType}} - {{appliedJob.experienceMax}}{{appliedJob.experienceType}}</p>
        <p class="salary">
          <strong>Salary:</strong> {{appliedJob.salaryFigureType}}&nbsp;{{appliedJob.salaryMin}}&nbsp;{{appliedJob.salaryType}}&nbsp;to&nbsp;{{appliedJob.salaryMax}}&nbsp;{{appliedJob.salaryType}}</p>
        <p class="status">
          <strong>Application Status:</strong> {{appliedJob.applicationStatus}}</p>
          <p class="fix">
              <strong>Applied Date:</strong> {{appliedJob.appliedDate}}</p>
        <hr>
        <div class="buttons">
          <button class="accept" (click)='openWithdrawal()'>Withdraw</button>
        </div>
      </div>
    </div>
    <div class="see-more-container">
      <a class="see-more disable">See More
      </a>
    </div>
  </div>
  <!-- /content -->
</div>
<!-- /applied -->