$color-gray: #878787;
$color-blue: #27add0;
$color-dark-blue: #158db6;

$color-white: #f8f8f8;
$heading-color: #292f3c;

$color-red: #eb3856;
$color-dark-red: #bf2046;

button,
a {
    cursor: pointer;
}
.modal-dialog {
    width: 90% !important;
    max-width: 68.75rem !important;
}
.modal-content {
    border: none;
    border-radius: 0;

    .modal-body {
        padding: 0 !important;

        button.close {
            font-size: 2rem;
            font-weight: 320;
            color: #fff;
            text-shadow: none;
            outline: none;
            margin: -0.375rem -0.625rem;
            cursor: pointer;
        }

        .info {
            h4.heading {
                font-size: 2.19rem;
                font-weight: bold;
                color: $color-blue;
                text-transform: uppercase;
                margin-bottom: 1.87rem;
            }
            p {
                color: $color-gray;
                font-size: 0.94rem;
            }
            .address {
                display: inline-block;
                margin-top: 2.5rem;
                span {
                    margin-right: 1.87rem;
                    i {
                        z-index: 999;
                    }
                }
            }
            .sport {
                margin-top: 2rem;
                margin-left: 0;
            }
            background: #fff;
            padding: 4.06rem 2.5rem 4.06rem 2.5rem;
        } /* /info */
        .contact-form {
            background: linear-gradient(to right, #27add0, #0d669b);

            form {
                padding: 4.06rem 2.5rem 4.06rem 2.5rem;
                font-size: 0.75rem;
                color: $color-white;
                .phone-text {
                    margin-top: 1.12rem;
                    font-size: 0.94rem;
                }
                input {
                    width: 100%;
                    border: none;
                    background: transparent;
                    padding: 0.2rem 0;
                    color: $color-white;
                    margin-bottom: 0;
                    padding-left: 0;
                    font-size: 0.94rem;
                    &::placeholder {
                        color: $color-white;
                    }
                    &:-webkit-autofill,
                    &:-webkit-autofill:hover,
                    &:-webkit-autofill:focus {
                        background: transparent;
                        box-shadow: 0 0 0 62.5rem transparent inset;
                        transition: background-color 5000s ease-in-out 0s;
                        color: $color-white !important;
                        -webkit-text-fill-color: $color-white !important;
                    }
                    // &:focus{
                    //     padding: 0.375rem 0.312rem;
                    // }
                }
                textarea {
                    // &:focus{
                    //     outline:0.0625rem solid $color-white;
                    // }
                    width: 100%;
                    border: none;
                    background: transparent;
                    color: $color-white;
                    height: 1.5rem;
                    padding: 0;
                    padding-left: 0;
                    font-size: 0.94rem;
                } /* /textarea */
                h5.heading {
                    font-size: 1.25rem;
                    font-weight: bold;
                    float: left;
                }
                #terms {
                    width: 1.25rem;
                    float: left;
                    margin-right: 1.25rem;
                    &:focus {
                        outline: none !important;
                    }
                }
                label {
                    float: left;
                    margin-top: 0.312rem;
                    margin-left: 1.6rem;
                }
                button.submit {
                    border: 0.0625rem solid #fff;
                    // border-radius: 1.38rem;
                    color: #fff;
                    font-size: 0.94rem;
                    text-align: center;
                    padding: 0.8rem 3rem;
                    background: transparent;
                    margin-top: 1.87rem;
                    outline: none;
                    cursor: pointer;
                    &:hover {
                        background: #fff;
                        color: #2197c0;
                    }
                }
                select {
                    padding-left: 1.44rem;
                    margin-bottom: 1.87rem;
                    font-size: 0.94rem;
                    height: 2.2rem;

                    option {
                        color: #000;
                    }
                }
            } /* form */
        } /* /contact-form */
    }
}

.switch {
    position: relative;
    display: inline-block;
    width: 2.9rem;
    height: 1.11rem;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #014f75;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: '';
    height: 0.7rem;
    width: 0.7rem;
    left: 0.312rem;
    bottom: 0.2rem;
    background-color: #1996c0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
.slider:after {
    position: absolute;
    content: 'No';
    top: 0.1rem;
    right: 0.5rem;
    color: #1995c0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    font-size: 0.625rem;
    font-weight: 800;
}

input:checked + .slider {
    background-color: #fff;
}

input:focus + .slider {
    box-shadow: 0 0 0.0625rem #fff;
}

input:checked + .slider:before {
    color: $color-dark-blue;
    -webkit-transform: translateX(1.625rem);
    -ms-transform: translateX(1.625rem);
    transform: translateX(1.625rem);
}
input:checked + .slider:after {
    content: 'Yes';
    position: absolute;
    left: -1.25rem;
    color: $color-dark-blue;
    -webkit-transform: translateX(1.625rem);
    -ms-transform: translateX(1.625rem);
    transform: translateX(1.625rem);
}

/* Rounded sliders */
.slider.round {
    // border-radius: 2.12rem;
}

.slider.round:before {
    border-radius: 50%;
}
select.country {
    border: none;
    border-bottom: 0.0625rem solid #fff;
    font-size: 0.75rem;
    width: 100%;
    background: transparent;
    height: 1.9rem;
    color: #fff;
}
::placeholder {
    color: white;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: white;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: white;
}
.icon {
    position: absolute;
    left: 1rem;
    top: 0.5rem;
    .fa {
        font-size: 0.94rem;
        color: rgba(255, 255, 255, 0.35);
    }
}
.mat-form-field-underline {
    background-color: transparent !important;
}
