<div class="modal-content" id="contact-us">
  <div class="modal-body">
    <div class="row">
      <div class="col-lg-5 info">
        <h4 class="heading">Get in touch</h4>
        <p>Want to come by for a friendly chat and a cup of coffee?
          <br>
          <br> Pass by our office: We’d love to see you around! Feel free to get in touch as we're always happy to hear from
          you.
        </p>
        <div class="address">
          <p>
            <span>
              <img src="../../../../../../content/images/home/new-home/clock-icon.png">
            </span> 9:00 AM to 6:00 PM</p>
          <p>
            <span>
              <img src="../../../../../../content/images/home/new-home/phone-icon.png">
            </span> +1 (866) 921-1810</p>
          <p>
            <span>
              <img src="../../../../../../content/images/home/new-home/envelop-icon.png">
            </span>info@insyght.ai</p>

        </div>
        <img src="../../../../../../content/images/home/new-home/sport.png" class="float-right sport">
      </div>
      <!-- /col-md-5 -->
      <div class="col-lg-7 contact-form">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.dismiss('closed')">
          &times;
        </button>
        <!-- <div *ngIf='success'> -->
        <form name="contactUsForm" role="form" (ngSubmit)="save()" #contactUsForm="ngForm">

          <!-- User Name Input Field | Validations: Not Null -->
          <!-- <mat-form-field>
                <input matInput placeholder="Name" name="name" id="field_name">
                <mat-error *ngIf="nameContactUs.invalid">{{getNameErrorMessage()}}</mat-error>
              </mat-form-field> -->


          <!-- User Name Input Field | Validations: Not Null -->
          <!-- <mat-form-field>
                <input matInput placeholder="Email ID" name="email" id="field_email" [formControl]="emailContactUs"
                  required>
                <mat-error *ngIf="emailContactUs.invalid">{{getEmailErrorMessage()}}</mat-error>
              </mat-form-field> -->


          <!-- Country Input Field | Validations: Not Null -->
          <!-- <mat-form-field>
                <input matInput placeholder="Country" name="country" id="field_country" [formControl]="countryContactUs"
                  required>
                <mat-error *ngIf="countryContactUs.invalid">{{getCountryErrorMessage()}}</mat-error>
              </mat-form-field> -->


          <!-- Phone Number Input Field | Validations: Not Null -->
          <!-- <mat-form-field>
                <input matInput type="tel" placeholder="Phone Number" name="phone" id="field_phone" [formControl]="phonecontactUs"
                  maxlength="10" required>
                <mat-error *ngIf="phoneContactUs.invalid">{{getCountryErrorMessage()}}</mat-error>
              </mat-form-field> -->


          <!-- Message Text area -->
          <!-- <mat-form-field class="example-full-width">
                <textarea matInput placeholder="Message" #textfield name="message" id="field_message" maxlength="256"></textarea>
                <mat-hint align="end">{{textfield.value.length}} / 256</mat-hint>
              </mat-form-field> -->
          <div class="row">
            <div class="col-lg-6">
              <mat-form-field>
                <input matInput placeholder="Name" name="name" id="field_name" required>
                <!-- <mat-error *ngIf="nameContactUs.invalid">{{getNameErrorMessage()}}</mat-error> -->
              </mat-form-field>
            </div>
            <div class="col-lg-6">
              <!-- <span class="icon">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                      </span> -->
              <mat-form-field>
                <input matInput placeholder="Email ID" name="email" id="field_email" required>
                <!-- <mat-error *ngIf="emailContactUs.invalid">{{getEmailErrorMessage()}}</mat-error> -->
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6">
              <!-- <span class="icon">
                <i class="fa fa-globe" aria-hidden="true"></i>
              </span> -->
              <!-- <select name="country" class="country">
                <option selected disabled>Country</option>
                <option>India</option>
                <option>Canada</option>
                <option>Malaysia</option>
              </select> -->
              <mat-form-field>
                <input matInput placeholder="Country" name="country" id="field_country" required>
                <!-- <mat-error *ngIf="countryContactUs.invalid">{{getCountryErrorMessage()}}</mat-error> -->
              </mat-form-field>

              <!-- <mat-error *ngIf="countryContactUs.invalid">{{getCountryErrorMessage()}}</mat-error> -->
            </div>
            <div class="col-lg-6">
              <!-- <span class="icon">
                <i class="fa fa-phone" aria-hidden="true"></i>
              </span> -->
              <mat-form-field>
                <!-- <mat-icon matPrefix><span class="icon">
                      <i class="fa fa-phone" aria-hidden="true"></i>
                    </span></mat-icon> -->
                <input matInput type="tel" placeholder="Phone Number" name="phone" id="field_phone" maxlength="10" required>
                <!-- <mat-error *ngIf="phoneContactUs.invalid">{{getCountryErrorMessage()}}</mat-error> -->
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <!-- <span class="icon">
                <i class="fa fa-comments-o" aria-hidden="true"></i>
              </span> -->
              <mat-form-field class="example-full-width">
                <textarea matInput placeholder="Message" id="field_message" maxlength="256"></textarea>
                <!-- <mat-hint align="end">{{textfield.value.length}} / 256</mat-hint> -->
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <h5 class="heading">
                Need a Demo?
              </h5>
              <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
              </label>
            </div>
            <div class="col-lg-12">
              <button type="submit" class="submit">Submit</button>
            </div>
          </div>
        </form>
        <!-- </div> -->
        <!-- /col-md-5 -->
      </div>
      <!-- /row -->
    </div>
    <!-- /modal-body -->
  </div>
</div>
<!-- /modal-content -->
