@import '../../../user/shared/scss/shared.scss';
a {
    cursor: pointer;
}

/* For Map PopUps */
#mainlogo {
    height: 3rem;
}

.pop {
    padding: 0.625rem;
    h4 {
        color: $heading-color;
        font-size: 0.94rem;
        font-weight: bold;
        margin: 0;
        text-transform: uppercase;
        margin-top: 0.44rem;
    }
    p {
        color: $color-gray;
        font-size: 0.94rem;
        margin: 0;
        margin-top: 0.625rem;
    }
    img {
        float: left;
        width: 1.87rem;
        height: 1.87rem;
        margin-right: 0.625rem;
    }
} /* .pop */
nav.navbar {
    .navbar-nav {
        .nav-item .nav-link {
            font-size: 0.87rem;
            color: $color-gray;
            padding-left: 1.25rem;
            padding-right: 1.25rem;
            font-weight: 600;
            letter-spacing: 0.0625rem;
            &:hover,
            &.active {
                color: $color-blue;
            }
        } /* /nav-link */
    } /* /navbar-nav */
    .signup-btn,
    .login-btn {
        background: linear-gradient(to right, $color-blue, $btn-dark-blue);
        border: none;
        // border-radius:1.25rem;
        color: $color-offwhite;
        margin-left: 1.25rem;
        text-align: center;
        font-size: 0.75rem;
        font-weight: bold;
        padding: 0.187rem 1.25rem 0.312rem;
        outline: none;
        cursor: pointer;
    }
} /* /navbar */
header {
    width: 100%;
    margin: 0 auto;
    position: fixed;
    top: 0;
    z-index: 999;
    background: #f8f9fa;
}
