<!--Landing pages common navigation header-->
<!--Start Header-->
<header>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <!--Aleeph Logo Start-->
      <a class="navbar-brand" routerLink="/">
        <img id="mainlogo" src="../../../../assets/img/insyghtailogo.png">
      </a>
      <!--/Aleeph Logo end-->

       <!--Toggle button for mobile view-->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
       <!--/Toggle button for mobile view-->
      <div class="collapse justify-content-end navbar-collapse" id="navbarNav">
         <!--Navigation links list start-->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/we" routerLinkActive="active">We</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/devise" routerLinkActive="active">Devise</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/opportunity" routerLinkActive="active">Opportunities</a>
          </li>
        </ul>
         <!--/Navigation links list end-->
        <button class="login-btn" (click)="login()">Sign In</button> <!--Sign In button which will open Sign In popup form-->
        <button class="signup-btn" (click)="register()">Sign Up</button> <!--Sign Up button which will open Sign Up popup form-->

      </div>
    </nav>
  </div>
</header>
<!--/End Header-->
