@import '../reschedule/reschedule.scss';

select
{
    font-size: 0.94rem;
}
#cancel-modal{
    border-radius:0;
        .modal-content{
            border-radius:0;
            border:none;
            .modal-header{
                background: linear-gradient(to right,$color-blue,$btn-dark-blue);
                border-radius:0;
                padding:0.3125rem;
                height:6.25rem;

                button.close{
                    color:#fff;
                    font-size:1.56rem;
                    text-shadow:none;
                    font-weight:350;
                    outline:none;
                    &:hover{
                        color:#fff;
                    }
                }

                h4{
                    color:#fff;
                    font-size:1.5rem;
                    margin:2.5rem 0 0 3.75rem;
                }
    }
    .modal-body{
        padding:1.25rem 3.75rem;
        select{
            width:100%;
            border:none;
            color:$color-gray;
            border-bottom:0.0625rem solid $bdr-clr;
            font-size:0.94rem;
            i{
                float:right;
            }
            &:focus{
                outline:none;
            }
        }/* /select */
        textarea{
            outline:none;
            color:$color-gray;
            width:100%;
            height:12.5rem;
            padding:0.625rem;
            border:0.0625rem solid $bdr-clr;
            margin:1.25rem auto;
            font-size:0.94rem;
        }
        .submit{
            color:#fff;
            float:right;
            outline:none;
            cursor:pointer;
            border-radius:1.25rem;
            border:none;
            font-size:0.94rem;
            padding: 0.1875rem 1.56rem 0.3125rem;
            background: linear-gradient(to right,$color-blue,$btn-dark-blue);
        }
    }/* /modal-body */
}/* /modal-content */

}/* /Cancel-modal */