<div class="cancel-modal"  id="cancel-modal">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="heading">Cancel Interview</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.dismiss('closed')">
            <span aria-hidden="true">&times;</span>
          </button><!-- /close-btn -->
        </div><!-- /modal-header -->
        <div class="modal-body">
          <select id="reason">
            <option>Reason for cancel interview </option>
            <option>Others</option>
            <i class="fa fa-chevron-right"></i>
          </select>
  
          <form>
            <textarea placeholder="Add your message..."></textarea>
            <button type="submit" class="submit" (click)="activeModal.dismiss('closed')">Submit</button>
          </form>
        </div><!-- /modal-body -->
      </div><!-- /modal-content -->
</div>
