<div class="accept-modal" id="accept-modal">
<div class="modal-content">
    <div class="modal-header">
      <img src="../../../../../../content/images/user/popups/accept-star.png">
      <button type="button" class="close" data-dismiss="modal" (click)="activeModal.dismiss('closed')" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button><!-- /close-btn -->
    </div><!-- /modal-header -->
    <div class="modal-body text-center">
      <h5>Thank you for accepting the request & <br> Best of luck for your interview.</h5>
    </div><!-- /modal-body -->
  </div><!-- /modal-content -->
</div>