@import '../../../../shared/scss/shared.scss';



	.modal-content{
		border-radius:0;
		border:none;
		.modal-header{
			background: linear-gradient(to right,$color-blue,$btn-dark-blue);
			border-radius:0;
			padding:.5em;
			height:8.75rem;
			img{
				margin:1em auto;
			}
			button{
				padding:0;
				margin:0;
				color:#fff;
				text-shadow:none;
				&:hover{
					color:#fff;
				}
			}
		}/* /modal-header */
		.modal-body{
			border-bottom:0.1875rem solid $color-blue;
			padding:5em 1rem;
			h5{
				color:$color-blue;
			}
		}/* /modal-body */
	}/* /modal-content */

