<div class="live-streaming">
    <h1 class="heading container">Streaming Now</h1>
    <div class="container inner-wrapper">
      <div class="prev-cont"><i class="fa fa-chevron-left"></i></div>
      <div class="owl-carousel owl-theme">
  
        <div class="item play-item" id="stream_box">
          <div class="hint"></div>
          <img src="../../../../../content/images/home/new-home/live-streaming-img/stream1.jpg" id="thumbnail">
          <video muted id="streaming_video">
            <source src="../../../../../content/video/video_slider.mp4" type="video/mp4">
          </video>
          <div class="content" id="detail">
            <h2 class="name">Andriana Joseph</h2>
            <p class="status">Streaming</p>
          </div><!-- /content -->
        </div>
  
        <div class="item upcoming" id="stream_box">
          <img src="../../../../../content/images/home/new-home/live-streaming-img/upcoming1.jpg" id="thumbnail">
          <div class="up-date">
            <h3 class="date">10/09/2018</h3>
            <p class="timing" id="counting_one">12:30</p>
          </div><!-- /timing -->
          <div class="content" id="detail">
            <div class="hint-off"></div>
            <h2 class="name">Russel Star</h2>
            <p class="status">Upcoming</p>
          </div><!-- /content -->
        </div>
  
        <div class="item upcoming">
          <img src="../../../../../content/images/home/new-home/live-streaming-img/upcoming2.jpg" id="thumbnail">
          <div class="up-date">
            <h3 class="date">18/09/2018</h3>
            <p class="timing" id="counting_two">16:00</p>
          </div><!-- /timing -->
          <div class="content">
            <div class="hint-off"></div>
            <h2 class="name">Yogen Peter</h2>
            <p class="status">Upcoming</p>
          </div><!-- /content -->
        </div>
  
        <div class="item play-item" id="stream_box">
          <div class="hint"></div>
          <img src="../../../../../content/images/home/new-home/live-streaming-img/stream2.jpg" id="thumbnail">
          <video muted id="streaming_video">
            <source src="../../../../../content/video/we.mp4" type="video/mp4">
          </video>
          <div class="content" id="detail">
            <h2 class="name">Shivani Kashyap</h2>
            <p class="status">Streaming</p>
          </div><!-- /content -->
        </div>
  
        <div class="item upcoming">
          <img src="../../../../../content/images/home/new-home/live-streaming-img/upcoming3.jpg" id="thumbnail">
          <div class="up-date">
            <h3 class="date">15/10/2018</h3>
            <p class="timing" id="counting_three">22:30</p>
          </div><!-- /timing -->
          <div class="content">
            <div class="hint-off"></div>
            <h2 class="name">Vijay KUmar</h2>
            <p class="status">Upcoming</p>
          </div><!-- /content -->
        </div>
  
        <div class="item play-item">
          <div class="hint"></div>
          <img src="../../../../../content/images/home/new-home/live-streaming-img/stream1.jpg" id="thumbnail">
          <video muted id="streaming_video">
            <source src="../../../../../content/video/we1.mp4" type="video/mp4">
          </video>
          <div class="content">
            <h2 class="name">Andriana Joseph</h2>
            <p class="status">Streaming</p>
          </div><!-- /content -->
        </div>
  
        <div class="item upcoming">
          <img src="../../../../../content/images/home/new-home/live-streaming-img/upcoming1.jpg" id="thumbnail">
          <div class="up-date">
            <h3 class="date">08/11/2018</h3>
            <p class="timing" id="counting_four">04:30</p>
          </div><!-- /timing -->
          <div class="content">
            <div class="hint-off"></div>
            <h2 class="name">Russel Star</h2>
            <p class="status">Upcoming</p>
          </div><!-- /content -->
        </div>
  
        <div class="item upcoming">
          <img src="../../../../../content/images/home/new-home/live-streaming-img/upcoming2.jpg" id="thumbnail">
          <div class="up-date">
            <h3 class="date">04/08/2018</h3>
            <p class="timing" id="counting_five">10:30</p>
          </div><!-- /timing -->
          <div class="content">
            <div class="hint-off"></div>
            <h2 class="name">Yogen Peter</h2>
            <p class="status">Upcoming</p>
          </div><!-- /content -->
        </div>
  
        <div class="item play-item">
          <div class="hint"></div>
          <img src="../../../../../content/images/home/new-home/live-streaming-img/stream2.jpg" id="thumbnail">
          <video muted id="streaming_video">
            <source src="../../../../../content/video/videochat.mp4" type="video/mp4">
          </video>
          <div class="content">
            <h2 class="name">Shivani Kashyap</h2>
            <p class="status">Streaming</p>
          </div><!-- /content -->
        </div>
  
        <div class="item upcoming">
          <img src="../../../../../content/images/home/new-home/live-streaming-img/upcoming3.jpg" id="thumbnail">
          <div class="up-date">
            <h3 class="date">12/09/2018</h3>
            <p class="timing" id="counting_six">12:30</p>
          </div><!-- /timing -->
          <div class="content">
            <div class="hint-off"></div>
            <h2 class="name">Vijay KUmar</h2>
            <p class="status">Upcoming</p>
          </div><!-- /content -->
        </div>
      </div><!-- /owl-theme -->
      <div class="next-cont"><i class="fa fa-chevron-right"></i></div>
    </div><!-- /container-fluid -->
    <a class="container see-more">See More</a>
  </div><!-- /live-streaming -->