@import '../../../../../content/scss/global';
.live-streaming {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;

    #thumbnail {
        @media screen and (max-width: 47.94rem) {
            width: 100%;
            height: 100%;
        }
    }

    h1.heading {
        font-size: 1.25rem;
        color: $color-white;
    }

    .inner-wrapper {
        position: relative;
    }

    .next-cont {
        width: 1rem;
        display: inline-block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -3.75rem;
        cursor: pointer;

        @media screen and (max-width: 81.25rem) {
            right: -0.75rem;
        }
        @media screen and (max-width: 63rem) {
            right: -0.2rem;
        }
        @media screen and (max-width: 61.94rem) {
            right: -2.75rem;
        }
        @media screen and (max-width: 52.5rem) {
            right: -1rem;
        }

        i {
            font-size: 1.5rem;
            color: white;
        }
    }

    .prev-cont {
        @extend .next-cont;
        left: -3.75rem;
        right: 0;
        @media screen and (max-width: 81.25rem) {
            left: -0.75rem;
        }
        @media screen and (max-width: 63rem) {
            left: -0.2rem;
        }
        @media screen and (max-width: 61.94rem) {
            left: -2.75rem;
        }
        @media screen and (max-width: 52.5rem) {
            left: -1rem;
        }
    }

    .owl-carousel {
        width: 100%;

        height: 9.4rem;
        .item {
            height: 9.4rem;
            background: #000;
            position: relative;
            overflow: hidden;
            z-index: -1;
            cursor: pointer;

            @include respons(view-1199) {
                height: 8.1rem;
            }

            video {
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                height: 100%;
                z-index: -1;
            }
            .up-date {
                display: none;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 0;
                color: $color-white;
                width: 100%;
                text-align: center;
                h3 {
                    font-size: 1.25rem;
                }
                p {
                    margin: 0;
                }
            }
            // up-date

            .content {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                text-align: left;

                h2 {
                    font-size: 0.875rem;
                    color: white;
                    margin-top: 45%;
                    text-shadow: 0 0 0.25rem 0 #000;
                    margin-left: 1.25rem;

                    @media screen and (max-width: 61.94rem) {
                        margin-top: 30%;
                    }
                }
                p {
                    font-size: 0.75rem;
                    color: white;
                    margin-left: 1.25rem;
                }
            }
            .hint {
                position: absolute;
                top: 0;
                right: 0;
                width: 0.4rem;
                height: 0.4rem;
                border-radius: 50%;
                background: #2db8df;
                float: right;
                margin: 0.625rem 0.375rem;
                box-shadow: 0 0 0.5rem 0 #2db8df;
                animation: blinking 2s ease-in-out infinite;

                @keyframes blinking {
                    0% {
                        opacity: 1;
                    }
                    70% {
                        opacity: 1;
                    }
                    100% {
                        opacity: 0;
                    }
                } /* blinking */
            } /* /hint */
        } /* /item */
    } /* /owl-carousel */
    .see-more {
        display: block;
        color: #2db8df !important;
        cursor: pointer;
        text-align: right;
        font-size: 0.75rem;
        margin-top: 1.25rem;

        @media screen and (max-width: 61.94rem) {
            margin-top: 0;
        }
    }
} /* /live-streaming */
