<!-- Start Core Team -->
<div id="core-team">
	<div class="container">
		<h4 class="heading text-center">Core Team</h4>
		<div class="row">
			<div class="col-md-6 col-lg-4">
				<div class="team">
					<img src="../../../../../content/images/we/team1.jpg" class="img-fluid">
					<div class="overlay clearfix">
						<div class="social clearfix p-1">
							<a href="https://www.linkedin.com/in/anuj-prakash-aleeph" target="_blank">
								<span class="linkedin"></span>
							</a>
							<a href="https://twitter.com/Allyconnect?s=09" target="_blank">
								<span class="twitter"></span>
							</a>
						</div>
						<!-- /social -->
						<p>Founder & CEO of Aleeph, impassioned about experimenting new innovative ideas to implement and deliver the best-in-class
							end product. Modernizing and simplifying the talent acquisition approaches to benefit both the ventures as well as
							the aspirants.</p>
						<div class="name">
							<h5>Anuj Prakash</h5>
							<span>(Founder & CEO)</span>
						</div>

					</div>
					<!-- /overlay -->
				</div>
				<!-- /team -->
			</div>
			<!-- /col-md-4 -->

			<div class="col-md-6 col-lg-4">
				<div class="team">
					<img src="../../../../../content/images/we/team2.jpg" class="img-fluid">
					<div class="overlay clearfix">
						<div class="social clearfix p-1">
							<a href="https://www.linkedin.com/in/kasyapp-ivaaturi" target="_blank">
								<span class="linkedin"></span>
							</a>
							<a href="https://twitter.com/ivaturi_k" target="_blank">
								<span class="twitter"></span>
							</a>
						</div>
						<!-- /social -->
						<p>Highly accomplished, commercially focused and dynamic C-Level business leader with over 15 years of a glistering record
							of success in leading global businesses, streamlining operations, generating revenue, slashing costs and nurturing
							talent.</p>
						<div class="name">
							<h5>Kasyap Ivaturi</h5>
							<span>(CO-Founder & CBO)</span>
						</div>
					</div>
					<!-- /overlay -->
				</div>
				<!-- /team -->
			</div>
			<!-- /col-md-4 -->

			<div class="col-md-6 col-lg-4">
				<div class="team">
					<img src="../../../../../content/images/we/team3.jpg" class="img-fluid">
					<div class="overlay clearfix">
						<div class="social clearfix p-1">
							<a href="https://www.linkedin.com/in/nksprofile" target="_blank">
								<span class="linkedin"></span>
							</a>
							<a href="https://twitter.com/nareshs25755387" target="_blank" >
								<span class="twitter"></span>
							</a>
						</div>
						<!-- /social -->
						<p>14+ years of IT experience in IT solution delivery and architecture, development, data migration, and the integration
							of BSS/OSS solutions for Communication & Pay-TV Service Providers. </p>
						<div class="name">
							<h5>Naresh Singh</h5>
							<span>(DIRECTOR-TECHNOLOGY)</span>
						</div>
					</div>
					<!-- /overlay -->
				</div>
				<!-- /team -->
			</div>
			<!-- /col-md-4 -->
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /core-team -->
