@import '../../../../../content/scss/global';

/* Start Core Team */
#core-team {
    width: 100%;
    background: #f4f4f4;
    padding: 2.5rem 0;

    h4.heading {
        text-transform: uppercase;
        font-size: 2.18rem;
        font-weight: bold;
        color: $heading-color;
        margin-bottom: 2.5rem;

        @include respons(view-533) {
            font-size: 1.87rem;
        }
    }

    .col-lg-4 {
        @include respons(view-991) {
            margin-bottom: 1.25rem;
            padding-left: 0.94rem;
            padding-right: 0.94rem;
        }
        @include respons(view-767) {
            margin-bottom: 1.25rem;
            padding-left: 5.94rem;
            padding-right: 5.94rem;
        }

        @include respons(view-533) {
            padding-left: 15%;
            padding-right: 15%;
        }
        @include respons(view-400) {
            padding-left: 8%;
            padding-right: 8%;
        }
    }
    .team {
        position: relative;
        width: 100%;
        overflow: hidden;

        &:hover {
            .overlay {
                bottom: 0;
                .social {
                    display: block;
                }
                p {
                    transform: scale(1);
                    transition: all 0.4s;
                    transition-delay: 0.4s;
                }
                h5 {
                    display: block;
                }
                span {
                    display: inline-block;
                }
            } /* /overlay */
        } /* /hover */
        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 100%;
            background: rgba(235, 56, 86, 0.9);
            text-align: center;
            transition: all 0.3s;
            .social {
                display: none;
            }
            a {
                color: rgba(235, 56, 86, 0.9);
                background: $color-white;
                border-radius: 50%;
                width: 1.87rem;
                height: 1.87rem;
                display: block;
                float: left;
                margin: 0.312rem;
                line-height: 1.87rem;
                span {
                    width: 1rem;
                    height: 1rem;
                    margin-top: 0.4rem;
                }
            }
            span.twitter {
                background: url('../../../../../content/images/home/mat-icons/twitter-active.png') no-repeat center center;
                background-size: contain;
            }
            span.linkedin {
                background: url('../../../../../content/images/home/mat-icons/linkedin-active.png') no-repeat center center;
                background-size: contain;
            }
            p {
                transform: scale(0);
                padding: 0.87rem;
                margin-top: 5.31rem;
                font-size: 0.94rem;
                color: white;
                line-height: 1.25rem;

                @include respons(view-1199) {
                    margin-top: 1.44rem;
                }
                @include respons(view-991) {
                    margin-top: 4.44rem;
                }
                @include respons(view-480) {
                    margin-top: 1.44rem;
                    font-size: 0.87rem;
                }
            }
            h5 {
                display: none;
                font-size: 1.25rem;
                font-weight: bold;
                color: white;
                text-transform: uppercase;
                transition: all 0.6s;
                transition-delay: 0.4s;
            }
            span {
                display: none;
                font-size: 0.75rem;
                font-weight: 0.75rem;
                text-transform: uppercase;
                color: white;
                transition: all 0.2s;
                transition-delay: 0.4s;
            }
        } /* /overlay */
    } /* /team */
} /* /core-team */
div.name {
    position: absolute;
    bottom: 1.87rem;
    text-align: center;
    left: 0;
    right: 0;
}
