<!--Full Page Title Header Start-->
<div class="slider">
  <h4>Ads choices</h4>
</div>
<!--/End Full Page Title Header Start-->

<!--Page Content Start-->
<div class="data-cookie">
  <div class="container">
    <div class="complaints">
      <p class="heading">Manage Advertising Preferences</p>
      <p>Using the data described in our Privacy Policy, we target ads to members, visitors, and others both on and off our
        services through a variety of ad networks and exchanges. If this ad features your Aleeph profile picture or name
        in one of our Dynamic Ads formats, only you will see your name and profile picture in the ad. Other members who receive
        this ad will see their own information. Please note that without your separate permission, the advertiser doesn’t
        see or receive your name or profile picture from these ads or campaigns.</p>
      <p>Manage your InsyghtAI Ads settings-</p>
      <p>From your InsyghtAI Ads settings, you can manage your ad preferences and control data collected about you.</p>
      <p class="heading">Opting out of interest-based advertising for non-members</p>
      <p>Non-members can also opt out and manage ad preferences for interest-based advertising for third parties through our
        platform. Please note that the non-member setting is not intended for use by members and will only apply on www.aleeph.io
        and only if you are logged out of InsyghtAI. The non-member advertising preference will only apply on the browser that
        was used when the opt-out was completed.</p>
      <p>kedIn doesn’t share your personal data (other than hashed or device identifiers, to the extent they are personal data
        in some countries) with any advertiser without your permission:</p>


      <ul>
        <li>
          <span>When you view or interact with an ad, an advertiser or ad-serving company can infer that you fall in their target
            audience.
            <!-- For example, 
       they can infer that you belong to the segment of InsyghtAI members who are based in Ohio and work in the legal job sector because 
       their ads were set up to show to this target audience. -->
          </span>
        </li>
        <li>
          <span>If you click on an ad, the ad poster will know you visited the page that you clicked on.
            <br> Advertising partners can associate personal data collected by the advertiser directly from you with cookies
            and similar technologies. In such instances, we seek to contractually require such advertisers to obtain your
            explicit opt-in consent before doing so.</span>
        </li>
      </ul>


      <p>
        <strong>Note:</strong> If an ad features your Aleeph profile picture or name in one of our Dynamic Ads formats, only you
        will see your name and profile picture in the ad. Other members who receive this ad will see their own information.
        Please note that without your separate permission, the advertiser doesn’t see or receive your name or profile picture
        from these ads or campaigns.</p>
    </div>
    <!-- /complaints -->

  </div>
  <!-- /container -->
</div>
<!--/End Page Content Start-->
