<!--jobs filter bar-->
<div class="fixed-bar clearfix">
  <span class="paging">Showing 1-8 of 254</span>
  <div class="sorted">
    <span>Sort by:</span>
    <select class="category">
      <option>Most view jobs</option>
      <option>Most view jobs</option>
      <option>Most view jobs</option>
    </select>
  </div>
  <!-- /sorted -->
</div>
<!-- /jobs filter bar-->
<div class="interviews">
  	<div class="available" *ngFor="let availableInterview of availableInterviews">
        <div class="data-preview clearfix">
           <div class="logo">
               <a class="circle">
                <img src="{{availableInterview.logoUrl}}">
              </a>
            <!-- /img -->
           </div>
           <div class="right">
             <div class="activity">   
               <div class="buttons">
                <a class="accept" (click)='openAccept()'>Accept</a>
                <a class="cancel" (click)='openCancel()'>Not Interested</a>
                <a class="reschedule" (click)='openReschedule()'>Reschedule</a>
                 
               </div><!-- /buttons -->
             </div><!-- /activity -->

             <div class="content">
                <p class="heading"><a>{{availableInterview.jobTitle}}</a></p>
                <p class="sub-heading"><a>{{availableInterview.employerName}}</a></p>
                <p class="mb-3">{{availableInterview.jobType}} | {{availableInterview.jobCity}},&nbsp;{{availableInterview.jobCountry}}</p>
                <div class="clearfix">
                <p class="p-left">
                  <strong>Salary: </strong>{{availableInterview.salaryFigureType}}&nbsp;{{availableInterview.salaryMin}}&nbsp;{{availableInterview.salaryType}}&nbsp;to&nbsp;{{availableInterview.salaryMax}}&nbsp;{{availableInterview.salaryType}}</p>
                <p class="p-right">
                    <strong>Skills: </strong>
                  <span *ngFor='let skill of availableInterview.skills; index as i'>
                    <span *ngIf="((availableInterview.skills?.length)-1) !== i">{{skill}},</span>
                    <span *ngIf="((availableInterview.skills?.length)-1) === i">{{skill}}</span>
                  </span>
                </p>
              </div>
              <div  class="clearfix">
                <p class="p-left"><strong>Date: </strong>{{availableInterview.interviewDate}}</p>
                <p class="p-right"><strong>Interview Type: </strong> {{availableInterview.interviewType}}</p>
              </div>
              <div  class="clearfix">
                <p class="p-left"><strong>Interview Time: </strong>{{availableInterview.interviewTimeStart}} {{availableInterview.interviewTimeMeridianType}} - {{availableInterview.interviewTimeEnd}} {{availableInterview.interviewTimeMeridianType}}</p>
                <p class="p-right"><strong>Venue: </strong>{{availableInterview.interviewVenue}}
                </p>
              </div>
              </div>
              <!-- /content -->
             
           </div><!-- /right -->
        </div><!-- data-preview -->
      </div>
  <!-- /available -->
</div>