<form [formGroup]="firstFormGroup" (ngSubmit)="save()">
  
    <!-- Designation Input Box | Validation: Required -->
    <mat-form-field>
      <input matInput placeholder="Designation" formControlName="designationCtrl" required>
      <mat-error>{{getDesignationErrorMessage()}}</mat-error>
    </mat-form-field>


    <!-- Company Name Input Box | Validation: Required -->
    <mat-form-field>
      <input matInput placeholder="Company Name" formControlName="companyNameCtrl" required>
      <mat-error>{{getCompanyNameErrorMessage()}}</mat-error>
    </mat-form-field>


    <!-- Job Type Select Box | Validation: Required -->
    <mat-form-field>
      <mat-select placeholder="Job Type" formControlName="jobTypeCtrl" required>
        <mat-option *ngFor="let jobType of JobType" [value]="jobType.value">
          {{jobType.name}}
        </mat-option>
      </mat-select>
      <mat-error>{{getJobTypeErrorMessage()}}</mat-error>
    </mat-form-field>


    <!-- Location Input Box | Validation: Required -->
    <mat-form-field>
      <input matInput placeholder="Location" formControlName="locationCtrl" required>
      <mat-error>{{getLocationErrorMessage()}}</mat-error>
    </mat-form-field>

    <!-- Start Experience Date Input Field | Validation: Required -->
    <mat-form-field class="startDate">
      <input matInput [matDatepicker]="startDate" placeholder="Start Date" formControlName="startDateCtrl" required>
      <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
      <mat-datepicker #startDate></mat-datepicker>
      <!-- <mat-error>{{getDobErrorMessage()}}</mat-error> -->
    </mat-form-field>
    
    <!-- End Experience Date Input Field | Validation: Required, Custom -->
    <mat-form-field style="float:right;">
      <input matInput [matDatepicker]="endDate" placeholder="End Date" formControlName="endDateCtrl">
      <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
      <mat-datepicker #endDate></mat-datepicker>
      <!-- <mat-error>{{getDobErrorMessage()}}</mat-error> -->
    </mat-form-field>
    
    <!-- Currently Employer Check-box | Validations:  -->
    <mat-checkbox class="current-date">Current Employer</mat-checkbox>
    
    <!-- Job Description Textarea | Validation: Required -->
    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Job Description" #textfield formControlName="descriptionCtrl" maxlength="256"></textarea>
      <mat-hint align="end">{{textfield.value.length}} / 256</mat-hint>
    </mat-form-field>
    
    <div class="buttons">
      <!-- <button mat-button matStepperNext>Next</button> -->
      <button type="submit" [disabled]="firstFormGroup.invalid" mat-button>Save</button>
    </div>
  </form>