<!--Full Page Title Header Start-->
<div class="career-slider">
  <img src="../../../../../content/images/home/new-home/career-banner.jpg" class="img-fluid">
  <img src="../../../../../content/images/home/new-home/careers-banner.jpg" class="img-fluid career-mobile-banner">
</div>
<!--/End Full Page Title Header Start-->

<!--Page Content Start-->
<div class="data-cookie" id="career">
  <div class="container">
    <p class="heading">All Open Positions</p>

    <h4 class="heading">Motion Graphics Artist | Motion Graphics Designer</h4>
    <p>We need a professional Motion Graphic Artist & animator who is creative and enthusiastic about creating high-quality,
      engaging content.</p>
    <p>
      <strong>Location: </strong>Noida, sector 63</p>

    <button class="apply" routerLink="/career-detail">See More</button>

    <!-- <h4 class="heading">Dotnet Fullstack ( Angular) Developer/ Lead (3-8 yrs)</h4>
      <p>We need a  Dotnet Fullstack (Angular) Developer with 6+ Years of experience of UI technologies with the development of the Web and Mobile applications.</p>
      <p><strong>Location: </strong>Noida, sector 63</p>
  
      <button class="apply">See More</button> -->
  </div>
  <!-- /container -->
</div>
<!--/End Page Content Start-->