@import '../../../../../content/scss/global.scss';

/* Start Blog-Detail */

.blog-detail {
    width: 100%;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    p {
        color: $color-gray;
        line-height: 1.8;
    }
    .inner-wrapper {
        width: 100%;
        max-width: 45.625rem;
        margin-left: auto;
        margin-right: auto;

        .preview-img {
            width: 100%;
            img {
                width: 100%;
            }
        } /* /preview-img */

        .blog-content {
            width: 100%;

            .date {
                margin-top: 3.12rem;
            }
            .heading {
                font-size: 1.375rem;
                color: $heading-color;
                font-weight: bold;
            }
            .favourite-counting {
                font-size: 0.69rem;
                word-spacing: 0.375rem;
                margin-right: 0.375rem;
            }

            .paragraph {
                color: $color-gray;
                font-size: 0.94rem;
                margin-top: 1.87rem;
                margin-bottom: 1.87rem;
            }

            .social-connections {
                width: 100%;
                padding-bottom: 0.875rem;
                border-bottom: 0.0625rem solid $bdr-clr;
                li {
                    display: inline-block;
                    margin: 0 0.625rem;
                    font-size: 0.875rem;

                    a {
                        width: 1rem;
                        height: 1rem;
                        display: inline-block;
                    }
                    a.facebook {
                        background: url('../../../../../content/images/home/mat-icons/facebook.png') no-repeat center center;
                        background-size: contain;
                    }
                    a.facebook:hover {
                        background: url('../../../../../content/images/home/mat-icons/facebook-active.png') no-repeat center center;
                        background-size: contain;
                    }

                    a.twitter {
                        background: url('../../../../../content/images/home/mat-icons/twitter.png') no-repeat center center;
                        background-size: contain;
                    }
                    a.twitter:hover {
                        background: url('../../../../../content/images/home/mat-icons/twitter-active.png') no-repeat center center;
                        background-size: contain;
                    }
                    a.linkedin {
                        background: url('../../../../../content/images/home/mat-icons/linkedin.png') no-repeat center center;
                        background-size: contain;
                    }
                    a.linkedin:hover {
                        background: url('../../../../../content/images/home/mat-icons/linkedin-active.png') no-repeat center center;
                        background-size: contain;
                    }
                    a.youtube {
                        background: url('../../../../../content/images/home/mat-icons/youtube.png') no-repeat center center;
                        background-size: contain;
                    }
                    a.youtube:hover {
                        background: url('../../../../../content/images/home/mat-icons/youtube-active.png') no-repeat center center;
                        background-size: contain;
                    }
                    a.instagram {
                        background: url('../../../../../content/images/home/mat-icons/instagram.png') no-repeat center center;
                        background-size: contain;
                    }
                    a.instagram:hover {
                        background: url('../../../../../content/images/home/mat-icons/instagram-active.png') no-repeat center center;
                        background-size: contain;
                    }
                    a.google-plus {
                        background: url('../../../../../content/images/home/mat-icons/google-plus.png') no-repeat center center;
                        background-size: contain;
                        width: 1.5rem !important;
                    }
                    a.google-plus:hover {
                        background: url('../../../../../content/images/home/mat-icons/google-plus-active.png') no-repeat center center;
                        background-size: contain;
                    }
                    &:first-child {
                        text-transform: uppercase;
                        margin-left: 0;
                        color: $color-gray !important;
                        font-size: 0.75rem;
                    }
                } /* /li */
            } /* /social-connections */
        } /* /blog-content */
    } /* /inner-wrapper */
} /* /blog-detail */

/* Start Potential */
.potential {
    width: 100%;
    background: linear-gradient(to right, #0b2ba0, #d2003b);
    position: relative;
    padding: 3.75rem 0;

    @include respons(view-480) {
        padding: 3.75rem 0.94rem;
    }

    .text {
        width: 100%;
        color: #fff;
        font-size: 2.18rem;
        font-weight: 350;
        margin: 0 auto;
        text-align: center;

        @include respons(view-480) {
            font-size: 1.75rem;
        }

        .mouse {
            width: 3.43rem;
            height: 5.31rem;
            background: #fff;
            box-shadow: 0 0 1.25rem 0 rgba(0, 0, 0, 0.5);
            display: inline-block;
            border-radius: 1.87rem;
            margin: 0 1.25rem -1.75rem 1.25rem;
            cursor: pointer;

            @include respons(view-480) {
                width: 1.87rem;
                height: 2.81rem;
                background: #fff;
                box-shadow: 0 0 1.25rem 0 rgba(0, 0, 0, 0.5);
                display: inline-block;
                border-radius: 1.87rem;
                margin: 0 0.31rem -0.81rem 0.31rem;
            }

            hr {
                width: 1.25rem;
                border: 0.062rem solid rgba(0, 0, 0, 0.5);
                transform: rotate(90deg);

                @include respons(view-480) {
                    width: 0.62rem;
                    margin-top: 0.62rem;
                }
            }
        } /* /mouse */
    } /* /text */
} /* /potential */
