<!-- for navigation -->
<jhi-common-navigation></jhi-common-navigation>
  <!-- for blog banner -->
  <jhi-banner></jhi-banner>
 
  <!-- start for blog detail section -->

<div class="blog-detail">
    <div class="container">
      <div class="row">


        <!-- this col is for left spacing -->
        <div class="col-md-2"></div><!-- /col-md-2 -->

        <!-- this col is for blog section detail -->
        <div class="col-md-8">
          <div class="inner-wrapper">

            <div class="preview-img">
              <img src="../../../../../content/images/blog/images/hands-chatbot.jpg" class="img-fluid">
            </div><!-- /preview-img -->

            <!-- this is preview-img blog data -->
            <div class="blog-content">
              <p class="date"> <small>May 14, 2018</small></p><!-- /date -->
              <h3 class="heading">Helping Hands Chatbot</h3>
              <p>
                <span class="favourite-counting"><i class="fa fa-heart"></i> 24 |</span>
                <small>Tags: Technology, Education</small>
              </p>
  
              <p class="paragraph">
                Aleeph is introducing “Levi” chatbot to communicate with the audience. Users can simply ask questions using voice or by typing in the same way anyone would ask a person. <br><br>
                The chatbot will usually respond in a conversational style, and it may carry out actions in response to that conversation and will also reply to queries of the users. This will involve features such as natural language understanding (understanding what the user is saying), (NLP) natural language processing (replying to the user in a logical way), and sentiment analysis (the ability to understand the user’s tone and intent). AI-powered chatbots decreases the complexity of finding and delivering answers to customer queries and reduces the time and resources that are traditionally required for various functions resulting in increase of accuracy.
              </p><!-- /paragraph -->
  
  
              <div class="social-connections">
                <ul class="social-icons list-unstyled">
                  <li>share:</li>
                  <li class="list-inline-item">
                    <a href="https://www.facebook.com/AleephIndia/" class="facebook" target="_blank">
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="https://twitter.com/AleephAdvisors" class="twitter" target="_blank">
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="https://www.linkedin.com/company/aleeph-advisors-india-pvt-ltd/" class="linkedin" target="_blank">
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="https://www.instagram.com/aleephindia/" class="instagram" target="_blank">
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a class="google-plus">
                    </a>
                  </li>
                </ul><!-- /social-icons -->
              </div><!-- /social-connection -->
            </div><!-- /blog-content -->

            <!-- this is for most popular posts -->
            <jhi-popular-post></jhi-popular-post>

            
          </div><!-- /inner-wrapper -->
        </div><!-- /col-md-8 -->

          <!-- this col is for left spacing -->
        <div class="col-md-2"></div><!-- /col-sm-2 -->

      </div><!-- /row -->
    </div><!-- /container -->
  </div><!-- /blog-preview -->

  <!-- This is for SignIn or SignUP -->
  <div class="potential">
      <div class="text">Potential Candidates just a few click <a class="mouse" (click)="register()"><hr> </a> away
      </div><!-- /text -->
  </div><!-- /potential -->

  <jhi-common-footer></jhi-common-footer>