<div class="outer-wrapper">
  <!--left side menubar component (belongs to webapp\app\user\talent\new-dashboard\left-side-menubar folder)-->
  <jhi-side-bar></jhi-side-bar>
  <!--/end left side menubar-->
  <!--topbar component which include search bar and top right user accoun menubar-->
  <jhi-top-bar></jhi-top-bar>
  <!--end topbar-->
  <div class="righ-side-container">
    <mat-horizontal-stepper [linear]="isLinear">


      <!-- stepper 1 | Personal Detail -->
<!--      <mat-step [stepControl]="personalDetail.firstFormGroup">-->
<!--        <ng-template matStepLabel>Personal Detail</ng-template>-->
<!--        <jhi-personal-detail #personalDetail></jhi-personal-detail>-->
<!--      </mat-step>-->


      <!-- Stepper 2 | Upload Resume -->
      <mat-step [stepControl]="uploadResume.uploadResumeFormGroup">
        <ng-template matStepLabel>Upload Resume</ng-template>
        <jhi-upload-resume #uploadResume></jhi-upload-resume>
      </mat-step>


<!--      &lt;!&ndash; Stepper 3 | Work Experience &ndash;&gt;-->
<!--      <mat-step [stepControl]="workExperience.firstFormGroup">-->
<!--        <ng-template matStepLabel>Work Experience</ng-template>-->
<!--        <jhi-experience #workExperience></jhi-experience>-->
<!--      </mat-step>-->


      <!-- Stepper 4 | Education -->
<!--      <mat-step [stepControl]="education.firstFormGroup">-->
<!--        <ng-template matStepLabel>Education</ng-template>-->
<!--        <jhi-education #education></jhi-education>-->
<!--      </mat-step>-->


      <!-- Stepper 5 | Skills -->
<!--      <mat-step [stepControl]="skill.skillFormGroup">-->
<!--        <ng-template matStepLabel>Skill</ng-template>-->
<!--        <jhi-skill #skill></jhi-skill>-->
<!--      </mat-step>-->


      <!-- Stepper 6 | Desired Job -->
<!--      <mat-step [stepControl]="desiredJob.firstFormGroup">-->
<!--        <ng-template matStepLabel>Desired Job</ng-template>-->
<!--        <jhi-desired-job #desiredJob></jhi-desired-job>-->
<!--      </mat-step>-->
    </mat-horizontal-stepper>
  </div>
</div>
<!-- /outer-wrapper -->
