<!--jobs filter bar-->
<div class="fixed-bar clearfix">
  <span class="paging">Showing 1-8 of 254</span>
  <div class="sorted">
    <span>Sort by:</span>
    <select class="category">
      <option>Most view jobs</option>
      <option>Most view jobs</option>
      <option>Most view jobs</option>
    </select>
  </div>
  <!-- /sorted -->
</div>
<!-- /jobs filter bar-->
<div class="interviews">
  <div class="cancel" *ngFor="let cancelledInterview of cancelledInterviews">
    <div class="data-preview clearfix">
      <div class="logo">
          <a class="circle">
           <img src="{{cancelledInterview.logoUrl}}">
         </a>
       <!-- /img -->
      </div>
      <div class="right">
        <div class="activity">   
          <div class="buttons">
           <a class="cancel" (click)='openReschedule()'>Reschedule</a>
            
          </div><!-- /buttons -->
        </div><!-- /activity -->

        <div class="content">
           <p class="heading"><a>{{cancelledInterview.jobTitle}}</a></p>
           <p class="sub-heading"><a>{{cancelledInterview.employerName}}</a></p>
           <p class="mb-3">{{cancelledInterview.jobType}} | {{cancelledInterview.jobCity}},&nbsp;{{cancelledInterview.jobCountry}}</p>
           <div class="clearfix">
           <p class="p-left">
             <strong>Salary: </strong>{{cancelledInterview.salaryFigureType}}&nbsp;{{cancelledInterview.salaryMin}}&nbsp;{{cancelledInterview.salaryType}}&nbsp;to&nbsp;{{cancelledInterview.salaryMax}}&nbsp;{{cancelledInterview.salaryType}}</p>
           <p class="p-right">
               <strong>Skills: </strong>
             <span *ngFor='let skill of cancelledInterview.skills; index as i'>
               <span *ngIf="((cancelledInterview.skills?.length)-1) !== i">{{skill}},</span>
               <span *ngIf="((cancelledInterview.skills?.length)-1) === i">{{skill}}</span>
             </span>
           </p>
         </div>
         <div  class="clearfix">
           <p class="p-left"><strong>Date: </strong>{{cancelledInterview.interviewDate}}</p>
           <p class="p-right"><strong>Interview Type: </strong> {{cancelledInterview.interviewType}}</p>
         </div>
         <div  class="clearfix">
           <p class="p-left"><strong>Interview Time: </strong>{{cancelledInterview.interviewTimeStart}} {{cancelledInterview.interviewTimeMeridianType}} - {{cancelledInterview.interviewTimeEnd}} {{cancelledInterview.interviewTimeMeridianType}}</p>
           <p class="p-right"><strong>Venue: </strong>{{cancelledInterview.interviewVenue}}
           </p>
         </div>
         </div>
         <!-- /content -->
        
      </div><!-- /right -->
   </div><!-- data-preview -->
    </div><!--/cancel-->
</div>