<section class="we advisors">
  <article class="container">
    <h2>Investors</h2>
    <div class="invster-pro">
      <img src="../../../../../assets/img/we/hima1.jpg" alt="" />
    </div>
    <h3>Hima Bindu</h3>
    <p>"The world is full of choices where you need to select your perfect cup of tea."
    </p>
  </article>
</section>