$font-stack: 'SamsungSharpSans', Arial, Helvetica, sans-serif;
$primary-color: #8c8a85;
$background: #fff;
$text-color: #5e6263;
$font-size: 1.25rem;
$line-height: 2.5rem;
$margin: 0 0.94rem;
$margin-left: auto;
$border-radius: 0.625rem;
$left: 12.5rem;
$btn_padding: 0.38rem 1.25rem;
$btn-size: 1rem;
$background_carousel: #f7f8fa;
$display: none;
$padding: 0;
$carousel-caption-height: 31.25rem;
$h2: 3.12rem;
$p: 0.94rem;
$margin-top: 1.87rem;
$text-align: left;
$float: left;
$float-right: right;
$text-align-right: right;
$width: 100%;
$absolute: absolute;

.we.core-team .img-caption:hover.team4 {
    background: url(../../../../../assets/img/we/amit.png) no-repeat 0 0 / 100%;
}

.investors-wrap .top-text,
.investors-wrap .top-text p {
    color: #313131;
    font-size: 1.12rem;
    padding-left: 1.56rem;
    position: relative;
    z-index: $padding;
}

.we.investors-wrap .invster-pro {
    width: $carousel-caption-height - 22.5rem;
    height: $carousel-caption-height - 22.5rem;
    border-radius: $width;
    border: 0.125rem solid $background;
    box-shadow: 0 0 0.625rem #000;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 1.56rem;
}
.invster-pro img {
    width: 100%;
}
.we.investors-wrap hr {
    width: $carousel-caption-height - 28.12rem;
    margin: 0.94rem auto;
}
.we.advisors {
    background: #ededed;
    padding: $carousel-caption-height - 26.88rem;
    text-align: center;
}
.we.advisors h2 {
    font-size: 3.12rem;
    text-transform: uppercase;
    text-align: center;
    color: #0f6597;
    margin: 0 0 1.56rem 0;
    font-family: SamsungSharpSans;
}
.we.advisors .invster-pro {
    width: $carousel-caption-height - 22.5rem;
    height: $carousel-caption-height - 22.5rem;
    border-radius: $width;
    border: 0.125rem solid $background;
    box-shadow: 0 0 0.625rem #000;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 1.56rem;
}
.we.advisors hr {
    width: $carousel-caption-height - 28.12rem;
    margin: 0.94rem auto;
}
.we.special h2 {
    font-size: 3.12rem;
    text-transform: uppercase;
    text-align: center;
    color: #0f6597;
    margin: 0 0 1.56rem 0;
}
.we.advisors h3 {
    font-size: $p + 0.44rem;
    letter-spacing: 0.312rem;
    margin-bottom: 1.25rem;
}
.we.advisors p {
    letter-spacing: 0.312rem;
}
.advisors p {
    font-size: 1rem;
    font-style: italic;
    // font-weight: bold;
}

@media screen and (max-width: 47.94rem) {
    .we,
    .we.about-us,
    .we.advisors,
    .we.special,
    .we.core-team,
    .we.about-us-bottom {
        padding: 1.56rem 0;
    }
    .we.about-us-bottom .m-100 {
        margin-bottom: 0;
    }
    .we.investors-wrap h2 {
        margin: 1.56rem;
    }
    .investors-wrap .top-text,
    .investors-wrap .top-text p {
        margin: 0;
        padding: 0;
    }
    .linkdin {
        margin: 0;
    }
    /*	.we.core-team .img-caption { width:$width;}
*/
    .we.investors-wrap h2,
    .we.core-team h2,
    .we.about-us h2,
    .we.advisors h2,
    .we.special h2 {
        font-size: 2rem;
    }
    .we.about-us-bottom figure {
        text-align: center;
        margin-bottom: 1.56rem;
    }
    .we.about-us-bottom [align='left'],
    .we.about-us-bottom [align='right'] {
        text-align: center;
        margin-bottom: 1.56rem;
    }
    .we.about-us-bottom:after {
        display: none;
    }
    .we.investors-wrap .col-md-4 {
        margin-bottom: 1.25rem;
    }
}

@media only screen and (min-width: 48rem) and (max-width: 61.94rem) {
    .we.about-us-bottom:after {
        display: none;
    }
    .we.about-us {
        padding: 3.12rem;
    }
    .investors-wrap,
    .we.advisors,
    .we.special {
        padding: 3.12rem;
    }
}

@media only screen and (min-width: 62rem) and (max-width: 74.44rem) {
    .we.special p {
        margin-bottom: 1.56rem;
    }
    .we.about-us-bottom:after {
        display: none;
    }
    .we.core-team {
        text-align: center;
    }
}

@media only screen and (min-width: 62rem) and (max-width: 74.44rem) {
    .we.special p {
        margin-bottom: 1.56rem;
    }
    .we.about-us-bottom:after {
        display: none;
    }
    .we.core-team {
        text-align: center;
    }
}
