<!--Full Page Title Header Start-->
<div class="slider">
  <h4>Cookie Policy</h4>
</div>
<!--/End Full Page Title Header Start-->

<!--Page Content Start-->
<div class="data-cookie">
  <div class="container">
    <div class="complaints">
      <p>At Aleeph, we believe in being clear and open about how we collect and use data related to you. In the spirit of transparency,
        this policy provides detailed information about how and when we use cookies. This cookie policy applies to any Aleeph
        product or service that links to this policy or incorporates it by reference.</p>
      <p class="heading">Does Aleeph use cookies?</p>
      <p>Yes. As described in Section 1.4 of our Privacy Policy, we use cookies and other technologies to ensure everyone who
        uses Aleeph has the best possible experience. Cookies also help us keep your account safe. By continuing to visit
        or use our services, you are agreeing to the use of cookies and similar technologies for the purposes we describe
        in this policy.</p>
      <p class="heading">What is a cookie?</p>
      <p>A cookie is a small file placed onto your device that enables Aleeph features and functionality. For example, cookies
        enable us to identify your device, secure your access to Aleeph and our sites generally, and even help us know if
        someone attempts to access your account from a different device. Cookies also enable you to easily share content
        on Aleeph and help us serve relevant ads to you.</p>
      <p class="heading">When does Aleeph place cookies?</p>
      <p>We use cookies on our sites (such as aleeph.io) and mobile applications. Any browser visiting these sites will receive
        cookies from us. We also place cookies in your browser when you visit non-Aleeph sites that host our plugins (for
        example, Aleeph’s “Share” button) or tags.</p>
      <p class="heading">What types of cookies does Aleeph use?</p>
      <p>We use two types: persistent cookies and session cookies. A persistent cookie helps us recognize you as an existing
        user, so it’s easier to return to Aleeph or interact with our services without signing in again. After you sign in,
        a persistent cookie stays in your browser and will be read by Aleeph when you return to one of our sites or a partner
        site that uses our services (for example, our sharing or job application buttons). Session cookies only last for
        as long as the session (usually the current visit to a website or a browser session).</p>
      <p class="heading">What are cookies used for?</p>
      <p>Cookies can be used to recognize you when you visit Aleeph, remember your preferences, and give you a personalized
        experience that’s in line with your settings. Cookies also make your interactions with Aleeph faster and more secure.
        Additionally, cookies allow us to bring you advertising both on and off the Aleeph sites, and bring customized features
        to you through Aleeph plugins such as our “Share” button.</p>
    </div>
    <!-- /complaints -->

    <table class="table table-bordered">
      <thead>
        <tr>
          <th class="left-side">Categories of Use</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="left-side">Authentication</td>
          <td>If you’re signed in to Aleeph, cookies help us show you the right information and personalize your experience.</td>
        </tr>
        <tr>
          <td class="left-side">Security</td>
          <td>We use cookies to enable and support our security features, and to help us detect malicious activity and violations
            of our User Agreement.</td>
        </tr>
        <tr>
          <td class="left-side">Preferences, features and services</td>
          <td>Cookies can tell us which language you prefer and what your communications preferences are. They can help you fill
            out forms on Aleeph more easily. They also provide you with features, insights, and customized content in conjunction
            with our plugins. You can learn more about plugins in our Privacy Policy.</td>
        </tr>

        <tr>
          <td class="left-side">Advertising</td>
          <td>
            We may use cookies to show you relevant advertising both on and off the Aleeph site. We may also use a cookie to learn whether
            someone who saw an ad later visited and took an action (e.g. downloaded a white paper or made a purchase) on
            the advertiser’s site. Similarly, our partners may use a cookie to determine whether we’ve shown an ad and how
            it performed, or provide us with information about how you interact with ads. We may also work with a partner
            to show you an ad on or off Aleeph, such as after you’ve visited a partner’s site or application.
          </td>
        </tr>
        <tr>
          <td class="left-side">Authentication</td>
          <td>Cookies help us learn how well our site and plugins perform in different locations. We also use cookies to understand,
            improve, and research products, features, and services, including when you access Aleeph from other websites,
            applications, or devices such as your work computer or your mobile device.</td>
        </tr>
      </tbody>
    </table>

    <div class="used-cookie">
      <p class="heading">How are cookies used for advertising purposes?</p>
      <p>Cookies and other ad technology such as beacons, pixels, and tags help us serve relevant ads to you more effectively.
        They also help us provide aggregated auditing, research, and reporting for advertisers, understand and improve our
        service, and know when content has been shown to you. Note: Because your web browser may request advertisements and
        beacons directly from third party ad network servers, these networks can view, edit, or set third party cookies,
        just as if you had requested a web page from their site. Ads served by Aleeph may also set third party cookies.</p>
      <p>If you are logged in on aleeph.io, or another Service that references this Cookie Policy or browsing a third party
        partner site of Aleeph and one of our cookies on your device identifies you, your usage (such as your browsing behavior)
        and log data (such as your IP address), will be associated by us with your account as noted in Sections 1.3 and 1.4
        of our Privacy Policy. We also use aggregate data from third parties and data from your profile and Aleeph activity.
        <br> If you are a Aleeph member but logged out of your account on a browser, Aleeph may still continue to log your interaction
        with our services on that browser for up to 30 days in order to generate usage analytics for our services, which
        analytics we may share in aggregate form with our advertising customers.</p>

      <p class="mb-0">Unless you clear these cookies from your browser, we may use this information to:</p>
      <ul>
        <li>
          <span>provide more relevant, interest-based advertising</span>
        </li>
        <li>
          <span>provide aggregate reports of ads activity to advertisers and websites hosting the ads</span>
        </li>
        <li>
          <span>help website and app owners understand how visitors engage with their sites or apps</span>
        </li>
        <li>
          <span>detect and defend against fraud and other risks to protect users and partners</span>
        </li>
        <li>
          <span>improve our products</span>
        </li>
      </ul>

      <p class="heading">What third-party cookies does Aleeph use?</p>
      <p>Our cookie table lists some of the third party cookies on our sites. Please note that the names of cookies, pixels
        and other technologies may change over time. </p>

      <p class="heading">Controlling cookies</p>
      <p>Most browsers allow you to control cookies through their settings preferences. However, if you limit the ability of
        websites to set cookies, you may worsen your overall user experience, since it will no longer be personalized to
        you. It may also stop you from saving customized settings like login information</p>

      <p class="heading">What to do if you don’t want cookies to be set or want them to be removed?</p>
      <p> If you do not want to receive cookies, you can also change your browser settings on your computer or other device you’re
        using to access our services. If you use Aleeph without changing your browser settings, we’ll assume that you’re
        happy to receive all cookies on the Aleeph website. Most browsers also provide functionality that lets you review
        and erase cookies, including Aleeph cookies. </p>

      <p class="heading">Other helpful resources</p>
      <p>Browser manufacturers provide help pages relating to cookie management in their products. Please see below for more
        information.</p>

      <ul>
        <li>
          <span>Google Chrome</span>
        </li>
        <li>
          <span>Mozilla Explorer</span>
        </li>
        <li>
          <span>Internet Explorer</span>
        </li>
        <li>
          <span>Safari(Desktop)</span>
        </li>
        <li>
          <span>Opera</span>
        </li>
      </ul>
      <p>For other browsers, please consult the documentation that your browser manufacturer provides.</p>
    </div>
    <!-- /used-cookie -->

  </div>
  <!-- /container -->
</div>
<!--/End Page Content Start-->