<!-- Start Main Blogs Section -->

<!-- this is first blog -->
<div class="data row">

  <!-- this is left col of blog -->
  <div class="col-md-5 pl-0 blog-img">
    <img src="../../../../../content/images//blog/images/main-img/blog1.jpg" class="img-fluid for-desktop-img">
    <img src="../../../../../content/images//blog/images/hands-chatbot.jpg" class="img-fluid for-mobile-img">
  </div>
  <!-- /col-md-6 -->

  <!-- this is right col of blog -->
  <div class="col-md-7 py-3">
    <p class="mt-3">
      <small class="date">May 14, 2018</small>
    </p>
    <h4 class="heading">Helping Hands Chatbot</h4>
    <p>
      <small>
        <i class="fa fa-heart"></i> 24 | Tags: Technology, Education </small>
    </p>
    <p class="mt-3">
      Aleeph is introducing “Levi” chatbot to communicate with the audience. Users can simply ask questions using voice or by typing
      in the same way anyone would ask a person. The chatbot will usually respond in a conversational style, and it may carry
      out actions in response to that ...</p>

    <ul class="list-inline social-icon">
      <li class="list-inline-item">
        <a href="https://www.facebook.com/AleephIndia/" class="facebook" target="_blank">
        </a>
      </li>
      <li class="list-inline-item">
        <a href="https://twitter.com/AleephAdvisors" class="twitter" target="_blank">
        </a>
      </li>
      <li class="list-inline-item">
        <a href="https://www.linkedin.com/company/aleeph-advisors-india-pvt-ltd/" class="linkedin" target="_blank">
        </a>
      </li>
      <li class="list-inline-item">
        <a href="https://www.instagram.com/aleephindia/" class="instagram" target="_blank">
        </a>
      </li>
      <li class="list-inline-item">
        <a class="google-plus">
        </a>
      </li>
    </ul>

    <button class="see" (click)="movetoTop()" routerLink="/blogs/blog-detail/helping-hands-chatbot">See More</button>
  </div>
  <!-- /col-md-6 -->
</div>
<!-- /data -->
<!-- //first blog -->


<!-- this is Second blog -->
<div class="data row">

  <!-- this is left col of blog -->
  <div class="col-md-5 pl-0 blog-img">
    <img src="../../../../../content/images/blog/images/main-img/blog2.jpg" class="img-fluid for-desktop-img">
    <img src="../../../../../content/images//blog/images/aleeph-solution.jpeg" class="img-fluid for-mobile-img">
  </div>
  <!-- /col-md-6 -->

  <!-- this is right col of blog -->
  <div class="col-md-7 py-3">
    <p class="mt-3">
      <small class="date">May 14, 2018</small>
    </p>
    <h4 class="heading">Aleeph solution- making things simple</h4>
    <p>
      <small>
        <i class="fa fa-heart"></i> 24 | Tags: Technology, Education </small>
    </p>
    <p class="mt-3">Searching and recruiting best quality candidates have become a complicated task nowadays. In today’s evolving and competitive
      environment, finding jobs and searching the right candidate is a significant pain area for companies looking to grow
      their team. But our system is a...</p>

    <ul class="list-inline social-icon">
      <li class="list-inline-item">
        <a href="https://www.facebook.com/AleephIndia/" class="facebook" target="_blank">
        </a>
      </li>
      <li class="list-inline-item">
        <a href="https://twitter.com/AleephAdvisors" class="twitter" target="_blank">
        </a>
      </li>
      <li class="list-inline-item">
        <a href="https://www.linkedin.com/company/aleeph-advisors-india-pvt-ltd/" class="linkedin" target="_blank">
        </a>
      </li>
      <li class="list-inline-item">
        <a href="https://www.instagram.com/aleephindia/" class="instagram" target="_blank">
        </a>
      </li>
      <li class="list-inline-item">
        <a class="google-plus">
        </a>
      </li>
    </ul>

    <button class="see" (click)="movetoTop()" routerLink="/blogs/blog-detail/aleeph-solution-making-things-simple">See More</button>
  </div>
  <!-- /col-md-6 -->
</div>
<!-- /data -->
<!-- //Second blog -->


<!-- this is Third blog -->
<div class="data row">

  <!-- this is left col of blog -->
  <div class="col-md-5 pl-0 blog-img">
    <img src="../../../../../content/images//blog/images/main-img/blog3.jpg" class="img-fluid for-desktop-img">
    <img src="../../../../../content/images//blog/images/data-platform.jpg" class="img-fluid for-mobile-img">
  </div>
  <!-- /col-md-6 -->

  <!-- this is right col of blog -->
  <div class="col-md-7 py-3">
    <p class="mt-3">
      <small class="date">May 14, 2018</small>
    </p>
    <h4 class="heading">Aleeph Data Platform</h4>
    <p>
      <small>
        <i class="fa fa-heart"></i> 24 | Tags: Technology, Education </small>
    </p>
    <p class="mt-3">We have adopted micro-service architecture building thousands of micro-services that power specific user experiences
      like job search, job listings, background check, social media logins, etc. Each micro-service maintains domain data
      in the data store of their choice be it MongoDB... </p>

    <ul class="list-inline social-icon">
      <li class="list-inline-item">
        <a href="https://www.facebook.com/AleephIndia/" class="facebook" target="_blank">
        </a>
      </li>
      <li class="list-inline-item">
        <a href="https://twitter.com/AleephAdvisors" class="twitter" target="_blank">
        </a>
      </li>
      <li class="list-inline-item">
        <a href="https://www.linkedin.com/company/aleeph-advisors-india-pvt-ltd/" class="linkedin" target="_blank">
        </a>
      </li>
      <li class="list-inline-item">
        <a href="https://www.instagram.com/aleephindia/" class="instagram" target="_blank">
        </a>
      </li>
      <li class="list-inline-item">
        <a class="google-plus">
        </a>
      </li>
    </ul>

    <button class="see" (click)="movetoTop()" routerLink="/blogs/blog-detail/aleeph-data-platform">See More</button>
  </div>
  <!-- /col-md-6 -->
</div>
<!-- /data -->
<!-- //Third blog -->


<!-- this is Fourth blog -->
<div class="data row">

  <!-- this is left col of blog -->
  <div class="col-md-5 pl-0 blog-img">
    <img src="../../../../../content/images//blog/images/main-img/blog4.jpg" class="img-fluid for-desktop-img">
    <img src="../../../../../content/images//blog/images/video-resume.jpg" class="img-fluid for-mobile-img">
  </div>
  <!-- /col-md-6 -->

  <!-- this is right col of blog -->
  <div class="col-md-7 py-3">
    <p class="mt-3">
      <small class="date">May 14, 2018</small>
    </p>
    <h4 class="heading">How to make video resume impressive
    </h4>
    <p>
      <small>
        <i class="fa fa-heart"></i> 24 | Tags: Technology, Education </small>
    </p>
    <p class="mt-3">A video resume is a good way to show off your personality and highlight skills. So, keep it short and creative. To make
      it more attractive you should follow some tips. Firstly, be professional and dress as you would for an interview, and
      maintain a professional demeanor...</p>

    <ul class="list-inline social-icon">
      <li class="list-inline-item">
        <a href="https://www.facebook.com/AleephIndia/" class="facebook" target="_blank">
        </a>
      </li>
      <li class="list-inline-item">
        <a href="https://twitter.com/AleephAdvisors" class="twitter" target="_blank">
        </a>
      </li>
      <li class="list-inline-item">
        <a href="https://www.linkedin.com/company/aleeph-advisors-india-pvt-ltd/" class="linkedin" target="_blank">
        </a>
      </li>
      <li class="list-inline-item">
        <a href="https://www.instagram.com/aleephindia/" class="instagram" target="_blank">
        </a>
      </li>
      <li class="list-inline-item">
        <a class="google-plus">
        </a>
      </li>
    </ul>

    <button class="see" (click)="movetoTop()" routerLink="/blogs/blog-detail/how-to-make-video-resume-impressive">See More</button>
  </div>
  <!-- /col-md-6 -->
</div>
<!-- /data -->
<!-- //Fourth blog -->

<!-- //// End Main Blog Section -->