<div id="opportunity" class="carousel slide" data-ride="carousel">
    <h4 class="heading text-center">Opportunities</h4>
    <div class="carousel-inner container">
      <div class="carousel-item clearfix active">
        <div class="center"></div>
        <div class="employer">
          <div class="fliping">
            <div class="front">
              <p class="first">Employer</p>
            </div><!-- /front -->
            <div class="back">
              <p class="data">"Time spent in hiring is time well spent"<br/>
                  Delivering a quicker, brainstorming ideas at employers, filter and screen top talents for you. Our conventionalized process connects you with 1000s of profiles with their Matching score and Aleeph Score which helps you to hunt down right talent. 
                  </p>
            </div><!-- /back -->
          </div><!-- /fliping -->
        </div><!-- /employer -->
  
        <div class="candidate">
          <div class="fliping">
            <div class="front">
              <p class="first">Candidate</p>
            </div><!-- /front -->
            <div class="back">
              <p class="data">Make yourself indispensable to your employer, providing conceptualized Self-filling Profiles, Close-at-hand Jobs, Audio/Video, Analytics and Scoring helps you to find your dream job at once. Improve your score with Aleeph Assistance.</p>
            </div><!-- /back -->
          </div><!-- /fliping -->
        </div><!-- /candidate -->
  
      </div>
    </div><!-- /carousel-inner -->
</div><!-- /opportunity -->