@import '../../../../../content/scss/global';
/* For Map PopUps */

#opportunity {
    padding: 2.5rem 0 2.5rem 0;
    h4.heading {
        font-size: 2.19rem;
        font-weight: bold;
        color: $heading-color;
        text-transform: uppercase;

        @include respons(view-533) {
            font-size: 1.87rem;
        }
    }
    .sub-heading {
        color: $color-gray;
        font-size: 1.25rem;

        @include respons(view-480) {
            font-size: 1rem;
        }
    }
    .carousel-inner {
        position: relative;
        width: 100%;
        max-width: 57.5rem;
        margin: 0 auto;
        text-align: center;
    }
    .employer {
        float: left;
        margin-left: 10%;
        margin-top: 3.125rem;
        position: relative;
        display: block;

        @include respons(view-767) {
            margin-left: 30%;
        }
        @include respons(view-480) {
            margin-left: 15%;
        }
        @include respons(view-360) {
            margin-left: 8%;
        }

        &:hover {
            .fliping {
                @extend .rotate-animation;
            }
        }
        .fliping {
            @include respons(view-991) {
                width: 17.5rem;
                height: 17.5rem;
            }

            @extend .preserve-animation;

            position: relative;
            width: 20rem;
            height: 20rem;
            transition: all 0.4s ease;
            left: 0;
            top: 0;
            .front {
                @extend .visiblity-interface;
                display: inline-block;
                width: 15rem;
                height: 15rem;
                border-radius: 50%;
                background: linear-gradient(to bottom, $color-red, $color-dark-red);
                color: $color-white;
                box-shadow: 0 0 1.25rem 0.125rem #dadada;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                p {
                    font-weight: bold;
                    font-size: 1.25rem;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            } /* /front */
            .back {
                @extend .front-animation;
                @extend .visiblity-interface;
                @include respons(view-991) {
                    width: 17.5rem;
                    height: 17.5rem;
                }
                position: absolute;
                top: 50%;
                left: 50%;
                width: 20rem;
                height: 20rem;
                border-radius: 50%;
                background: linear-gradient(to bottom, $color-red, $color-dark-red);
                color: $color-white;
                box-shadow: 0 0 1.25rem 0 #dadada;
                p {
                    @include respons(view-991) {
                        font-size: 0.81rem;
                    }
                    padding: 1.87rem;
                    font-size: 0.94rem;
                    width: 98%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            } /* /back */
        } /* /fliping */
    } /* employer */

    .candidate {
        float: right;
        margin-right: 10%;
        margin-top: 3.12rem;
        position: relative;
        display: block;

        @include respons(view-767) {
            margin-left: 30%;
            float: left;
        }
        @include respons(view-480) {
            margin-left: 15%;
        }
        @include respons(view-360) {
            margin-left: 8%;
        }

        &:hover {
            .fliping {
                @extend .rotate-animation;
            }
        }
        .fliping {
            @include respons(view-991) {
                width: 17.5rem;
                height: 17.5rem;
            }
            @extend .preserve-animation;
            position: relative;
            width: 20rem;
            height: 20rem;
            transition: all 0.4s ease;
            left: 0;
            top: 0;
            .front {
                @extend .visiblity-interface;
                display: inline-block;
                width: 15rem;
                height: 15rem;
                border-radius: 50%;
                background: linear-gradient(to bottom, $color-red, $color-dark-red);
                color: $color-white;
                box-shadow: 0 0 1.25rem 0.12rem #dadada;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                p {
                    font-weight: bold;
                    font-size: 1.25rem;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            } /* /front */
            .back {
                @extend .front-animation;
                @extend .visiblity-interface;
                @include respons(view-991) {
                    width: 17.5rem;
                    height: 17.5rem;
                }
                position: absolute;
                top: 50%;
                left: 50%;

                width: 20rem;
                height: 20rem;
                border-radius: 50%;
                background: linear-gradient(to bottom, $color-red, $color-dark-red);
                color: $color-white;
                box-shadow: 0 0 1.25rem 0 #dadada;

                p {
                    @include respons(view-991) {
                        font-size: 0.81rem;
                    }
                    padding: 0.94rem;
                    font-size: 0.94rem;
                    width: 98%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            } /* /back */
        } /* /fliping */
    } /* employer */

    div.center {
        position: absolute;
        top: 20%;
        left: 35%;
        display: inline-block;
        width: 16.25rem;
        height: 16.25rem;
        border-radius: 50%;
        background: transparent;
        border: 0.06rem solid $color-red;
        color: $color-white;

        @include respons(view-767) {
            top: 35%;
            left: 31%;
        }
        @include respons(view-480) {
            left: 18%;
        }
        @include respons(view-360) {
            left: 10%;
        }
    } /* /center */

    // Start Extra Class for flipping Animation

    .visiblity-interface {
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        backface-visibility: hidden;
    }
    .front-animation {
        -webkit-transform: translate(-50%, -50%) rotateY(180deg);
        -moz-transform: translate(-50%, -50%) rotateY(180deg);
        -ms-transform: translate(-50%, -50%) rotateY(180deg);
        transform: translate(-50%, -50%) rotateY(180deg);
    }
    .rotate-animation {
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
        -ms-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }
    .preserve-animation {
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }
} /* /Opportunity */
