<div id="we">
    <div class="container">
      <h4 class="text-center heading">WE</h4>
      <div class="row">
        <div class="col-md-12 focus-text">
          <p>We focus on <span>innovating</span> the approach with the help of groundbreaking 
            <span>technologies</span> to build <span>opportunities</span></p>
            <p class="para">
              InsyghtAI, a leading-edge platform integrated with the power of progressive 
  technologies such as Artificial Intelligence (AI) and Human Computer Interaction (HCI) is helping the enterprises to gain the leverage of modern talents. We’re spearheading with an objective to pinpoint the concerns and devise plentiful 
  innovative solutions to overpower them without a hitch.
            </p>
            <button class="explore" (click)="moveToWe()" routerLink = "/we">Explore More</button>
        </div><!-- /12 -->
      </div><!-- /row -->
    </div><!-- /container -->
  </div><!-- /we -->