@import '../../../../../content/scss/global';
#we {
    h4.heading {
        color: $heading-color;
        font-size: 2.19rem;
        font-weight: bold;
        margin: 2.5rem 0 1.87rem 0;
        @include respons(view-533) {
            font-size: 1.87rem;
        }
    }
    .focus-text {
        text-align: center;
        padding-left: 10%;
        padding-right: 10%;
        margin-bottom: 2.5rem;

        @include respons(view-480) {
            font-size: 1.12rem;
            padding-left: 4%;
            padding-right: 4%;
        }

        p {
            font-size: 1.25rem;
            font-weight: bold;
            color: $heading-color;
            margin-bottom: 0;
            @include respons(view-480) {
                font-size: 0.87rem;
            }
        }
        p.para {
            color: $color-gray;
            margin-top: 2.5rem;
            font-weight: 400;
            margin-bottom: 0;
            @include respons(view-480) {
                font-size: 0.87rem;
                padding-left: 4%;
                padding-right: 4%;
            }
        }

        span {
            color: $color-blue;
            font-size: 1.87rem;

            @include respons(view-480) {
                font-size: 1.26rem;
            }
        }
        button {
            margin-top: 2.5rem;
            width: 9.4rem;
            height: 3.12rem;
            text-align: center;
            line-height: 1.87rem;
            background: linear-gradient(to right, $color-red, $color-dark-red);
            // border-radius:1.25rem;
            color: $color-white;
            border: none;
            outline: none;
            font-size: 0.94rem;
            cursor: pointer;
            box-shadow: 0 0 0.62rem 0 rgba(0, 0, 0, 0.2);
            &:focus {
                outline: none;
                box-shadow: none;
            }
            @include respons(view-480) {
                font-size: 0.75rem;
            }
        } /* /button */
    } /* /focus-text */
} /* /we */
