@import '../education/education.scss';
.skill-data {
    @extend .education-data;

    p.heading {
        color: $light-gray-color;
        margin: 1rem 0;
    }
    .skill-rating {
        padding-top: 10rem;
        margin-left: 0.4rem;
        ul {
            list-style: none;
            padding: 0;
            li {
                height: 0.8rem;
                width: 0.8rem;
                border-radius: 100%;
                background: #fff;
                border: 0.09rem solid #27add0;
                display: inline-block;
                margin-right: 0.25rem;
                cursor: pointer;
                &:hover {
                    background: #27add0;
                }
            }
            li.fill {
                background: #27add0;
            }
        }
    }
}
