<div class="skill-data row">
  <div class="col-md-4 saved-data-container">
    <p class="summary-haed">Summary</p>
    <!-- <button class="add-button">+</button> -->
    <div class="saved-data-box">
      <span class="delete">
        <mat-icon>delete</mat-icon>
      </span>
      <p class="designation">Angular 6</p>
      <p class="company-name">Beginner</p>
      <p class="job-duration">
        <span>12 years</span>
      </p>
    </div>
    <div class="saved-data-box instruction">
      <p class="designation">Add new form</p>
    </div>
  </div>
  <div class="form-container col-md-8">
    <jhi-skill-modal></jhi-skill-modal>
  </div>
  </div>
  <!--/Skills form-->