@import '../../../../../content/scss/global';
.banner {
    width: 100%;
    margin-top: 4.75rem;
    position: relative;
    img {
        width: 100%;
    }
    h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 6.25rem;
        font-weight: bold;
        text-transform: uppercase;
        color: #fff;
        transform: translate(-50%, -50%);
        z-index: 9;

        @include respons(view-767) {
            font-size: 2.5rem;
        }
        @include respons(view-533) {
            font-size: 1.87rem;
        }
    }
} /* /banner */
