@import '../../../../../content/scss/global.scss';

/* Start Slider for blog pages */

.slider {
    width: 100%;
    position: relative;
    margin-top: 4.75rem;

    img {
        width: 100%;
    }
    .hero-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $color-white;
        font-size: 6.25rem;
        font-weight: bold;
        text-transform: uppercase;
        @include respons(view-767) {
            font-size: 2.5rem;
        }

        @include respons(view-533) {
            font-size: 1.87rem;
        }
    }
    // hero-text
} /* /slider */
