<!-- Start Slider -->

      <!-- this banner is for blog pages -->

<div class="slider">

  <img src="../../../../../content/images/blog/images/blog-banner.jpg" class="img-fluid">

  <h1 class="hero-text">Blog</h1>
</div>
<!-- /Slider -->