<!-- <div>
    <router-outlet name="navbar"></router-outlet>
</div> -->
<!-- <div *jhiHasAnyAuthority="'ROLE_USER'">
    <jhi-navigation></jhi-navigation>
</div> -->
<router-outlet></router-outlet>
<router-outlet name="popup"></router-outlet>