<form [formGroup]="firstFormGroup">
    <!-- Desired Designation Input Field | Validations: Not Null -->
    <mat-form-field>
      <input matInput placeholder="Desired Designation" formControlName="DesiredDesignationCtrl" required>
      <mat-error>{{getDesiredDesignationErrorMessage()}}</mat-error>
    </mat-form-field>
    <!-- Employment Type Drop down -->
    <mat-form-field>
      <mat-select placeholder="Employment Type" formControlName="JobTypeCtrl" required>
          <mat-option *ngFor="let jobType of JobType" [value]="jobType.value">
              {{jobType.name}}
          </mat-option>          
      </mat-select>
      <mat-error>{{getJobTypeErrorMessage()}}</mat-error>
    </mat-form-field>
    <!-- Job Location Input Field -->
    <mat-form-field>
      <input matInput placeholder="Job Location" formControlName="JobLocationCtrl" required>
      <mat-error>{{getJobLocationErrorMessage()}}</mat-error>
    </mat-form-field>
    <div>
        <!-- <button mat-button matStepperNext>Next</button> -->
        <button type="submit" [disabled]="firstFormGroup.invalid" mat-button>Save</button>
      </div>
  </form>