<!--Full Page Title Header Start-->
<div class="slider">
    <h4>User Agreement</h4>
  </div><!--/End Full Page Title Header Start-->
  
   <!--Page Content Start-->
  <div class="data-agreement">
    <div class="container">
      <div class="Introduction">
        <p>Our mission is to connect the world’s professionals to allow them to be more productive and successful. Our services are designed to promote economic opportunity for our members by enabling you and millions of other professionals to meet, exchange ideas, learn, and find opportunities or employees, work, and make decisions in a network of trusted relationships.</p>
        <p class="heading">1. Introduction</p>
  
        <p><span>1.1 Contract</span></p>
  
        <p>When you use our Services you agree to all of these terms. Your use of our Services is also subject to our Cookie Policy and our Privacy Policy, which covers how we collect, use, share, and store your personal information.<br>
  You agree that by clicking “Join Now”, “Join Aleeph”, “Sign Up” or similar, registering, accessing or using our services (described below), you are agreeing to enter into a legally binding contract with Aleeph (even if you are using our Services on behalf of a company). If you do not agree to this contract (“Contract” or “User Agreement”), do not click “Join Now” (or similar) and do not access or otherwise use any of our Services. If you wish to terminate this contract, at any time you can do so by closing your account and no longer accessing or using our Services.</p>
  
  <h4 class="heading">Services</h4>
  <p>This Privacy Policy applies to aleeph.io, other Aleeph-related sites, communications and , other services that state that they are offered under this Contract (“Services”), including the offsite collection of data for those Services, such as our ads and the “Apply with Aleeph” and “Share with Aleeph” plugins. Registered users of our Services are “Members” and unregistered users are “Visitors”. This Contract applies to both Members and Visitors.</p>
  
  <h4 class="heading">Aleeph</h4>
  <p>You are entering into this Contract with Aleeph (also referred to as “we” and “us”).</p>
  <p>We use the term “Designated Countries” to refer to countries like India, Canada, and Asian Countries (Malaysia & Singapore).</p>
  <p>If you reside in/outside the “Designated Countries”, you are entering into this Contract with Aleeph Advisors India Private Limited which will be the controller of your personal data provided to, or collected by or for, or processed in connection with our Services.</p>
  <p>This Contract applies to Members and Visitors.<br>
  As a Visitor or Member of our Services, the collection, use and sharing of your personal data is subject to this Privacy Policy (which includes our Cookie Policy and other documents referenced in this Privacy Policy) and updates.</p>
        
  
    <p><span>1.2 Members and Visitors</span></p>
    <p>When you register and join Aleeph Services, you become a Member. If you have chosen not to register for our Services, you may access certain features as a “Visitor.”</p>
  
    <p><span>1.3 Change</span></p>
    <p>We may make changes to the Contract.<br>
  We may modify this Contract, our Privacy Policy and our Cookies Policies from time to time. If we make material changes to it, we will provide you notice through our Services, or by other means, to provide you the opportunity to review the changes before they become effective. We agree that changes cannot be retroactive. If you object to any changes, you may close your account. Your continued use of our Services after we publish or send a notice about our changes to these terms means that you are consenting to the updated terms.</p>
  </div><!-- /introducation -->
  <div class="obligation">
    <p class="heading">2. Obligations</p>
  
    <p><span>2.1 Service Eligibility</span></p>
  
    <p>Here are some promises that you make to us in this Contract:</p>
    <p>You’re eligible to enter into this Contract and you are at least our “Minimum Age.”<br>
  The Services are not for use by anyone under the age of 16.</p>
  
  <p>To use the Services, you agree that: (1) you must be the “Minimum Age” (described below) or older; (2) you will only have one Aleeph account, which must be in your real name; and (3) you are not already restricted by Aleeph from using the Services. Creating an account with false information is a violation of our terms, including accounts registered on behalf of others or persons under the age of 16.
  “Minimum Age” means 16 years old. However, if law requires that you must be older in order for Aleeph to lawfully provide the Services to you without parental consent (including using of your personal data) then the Minimum Age is such older age.</p>
  
  <p><span>2.2 Your Account</span></p>
  <p>You will keep your password a secret.</p>
  <p>You will not share an account with anyone else and will follow our rules and the law.<br>
  Members are account holders. You agree to: (1) try to choose a strong and secure password; (2) keep your password secure and confidential; (3) not transfer any part of your account (e.g., connections) and (4) follow the law and our list of Dos and Don’ts and Professional Community Policies. You are responsible for anything that happens through your account unless you close it or report misuse.
  As between you and others (including your employer), your account belongs to you. However, if the Services were purchased by another party for you to use (e.g. Recruiter seat bought by your employer), the party paying for such Service has the right to control access to and get reports on your use of such paid Service; however, they do not have rights to your personal account.</p>
  
  <p><span>2.3 Payment</span></p>
  <p>You’ll honor your payment obligations and you are okay with us storing your payment information. You understand that there may be fees and taxes that are added to our prices.</p>
  <p>We don't guarantee refunds.</p>
  <p>If you buy any of our paid Services (“Premium Services”), you agree to pay us the applicable fees and taxes and to additional terms specific to the paid Services. Failure to pay these fees will result in the termination of your paid Services. Also, you agree that:</p>
  
  
  <ul>
    <li><span>Your purchase may be subject to foreign exchange fees or differences in prices based on location (e.g. exchange rates).</span></li>
    <li><span>We may store and continue billing your payment method (e.g. credit card, debit card, net banking,  e-wallet) even after it has expired, to avoid interruptions in your Services and to use to pay other Services you may buy.</span></li>
    <li><span>If you purchase a subscription, your payment method automatically will be charged at the start of each subscription period for the fees 
       and taxes applicable to that period. To avoid future charges, cancel before the renewal date.</span></li>
       <li><span>All of your purchases of Services are subject to Aleeph’s refund policy.</span></li>
       <li><span>We may calculate taxes payable by you based on the billing information that you provide us at the time of purchase.</span></li>
  </ul>
  
  
  <p><span>2.4 Notices and Messages</span></p>
  <p>You’re okay with us providing notices and messages to you through our websites, apps, and contact information. If your contact information is out of date, you may miss out on important notices.<br>
  You agree that we will provide notices and messages to you in the following ways: (1) within the Service, or (2) sent to the contact information you provided us (e.g., email, mobile number, physical address). You agree to keep your contact information up to date.<br>
  Please review your settings to control and limit messages you receive from us.</p>
  
  <p><span>2.5 Sharing</span></p>
  <p>When you share information on our Services, others can see, copy and use that information.<br>
  Our Services allow messaging and sharing of information in many ways, such as your profile, slide decks, links to news articles, job postings, InMails and blogs. Information and content that you share or post may be seen by other Members, Visitors or others (including off of the Services). Where we have made settings available, we will honor the choices you make about who can see content or information (e.g., message content to your addressees, sharing content only to Aleeph connections, restricting your profile visibility from search engines, or opting not to notify others of your Aleeph profile update). For job searching activities, we default to not notifying your connections network or the public. So if you apply for a job through our Service or opt to signal that you are interested in a job, our default is to share it only with the job poster.<br>
  We are not obligated to publish any information or content on our Service and can remove it in our sole discretion, with or without notice.</p>
  
  </div><!-- /obligation -->
  
  <div class="rights">
    <p class="heading">3. Rights and Limits</p>
  
    <p><span>3.1. Your License to Aleeph</span></p>
    <p>You own all of the content, feedback, and personal information you provide to us, but you also grant us a non-exclusive license to it.</p>
    <p>We’ll honor the choices you make about who gets to see your information and content.<br>
  As between you and Aleeph, you own the content and information that you submit or post to the Services, and you are only granting Aleeph and our affiliates the following non-exclusive license:</p>
  
  <p>A worldwide, transferable and sub licensable right to use, copy, modify, distribute, publish, and process, information and content that you provide through our Services and the services of others, without any further consent, notice and/or compensation to you or others. These rights are limited in the following ways:</p>
  
  
  <ol>
    <li>You can end this license for specific content by deleting such content from the Services, or generally by closing your account, except (a)   
        to the extent you shared it with others as part of the Service and they copied, re-shared it or stored it and (b) for the reasonable time it 
        takes to remove from backup and other systems.</li>
  
        <li>We will get your consent if we want to give others the right to publish your content beyond the Services. However, if you choose to 
        share your post as "public", we will enable a feature that allows other Members to embed that public post onto third-party services, and 
        we enable search engines to make that public content findable though their services.</li>
  
        <li>While we may edit and make format changes to your content (such as translating it, modifying the size, layout or file type or removing          
        metadata), we will not modify the meaning of your expression.</li>
  
        <li>Because you own your content and information and we only have non-exclusive rights to it, you may choose to make it available to 
        others, including under the terms of a Creative Commons license.</li>
  </ol>
  
  
  <p>You and Aleeph agree that if content includes personal data, it is subject to our Privacy Policy.<br>
  You and Aleeph agree that we may access, store, process and use any information and personal data that you provide in accordance with the terms of the Privacy Policy and your choices (including settings).</p>
  
  <p>By submitting suggestions or other feedback regarding our Services to Aleeph, you agree that Aleeph can use and share (but does not have to) such feedback for any purpose without compensation to you.</p>
  
  <p>You promise to only provide information and content that you have the right to share, and that your Aleeph profile will be truthful.<br>
  You agree to only provide content or information that does not violate the law nor anyone’s rights (including intellectual property rights). You also agree that your profile information will be truthful. Aleeph may be required by law to remove certain information or content in certain countries.</p>
  
  <p><span>3.2 Service Availability</span></p>
  <p>We may change, suspend or end any Service, or change and modify prices prospectively in our discretion. To the extent allowed under law, these changes may be effective upon notice provided to you.<br>
  We may change or discontinue any of our Services. We don’t promise to store or keep showing any information and content that you’ve posted.</p>
  
  <p>Aleeph is not a storage service. You agree that we have no obligation to store, maintain or provide you a copy of any content or information that you or others provide, except to the extent required by applicable law and as noted in our Privacy Policy.</p>
  
  <p><span>3.3 Other Content, Sites and Apps</span></p>
  <p>Your use of others’ content and information posted on our Services, is at your own risk.</p>
  <p>Others may offer their own products and services through our Services, and we aren’t responsible for those third-party activities.
  By using the Services, you may encounter content or information that might be inaccurate, incomplete, delayed, misleading, illegal, offensive or otherwise harmful. Aleeph generally does not review content provided by our Members or others. You agree that we are not responsible for others’ (including other Members’) content or information. We cannot always prevent this misuse of our Services, and you agree that we are not responsible for any such misuse. You also acknowledge the risk that you or your organization may be mistakenly associated with content about others when we let connections and followers know you or your organization were mentioned in the news. Members have choices about this feature.</p>
  
  <p><span>3.4 Limits</span></p>
  <p>We have the right to limit how you connect and interact on our Services.<br>
  Aleeph reserves the right to limit your use of the Services, including the number of your connections and your ability to contact other Members. Aleeph reserves the right to restrict, suspend, or terminate your account if Aleeph believes that you may be in breach of this Contract or law or are misusing the Services.</p>
  
  <p><span>3.5 Intellectual Property Rights</span></p>
  <p>We’re providing you notice about our intellectual property rights.<br>
  Aleeph reserves all of its intellectual property rights in the Services. Using the Services does not give you any ownership in our Services or the content or information made available through our Services. Trademarks and logos used in connection with the Services are the trademarks of their respective owners. Aleeph and “in” logos and other Aleeph trademarks, service marks, graphics, and logos used for our Services are trademarks or registered trademarks of Aleeph.</p>
  
  <p><span>3.6 Automated Processing</span></p>
  <p>We use data and information about you to make relevant suggestions to you and others.<br>
  We will use the information and data that you provide and that we have about Members to make recommendations for connections, content and features that may be useful to you. For example, we use data and information about you to recommend jobs to you and you to recruiters. Keeping your profile accurate and up-to-date helps us to make these recommendations more accurate and relevant.</p>
  
  
  </div><!-- /rights -->
  
  
  <div class="limit">
    <p class="heading">4. Disclaimer and Limit of Liability</p>
  
    <p><span>4.1 No Warranty</span></p>
  <p>This is our disclaimer of legal liability for the quality, safety, or reliability of our Services.
  TO THE EXTENT ALLOWED UNDER LAW, ALEEPH AND ITS AFFILIATES (AND THOSE THAT ALEEPH WORKS WITH TO PROVIDE THE SERVICES) (A) DISCLAIM ALL IMPLIED WARRANTIES AND REPRESENTATIONS (E.G. WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, ACCURACY OF DATA, AND NONINFRINGEMENT); (B) DO NOT GUARANTEE THAT THE SERVICES WILL FUNCTION WITHOUT INTERRUPTION OR ERRORS, AND (C) PROVIDE THE SERVICE (INCLUDING CONTENT AND INFORMATION) ON AN “AS IS” AND “AS AVAILABLE” BASIS.</p>
  <p>SOME LAWS DO NOT ALLOW CERTAIN DISCLAIMERS, SO SOME OR ALL OF THESE DISCLAIMERS MAY NOT APPLY TO YOU.</p>
  
  
  
    <p><span>4.2 Exclusion of Liability</span></p>
  <p>These are the limits of legal liability we may have to you.</p>
  <p>TO THE EXTENT PERMITTED UNDER LAW (AND UNLESS ALEEPH HAS ENTERED INTO A SEPARATE WRITTEN AGREEMENT THAT OVERRIDES THIS CONTRACT), ALEEPH AND ITS AFFILIATES (AND THOSE THAT ALEEPH WORKS WITH TO PROVIDE THE SERVICES) SHALL NOT BE LIABLE TO YOU OR OTHERS FOR ANY INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR PUNITIVE DAMAGES, OR ANY LOSS OF DATA, OPPORTUNITIES, REPUTATION, PROFITS OR REVENUES, RELATED TO THE SERVICES (E.G. OFFENSIVE OR DEFAMATORY STATEMENTS, DOWN TIME OR LOSS, USE OF, OR CHANGES TO, YOUR INFORMATION OR CONTENT).<br>
  IN NO EVENT SHALL THE LIABILITY OF ALEEPH AND ITS AFFILIATES (AND THOSE THAT ALEEPH WORKS WITH TO PROVIDE THE SERVICES) EXCEED, IN THE AGGREGATE FOR ALL CLAIMS, AN AMOUNT THAT IS THE LESSER OF (A) FIVE TIMES THE MOST RECENT MONTHLY OR YEARLY FEE THAT YOU PAID FOR A PREMIUM SERVICE.<br>
  THIS LIMITATION OF LIABILITY IS PART OF THE BASIS OF THE BARGAIN BETWEEN YOU AND ALEEPH AND SHALL APPLY TO ALL CLAIMS OF LIABILITY (E.G. WARRANTY, TORT, NEGLIGENCE, CONTRACT, LAW) AND EVEN IF ALEEPH OR ITS AFFILIATES HAS BEEN TOLD OF THE POSSIBILITY OF ANY SUCH DAMAGE, AND EVEN IF THESE REMEDIES FAIL THEIR ESSENTIAL PURPOSE.<br>
  SOME LAWS DO NOT ALLOW THE LIMITATION OR EXCLUSION OF LIABILITY, SO THESE LIMITS MAY NOT APPLY TO YOU.</p>
  
  </div><!-- /limit -->
  
  <div class="termination">
    <p class="heading">5. Termination</p>
    <p>We can each end this Contract anytime we want.<br>
  Both you and Aleeph may terminate this Contract at any time with notice to the other. On termination, you lose the right to access or use the Services. The following shall survive termination:</p>
  
  <ul>
    <li><span>Our rights to use and disclose your feedback;</span></li>
    <li><span>Members and/or Visitors’ rights to further re-share content and information you shared through the Service to the extent copied or  
        re-shared prior to termination;</span></li>
  <li><span>Any amounts owed by either party prior to termination remain owed after termination.<br>
       You can visit our Help Center to close your account.</span></li>
  </ul>
  </div><!-- /termination -->
    </div><!-- /container -->
  </div><!--/End Page Content Start-->
