<div class="education-data row">
  <div class="col-md-4 saved-data-container">
    <p class="summary-haed">Summary</p>
    <!-- <button class="add-button">+</button> -->
    <div class="saved-data-box">
      <span class="delete">
        <mat-icon>delete</mat-icon>
      </span>
      <p class="designation">IIT Delhi</p>
      <p class="company-name">Master Of Technology</p>
      <p class="job-location">Mechanical</p>
      <p class="job-duration">
        <span>Jan 2015</span> -
        <span>March 2017</span>
      </p>
    </div>
    <div class="saved-data-box instruction">
      <p class="designation">Add new form</p>
    </div>
  </div>
  <div class="form-container col-md-8">
    <jhi-education-modal></jhi-education-modal>
  </div>
</div>