<div class="trending-jobs" id="talent-carousel">
  <h4 class="head">Trending Candidates</h4>
  <ngb-carousel class="myCarousel" [activeId]='activeSliderId' [interval]="2000">
    <ng-template *ngFor="let photo of map1" ngbSlide>
      <div style="display: flex;">
        <div class="col-md-3 col-xl-2 padding-lr" *ngFor='let matchingCandidate of matchingCandidates'>
          <div class="thumbnail">
            <div class="slider-icon-bar">
              <input type="button" class="like" title="Add to favourites">
            </div>
            <a>
              <img [src]="photo.src" class="img-fluid" alt="Random {{photo.src}} slide">
            </a>
            <div class="slider-caption">
              <p class="name">
                <a>{{matchingCandidate.candidateName}}</a>
              </p>
              <p class="designation">
                <a>{{matchingCandidate.jobTitle}}({{matchingCandidate.jobType}})</a>
              </p>
              <p class="address">{{matchingCandidate.candidateCity}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="see-more-container">
        <a class="see-more disable">See More
        </a>
      </div>
    </ng-template>
  </ngb-carousel>
</div>