    <!-- Start Advisors -->
    <div id="advisors">
      <div class="container">
        <h4 class="heading text-center">Advisors</h4>
        <div class="row">
          <div class="col-md-6">
            <div class="img">
              <img src="../../../../../content/images/we/advisor1.png" class="img-fluid">
            </div><!-- /img -->
            <div class="text">
              <h5>Aleksandr Potkinoi</h5>
            <p>Director HCI: <br>
            Carnegie Mellon University</p>
            </div>
          </div><!-- /col-md-6 -->
          <div class="col-md-6">
            <div class="img">
              <img src="../../../../../content/images/we/advisor2.png" class="img-fluid">
            </div><!-- /img -->
            <div class="text mb-0">
              <h5>John Eggleston</h5>
            <p>Chief Management Officer: <br>
            BGF (Business Growth Fund)</p>
            </div><!-- /text -->
          </div><!-- /col-md-6 -->
        </div><!-- /row -->
      </div><!-- /container -->
    </div><!-- /advisors -->
    