@import '../../../../../content/scss/global';
/* Start Advisors */
#advisors {
    @include respons(view-1199) {
        text-align: center;

        .text {
            margin-top: 2.5rem !important;
        }
    }
    width: 100%;
    padding: 2.5rem 0;
    h4.heading {
        text-transform: uppercase;
        font-size: 2.19rem;
        font-weight: bold;
        color: $heading-color;
        margin-bottom: 2.5rem;
        @include respons(view-533) {
            font-size: 1.87rem;
        }
    }

    .img {
        border: 0.0625rem solid $color-red;
        padding: 0.312rem;
        display: inline-block;
        border-radius: 50%;
    } /* /img */
    .text {
        margin-top: 6.25rem;
        margin-left: 1.25rem;
        display: inline-block;

        @include respons(view-767) {
            margin: 2.5rem auto 4.37rem;
            display: block;
        }

        h5 {
            font-weight: bold;
            font-size: 1.25rem;
            color: $heading-color;
        }
        p {
            font-size: 0.94rem;
            color: $color-gray;
            margin-top: 0.625rem;
        }
    } /* /text */
} /* /advisors */
