@import '../dashboard.scss';
//live streamin scss
.live-streaming-container {
    background: $white-color;
    width: 100%;
    padding: 1rem;
    margin-top: 1.3rem;
    overflow-y: scroll;
    @include box-shadow(0.425rem, 0.425rem, 0.925rem, 0, rgba(0, 0, 0, 0.09));
    h4.head {
        margin-bottom: 1.8rem;
    }
    .thumbnail {
        position: relative;
        margin: 1.5rem 0 0;
        height: 11.7rem;
        overflow: hidden;
        width: 48%;
        float: left;
        &:nth-of-type(odd) {
            float: right;
        }
        img {
            width: 100%;
        }
        .caption {
            position: absolute;
            bottom: 1.3rem;
            left: 1rem;
            h6 {
                font-weight: bold;
                color: $white-color;
                margin-bottom: 0;
                font-size: 0.87rem;
                text-shadow: 0.1rem 0.06rem 0.1rem rgba(0, 0, 0, 0.5);
            }
            p {
                margin-bottom: 0.6rem;
                font-size: 0.74rem;
                font-weight: 600;
                color: #ddd;
                text-shadow: 0.1rem 0.06rem 0.1rem rgba(0, 0, 0, 0.5);
            }
        }
    }
    .full-width-streaming {
        @extend .thumbnail;
        width: 100%;
        margin: 0 !important;
    }
    .upcoming {
        img {
            -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
            filter: blur(5px);
        }
    }
}
//end live streaming scss
