<div class="live-streaming-container clearfix">
  <h4 class="head">Live Streaming</h4>
  <div class="full-width-streaming">
    <img src="../../../../../content/images/user/dashboard/streaming/original.jpeg" />
    <div class="caption">
      <h6>Mahesh Aggrawal</h6>
      <p>Streaming</p>
    </div>
  </div>
  <div class="thumbnail">
    <img src="../../../../../content/images/user/dashboard/streaming/original.jpeg" />
    <div class="caption">
      <h6>Mahesh Aggrawal</h6>
      <p>Streaming</p>
    </div>
  </div>
  <div class="thumbnail">
    <img src="../../../../../content/images/user/dashboard/streaming/original.jpeg" />
    <div class="caption">
      <h6>Mahesh Aggrawal</h6>
      <p>Streaming</p>
    </div>
  </div>
  <div class="thumbnail">
    <img src="../../../../../content/images/user/dashboard/streaming/original.jpeg" />
    <div class="caption">
      <h6>Mahesh Aggrawal</h6>
      <p>Streaming</p>
    </div>
  </div>
  <div class="thumbnail">
    <img src="../../../../../content/images/user/dashboard/streaming/original.jpeg" />
    <div class="caption">
      <h6>Mahesh Aggrawal</h6>
      <p>Streaming</p>
    </div>
  </div>
  <div class="thumbnail">
    <img src="../../../../../content/images/user/dashboard/streaming/original.jpeg" />
    <div class="caption">
      <h6>Mahesh Aggrawal</h6>
      <p>Streaming</p>
    </div>
  </div>
  <div class="thumbnail upcoming">
    <img src="../../../../../content/images/user/dashboard/streaming/original.jpeg" />
    <div class="caption">
      <h6>Mahesh Aggrawal</h6>
      <p>Upcoming</p>
    </div>
  </div>
  <div class="thumbnail upcoming">
    <img src="../../../../../content/images/user/dashboard/streaming/original.jpeg" />
    <div class="caption">
      <h6>Mahesh Aggrawal</h6>
      <p>Streaming</p>
    </div>
  </div>
  <div class="thumbnail">
    <img src="../../../../../content/images/user/dashboard/streaming/original.jpeg" />
    <div class="caption">
      <h6>Mahesh Aggrawal</h6>
      <p>Streaming</p>
    </div>
  </div>
  <div class="thumbnail upcoming">
    <img src="../../../../../content/images/user/dashboard/streaming/original.jpeg" />
    <div class="caption">
      <h6>Mahesh Aggrawal</h6>
      <p>Streaming</p>
    </div>
  </div>
  <div class="thumbnail">
    <img src="../../../../../content/images/user/dashboard/streaming/original.jpeg" />
    <div class="caption">
      <h6>Mahesh Aggrawal</h6>
      <p>Streaming</p>
    </div>
  </div>
</div>
