<!--Full Page Title Header Start-->
<div class="slider">
  <h4>How can we help you?</h4>
  <div class="input-group">
    <input type="text" name="search" class="form-control" placeholder="Write your question here and press enter">
    <!-- <div class="input-group-append">
            <span class="input-group-text"> <img src="../../../../../content/images/home/new-home/search-icon.png"></span>
          </div> -->
  </div>
</div>
<!--/End Full Page Title Header Start-->

<!--Page Content Start-->
<div class="data-agreement" id="support">
  <div class="container">
    <p class="heading">Getting Started</p>
    <p>
      <a>What is aleeph?</a>
    </p>
    <p>
      <a>Favourating a candidates</a>
    </p>
    <p>
      <a>Understanding the Hire NG</a>
    </p>
    <p>
      <a>How can i pay for premium services?</a>
    </p>
    <p>
      <a>How can i submit job post?</a>
    </p>
    <p>
      <a>How can i get the best match candidate for my job?</a>
    </p>
    <p>
      <a>Can i E-mail the candidate?</a>
    </p>
  </div>
  <!-- /container -->
</div>
<!--/End Page Content Start-->