<!--Full Page Title Header Start-->
<div class="slider">
    <h4>Privacy Policy</h4>
</div>
<!--/End Full Page Title Header Start-->

<!--Page Content Start-->
<div class="data-agreement">
    <div class="container">
        <p class="heading">Your Privacy Matters</p>
        <p>Aleeph’s mission is to connect the world’s professionals to allow them to be more productive and successful. Central
            to this mission is our commitment to be transparent about the data we collect about you, how it is used and with
            whom it is shared.
            <br> This Privacy Policy applies when you use our Services (described below). We offer our users choices about the
            data we collect, use and share as described in this Privacy Policy, Cookie Policy, Settings and our Help Center.</p>

        <p class="heading">Introduction</p>
        <p>Our registered users (“Members”) share their professional identities, engage with their network, exchange knowledge
            and professional insights, post and view relevant content, learn and find business and career opportunities.
            Content and data on some of our Services is viewable to non-members (“Visitors”). We are a social network and
            online platform for professionals. People use our Services to find and be found for business opportunities and
            to connect with others and information. Our Privacy Policy applies to any Member or Visitor to our Services.
            </p>

        <h4 class="heading">Services</h4>
        <p class="mt-0">This Privacy Policy applies to aleeph.io, other Aleeph-related sites, communications and services (“Services”), including
            off-site Services, and the “Apply with Aleeph” and “Share with Aleeph” plugins, but excluding services that state
            that they are offered under a different privacy policy.</p>

        <h4 class="heading">Change</h4>
        <p class="mt-0">Aleeph (“we” or “us”) can modify this Privacy Policy, and if we make material changes to it, we will provide notice
            through our Services, or by other means, to provide you the opportunity to review the changes before they become
            effective. If you object to any changes, you may close your account.</p>

        <p>Changes to the Privacy Policy apply to your use of our Services after the “effective date.”</p>
        <p>You acknowledge that your continued use of our Services after we publish or send a notice about our changes to this
            Privacy Policy means that the collection, use and sharing of your personal data is subject to the updated Privacy
            Policy.</p>


        <div class="collect">
            <p class="heading">1. Data We Collect</p>

            <p>
                <span>1.1 Data You Provide To Us</span>
            </p>

            <h4 class="heading">Registration</h4>
            <p class="mt-0">You provide data to create an account with us.
                <br> To create an account you need to provide your email address or you can login using your social media account
                of Facebook or LinkedIn. If you register for a premium Service, you will need to provide payment (e.g., credit
                card, debit card, net banking, e-wallet) and billing information.</p>


            <h4 class="heading">Profile</h4>
            <p class="mt-0">You create your Aleeph profile (a complete profile helps you get the most from our services
                <br> You have choices about the information on your profile, such as your education, work experience, skills,
                photo, city or area and endorsements. You don’t have to provide additional information on your profile; however,
                profile information helps you to get more from our services, including helping recruiters and business opportunities
                find you. It’s your choice whether to include sensitive information on your profile and to make that sensitive
                information public. Please do not post or add personal data to your profile that you would not want to be
                publicly available.</p>

            <h4 class="heading">Posting and Uploading</h4>
            <p class="mt-0">You give other data to us, such as by syncing your address book or calendar.
                <br> We collect personal data from you when you provide, post or upload it to our Services, such as when you
                fill out a form (e.g., with demographic data or salary), respond to a survey, or submit a resume. If you
                opt to import your address book, we receive your contacts (including contact information your service provider(s)
                or app automatically added to your address book when you communicated with addresses or numbers not already
                in your list).</p>

            <p>If you sync your contacts or calendars with our Services, we will collect your address book and calendar meeting
                information to keep growing your network by suggesting connections for you and others, and by providing information
                about them, e.g. times, places, attendees and contacts.
                <br> You don’t have to post or upload personal data; though if you don’t, it may limit your ability to grow and
                engage with your network over our Services.</p>


            <p>
                <span>1.2 Data From Others</span>
            </p>

            <h4 class="heading">Content and News(Others may post or write about you)</h4>
            <p class="mt-0">You and others may post content that includes information about you (as part of articles, posts, comments, videos)
                on our Services. Unless you opt-out, we collect public information about you, such as professional-related
                news and accomplishments (e.g., patents granted, professional recognition, conference speakers, projects,
                etc.) and make it available as part of our Services (e.g. suggestions for your profile). Contact and Calendar
                Information
                <br> Others may sync their contacts or calendar with our Services.
                <br> We receive personal data (including contact information) about you when others import or sync their contacts
                or calendar with our Services, associate their contacts with Member profiles, or send messages using our
                Services (including invites or connection requests). If you or others opt-in to sync email accounts with
                our Services, we will also collect “email header” information that we can associate with Member profiles.</p>

            <h4 class="heading">Partners</h4>
            <p class="mt-0">Customers and employers) may provide data to us.
                <br> We receive personal data about you when you use the services of our customers and employers, prospective
                employers and applicant tracking systems providing us job application data.
                <br>
                <strong> Related Companies and Other Services</strong>
                <br> We receive data about you when you use some of the other services provided by us. </p>



            <p>
                <span>1.3 Service Use</span>
            </p>

            <h4 class="heading">We log your visits and use of our Services</h4>
            <p class="mt-0">We log usage data when you visit or otherwise use our Services, including our sites and platform technologies
                (e.g., our off-site plugins) such as when you view or click on content, perform a search, share articles
                or apply for jobs. We use log-ins, cookies, and internet protocol (“IP”) addresses to identify you and log
                your use.</p>


            <p>
                <span>1.4 Cookies, Web Beacons and Other Similar Technologies </span>
            </p>

            <h4 class="heading">We collect data through cookies and similar technologies</h4>
            <p class="mt-0">As further described in our Cookie Policy, we use cookies and similar technologies (e.g., web beacons, pixels)
                to recognize you and/or your device(s) on, off and across different Services and devices. We also allow some
                others to use cookies as described in our Cookie Policy. You can control cookies through your browser settings
                and other tools. You can also opt-out from our use of cookies and similar technologies that track your behavior
                on the sites of others for third party advertising. </p>



            <p>
                <span>1.5 Your Device and Location</span>
            </p>

            <h4 class="heading">We receive data from your devices and networks, including location data</h4>
            <p class="mt-0">When you visit or leave our Services (including our plugins or cookies or similar technology on the sites of
                others), we receive the URL of both the site you came from and the one you go to next. We also get information
                about your IP address, proxy server, operating system, web browser and add-ons, device identifier and features,
                and/or ISP or your mobile carrier. If you use our Services from a mobile device, that device will send us
                data about your location based on your phone settings. We will ask you to opt-in before we use GPS or other
                tools to identify your precise location.</p>


            <p>
                <span>1.6 Messages (If you communicate through our Services, we learn about that)</span>
            </p>
            <p class="mt-0">We collect information about you when you send, receive, or engage with messages in connection with our Services.
                For example, if you get a Aleeph connection request, we track whether you have acted on it and will send
                you reminders. We also use automatic scanning technology on messages.</p>

            <p>
                <span>1.7 Workplace Provided Information(When your employer buys a premium Service for you to use, they give us
                    data about you)</span>
            </p>
            <p class="mt-0">Others buying our Services for your use, such as your employer provide us with personal data about you and your
                eligibility to use the Services that they purchase for use by their workers, or alumni. For example, we will
                get contact information for “Company Page” administrators and for authorizing users of our premium Services,
                such as our recruiting, sales or learning products.</p>

            <p>
                <span>1.8 Sites and Services of Others(We get data when you visit sites that include our plugins, ads or cookies
                    or log-in to others’ services with your Aleeph account)</span>
            </p>
            <p class="mt-0">We receive information about your visits and interaction with services provided by others when you log-in with
                Aleeph or visit others’ services that include our plugins (such as “Share on Aleeph” or “Apply with Aleeph”),
                ads, cookies or similar technologies.</p>


            <p>
                <span>1.9 Other(We are improving our Services, which means we get new data and create new ways to use data)</span>
            </p>
            <p class="mt-0">Our Services are dynamic, and we often introduce new features, which may require the collection of new information.
                If we collect materially different personal data or materially change how we use your data, we will notify
                you and may also modify this Privacy Policy.</p>


            <p class="heading">2. How We Use Your Data</p>
            <p>We use your data to provide, support, personalize and develop our Services.
                <br> How we use your personal data will depend on which Services you use, how you use those Services and the
                choices you make in your settings. We use the data that we have about you to provide and personalize, including
                with the help of automated systems and inferences we make, our Services (including ads) so that they can
                be more relevant and useful to you and others.</p>

            <p>
                <span>2.1 Services</span>
            </p>
            <p>We use your data to authorize access to our Services.</p>
            <p>Our Services help you connect with others, find and be found for work and business opportunities, stay informed,
                get training and be more productive.</p>


            <h4 class="heading">Stay Connected</h4>
            <p>Our Services allow you to stay in touch and up to date with colleagues, partners, clients, and other professional
                contacts. To do so, you will “connect” with the professionals who you choose, and who also wish to “connect”
                with you. Subject to your settings, when you connect with other Members, you will be able to search each
                other’s connections in order to exchange professional opportunities.
                <br> We will use data about you (such as your profile, profiles you have viewed or data provided through address
                book uploads or partner integrations) to help others find your profile, suggest connections for you and others
                (e.g. Members who share your contacts or job experiences) and enable you to invite others to become a Member
                and connect with you. You can also opt-in to allow us to use your precise location or proximity to others
                for certain tasks (e.g. to suggest other nearby Members for you to connect with, calculate the commute to
                a new job, or notify your connections that you are at a professional event).
                <br> It is your choice whether to invite someone to our Services, send a connection request, or allow another
                Member to become your connection. When you invite someone to connect with you, your invitation will include
                your name, photo, network and contact information. We will send invitation reminders to the person you invited.
                You can choose whether or not to share your own list of connections with your connections.Visitors have choices
                about how we use their data.</p>

            <h4 class="heading">Stay Informed</h4>
            <p>Our Services allow you to stay informed about news, events and ideas regarding professional topics you care about,
                and from professionals you respect. Our Services also allow you to improve your professional skills, or learn
                new ones. We use the data we have about you (e.g., data you provide, data we collect from your engagement
                with our Services and inferences we make from the data we have about you), to recommend relevant content
                and conversations on our Services, suggest skills you may have to add to your profile and skills that you
                might need to pursue your next opportunity. So, if you let us know that you are interested in a new skill,
                we will use this information to personalize content in your feed, suggest that you follow certain members
                on our site, or watch related learning content to help you towards that new skill. We use your content, activity
                and other data, including your name and picture, to provide notices to your network and others. For example,
                subject to your settings, we may notify others that you have updated your profile, posted a blog, took a
                social action, made new connections.</p>


            <h4 class="heading">Career</h4>
            <p>Our Services allow you to explore careers, evaluate educational opportunities, and seek out, and be found for,
                career opportunities. Your profile can be found by those looking to hire (for a job or a specific task) or
                be hired by you. We will use your data to recommend jobs or mentees, show you and others who work at a company,
                in an industry, function or location or have certain skills and connections. You can signal that you are
                interested in changing jobs and share information with job recruiters. We will use your data to recommend
                jobs to you and you to recruiters. We use automated systems to profile and provide recommendations to help
                make our Services more relevant to our Members, Visitors and customers. Keeping your profile accurate and
                up-to-date may help you better connect to others and to opportunities through our Services.</p>

            <h4 class="heading">Productivity</h4>
            <p>Our Services allow you to collaborate with colleagues, search for potential clients, customers, partners and
                others to do business with. Our Services allow you to communicate with other Members and schedule and prepare
                meetings with them. If your settings allow, we scan messages to provide “bots” or similar tools that facilitate
                tasks such as scheduling meetings, drafting responses, summarizing messages or recommending next steps.</p>


            <p>
                <span>2.2 Premium Services</span>
            </p>
            <p>Our premium Services allow paying users to search for and contact Members through our Services, such as searching
                for and contacting job candidates, sales leads and co-workers, manage talent and promote content through
                social media.</p>
            <p>We sell premium Services that provide our customers and subscribers customized-search functionality and tools
                (including messaging and activity alerts) as part of our talent, marketing and sales solutions. Customers
                can export limited information from your profile, such as name, headline, current company, current title,
                and general location, in order to manage sales leads or talent, unless you opt-out. A premium Services customer
                can store information he/she has about you in our premium Services, such as a resume or contact information
                or sales history. The data provided about you by these customers is subject to the policies of those customers.</p>



            <p>
                <span>2.3 Communications</span>
            </p>
            <p>We contact you and enable communications between Members. We offer settings to control what messages you receive
                and how often you receive some types of messages.</p>
            <p>We will contact you through email, mobile phone, notices posted on our websites or apps, messages to your Aleeph
                inbox, and other ways through our Services, including text messages and push notifications. We will send
                you messages about the availability of our Services, security, or other service-related issues. We also send
                messages about how to use the Services, network updates, reminders, job suggestions and promotional messages
                from us and our partners. You may change your communication preferences at any time. Please be aware that
                you cannot opt-out of receiving service messages from us, including security and legal notices.
                <br> We also enable communications between you and others through our Services, including for example invitations,
                InMail, groups and messages between connections.</p>


            <p>
                <span>2.4 Advertising</span>
            </p>
            <p class="mb-0">We serve you tailored ads both on and off our Services. We offer you choices regarding personalized ads, but
                you cannot opt-out of seeing other ads.
                <br> We target (and measure the performance of) ads to Members, Visitors and others both on and off our Services
                directly or through a variety of partners, using the following data, whether separately or combined:</p>

            <ul>
                <li>
                    <span>Data from advertising technologies on and off our Services, like web beacons, pixels, ad tags, cookies,
                        and device identifiers;</span>
                </li>
                <li>
                    <span>Member-provided information (e.g., profile, contact information, title and industry);</span>
                </li>
                <li>
                    <span>Data from your use of our Services (e.g., search history, feed, content you read, who you follow or is
                        following you, connections, groups participation, page visits, videos you watch, clicking on an ad,
                        etc.), including as described in Section 1.3;</span>
                </li>

                <li>
                    <span>nformation from advertising partners and publishers;</span>
                </li>
                <li>
                    <span>Information inferred from data described above (e.g., using job titles from a profile to infer industry,
                        seniority, and compensation bracket; using graduation dates to infer age or using first names or
                        pronoun usage to infer gender).</span>
                </li>
            </ul>
            <p class="mt-0">We will show you ads called sponsored content which look similar to non-sponsored content, except that they are
                labeled “ads” or “sponsored.” If you take an action (such as like, comment or share) on these ads, your action
                is associated with your name and viewable by others, including the advertiser. </p>


            <h4 class="heading">Ad Choices</h4>
            <p class="mt-0">We adhere to self-regulatory principles for interest-based advertising and participate in industry opt-outs from
                such ads. This does not opt you out of receiving advertising; you will continue to get other ads by advertisers
                not listed with these self-regulatory tools. You can also opt-out specifically from our uses of certain categories
                of data to show you more relevant ads.</p>

            <h4 class="heading">Info to Ad Providers</h4>
            <p class="mt-0">We do not share your personal data with any third-party advertisers or ad networks for their advertising except
                for: (i) hashed or device identifiers (to the extent they are personal data in some countries); (ii) with
                your separate permission (e.g., lead generation form) or (iii) data already visible to any users of the Services
                (e.g. profile). However, if you view or click on an ad on or off our site or apps, the ad provider will get
                a signal that someone visited the page that displayed the ad, and they may through the use of mechanisms
                such as cookies determine it is you. Advertising partners can associate personal data collected by the advertiser
                directly from you with our cookies and similar technologies. In such instances, we seek to contractually
                require such advertising partners to obtain your explicit, opt-in consent before doing so.</p>

            <p>
                <span>2.5 Marketing</span>
            </p>
            <p>We promote our Services to you and others.
                <br> We use data and content about Members for invitations and communications promoting membership and network
                growth, engagement and our Services.</p>

            <p>
                <span>2.6 Developing Services and Research</span>
            </p>
            <p>We develop our Services and conduct research.</p>


            <h4 class="heading">Service Development</h4>
            <p class="mt-0">We use data, including public feedback, to conduct research and development for the further development of our
                Services in order to provide you and others with a better, more intuitive and personalized experience, drive
                membership growth and engagement on our Services, and help connect professionals to each other and to economic
                opportunity.</p>

            <h4 class="heading">Other Research</h4>
            <p class="mt-0">We seek to create economic opportunity for Members of the global workforce and to help them be more productive
                and successful. We use the personal data available to us to research social, economic and workplace trends
                such as jobs availability and skills needed for these jobs and policies that help bridge the gap in various
                industries and geographic areas. In some cases, we work with trusted third parties to perform this research,
                under controls that are designed to protect your privacy. We publish or allow others to publish economic
                insights, presented as aggregated data rather than personal data.</p>


            <h4 class="heading">Surveys</h4>
            <p class="mt-0">Polls and surveys are conducted by us and others through our Services. You are not obligated to respond to polls
                or surveys, and you have choices about the information you provide. You may opt-out of survey invitations.</p>


            <p>
                <span>2.7 Customer Support(24x7)</span>
            </p>
            <p>We use data to help you and fix problems.
                <br> We use the data (which can include your communications) to investigate, respond to and resolve complaints
                and Service issues (e.g., bugs).</p>

            <p>
                <span>2.8 Aggregate Insights</span>
            </p>
            <p>We use data to generate aggregate insights.
                <br> We use your data to produce and share aggregated insights that do not identify you. For example we may use
                your data to generate statistics about our members, their profession or industry, to calculate ad impressions
                served or clicked on, or to publish visitor demographics for a Service or demographic workforce insights.</p>





            <p class="heading">3. How We Share Information</p>

            <p>
                <span>3.1 Our Services</span>
            </p>
            <p>Any data that you include on your profile and any content you post or social action (e.g. likes, follows, comments,
                shares) you take on our Services will be seen by others.</p>


            <h4 class="heading">Profile</h4>
            <p class="mt-0">Your profile is fully visible to all Members and customers of our Services. Subject to your settings, it can
                also be visible to others on or off of our Services (e.g., Visitors to our Services or users of third- party
                search engines). As detailed in our Help Center, your settings, degree of connection with the viewing Member,
                the subscriptions they may have, their usage of our Services, access channels and search types (e.g., by
                name or by keyword) impact the availability of your profile and whether they can view certain fields in your
                profile.</p>

            <h4 class="heading">Posts, Likes, Follows, Comments, Messages</h4>
            <p class="m-0">Our Services allow viewing and sharing information including through posts, likes, follows and comments.</p>

            <ul>
                <li>
                    <span>When you share an article or a post (e.g., an update, image, video or article) publicly it can be viewed
                        by everyone and re-shared any where (subject to your settings). Members, Visitors and others will
                        be able to find and see your publicly-shared content, including your name (and photo if you have
                        provided one).</span>
                </li>

                <li>
                    <span> In a group, posts are visible to others in the group. Your membership in groups is public and part of
                        your profile, but you can change visibility in your settings.</span>
                </li>
                <li>
                    <span>Any information you share through companies’ or other organizations’ pages on our Services will be viewable
                        by it and others who visit those pages.</span>
                </li>

                <li>
                    <span> When you follow a person or organization, you are visible to others and that “page owner” as a follower.</span>
                </li>
                <li>
                    <span>We let senders know when you act on their message, subject to your settings where applicable.</span>
                </li>
                <li>
                    <span>Subject to your settings, we let a Member know when you view their profile.</span>
                </li>
                <li>
                    <span>When you like or re-share or comment on another’s content (including ads), others will be able to view
                        these “social actions” and associate it with you (e.g., your name, profile and photo if you provided
                        it).</span>
                </li>
            </ul>

            <h4 class="heading">Enterprise Accounts</h4>
            <p>Your employer may offer you access to our enterprise Services such as Recruiter, Sales Navigator, or our advertising
                Manager. Your employer can review and manage your use of such enterprise Services.
                <br> Depending on the enterprise Service, before you use such Service, we will ask for permission to share relevant
                data from your profile or use of our non-enterprise Services. For example, users of Sales Navigator will
                be asked to share their “social selling index”, a score calculated in part based on their personal account
                activity. We understand that certain activities such as job hunting and personal messages are sensitive,
                and so we do not share those with your employer unless you choose to share it with them through our Services
                (for example, by applying for a new position in the same company or mentioning your job hunting in a message
                to a co-worker through our Services).</p>

            <p>
                <span>3.2 Communication Archival</span>
            </p>
            <p>Regulated Members may need to store communications outside of our Service. Some Members (or their employers)
                need, for legal or professional compliance, to archive their communications and social media activity, and
                will use services of others to provide these archival services. We enable archiving of messages by those
                Members outside of our Services. For example, a financial advisor needs to archive communications with her
                clients through our Services in order to maintain her professional financial advisor license.</p>

            <p>
                <span>3.3 Others’ Services</span>
            </p>
            <p>You may link your account with others’ services so that they can look up your contacts’ profiles, post your shares
                on such platforms, or start conversations with your connections on such platforms. Excerpts from your profile
                will also appear on the services of others. Subject to your settings, other services may look-up your profile.
                When you opt to link your account with other services, personal data will become available to them. The sharing
                and use of that personal data will be described in, or linked to, a consent screen when you opt to link the
                accounts. For example, you may link your Facebook, Twitter, Aleeph, Google, Instagram account to share content
                from our Services into these other services, or your email provider may give you the option to upload your
                Aleeph contacts into its own service. You may revoke the link with such accounts.
                <br> Subject to your settings, excerpts from your profile will appear on the services of “Old” profile information
                remains on these services until they update their data cache with changes you made to your profile.</p>


            <p>
                <span>3.4 Related Services</span>
            </p>
            <p>We share your data across our different Services and Aleeph-affiliated entities.
                <br> We will share your personal data with our affiliates to provide and develop our Services. We may combine
                information internally across the different Services covered by this Privacy Policy to help our Services
                be more relevant and useful to you and others. Aleeph will recommend better content to you based on your
                Aleeph profile or the articles you read on the Aleeph Services, and we can personalize your feed or job recommendations
                based on your history, because we are able to identify you across different Services using cookies or similar
                technologies.</p>

            <p>
                <span>3.5 Service Providers</span>
            </p>
            <p>We may use others to help us with our Services.
                <br> We use others to help us provide our Services (e.g., maintenance, analysis, audit, payments, fraud detection,
                marketing and development). They will have access to your information as reasonably necessary to perform
                these tasks on our behalf and are obligated not to disclose or use it for other purposes.</p>

            <p>
                <span>3.6 Legal Disclosures</span>
            </p>
            <p>We may need to share your data when we believe it’s required by law or to help protect the rights and safety
                of you, us or others. It is possible that we will need to disclose information about you when required by
                law, subpoena, or other legal process or if we have a good faith belief that disclosure is reasonably necessary
                to (1) investigate, prevent, or take action regarding suspected or actual illegal activities or to assist
                government enforcement agencies; (2) enforce our agreements with you, (3) investigate and defend ourselves
                against any third-party claims or allegations, (4) protect the security or integrity of our Service (such
                as by sharing with companies facing similar threats); or (5) exercise or protect the rights and safety of
                Aleeph, our Members, personnel, or others. We attempt to notify Members about legal demands for their personal
                data when appropriate in our judgment, unless prohibited by law or court order or when the request is an
                emergency. We may dispute such demands when we believe, in our discretion, that the requests are overbroad,
                vague or lack proper authority, but we do not promise to challenge every demand. To learn more see our Data
                Request Guidelines and Transparency Report.</p>
            <p>
                <span>3.7 Change in Control or Sale</span>
            </p>
            <p>
                We may share your data when our business is sold to others, but it must continue to be used in accordance with this Privacy
                Policy. We can also share your personal data as part of a sale, merger or change in control, or in preparation
                for any of these events. Any other entity which buys us or part of our business will have the right to continue
                to use your data, but only in the manner set out in this Privacy Policy unless you agree otherwise.</p>


            <p class="heading">Your Choices & Obligations</p>

            <p>
                <span>4.1 Data Retention</span>
            </p>
            <p>We keep most of your personal data for as long as your account is open.
                <br> We retain your personal data while your account is in existence or as needed to provide you Services. This
                includes data you or others provided to us and data generated or inferred from your use of our Services.
                Even if you only use our Services when looking for a new job every few years, we will retain your information
                and keep your profile open until you decide to close your account. In some cases we choose to retain certain
                information (e.g., visits to sites carrying our “share with Aleeph” or “apply with Aleeph” plugins without
                clicking on the plugin) in a depersonalized or aggregated form.</p>


            <p>
                <span>4.2 Rights to Access and Control Your Personal Data</span>
            </p>
            <p>You can access or delete your personal data. You have many choices about how your data is collected, used and
                shared. We provide many choices about the collection, use and sharing of your data, from deleting or correcting
                data you include in your profile and controlling the visibility of your posts to advertising opt-outs and
                communication controls. We offer you settings to control and manage the personal data we have about you (please
                contact us).
                <br> For personal data that we have about you:</p>

            <ul>
                <li>
                    <strong>Delete Data: </strong>
                    <span>You can ask us to erase or delete all or some of your personal data (e.g., if it is no longer necessary
                        to provide Services to you).</span>
                </li>
                <li>
                    <strong>Change or Correct Data: </strong>
                    <span>You can edit some of your personal data through your account. You can also ask us to change, update or
                        fix your data in certain cases, particularly if it’s inaccurate.</span>
                </li>
                <li>
                    <strong>Object to, or Limit or Restrict, Use of Data: </strong>
                    <span>You can ask us to stop using all or some of your personal data (e.g., if we have no legal right to keep
                        using it) or to limit our use of it (e.g., if your personal data is inaccurate or unlawfully held).</span>
                </li>

                <li>
                    <strong>Right to Access and/or Take Your Data: </strong>
                    <span>You can ask us for a copy of your personal data and can ask for a copy of personal data you provided
                        in machine readable form.</span>
                </li>
            </ul>

            <p class="mt-0">Visitors can learn more about how to make these requests here. You may also contact us using the contact information
                below, and we will consider your request in accordance with applicable laws.
                <br>
            </p>
            <p class="margin">
                <strong>
                    <i class="fa fa-phone"></i>
                </strong>&nbsp;&nbsp;
                <a href="tel:01202427451" class="email">0120-2427451, </a>
                <a href="tel:01202427452" class="email">0120-2427452</a>
            </p>
            <p class="margin">
                <strong>
                    <i class="fa fa-envelope"></i>
                </strong>&nbsp;&nbsp;
                <a href="mailto:info@aleehph.io" class="email">info@aleeph.io</a>
            </p>

        </div>
    </div>
    <!-- /container -->
</div>
<!--/End Page Content Start-->