@import '../we.scss';
/* Slider */
.slider {
    position: relative;
    overflow: hidden;
    padding: 0;
    margin-top: 4.75rem;

    .main-banner {
        width: 100%;
    }
    .we-heading {
        text-align: center;
    }

    // &::before{
    //   content:'';
    //   display: block;
    //   padding-top:56.25%;
    // }
    // iframe{
    //   width:100%;
    //   height:100%;
    //   bottom:0;
    //   top:0;
    //   left:0;
    //   position: absolute;
    // }
} /* /slider */
