   <!-- Start Slider -->
   <div class="slider">
    <!-- <iframe src="https://www.youtube.com/embed/LXb3EKWsInQ?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> -->

    <img src="../../../../../content/images/we/Banner-We-Page.jpg" alt="we-team" class="main-banner">
 </div><!-- /slider -->