<!--Full Page Title Header Start-->
<div class="slider">
  <h4>Copyright Policy</h4>
</div>
<!--/End Full Page Title Header Start-->

<!--Page Content Start-->
<div class="data-policy">
  <div class="container">
    <div class="complaints">
      <p class="heading">Complaints regarding content posted on the InsyghtAI website</p>
      <p>InsyghtAI respects the intellectual property rights of others and desires to offer a platform which contains no content
        that violates those rights. Our User Agreement requires that information posted by Members be accurate, lawful and
        not in violation of the rights of third parties. To promote these objectives, InsyghtAI provides a process for submission
        of complaints concerning content posted by our Members. Our policy and procedures are described and/or referenced
        in the sections that follow.</p>
      <p>Please note that whether or not we disable access to or remove content, InsyghtAI may make a good faith attempt to forward
        the written notification, including the complainant’s contact information, to the Member who posted the content and/or
        take other reasonable steps to notify the Member that InsyghtAI has received notice of an alleged violation of intellectual
        property rights or other content violation. It is also our policy, in appropriate circumstances and in our discretion,
        to disable and/or terminate the accounts of Members, or groups as the case may be, who infringe or repeatedly infringe
        the rights of others or otherwise post unlawful content.</p>
      <p>Please note that any notice or counter-notice you submit must be truthful and must be submitted under penalty of perjury.
        A false notice or counter-notice may give rise to personal liability. You may therefore want to seek the advice of
        legal counsel before submitting a notice or a counter-notice.</p>
    </div>
    <!-- /complaints -->

    <div class="claims">
      <p class="heading">Claims regarding copyright infringement</p>

      <h4 class="heading">Notice of Copyright Infringement:</h4>
      <p>Pursuant to the Indian Copyright Act 1957, InsyghtAI has implemented procedures for receiving written notification of
        claimed infringements.</p>

      <ol class="notice">
        <li>An electronic or physical signature of the person authorized to act on behalf of the owner of the copyright interest;</li>
        <li>A description of the copyrighted work that you claim has been infringed;</li>
        <li>A description specifying the location on our website of the material that you claim is infringing;</li>
        <li>Your email address and your mailing address and/or telephone number;</li>
        <li>A statement by you that you have a good faith belief that the disputed use is not authorized by the copyright owner,
          its agent, or the law; </li>
        <li>A statement by you, made under penalty of perjury, that the information in your notice is accurate and that you are
          the copyright owner or authorized to act on the copyright owner’s behalf.</li>
      </ol>
    </div>
    <!-- /claims -->

    <div class="counter">
      <h4 class="heading">Counter-Notice</h4>

      <p>If you believe that a notice of copyright infringement has been improperly submitted against you, you may submit a
        Counter-Notice, or otherwise provide a written communication which contains:</p>
      <ol>
        <li>Your physical or electronic signature;</li>
        <li>Identification of the material removed or to which access has been disabled;</li>
        <li>A statement under penalty of perjury that you have a good faith belief that removal or disablement of the material
          was a mistake or that the material was misidentified;</li>
      </ol>

    </div>
    <!-- /counter -->
    <div class="claims">
      <p class="heading">Claims regarding content other than copyright infringement</p>
      <p>For issues other than copyright infringement please visit our Help Center where you’ll find information on how to flag
        and report other types of content violations. Learn more:</p>

      <ul>
        <li>
          <span>Reporting Inappropriate Content, Messages, or Safety Concerns</span>
        </li>
        <li>
          <span>InsyghtAI's Trademark Policy</span>
        </li>
        <li>
          <span>InsyghtAI's False Profile Policy</span>
        </li>
      </ul>

      <p>Notice regarding Associated Press content on InsyghtAI: Associated Press text, photo, graphic, audio and/or video material
        shall not be published, broadcast, rewritten for broadcast or publication or redistributed directly or indirectly
        in any medium. </p>
    </div>
    <!-- /claims -->

  </div>
  <!-- /container -->
</div>
<!--/End Page Content Start-->