@import '../../../../../content/scss/global.scss';

.left-navbar {
    width: 11.9rem;
    position: fixed;
    z-index: 99;
    background: $dark-gray-color;
    text-align: center;
    height: 100%;
    overflow: auto;
    // margin-right: 14px;
    // padding-right: 28px; /*This would hide the scroll bar of the right. To be sure we hide the scrollbar on every browser, increase this value*/
    //padding-bottom: 15px; /*This would hide the scroll bar of the bottom if there is one*/

    .brand {
        padding: 1rem 0;
    }
    .hireNG {
        padding: 0.75rem 0;
        background-color: $black-color;
        position: relative;

        .unfill_circle {
            position: absolute;
            width: 6.7rem;
            height: 6.7rem;
            border-radius: 50%;
            border: 0.44rem solid $dark-gray-color;
            top: 48%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        canvas {
            transform: rotate(270deg);
            border-radius: 50%;
        }
        .score-rate {
            position: absolute;
            top: 50%;
            left: 50%;
            font-size: 1.5rem;
            color: #8985b1;
            border-radius: 50%;
            transform: translate(-50%, -50%);
            background: $black-color;

            h1 {
                margin: 0;
                font-size: 2rem;
            }
            p {
                padding: 0;
                font-size: 0.75rem;
            }
        }
    }
    .navi {
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            li .active {
                background: $gray-color;
                &:before {
                    content: '';
                    width: 0.19rem;
                    height: 100%;
                    background: linear-gradient(to bottom, $pink-color, $dark-pink-color);
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }
            li {
                position: relative;

                a {
                    border-bottom: 0.0625rem solid $gray-color;
                    border-top: 0.0625rem solid $dark-gray-color;
                    color: #ffffff;
                    display: block;
                    font-size: 0.94rem;
                    font-weight: 500;
                    padding: 1.25rem 0;
                    text-decoration: none;

                    &:hover {
                        background: $gray-color;
                        border-bottom: 0.0625rem solid $gray-color;
                        border-top: 0.0625rem solid $dark-gray-color;
                        &:before {
                            content: '';
                            width: 0.19rem;
                            height: 100%;
                            background: linear-gradient(to bottom, $pink-color, $dark-pink-color);
                            position: absolute;
                            top: 0;
                            left: 0;
                        }
                    } /* /hover */
                } /* /a */
            } /* /li */
        } /* /ul */
    } /* /navi */

    .rating-box {
        width: 85%;
        background: $gray-color;
        padding: 0.625rem;
        @include borderRounded(0.625rem);
        font-size: 0.75rem;
        text-align: left;
        color: $white-color;
        margin: 1.25rem auto;

        img {
            margin-top: -0.25rem;
        }
        span {
            float: right;
        }
        p {
            font-size: 0.75rem;
        }
    } /* /rating-box */

    .status-bar {
        color: $white-color;
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        p {
            text-align: left;
            font-size: 0.75rem;
            span {
                float: right;
                color: $blue-color;
                font-size: 0.875rem;
                margin-top: -0.125rem;
            }
        }

        .progress-b {
            width: 100%;
            height: 0.25rem;
            background: $gray-color;
            position: relative;

            #strate_progress_bar {
                position: absolute;
                left: 0;
                top: 0;
            }
        }
    }

    footer {
        width: 100%;
        color: $light-gray-color;
        font-size: 0.75rem;
        padding-top: 1rem;
        margin: 0 auto;
        ul {
            padding: 0;
        }
        li {
            list-style: none;
            width: 48%;
            float: left;
            &:last-child {
                float: right;
                border-left: 0.0625rem solid $light-gray-color;
            }
        }
        a {
            color: $light-gray-color;
        }
        p.copyright {
            font-size: 0.7rem;
        }
    }

    .progress {
        width: 7.5rem;
        height: 7.5rem !important;
        line-height: 7.5rem;
        background: transparent !important;
        margin: 0 auto;
        box-shadow: none;
        position: relative;

        &:after {
            content: '';
            width: 100%;
            height: 100%;
            border-radius: 50%;
            border: 0.375rem solid $gray-color;
            position: absolute;
            top: 0;
            left: 0;
        }
        .progress-bar {
            width: 100%;
            height: 100%;
            background: none;
            border-width: 0.375rem;
            border-style: solid;
            position: absolute;
            top: 0;
        }

        .progress-right {
            right: 0;
            .progress-bar {
                left: -100%;
                border-top-left-radius: 5rem;
                border-bottom-left-radius: 5rem;
                border-right: 0;
                -webkit-transform-origin: center right;
                transform-origin: center right;
                animation: loading-1 1.8s linear forwards;
            }
        }

        .progress-left {
            left: 0;

            .progress-bar {
                left: 100%;
                border-top-right-radius: 5rem;
                border-bottom-right-radius: 5rem;
                border-left: 0;
                -webkit-transform-origin: center left;
                transform-origin: center left;
                animation: loading-4 0.4s linear forwards 1.8s;
            }
        }

        .progress-value {
            width: 90%;
            height: 90%;
            border-radius: 50%;
            background: $black-color;
            font-size: 1.5rem;
            color: #8985b1;
            line-height: 1.375rem;
            text-align: center;
            position: absolute;
            top: 5%;
            left: 5%;
            padding-top: 1.5rem;

            h1 {
                margin: 0;
                font-size: 2rem;
            }
            p {
                padding: 0;
                font-size: 0.75rem;
            }
        }
    }

    .progress > span {
        width: 50%;
        height: 100%;
        overflow: hidden;
        position: absolute;
        top: 0;
        z-index: 1;
    }
    .progress.pink .progress-bar {
        border-color: #d8014d;
    }

    @keyframes loading-1 {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
        }
    }
    @keyframes loading-2 {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(144deg);
            transform: rotate(144deg);
        }
    }
    @keyframes loading-3 {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
        }
    }
    @keyframes loading-4 {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(36deg);
            transform: rotate(72deg);
        }
    }
    @keyframes loading-5 {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(126deg);
            transform: rotate(126deg);
        }
    }
} /* /left-navbar */
::-webkit-scrollbar {
    width: 0 !important;
}
::-webkit-scrollbar-track-piece {
    background: #f0f5f8;
    width: 0 !important;
}
::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 0.3125rem 0 gray;
    background: #cbcbcb;
    border-radius: 0;
    width: 0 !important;
}
a.disabled {
    pointer-events: none;
    cursor: default;
}
a:not([href]):hover {
    text-decoration: underline;
    cursor: pointer;
}
