<div class="left-navbar">
  <div class="brand">
    <a>
      <img src="../../../../../content/images/dashboard/logo.png">
    </a>
  </div>
  <div class="hireNG">
    <!-- <img src="images/hireNG.png"> -->
    <div class="unfill_circle"></div>
    <canvas #scoreLabal width="120" height="120"></canvas>
    <div class="score-rate">
      <h1>
        <span #score_rate>4</span>/10</h1>
      <p>Hire NG Score</p>
    </div>
  </div>
  <!-- /hireNG -->
  <div class="navi">
    <ul>
      <!-- <li>
        <a>
          <span>Live Streaming</span>
        </a>
      </li> -->
      <li *ngFor='let tab of sideTabs'>
        <a routerLink="{{tab.routerLink}}" routerLinkActive="active" [class.disabled]="tab.disableStatus ? true : null">
          <span class="d-none d-md-block">{{tab.name}}</span>
        </a>
      </li>
    </ul>
  </div>
  <!-- /navi -->

  <div class="rating-box">
    <p class="heading">Rating</p>
    <p>
      <img src="../../../../../content/images/dashboard/star.png"> Social
      <span>7/10</span>
    </p>
    <p>
      <img src="../../../../../content/images/dashboard/star.png"> Behavioural
      <span>7/10</span>
    </p>
    <p>
      <img src="../../../../../content/images/dashboard/star.png"> Employee
      <span>7/10</span>
    </p>
  </div>
  <!-- /rating-box -->

  <div class="status-bar">
    <p class="heading">Profile Status <span>%</span><span id="strate_rate" #strateRate>70</span></p>
    <div class="progress-b">
      <canvas #strateProgressBar id="strate_progress_bar" width="160" height="4"></canvas>
    </div>
    <!-- /progress-bar -->
  </div>
  <!-- /status-bar -->
  <footer>
    <ul>
      <li>
        <a routerLink="/privacy-policy" target="_blank">Privacy Policy</a>
      </li>
      <li>
        <a (click)="openContactUs()">Contact Us</a>
      </li>
    </ul>
    <p class="copyright">
      @Aleeph Advisiors Pvt Ltd.
    </p>
    <!-- /copyright -->
  </footer>
</div>
<!-- /left-navbar -->