@import '../../../../../content/scss/global';
/* For Map PopUps */

#how-it-works {
    padding-top: 2.5rem;
    background: $color-white;
    width: 100%;
    .work-container {
        max-width: 57.5rem;
        margin: 0 auto;
        padding-bottom: 2.5rem;

        @include respons(view-767) {
            width: 70%;

            @include respons(view-480) {
                width: 90%;
                .unord {
                    img {
                        width: 70%;
                    }
                }
            }
            @include respons(view-360) {
                .unord {
                    img {
                        width: 90%;
                    }
                }
            }

            .ord {
                order: 1;
                padding: 0 !important;
            }
            .unord {
                padding: 0 !important;
                order: 2;
                text-align: center;

                img {
                    float: none !important;
                }
            }
        }
    }
    .row {
        margin-top: 2.5rem;
        .col-md-6:first-child {
            padding-right: 4.69rem;
        }
        .col-md-6:last-child {
            padding-left: 4.69rem;
        }
    }
    p.hero-text {
        font-size: 2.19rem;
        font-weight: bold;
        color: $heading-color;
        text-transform: uppercase;
        margin-top: 2.5rem;

        @include respons(view-533) {
            font-size: 1.87rem;
        }
    }
    p.sub-heading {
        font-size: 1.25rem;
        font-weight: 350;
        color: $color-gray;
        margin: 0;
        font-weight: 500;
        @include respons(view-480) {
            font-size: 0.87rem;
        }
    }

    h1.heading {
        margin-top: 3.75rem;
        color: $heading-color;
        font-size: 1.875rem;
        font-weight: bold;
        @include respons(view-480) {
            font-size: 1.25rem;
            margin-top: 2.5rem;
        }
    }
    p {
        color: $color-gray;
        font-size: 0.94rem;
        margin-top: 1.875rem;
        @include respons(view-480) {
            font-size: 0.87rem;
        }
    }
} /* /how it works */
