<section class="devise">
	<article class="block3">
		<aside class="container">
			<h1 class="feature-title" align="center">Features</h1>
			<div class="row">
				<div class="col-md-11 offset-md-1">
					<div class="feature-image">
						<div class="leaf-1 leaf-margin-1 leaf-animation-1">
							<div class="img-1">
								<img src="../../../../../assets/img/device/1.png" class="img-fluid">
							</div>
							<div class="img-text-1">
								<h3>Audio/Video Profiling</h3>
								<p>Create and upload your vitae with an analytical beginning, middle and end through audio aur video.</p>
							</div>
						</div>
						<div class="leaf-1 leaf-2 leaf-animation-2">
							<div class="img-1">
								<img src="../../../../../assets/img/device/2.png" class="img-fluid">
							</div>
							<div class="img-text-1">
								<h3>profile scoring</h3>
								<p>Contemporary algorithms will rate your profile based on multiple parameters and benchmarks.</p>
							</div>
						</div>
						<div class="leaf-1 leaf-3 leaf-animation-3">
							<div class="img-1">
								<img src="../../../../../assets/img/device/3.png" class="img-fluid">
							</div>
							<div class="img-text-1">
								<h3>forensic check</h3>
								<p>Considering background screening an essential component to identify the aptness, Aleeph meticulously examines the
									social activeness of the aspirants.</p>
							</div>
						</div>
						<div class="leaf-1 leaf-4 leaf-animation-4">
							<div class="img-1">
								<img src="../../../../../assets/img/device/4.png" class="img-fluid">
							</div>
							<div class="img-text-1">
								<h3>HCI analytics</h3>
								<p>HCI analytics will help the enterprises to create a data-driven approach to understand the behavior of the aspirants.</p>
							</div>
						</div>
						<div class="leaf-1 leaf-5 leaf-animation-5">
							<div class="img-1">
								<img src="../../../../../assets/img/device/5.png" class="img-fluid">
							</div>
							<div class="img-text-1">
								<h3>24 * 7 Customer support</h3>
								<p>Aleeph is available round the clock to help you with precise solutions regarding your inquiries.</p>
							</div>
						</div>
						<div class="leaf-1 leaf-6 leaf-animation-6">
							<div class="img-1">
								<img src="../../../../../assets/img/device/6.png" class="img-fluid">
							</div>
							<div class="img-text-1">
								<h3>live interview</h3>
								<p>Enhance the productivity, subtract the time and analyze the best-fit talent with the hassle-free online interviews
									in real time.</p>
							</div>
						</div>
						<div class="leaf-1 leaf-7 leaf-animation-7">
							<div class="img-1">
								<img src="../../../../../assets/img/device/7.png" class="img-fluid">
							</div>
							<div class="img-text-1">
								<h3>solution in 90 seconds</h3>
								<p>Identifying the issues regarding the orthodox approach of talent management and offering definite solutions within
									90 seconds.</p>
							</div>
						</div>
						<div class="leaf-1 leaf-8 leaf-animation-8">
							<div class="img-1">
								<img src="../../../../../assets/img/device/8.png" class="img-fluid">
							</div>
							<div class="img-text-1">
								<h3>live omen support</h3>
								<p>Ask queries and get unblemished assistance in real time.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</aside>
	</article>
</section>