$font-stack: 'SamsungSharpSans', Arial, Helvetica, sans-serif;
$primary-color: #8c8a85;
$background: #fff;
$text-color: #5e6263;
$font-size: 20px;
$line-height: 40px;
$margin: 0px 15px;
$margin-left: auto;
$border-radius: 10px;
$left: 200px;
$btn_padding: 6px 20px;
$btn-size: 16px;
$background_carousel: #f7f8fa;
$display: none;
$padding: 0;
$carousel-caption-height: 500px;
$h2: 50px;
$p: 15px;
$margin-top: 30px;
$text-align: left;
$float: left;
$float-right: right;
$text-align-right: right;
$width: 100%;
$absolute: absolute;

.devise {
    background: #f9fafc;
}
.devise .block1,
.devise .block2,
.devise .block3,
.devise block4 {
    padding: 50px 0 0 0;
}
.devise .box-device {
    text-align: center;
    padding: 25px;
}
.devise .box-device h2 {
    color: #707070;
    text-align: center;
    text-transform: uppercase;
    font-size: 42px;
    font-weight: bold;
    margin-top: 25px;
}
.devise .red {
    background: #ffc3bf;
}
.devise .blue {
    background: #c3f3fa;
}
.devise .yellow {
    background: #ffecb4;
}
.devise .box-device2 {
    box-shadow: 10px 9px 25px #eee;
    min-height: $carousel-caption-height - 20px;
}
.devise .box-device2 p {
    padding: 25px;
    font-size: $font-size - 2px;
    line-height: $line-height - 12px;
    color: #595959;
    text-align: justify;
}
.devise .box-device.dark-yellow {
    background: #ffda2c;
}
.devise .box-device.dark-blue {
    background: #45dff4;
}
.devise .box-device.dark-red {
    background: #ff6458;
}

/* device block 2 css */
.devise .block2 h1 {
    position: relative;
    font-size: 42px;
    color: #434343;
    margin-bottom: 25px;
    letter-spacing: 0px;
}
.devise .block2 p.tec-aci-text {
    font-size: 18px;
    line-height: 28px;
    margin-top: $carousel-caption-height - 280px;
}

/* device block 3 css */

.devise .block3 h1 {
    position: relative;
    font-size: 50px;
    color: #0f6597;
    margin-bottom: 55px;
    text-transform: uppercase;
}

/* device block 4 css */

.devise .block4 h1 {
    position: relative;
    font-size: 50px;
    color: #0f6597;
    margin: 80px 0 55px 0;
    text-transform: uppercase;
}

.devise .block4 .red-box {
    background: #c13927;
    border-radius: 100px 10px 100px 10px;
    height: $carousel-caption-height - 343px;
    width: $width;
    display: table-cell;
    vertical-align: middle;
    padding: 50px;
    margin-bottom: $carousel-caption-height - 420px;
}
.devise .block4 .red-box p {
    color: $background;
    font-size: $font-size - 4px;
}

.devise .block4 .blue-box {
    background: #106a9e;
    border-radius: 100px 10px 100px 10px;
    height: $carousel-caption-height - 343px;
    width: $width;
    display: table-cell;
    vertical-align: middle;
    padding: $margin-top + 20px;
    margin-bottom: $margin-top + 50px;
}
.devise .block4 .blue-box p {
    color: $background;
    font-size: 16px;
}
.dot {
    margin-left: -52px;
    margin-top: $margin-top + 40px;
    margin-right: -58px;
    position: relative;
    z-index: 1;
}
.devise .block3 h1.feature-title {
    margin-bottom: 150px;
}
.margin-bottom {
    margin-bottom: $margin-top - 20px;
}

.feature-image {
    background: url(../../../../../assets/img/device/feature.png);
    height: auto;
    background-repeat: no-repeat;
    display: inline-block;
    width: 100%;
    background-size: 45% 90%;
}

.img-1 {
    height: 75px;
    width: 75px;
    margin-top: 5px;
    margin-left: 15px;
    display: inline-block;
    float: left;
}
.img-text-1 {
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
    width: 78%;
    float: none;
}
.leaf-1 {
    height: $carousel-caption-height - 415px;
    width: 48%;
    border-radius: 50px;
    margin-left: $carousel-caption-height - 320px;
    background: #dd80a5; /* Old browsers */
    background: -moz-linear-gradient(top, #ff84d5 0%, #ff6fce 52%, #ec54b8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ff84d5 0%, #ff6fce 52%, #ec54b8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ff84d5 0%, #ff6fce 52%, #ec54b8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dd80a5', endColorstr='#fb0f69',GradientType=0 ); /* IE6-9 */
}
.leaf-2 {
    margin-left: $carousel-caption-height - 160px;
    margin-top: 4px;
    background: #f5c42b; /* Old browsers */
    background: -moz-linear-gradient(top, #2bf393 1%, #10a960 53%, #149959 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #2bf393 1%, #10a960 53%, #149959 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #2bf393 1%, #10a960 53%, #149959 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5c42b', endColorstr='#fcb015',GradientType=0 ); /* IE6-9 */
}
.leaf-3 {
    margin-left: $carousel-caption-height - 90px;
    margin-top: 4px;
    background: #f4931a; /* Old browsers */
    background: -moz-linear-gradient(top, #f8d8bd 1%, #ff8d29 53%, #ff7800 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #f8d8bd 1%, #ff8d29 53%, #ff7800 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #f8d8bd 1%, #ff8d29 53%, #ff7800 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4931a', endColorstr='#f35d22',GradientType=0 ); /* IE6-9 */
}
.leaf-4 {
    margin-left: $carousel-caption-height - 60px;
    margin-top: 5px;
    background: #d15ba5; /* Old browsers */
    background: -moz-linear-gradient(top, #47c1ff 2%, #0996df 54%, #117eb6 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #47c1ff 2%, #0996df 54%, #117eb6 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #47c1ff 2%, #0996df 54%, #117eb6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d15ba5', endColorstr='#ab2a91',GradientType=0 ); /* IE6-9 */
}
.leaf-5 {
    margin-left: $carousel-caption-height - 60px;
    margin-top: 5px;
    background: #6758a2; /* Old browsers */
    background: -moz-linear-gradient(top, #6758a2 0%, #6b5bc1 54%, #6c5dd5 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #6758a2 0%, #6b5bc1 54%, #6c5dd5 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #6758a2 0%, #6b5bc1 54%, #6c5dd5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6758a2', endColorstr='#6c5dd5',GradientType=0 ); /* IE6-9 */
}
.leaf-6 {
    margin-left: $carousel-caption-height - 90px;
    margin-top: 5px;
    background: #00abc9; /* Old browsers */
    background: -moz-linear-gradient(top, #92fff7 0%, #23d1c5 54%, #23d1c5 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #92fff7 0%, #23d1c5 54%, #23d1c5 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #92fff7 0%, #23d1c5 54%, #23d1c5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00abc9', endColorstr='#00a6a5',GradientType=0 ); /* IE6-9 */
}
.leaf-7 {
    margin-left: $carousel-caption-height - 160px;
    margin-top: 5px;
    background: #a9cb35; /* Old browsers */
    background: -moz-linear-gradient(top, #a9cb35 1%, #7fc440 55%, #68bc45 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #a9cb35 1%, #7fc440 55%, #68bc45 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #a9cb35 1%, #7fc440 55%, #68bc45 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9cb35', endColorstr='#68bc45',GradientType=0 ); /* IE6-9 */
}
.leaf-8 {
    margin-left: $carousel-caption-height - 300px;
    margin-top: 5px;
    background: #91c4e0; /* Old browsers */
    background: -moz-linear-gradient(top, #91c4e0 1%, #4eb0e8 55%, #0c99e8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #91c4e0 1%, #4eb0e8 55%, #0c99e8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #91c4e0 1%, #4eb0e8 55%, #0c99e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#91c4e0', endColorstr='#0c99e8',GradientType=0 ); /* IE6-9 */
}
.leaf-margin-1 {
    margin-top: $carousel-caption-height - 600px;
}
.leaf-1 h3 {
    color: #000;
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 2px;
}
.leaf-1 p {
    color: #111;
    font-size: 11px;
    letter-spacing: 0.3px;
    line-height: 17px;
}
.leaf-1 {
    -moz-animation: bounce 3s infinite;
    -webkit-animation: bounce 3s infinite;
    animation: bounce 3s infinite;
}
.leaf-1.leaf-animation-1 {
    animation-delay: 0.2s;
    -webkit-animation-delay: 0.2s;
}
.leaf-1.leaf-animation-2 {
    animation-delay: 0.3s;
    -webkit-animation-delay: 0.3s;
}
.leaf-1.leaf-animation-3 {
    animation-delay: 0.4s;
    -webkit-animation-delay: 0.4s;
}
.leaf-1.leaf-animation-4 {
    animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
}
.leaf-1.leaf-animation-5 {
    animation-delay: 0.6s;
    -webkit-animation-delay: 0.6s;
}
.leaf-1.leaf-animation-6 {
    animation-delay: 0.7s;
    -webkit-animation-delay: 0.7s;
}
.leaf-1.leaf-animation-7 {
    animation-delay: 0.8s;
    -webkit-animation-delay: 0.8s;
}
.leaf-1.leaf-animation-8 {
    animation-delay: 0.9s;
    -webkit-animation-delay: 0.9s;
}
@-moz-keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -moz-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(-16px);
        transform: translateY(-16px);
    }
    60% {
        -moz-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}
@-webkit-keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-16px);
        transform: translateY(-16px);
    }
    60% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}
@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(-16px);
        -ms-transform: translateY(-16px);
        -webkit-transform: translateY(-16px);
        transform: translateY(-16px);
    }
    60% {
        -moz-transform: translateY(-8px);
        -ms-transform: translateY(-8px);
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}

@media (max-width: 1080px) {
    .feature-image {
        background-size: 55%;
    }
    .leaf-1 {
        height: $carousel-caption-height - 415px;
        margin-left: 200px;
    }
    .img-text-1[_ngcontent-c4] {
        display: inherit;
        margin-top: 6px;
        margin-left: 10px;
        width: auto;
        float: inherit;
    }

    .leaf-1 h3 {
        padding: 5px 0 0 90px;
        font-size: 16px;
    }
    .leaf-1 p {
        padding: 1px 0 0 90px;
        font-size: 11px;
        line-height: 17px;
    }
    .leaf-1.leaf-2 {
        margin-top: 5px;
        margin-left: 350px;
    }
    .leaf-1.leaf-3 {
        margin-top: 5px;
        margin-left: 430px;
    }
    .leaf-1.leaf-4 {
        margin-top: 10px;
        margin-left: 455px;
    }
    .leaf-1.leaf-5 {
        margin-top: 10px;
        margin-left: 455px;
    }
    .leaf-1.leaf-6 {
        margin-top: 20px;
        margin-left: 430px;
    }
    .leaf-1.leaf-7 {
        margin-top: 20px;
        margin-left: 360px;
    }
}
@media (max-width: 850px) {
    .feature-image {
        background-size: 70%;
        margin-left: -100px;
    }

    .leaf-1 {
        margin-left: $carousel-caption-height - 310px;
        height: $carousel-caption-height - 415px;
    }
    .leaf-1 h3 {
        font-size: 14px;
        padding: 10px 15px 0 10px;
    }
    .leaf-1 p {
        font-size: 11px;
        line-height: normal;
        letter-spacing: 0;
        padding: 1px 0 0 10px;
    }
    .leaf-1.leaf-2 {
        margin-left: $carousel-caption-height - 170px;
        margin-top: 2px;
    }
    .leaf-1.leaf-3 {
        margin-left: $carousel-caption-height - 100px;
        margin-top: 2px;
    }
    .leaf-1.leaf-4 {
        margin-left: $carousel-caption-height - 70px;
        margin-top: 2px;
    }
    .leaf-1.leaf-5 {
        margin-left: $carousel-caption-height - 70px;
        margin-top: 2px;
    }
    .leaf-1.leaf-6 {
        margin-left: $carousel-caption-height - 100px;
        margin-top: 2px;
    }
    .leaf-1.leaf-7 {
        margin-left: $carousel-caption-height - 170px;
        margin-top: 2px;
    }
    .leaf-1.leaf-8 {
        margin-left: $carousel-caption-height - 310px;
        margin-top: 0px;
    }
    .collapse.navbar-collapse.show {
        height: 175px;
        opacity: 1;
        transition: 2s;
        margin-top: 14px;
        border-top: 1px solid #e8e6e6;
        padding-top: 10px;
    }
    .btn-primary.btn-right {
        float: right;
    }
    .mymenu ul {
        width: 100%;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1191px) {
    .devise .block2 p.tec-aci-text {
        margin-top: $margin-top + 138px;
    }
    .img-text-1 {
        display: block;
        margin-top: 10px;
        margin-left: 10px;
        width: 97%;
        float: none;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .dot {
        display: none;
    }
    .devise .box-device2 {
        min-height: $margin-left;
    }
    .devise .box-device2 {
        margin-bottom: $margin-top + 15px;
    }
    .devise .block2 p.tec-aci-text {
        margin-top: $margin-top + 20px;
    }
    .img-text-1 {
        display: block;
        margin-top: 10px;
        margin-left: 10px;
        width: 97%;
        float: none;
        padding-right: 5px;
    }
}
@media (max-width: 767px) {
    .dot {
        display: none;
    }
    .devise .block4 .red-box,
    .devise .block4 .blue-box {
        margin-bottom: $margin-top - 5px;
    }
    .devise .block2 p.tec-aci-text {
        margin-top: $margin-top + 20px;
    }
    .devise .block4 .red-box,
    .devise .block4 .blue-box {
        height: $margin-left;
    }
    .devise .box-device2 {
        margin-bottom: $margin-top + 15px;
    }
    .devise .block4 h1 {
        font-size: $font-size + 12px;
    }
    .feature-image {
        background-size: 0%;
        height: auto;
        margin-left: 0px;
    }
    .block3 .feature-image {
        margin-bottom: 0;
    }
    .leaf-1 {
        margin-left: 0;
        width: 100%;
    }
    h1 {
        letter-spacing: 0px;
    }
    .leaf-1 h3 {
        font-size: 18px;
    }
    .leaf-1 p {
        font-size: 13px;
        line-height: 17px;
        letter-spacing: 0.1px;
        width: 99%;
    }
    .leaf-1.leaf-2 {
        margin-left: 0px;
        margin-top: 5px;
    }
    .leaf-1.leaf-3 {
        margin-left: 0px;
        margin-top: 5px;
    }
    .leaf-1.leaf-4 {
        margin-left: 0px;
        margin-top: 5px;
    }
    .leaf-1.leaf-5 {
        margin-left: 0px;
        margin-top: 5px;
    }
    .leaf-1.leaf-6 {
        margin-left: 0px;
        margin-top: 5px;
    }
    .leaf-1.leaf-7 {
        margin-left: 0px;
        margin-top: 5px;
    }
    .leaf-1.leaf-8 {
        margin-left: 0px;
        margin-top: 5px;
    }
    .img-text-1 {
        margin-top: 0px;
    }
}

@media (max-width: 450px) {
    .leaf-1 h3 {
        font-size: 15px;
        padding-top: 5px;
    }
    .leaf-1 p {
        font-size: 12px;
        line-height: normal;
        letter-spacing: 0px;
        width: 98%;
    }
    .img-text-1 {
        display: block;
        margin-top: 10px;
        margin-left: 10px;
        width: 97%;
    }
}
@media (max-width: 374px) {
    .leaf-1 {
        height: 85px;
    }
    .leaf-1 h3 {
        font-size: 14px;
    }

    .leaf-1 p {
        font-size: 11px;
        line-height: normal;
        letter-spacing: 0;
        width: 98%;
    }
    .img-text-1 {
        display: block;
        margin-top: 10px;
        margin-left: 10px;
        width: 97%;
        float: none;
    }
}
