@import '../../../../content/scss/global';

.pop {
    padding: 0.625rem;
    h4 {
        color: $heading-color;
        font-size: 0.94rem;
        font-weight: bold;
        margin: 0;
        text-transform: uppercase;
        margin-top: 0.44rem;
    }
    p {
        color: $color-gray;
        font-size: 0.94rem;
        margin: 0;
        margin-top: 0.625rem;
    }
    img {
        float: left;
        width: 1.87rem;
        height: 1.87rem;
        margin-right: 0.625rem;
    }
} /* .pop */

footer {
    width: 100%;
    background: #f4f4f4;
    padding-top: 3.75rem;

    .content {
        width: 98%;
        max-width: 57.5rem;
        margin: 0 auto;
    }
    ul {
        float: left;
        margin-top: 0.625rem;
        @include respons(view-991) {
            width: 33.33%;
        }
        @include respons(view-360) {
            width: 100%;
        }
        li a {
            font-size: 0.75rem;
            color: $color-gray;
            @include respons(view-533) {
                font-size: 0.87rem;
            }
            &:hover {
                color: $color-red;
            }
        }
    }
    ul.third {
        @include respons(view-991) {
            float: right;
        }
    }
    ul.second {
        margin: 0.625rem 20%;

        @include respons(view-991) {
            margin: 0.625rem 0%;
        }
    }
    .sc-padding {
        @include respons(view-991) {
            margin-top: 1.87rem;
        }
    }

    h4 {
        text-transform: uppercase;
        font-size: 0.75rem;
        color: $heading-color;
        font-weight: bold;
        @include respons(view-533) {
            font-size: 0.87rem;
        }
    } /* heading */
    ul.social-icon {
        width: 100%;
        float: left;
        margin-top: 0.625rem;
        li {
            display: inline;
            padding-left: 8%;
            cursor: pointer;
            &:nth-of-type(1) {
                padding-left: 0;
            }
            a {
                width: 1rem;
                height: 1rem;
                display: inline-block;
            }
            a.facebook {
                background: url('../../../../content/images/home/mat-icons/facebook.png') no-repeat center center;
                background-size: contain;
            }
            a.facebook:hover {
                background: url('../../../../content/images/home/mat-icons/facebook-active.png') no-repeat center center;
                background-size: contain;
            }

            a.twitter {
                background: url('../../../../content/images/home/mat-icons/twitter.png') no-repeat center center;
                background-size: contain;
            }
            a.twitter:hover {
                background: url('../../../../content/images/home/mat-icons/twitter-active.png') no-repeat center center;
                background-size: contain;
            }
            a.linkedin {
                background: url('../../../../content/images/home/mat-icons/linkedin.png') no-repeat center center;
                background-size: contain;
            }
            a.linkedin:hover {
                background: url('../../../../content/images/home/mat-icons/linkedin-active.png') no-repeat center center;
                background-size: contain;
            }
            a.youtube {
                background: url('../../../../content/images/home/mat-icons/youtube.png') no-repeat center center;
                background-size: contain;
            }
            a.youtube:hover {
                background: url('../../../../content/images/home/mat-icons/youtube-active.png') no-repeat center center;
                background-size: contain;
            }
            a.instagram {
                background: url('../../../../content/images/home/mat-icons/instagram.png') no-repeat center center;
                background-size: contain;
            }
            a.instagram:hover {
                background: url('../../../../content/images/home/mat-icons/instagram-active.png') no-repeat center center;
                background-size: contain;
            }
            a.google-plus {
                background: url('../../../../content/images/home/mat-icons/google-plus.png') no-repeat center center;
                background-size: contain;
                width: 1.5rem !important;
            }
            a.google-plus:hover {
                background: url('../../../../content/images/home/mat-icons/google-plus-active.png') no-repeat center center;
                background-size: contain;
            }
        }
    } /* /social-icon */

    .footer-logo {
        background: url(../../../../content/images/home/new-home/footer-logo.png) no-repeat;
        width: 10.94rem;
        float: left;
        text-indent: 62.5rem;
        height: 3.12rem;
        transition: all 0.2s;
        overflow: hidden;
        margin-top: 0.625rem;
        margin-bottom: 1.87rem;
        &:hover {
            background: url(../../../../content/images/home/new-home/logo.png) no-repeat;
        }
    }
    .copyright {
        hr {
            width: 80%;
            @include respons(view-1199) {
                width: 95%;
            }
        }
        p {
            font-size: 0.75rem;
            color: #878787;
            .material-icons {
                font-size: 0.8rem;
            }
        }
    } /* /copyright */
} /* /footer */
a {
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}

// Start button for go back to top
.back-top {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    position: fixed;
    bottom: 0;
    right: 2rem;
    opacity: 0;
    transition: all ease-out 0.3s;
    cursor: pointer;
    img {
        width: 100%;
        opacity: 0.6;
    }
    &:hover {
        img {
            opacity: 1;
        }
        box-shadow: 0 0 0.75rem 0 rgba(0, 0, 0, 0.4);
    } /* //hover */
}
/* // back-top */
.bt-top {
    opacity: 1;
    bottom: 4rem;
    transition: all 0.3s;
    @include respons(view-480) {
        bottom: 2rem;
        right: 1rem;
    }
}
