<!--Landing /pages common footer layout-->
<!--Start Footer-->
<footer>
  <div class="container">
    <div class="row content">
      <!--Footer Links Start-->
      <div class="col-lg-8">
        <h4>Company</h4>
        <!-- Links First Column Start-->
        <ul class="first list-unstyled">
          <li>
            <a routerLink="/page/terms-conditions">Terms &amp; Conditions</a>
          </li>
          <li>
            <a routerLink="/page/privacy-policy">Privacy Policy</a>
          </li>
          <li>
            <a routerLink="/page/support">Support</a>
          </li>
          <li>
            <a routerLink="/blogs">Blogs</a>
          </li>
          <li>
            <a routerLink="/page/faqs">FAQs</a>
          </li>
        </ul>
        <!--Links First Column End-->

        <!-- Links Second Column Start-->
        <ul class="second list-unstyled">
          <li>
            <a class="disable">Payment</a>
          </li>
          <li>
            <a routerLink="/page/careers">Careers</a>
          </li>
          <li>
            <a routerLink="/page/ads-choices">Ads Choices</a>
          </li>
          <li>
            <a routerLink="/page/cookie-policy">Cookie Policy</a>
          </li>
          <li>
            <a routerLink="/page/copyright-policy">Copyright Policy</a>
          </li>
        </ul>
        <!-- Links Second Column Start-->

        <!-- Links Third Column Start-->
        <ul class="list-unstyled third">
          <li>
            <a routerLink="/page/user-agreement">User Agreement</a>
          </li>
          <!-- click event binding to fragmentRouting method, with parameters (router_/page, frament_section) -->
          <li>
            <a routerLink="/we" (click)="fragmentrouting('investors-relation')">Investors Relation</a>
          </li>
          <li>
            <a routerLink="/" (click)="fragmentrouting('our-accociates')">Associates</a>
          </li>
          <li>
            <a (click)="openContactUs()">Contact Us</a>
          </li>
        </ul>
        <!-- Links Third Column End-->
      </div>
      <!-- /col-md-8 -->
      <!--Footer Links End-->

      <!--Footer Social Media Links And Logo Start-->
      <div class="col-lg-4 sc-padding">
        <h4>Follow</h4>

        <ul class="social-icon list-unstyled">
          <!--Footer Social Media Links-->
          <li>
            <a href="https://www.facebook.com/AleephIndia/" class="facebook" target="_blank">
            </a>
          </li>
          <li>
            <a href="https://twitter.com/AleephAdvisors" class="twitter" target="_blank">
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/company/25037773/" class="linkedin" target="_blank">
            </a>
          </li>
          <li>
            <a href="https://www.youtube.com/channel/UCiILDQM8MHqlJFitLaIxj6g" class="youtube" target="_blank">
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/aleephindia/" class="instagram" target="_blank">
            </a>
          </li>
          <!--/Footer Social Media Links-->
          <!--Footer Logo-->
          <li>
            <a target="_blank" class="disable google-plus">
            </a>
          </li>
          <!--/Footer Logo-->
        </ul>
        <a class="footer-logo" routerLink="/" routerLinkActive="active"></a>
      </div>
      <!--/col-lg-4-->
      <!--Footer Social Media Links And Logo End-->
    </div>
    <!-- end row -->

    <!-- Start Copyright -->
    <div class="row">
      <div class="col-md-12 copyright">
        <hr>
        <p class="text-center">
          <mat-icon>copyright</mat-icon> Copyright 2018
          <a routerLink="/">insyght.ai</a> | All Rights Reserved.</p>
      </div>
      <!-- End Copyright -->
    </div>
  </div>
  <!-- end container -->
</footer>
<!--/End Footer-->

<!-- button for go back to top -->
<div class="back-top" id="top-btn">
  <img src="../../../../content/images/back-top.png">
</div>
<!-- /back-top -->
