<div id="schedule">
  <div class="scroll">
    <div class="box" *ngFor='let scheduleInterview of scheduleInterviews'>
      <div class="img">
       <a> <img src="{{scheduleInterview.candidateUrl}}"></a>
      </div>
      <div class="headings">
        <h4><a>{{scheduleInterview.candidateName}}</a></h4>
        <p>{{scheduleInterview.jobTitle}}</p>
        <span>{{scheduleInterview.candidateCity}},&nbsp;{{scheduleInterview.candidateCountry}}</span>
      </div>
      <p class="schedule">
        <strong>Schedule Interview:</strong> {{scheduleInterview.interviewDate}}
        <br>
        <span> {{scheduleInterview.interviewTime}}</span>
      </p>
      <p class="type">
        <strong>Interview Type:</strong> {{scheduleInterview.interviewType}}</p>
      <p class="salary">
        <strong>Salary:</strong> {{scheduleInterview.salaryMin}}&nbsp;{{scheduleInterview.salaryType}}&nbsp;to&nbsp;{{scheduleInterview.salaryMax}}&nbsp;{{scheduleInterview.salaryType}}</p>
      <hr>
      <div class="buttons">
        <button class="accept" (click)='openCancel()'>Cancel</button>
        <button class="reschedule" (click)='openReschedule()'>Reschedule</button>
      </div>
    </div>
  </div>
</div>