<!--Full Page Title Header Start-->
<div class="slider">
  <h4>Terms & Conditions</h4>
</div>
<!--/End Full Page Title Header Start-->

<!--Page Content Start-->
<div class="data-agreement" id="terms">
  <div class="container">
    <p>
      Aleeph Advisors India Private Limited
      <br> Registered Office: Suite No-205, H-160, Sector-63 Noida, Gautam Buddha Nagar, UP-201301
      <br> CIN: U93090UP2017PTC096125
      <br> Copyright © Aleeph Advisors India Private Limited
    </p>

    <p>These terms and conditions (“Terms of Use”) are an agreement between the Website Operator, Aleeph Advisors India Private
      Limited (“Aleeph”, “Us”, “We”, or, “Our”) and You, the visitor ("User", "You" or "Your"). This Agreement sets forth
      the general terms and conditions of Your use of the Aleeph Website [www.aleeph.io] and any of its products or services
      (“Website” or “Services”).</p>
    <p>This web page states the "Terms of Use" under which You may use, an online Service to post and search for, employment
      opportunities, job postings and resume services. These Terms of Use include the Aleeph privacy statement which is incorporated
      into these Terms of Use by reference. By using the Website, You are indicating Your acceptance to be bound by these
      Terms of Use, including the Aleeph privacy statement. </p>
    <p>This Website is created in the interest of the general public who shall have access to the contents of this Website.
      By accessing this Website and using its content, You acknowledge and agree that You have read and understood the Terms
      of Use and that You agree to be bound by them. Please note that Aleeph reserves the right to store information on a
      User’s computer in the form of “cookie” or similar file for purposes of modifying the Website to reflect the User’s
      preference.
    </p>
    <p>Aleeph may revise these Terms of Use at any time by posting an updated version to this Website. You should visit this
      page periodically to review the most current Terms of Use because they are binding on ‘You’. This Website is deemed
      to be in use when it is loaded in temporary or permanent memory of your computer.</p>

    <p class="heading">USE OF ALEEPH CONTENT</p>

    <p>Aleeph authorizes You, subject to these Terms of Use, to view the content available on or from www.aleeph.io and to access
      and use the Aleeph Websites and the Aleeph Content (as defined below) and to download and print a single copy of the
      content available on or from the Aleeph Websites solely for Your personal, non-commercial use provided that You also
      retain the clauses pertaining to all copyright and other proprietary notices contained on the materials.</p>
    <p>The contents of www.aleeph.io, and of all other Websites under Aleeph's control, whether partial or otherwise (www.aleeph.io
      and such other Websites are collectively referred to as the “Aleeph Websites”), such as designs, text, graphics, images,
      video, information, logos, button icons, software, audio files and other Aleeph content (collectively, “Aleeph Content”),
      are the exclusive property of Aleeph or its licensors and is protected by Indian and international copyright, trademark,
      and other laws. Unauthorized use of the Aleeph Content may violate these laws and/or applicable communications regulations
      and statutes, and is strictly prohibited. </p>
    <p>You must preserve all copyright, trademarks, service mark and other proprietary notices contained in the original Aleeph
      Content on any authorized copy You make of the Aleeph Content. You may not sell or modify the Aleeph Content or reproduce,
      display, publicly perform, distribute, or otherwise use the Aleeph Content in any way for any public or commercial
      purpose, in connection with products or Services that are not those of the Aleeph, in any other manner that is likely
      to cause confusion among consumers or that otherwise infringes Aleeph's intellectual property rights. Any violation
      of this provision will be dealt in strict manner.</p>

    <p class="heading">REPRESENTATION BY USER</p>
    <p>The User represents that the User is legally competent to enter into a binding legal contract per the terms of the Indian
      Contract Act 1872 and agrees to be bound by these Terms of Use.</p>
    <p>User must be 16 years of age or older to visit or use www.aleeph.io in any manner. By visiting www.aleeph.io or accepting
      these Terms of Use, You represent and warrant to Aleeph that You are 16 years of age or older, and that You have the
      right, authority and capacity to use the Website and agree to and abide by these Terms of Use. You also represent and
      warrant to Aleeph that You will use www.aleeph.io in a manner consistent with any and all applicable laws and regulations.
      As a minor if You wish to use or transact on Website, such use or transaction may be made by your legal guardian or
      parents on the Website. We reserve the right to terminate your membership and / or refuse to provide you with access
      to the Website if it is brought to Our notice or if it is discovered that You are under the age of 16 years.</p>


    <p class="heading">USER CONTENT AND SUBMISSIONS </p>

    <p>You are solely responsible for Your account information, content, messages or other information (“User Content”) that
      You submit, publish or display (“post”) on any Aleeph Website or transmit to other Users. By posting User Content to
      any Aleeph Websites, You automatically grant, and You represent and warrant that You have the right to grant, to Aleeph
      an irrevocable, perpetual, non-exclusive, fully paid, worldwide license to use, copy, perform, display, and distribute
      such User Content and to prepare derivative works of, or incorporate into other works, such User Content, and to grant
      and authorize sublicenses thereof.</p>
    <p>By posting User Content to any public or non-public area of any Aleeph Website, including message boards, forums, contests
      and chat rooms, You grant Aleeph and affiliates the loyalty-free, perpetual, irrevocable, sublicense able (through
      multiple tiers), non-exclusive right (including any moral rights) and license to use, reproduce, modify, adapt, publish,
      translate, create derivative works from, distribute, communicate to the public, perform and display the User Content
      (in whole or in part) worldwide and/or to incorporate it in other works in any form, media, or technology now known
      or later developed, for the full term of any rights that may exist in such content. You also warrant that the holder
      of any rights, including moral rights in such content, has completely and effectively waived all such rights and validly
      and irrevocably granted to You the right to grant the license stated above. You also permit any User to access, display,
      view, store and reproduce such User Content for personal use. Subject to the foregoing, the owner of such User Content
      placed in any Aleeph Website retains any and all rights that may exist in such User Content.</p>
    <p>You agree that any email sent by an employer to a jobseeker for any prospective job opportunity through the Website may
      be stored at the Aleeph account of the said jobseeker for at least a period of days, to enable the said jobseeker to
      access the email, as sent by the employer, to take a decision about the job offer.</p>
    <p>Aleeph acts as a passive conduit for the online distribution and publication of User Content and has no obligation to
      screen communications or information in advance and is not responsible for screening or monitoring User Content posted
      by Users. However, Aleeph may review and delete any User Content that, in the sole judgment of Aleeph, violates these
      Terms of Use, violates applicable laws, rules or regulations, is offensive or illegal or violates the rights of, harms
      or threatens the safety of the Users of any Aleeph Website.</p>

    <p class="heading">ACCOUNTS AND MEMBERSHIP</p>
    <p>If You create an account on the Website, You are responsible for maintaining the security of Your account and You are
      fully responsible for all activities that occur under the User account and any other actions taken in connection with
      it. Providing false contact information of any kind may result in the termination of Your account. </p>
    <p>You must immediately notify Us of any unauthorized use of Your account or any other breach of security. We will not be
      liable for any acts or omissions by You, including any damages of any kind incurred as a result of such acts or omissions.
      We may suspend, disable, or delete Your account (or any part thereof) if We determine that You have violated any provision
      of these Terms of Use or that Your conduct or content would tend to damage Our reputation and goodwill, or lead to
      a violation of the provisions of applicable law. We may block Your email address and internet protocol address to prevent
      further registration.</p>
    <p>On non-conformance by Users of any of the aforesaid Terms of Use as stated in this page or updated by Aleeph from time
      to time, Aleeph may in its sole discretion, restrict or terminate the offending User's ability to access the Aleeph
      Websites and determine whether to take any other actions or to remove or request the removal of the User Content. Aleeph
      has no liability or responsibility to Users for performance or non-performance of such activities. Additionally, Aleeph
      has the right to initiate appropriate proceedings against the offending User as per applicable law.</p>

    <p class="heading">PRIVACY</p>
    <p>We store and process Your Information including any sensitive financial information collected (as defined under the Information
      Technology Act, 2000), if any, on computers that may be protected by physical as well as reasonable technological security
      measures and procedures in accordance with Information Technology Act 2000 and Rules there under. If you object to
      Your Information being transferred or used in this way please do not use Website.</p>
    <p>We and our affiliates will share / sell / transfer / license / covey some or all of Your personal information with another
      business entity should We (or our assets) plan to merge with or are acquired by that business entity, or re-organization,
      amalgamation, restructuring of business or for any other reason whatsoever. Should such a transaction or situation
      occur, the other business entity or the new combined entity will be required to follow the privacy policy with respect
      to Your personal information. </p>
    <p>Once You provide Your information to Us, You provide such information to Us and our affiliate and We and our affiliate
      may use such information to provide You various Services with respect to Your transaction.
      <br> Notwithstanding User’s registration with National Do Not Call Registry (In Fully or Partly blocked category under
      National Customer Preference Register set up under Telecom Regulatory Authority of India), User hereby expresses his
      interest and accord its wilful consent to receive communication (including commercial communication) in relation to
      Aleeph’s Services. User further confirms that any communication, as mentioned hereinabove, shall not be construed as
      Unsolicited Commercial Communication under the TRAI guidelines and User has specifically opted to receive communication
      in this regard on the telephone number provided by the User.</p>

    <p class="heading">COMMUNICATIONS</p>
    <p>When You use the Website or send emails or provide other data, information or communication to Us, You agree and understand
      that You are communicating with Us through electronic records and You consent to receive communications via electronic
      records from Us periodically and as and when required. We may communicate with You by email or by such other mode of
      communication, electronic or otherwise.</p>

    <p class="heading">RESTRICTIONS ON USE OF ALEEPH WEBSITE</p>
    <p>The Website is a platform that Users utilize for taking services with respect to services provided by Aleeph and interact
      with one another for their transactions. Aleeph is not and cannot be a party to or control in any manner any transaction
      between the Website's Users. You agree, undertake and confirm that You shall not use the Website in any manner that:</p>


    <ul>
      <li>
        <span>is implicitly or explicitly offensive, such as User Content that engages in, endorses or promotes racism, bigotry,
          hatred or physical harm of any kind against any group or individual;</span>
      </li>
      <li>
        <span>harasses, incites harassment or advocates harassment of another group or individual;</span>
      </li>
      <li>
        <span>involves the transmission of “junk mail”, “chain letters” or unsolicited mass mailing or “spamming”;</span>
      </li>
      <li>
        <span>promotes or endorses false or misleading information or illegal activities or conduct that is abusive, threatening,
          obscene, defamatory or libellous;</span>
      </li>
      <li>
        <span>promotes or endorses an illegal or unauthorized copy of another person's copyrighted work, such as providing or making
          available pirated computer programs or links to them, providing or making available information to circumvent manufacture-installed
          copy-pro tect devices, or providing or making available pirated music or other media or links to pirated music
          or other media files;</span>
      </li>

      <li>
        <span>contains restricted or password only access pages, or hidden pages or images;</span>
      </li>
      <li>
        <span>displays or links to pornographic, indecent or sexually explicit material of any kind;</span>
      </li>
      <li>
        <span>provides or links to material that exploits people under the age of 16 in a sexual, violent or other manner, or solicits
          personal information from anyone under the age of 16;</span>
      </li>
      <li>
        <span>computer resource; threatens the unity, integrity, defence, security or sovereignty of India, friendly relations
          with foreign states, or public order or causes incitement to the commission of any cognisable offence or prevents
          investigation of any offence or is insulting any other nation;</span>
      </li>
    </ul>
    <p>provides instructional information about illegal activities or other activities prohibited by these Terms of Use, including
      without limitation, making or buying illegal weapons, violating someone's privacy, or provides or creates computer
      viruses or pirating any media; and solicits passwords or personal identifying information from other Users.</p>

    <p>Aleeph reserves the right in its sole discretion to investigate and take legal action against anyone who engages in any
      illegal or prohibited conduct or otherwise violates these Terms of Use, including without limitation, removing the
      User Content from the Aleeph Websites and/or terminating the offending User's ability to access the Aleeph Websites
      and/or use Aleeph Services. Aleeph may take any other action with respect to the User Content or User actions that
      it deems necessary or appropriate in its sole discretion if it believes it may create liability for Aleeph or may cause
      Aleeph to lose (in whole or in part) the Services of its ISPs or other service providers. </p>
    <p>Aleeph’s database shall not be used for any purpose other than as an employer seeking employees, including but not limited
      to advertising promotions, products, or Services to any resume holders, to make unsolicited phone calls or faxes or
      send unsolicited mail, email, or newsletters to resume holders or to contact any individual unless they have agreed
      to be contacted (where consent is required or, if express consent is not required, who has not informed You that they
      do not want to be contacted) or to source candidates or to contact job seekers or resume holders in regards to career
      fairs and business opportunities prohibited by these Terms of Use.</p>

    <p class="heading">SPECIFIC RESTRICTIONS ON USER </p>
    <p>The User acknowledges and affirms that he/she shall not: </p>

    <ul>
      <li>
        <span>transmit, post, distribute, store or destroy material, including without limitation to Aleeph’s Content, in violation
          of any applicable law or regulation, including but not limited to laws or regulations governing the collection,
          processing, or transfer of personal information, or in breach of Aleeph’s privacy policy;</span>
      </li>
      <li>
        <span>post any resume or apply for any job on behalf of another party without authorization from the concerned person to
          do so;</span>
      </li>
      <li>
        <span>defer any contact from an employer to any agent, agency, or other third party;</span>
      </li>
      <li>
        <span>set more than one copy of the same resume to public at a time;</span>
      </li>
      <li>
        <span>post any jobs on any Aleeph Website for any competitor of Aleeph or posting jobs or other content that contains links
          to any site com peting with Aleeph;</span>
      </li>
      <li>
        <span>post jobs or content on any Aleeph Website that contain any hyperlinks, email addresses, HTML Tags, “hidden” keywords
          or any keywords that are irrelevant to the job or are otherwise misleading contained in a job posting;</span>
      </li>
      <li>
        <span>use any Aleeph Website’s resume database for any purpose other than as an employer seeking employees, including but
          not limited to using the information in the resume database to sell or promote any products or Services;</span>
      </li>
      <li>
        <span>post or submit to any Aleeph Website any incomplete, false or inaccurate biographical information or information
          which is not Your own;</span>
      </li>
      <li>
        <span>send unsolicited mail or e-mail, making unsolicited phone calls or send unsolicited faxes regarding promotions and/or
          advertising of products or Services to a User of any Aleeph Website;</span>
      </li>
      <li>
        <span>delete or revise any material posted by any other person or entity;</span>
      </li>
      <li>
        <span>take any action that imposes an unreasonable or disproportionately large load on the Aleeph Website 's infrastructure;</span>
      </li>
      <li>
        <span>use any data mining, robots or similar data gathering or extraction methods. Notwithstanding anything to the contrary
          contained herein, use or attempt to use any engine, software, tool, agent or other device or mechanism (including
          without limitation to browsers, spiders, robots, avatars or intelligent agents) to navigate or search any Aleeph
          Website other than the search engine and search agents available from Aleeph on such Aleeph Website;</span>
      </li>
      <li>
        <span>attempt to decipher, decompile, disassemble or reverse engineer any of the software comprising or in any way making
          up a part of any Aleeph Website;</span>
      </li>
      <li>
        <span>aggregate, copy or duplicate in any manner any of the Aleeph Content or information available from any Aleeph Website
          including expired job postings, other than as permitted by these Terms of Use; </span>
      </li>
      <li>
        <span>frame or link to any of Aleeph Content or information available from any Aleeph Website;</span>
      </li>
      <li>
        <span>use the Aleeph’s Services for any unlawful purpose or any illegal activity, or post or submit any content, resume,
          or job posting that is defamatory, libellous, implicitly or explicitly offensive, vulgar, obscene, threatening,
          abusive, hateful, racist, discriminatory, of a menacing character or likely to cause annoyance, inconvenience,
          embarrassment, anxiety or could cause harassment to any person or include any links to pornographic, indecent or
          sexually explicit material of any kind, as determined by Aleeph’s discretion.</span>
      </li>

    </ul>
    <p>Aleeph also specifically prohibits any use/insertion of any of the User’s URL, web link, email address and website while
      posting any job on www.aleeph.io and all Users agree not to use/insert any of the User’s URL, web link, email address
      and website while posting any job on www.aleeph.io. The job posting and resume database features of www.aleeph.io may
      be used only for lawful purposes by individuals seeking employment and career information and employers seeking employees.</p>
    <p>Although Aleeph may, from time to time, monitor or review any facilities, if established or otherwise offered at the
      Website for discussions, chats, postings, transmissions, bulletin boards, and the like on the Website, Aleeph is under
      no obligation to do so and assumes no responsibility or liability arising from the content of any such locations nor
      for any error, defamation, libel, slander, omission, falsehood, obscenity, pornography, profanity, danger, or inaccuracy
      contained in any information contained within such locations on the Website. </p>
    <p>You are prohibited from posting or transmitting any unlawful, threatening, libellous, defamatory, obscene, scandalous,
      inflammatory, pornographic, or profane material or any material that could constitute or encourage conduct that would
      be considered a criminal offense, giving rise to civil liability, or otherwise violating any law. Aleeph will fully
      cooperate with any law enforcement authorities or court order requesting or directing Aleeph to disclose the identity
      of anyone posting any such information or materials on the Aleeph Website. You agree to indemnify Aleeph for all losses
      incurred by it due to any false, distorted, manipulated, defamatory, libellous, vulgar, obscene, fraudulent or misleading
      facts or otherwise objectionable averments made by You on the Website.</p>

    <p class="sub-heed">A job posting may not contain:</p>

    <ul>
      <li>
        <span>Any hyperlinks, other than those specifically authorized by Aleeph;</span>
      </li>
      <li>
        <span>Misleading, unreadable, or “hidden” keywords, repeated keywords or keywords that are irrelevant to the job opportunity
          being presented, as determined in Aleeph’s reasonable discretion;</span>
      </li>
      <li>
        <span>The names, logos or trademarks of unaffiliated companies other than those of Your information where expressly agreed
          by Aleeph;</span>
      </li>
      <li>
        <span>The names of colleges, cities, states, towns or countries that are unrelated to the posting;</span>
      </li>
      <li>
        <span>More than one job or job description, more than one location, or more than one job category, unless the product so
          allows;
        </span>
      </li>
      <li>
        <span>Inaccurate, false, or misleading information;</span>
      </li>
      <li>
        <span>Material or links to material that exploits people in a sexual, violent or other manner, or solicits personal information
          from anyone under 16 years.</span>
      </li>
    </ul>

    <p class="sub-heed">You may not use Your Aleeph job posting to:</p>

    <ul>
      <li>
        <span>Post jobs in a manner that does not comply with applicable local, national and international laws, including but
          not limited to laws relating to labour and employment, equal employment opportunity and employment eligibility
          requirements, data privacy, data access and use, and intellectual property;</span>
      </li>
      <li>
        <span>Post jobs that require citizenship of any particular country or lawful permanent residence in a country as a condition
          of employment, unless otherwise required in order to comply with law, regulations, executive order, or federal,
          state or local government contract;</span>
      </li>
      <li>
        <span>Post jobs that include any screening requirement or criterion in connection with a job posting where such requirement
          or criterion is not an actual and legal requirement of the posted job;</span>
      </li>
      <li>
        <span>Post jobs or other advertisements for competitors of Aleeph or post jobs or other content that contains links to
          any site competitive with Aleeph;
        </span>
      </li>
      <li>
        <span>Sell, promote or advertise products or Services;</span>
      </li>
      <li>
        <span>Post any business opportunity that requires an upfront or periodic payment or requires recruitment of other members,
          sub-distributors or sub-agents;</span>
      </li>
      <li>
        <span>Post jobs that are grossly harmful, harassing, blasphemous, defamatory, obscene, pornographic, paedophilic, libellous,
          invasive of another's privacy, hateful, or racially, ethnically objectionable, disparaging, relating or encouraging
          money laundering or gambling, or otherwise unlawful in any manner whatsoever, harm minors in any way;</span>
      </li>
      <li>
        <span>Advertise sexual Services or seek employees for jobs of a sexual nature;</span>
      </li>
      <li>
        <span>Request the use of human body parts or the donation of human parts, including, without limitation, reproductive Services
          such as egg donation and surrogacy;</span>
      </li>
      <li>
        <span>Endorse a particular political party, political agenda, political position or issue;</span>
      </li>
      <li>
        <span>Promote a particular religion;</span>
      </li>
      <li>
        <span>Post jobs located in countries subject to economic sanctions of the United States Government; and</span>
      </li>
      <li>
        <span>Except where allowed by applicable law, post jobs which require the applicant to provide information relating to
          his/her
          <ul>
            <li>
              <span>Racial or ethnic origin;</span>
            </li>
            <li>
              <span>Political beliefs;</span>
            </li>
            <li>
              <span>Philosophical or religious beliefs;</span>
            </li>
            <li>
              <span>Membership of a trade union;</span>
            </li>
            <li>
              <span>Physical or mental health;</span>
            </li>
            <li>
              <span>Sexual life;</span>
            </li>
            <li>
              <span>The commission of criminal offences or proceedings; or</span>
            </li>
            <li>
              <span>Age.</span>
            </li>
          </ul>
        </span>
      </li>
    </ul>

    <p>Aleeph reserves the right to remove any job posting or content from any Aleeph Website, which in the reasonable exercise
      of Aleeph’s discretion, does not comply with the above Terms of Use, or if any content is posted that Aleeph believes
      is not in the best interest of Aleeph and /or its Users.</p>


    <p class="heading">TERMS FOR EMPLOYERS
    </p>

    <p>Users who use the Website for their recruitments related requirements through their company profile will be able to showcase
      their company environment, policies & other important information, and engage jobseekers through the Aleeph Websites.
      <br> They will have sole responsibility of authorizing & managing the recruiters associated with their profile at their
      own discretion. </p>
    <p>You are responsible for maintaining the confidentiality of Your employer/user account, profile and passwords, as applicable.
      You may not share Your password or other account access information with any other party, temporarily or permanently,
      and You shall be responsible for all uses of Your Aleeph Website registrations and passwords, whether or not authorized
      by You. You agree to immediately notify Aleeph of any unauthorized use of Your employer account, profile, or passwords.</p>
    <p>Employers are solely responsible for their postings on Aleeph Websites. Aleeph is not to be considered to be an employer
      with respect to Your use of any Aleeph Websites and Aleeph shall not be responsible for any employment decisions, for
      whatever reason, made by any entity posting jobs on any Aleeph Websites.</p>
    <p>You understand and acknowledge that if You cancel Your employer account or Your employer account is terminated, all Your
      account information from Aleeph, including saved resumes, network contacts, and email mailing lists, will be marked
      as deleted and may be deleted from Aleeph's databases. Information may continue to be available for some period of
      time because of delays in propagating such deletion through Aleeph’s web servers.
      <br> In order to protect Our Users from commercial advertising or solicitation, Aleeph reserves the right to restrict the
      number of e-mails which an employer may send to Users to a number which Aleeph deems appropriate in its sole discretion.</p>

    <p>Candidate profiles derived from User Content may also be made available through the Website. Aleeph does not make any
      representations regarding the accuracy or validity of such derived works or their appropriateness for evaluation by
      employers. Derived profiles may vary significantly based on User Content.</p>

    <p class="heading">LINKS TO OTHER WEBSITES</p>
    <p>Although this Website may be linked to other websites, We are not, directly or indirectly, implying any approval, association,
      sponsorship, endorsement, or affiliation with any linked website, unless specifically stated herein. We are not responsible
      for examining or evaluating, and We do not warrant the offerings of, any businesses or individuals or the content of
      their websites. We do not assume any responsibility or liability for the actions, products, services and content of
      any other third parties. You should carefully review the legal statements and other conditions of use of any website
      which You access through a link from this Website. Your linking to any other off-site websites is at Your own risk.</p>

    <p class="heading">JURISDICTION</p>
    <p>Unless otherwise expressly set forth herein, Aleeph makes no representation that materials on this Website are appropriate
      or available for use in any location. Those who choose to access this Website do so on their own initiative and are
      responsible for compliance with local laws. </p>
    <p>No security or other product or Service is offered or will be sold in any jurisdiction in which such offer or solicitation,
      purchase or sale would be unlawful under the securities or other laws of such jurisdiction. Some products and Services
      may not be available in all jurisdictions. All disputes shall be subject to the exclusive jurisdiction of courts.</p>
    <p>Failure on the part of Aleeph to enforce any of the provisions hereof will not be construed to be a waiver of the rights
      vested in Aleeph to thereafter enforce such provisions. If any provision of these Terms of Use is held to be invalid,
      illegal or unenforceable, it will be enforced to the maximum extent possible, and the validity, legality and enforceability
      of the remaining provisions will not in any way be affected or impaired thereby.</p>
    <p>Aleeph reserves the right to expel Users and prevent their further access to the Aleeph Websites for violating the Terms
      of Use or applicable laws, rules or regulations and the right to remove User Content which is in violation of the Terms
      of Use, abusive, illegal, or disruptive. Aleeph reserves the right to archive the User content folders which were not
      being accessed for a period of months or more by the relevant users after its last access. In such event Users will
      be able to access the archived folders with minor limitations including but not limited to non-availability of the
      options to move to another folder, renew jobs associated with the said folders. </p>

    <p class="heading">NOTICE</p>
    <p>Notices under these Terms of Use may be given by Aleeph to the User in writing by delivering them to the last address
      given by the User. User may give notice to Aleeph by delivering them to the address mentioned on the Website. In the
      case of hand delivery, cable, telex, facsimile notices or electronic communication notices or instructions will be
      deemed days after posting or upon receipt as the case may be. Documents, which may be sent by electronic communication
      between the parties, may be in the form of an electronic mail, an electronic mail attachment, or in the form of an
      available download from the Website. Aleeph shall be deemed to have fulfilled any legal obligation to deliver to the
      User if any such document is sent via electronic delivery.</p>

    <p class="heading">MODIFICATION OF THESE TERMS OF USE</p>

    <p>Any addition, revision, amendment, cancellation or suspension shall be effective and binding on the Users. Aleeph may
      introduce new Services in relation to the Website from time to time. The existence and availability of the new Services
      will be notified on the Website as and when they become available and any revisions in the Terms of Use will take place
      in accordance with these Terms of Use.</p>
    <p>Aleeph may transfer or assign its rights and obligations under these Terms of Use to any Affiliate.</p>
    <p>Aleeph does not represent or guarantee the truthfulness, accuracy, or reliability of User Content or any other communications
      posted by Users or endorse any opinions expressed by Users. You acknowledge that any reliance on material posted by
      other Users will be at Your own risk.</p>

    <p class="heading">EVIDENCE OF TRANSACTIONS</p>
    <p>For any transaction which may be permitted by Aleeph from time to time, Aleeph’s own records of such transactions, maintained
      through computer systems or otherwise, shall be accepted as conclusive and binding for all purposes. The record of
      the transaction as generated from the systems of Aleeph shall be conclusive proof of the genuineness and accuracy of
      such transactions.</p>

    <p class="heading">MISCELLANEOUS</p>
    <p>Aleeph’s performance to this Agreement is subject to existing laws and legal process, and nothing contained in this Agreement
      is in derogation of Aleeph’s right to comply with governmental, court and law enforced directions relating to the use
      of this Website or information provided to/gathered by Aleeph vis-à-vis such use. </p>
    <p>In addition, Aleeph may also publish notices of general nature, which are applicable to all Users in a newspaper or on
      its Website. Such notices will have the same effect as a notice served individually to each User.</p>

    <p class="heading">DISCLAIMER WARRANTY </p>
    <p>Aleeph does not warrant that the Aleeph Website will operate error-free or that the Aleeph Website and its servers are
      free of computer viruses or other harmful mechanisms. If Your use of the Aleeph Website or the Aleeph Content results
      in the need for servicing or replacing equipment or data, Aleeph is not responsible for those costs. The Aleeph Website
      and Aleeph Content are provided on an "as is" basis without any warranties of any kind. Aleeph, to the fullest extent
      permitted by law, disclaims all warranties, whether express or implied, including the warranty of merchantability,
      fitness for particular purpose and non-infringement. Aleeph makes no warranties about the accuracy, reliability, completeness,
      or timeliness of the Aleeph Content, Services, software, text, graphics, and links. Certain links on the Website lead
      to resources located on servers maintained by third parties over whom Aleeph has no control or connection, business
      or otherwise as these sites are external to Aleeph You agree and understand that by visiting such sites You are beyond
      the Aleeph’s Website. Aleeph therefore neither endorses nor offers any judgement or warranty and accepts no responsibility
      or liability for the authenticity/availability of any of the goods/services/or for any damage, loss or harm, direct
      or consequential or any violation of local or international laws that may be incurred by your visit and/or transaction/s
      on these sites.</p>

    <p class="heading">INDEMNITY</p>

    <p>You shall indemnify and hold harmless Aleeph, its owner, licensee, affiliates, subsidiaries, group companies (as applicable)
      and their respective officers, directors, agents, and employees, from any claim or demand, or actions including reasonable
      attorneys' fees, made by any third party or penalty imposed due to or arising out of Your breach of this Terms of Use,
      privacy Policy and other Policies, or Your violation of any law, rules or regulations or the rights (including infringement
      of intellectual property rights) of a third party.</p>

    <p class="heading">LIMITATION OF LIABILITY</p>

    <p>In no event shall Aleeph be liable for any special, indirect, incidental or consequential damages whatsoever including
      punitive or exemplary (including, but not limited to, damages caused by any virus, personal injury, loss of profits,
      data or other intangible, business interruption, loss of privacy, or any other pecuniary loss), arising out of or in
      any way connected with the use/delivery/performance of this Website, with the delay or inability to use this Website
      or any links or items on the Website, the provision of or failure to provide services, or for any information, software,
      products, services and related graphics obtained through this Website, or otherwise arising out of the use of this
      Website, whether based on contract, tort, strict liability or otherwise, or for cost of procurement of substitute goods
      and repair & correction services or resulting from the use of this Website or obtained or messages received or transactions
      entered into through or from the Website or resulting from unauthorized access to or alteration of your transmissions
      or data, even if we have been advised of the possibility of such damages.</p>
    <p>You agree that We shall not be liable for any damages arising from interruption, suspension or termination of the Website,
      including but not limited to direct, indirect, incidental, special, consequential or exemplary damages, whether such
      interruption, suspension or termination was justified or not, negligent or intentional, inadvertent or advertent. Applicable
      law may not allow the limitation or exclusion of liability or incidental or consequential damages. However, in no event
      shall our liability to you for all damages, losses and causes of action (whether in contract or tort, including but
      not limited to, negligence) exceed the amount paid by You, if any, for accessing the Website.</p>

    <p class="heading">APPLICABLE LAW</p>
    <p>Terms of Use shall be governed by and interpreted and construed in accordance with the laws of India.</p>

    <p class="heading">CONTACT INFORMATION</p>
    <p>You authorize Aleeph to call, send SMS and email on the contact number and email ID (made available by You on Our Website
      with a specific request to call back) and offer You information and Services for the product You have opted for. You
      authorize Us to call, SMS or email You for the mentioned purpose, irrespective of whether You register with the NDNC
      registry.​ Aleeph may, from time to time, send by e-mail or otherwise, information relating to Services offered by
      its affiliates or partners or representatives.</p>
    <p>Please contact Us for any questions or comments (including all inquiries unrelated to copyright infringement) regarding
      our solution.</p>
    <p class="margin">
      <strong>Officer:</strong> Mohd. Salman Sheikh Khan</p>
    <p class="margin">
      <strong>Email Id: </strong> grievance@aleeph.io</p>
  </div>
  <!-- /container -->
</div>
<!--/End Page Content Start-->