@import '../matching/matching.scss';
.righ-side-container {
    min-height: 58.6rem;
}
ul li,
p {
    font-size: $font-size + 0.1rem;
    color: $gray-color;
}

.job-detail {
    width: 100%;
    margin-top: 5rem;
    background: $white-color;
    padding: 3.5rem 2rem 2rem;
    @include box-shadow(0.425rem, 0.425rem, 0.925rem, 0, rgba(0, 0, 0, 0.09));
    @extend .matching-jobs;
    &:hover {
        @include box-shadow(0.425rem, 0.425rem, 0.925rem, 0, rgba(0, 0, 0, 0.09));
    }
    .data-preview {
        position: relative;
        .logo {
            .circle {
                display: block;
                height: 6rem;
                width: 6rem;
                line-height: 3rem;
                text-align: center;
            }
        }
    }
    .right .activity .buttons {
        a {
            border-radius: 1.5rem;
            background: none;
            color: $light-gray-color;
            font-size: 0.94rem;
            text-align: center;
            cursor: pointer;
            outline: none;
            @include border(0.0625rem, $border-color);
            padding: 1.25rem 3rem;
            margin-left: 0.125rem;
            transition: all 0.4s;

            &:hover {
                background: linear-gradient(to right, $blue-color, $dark-blue-color);
                color: #fff;
                border: 0.0625rem solid transparent;
                text-decoration: none;
            }
        }
        a.cancel {
            padding: 1.25rem 2rem;
        }
    }
}
button.favourite {
    right: -1rem;
    top: -2.5rem;
}

.full-time {
    margin-left: 0.625rem;
    font-size: 0.94rem;
}
p.title {
    font-size: 1.2rem !important;
    font-weight: 400;
    margin-top: 1rem;
    color: $font-color-black;
}
