<!--jobs filter bar-->
<div class="fixed-bar clearfix">
    <span class="paging">Showing 1-8 of 254</span>
    <div class="sorted">
      <span>Sort by:</span>
      <select class="category">
        <option>Most view jobs</option>
        <option>Most view jobs</option>
        <option>Most view jobs</option>
      </select>
    </div>
    <!-- /sorted -->
  </div>
  <!-- /jobs filter bar-->
<div class="applied-job" *ngFor='let appliedJob of appliedJobs'>
    <div class="data-preview clearfix">
        <div class="logo">
            <a class="circle">
             <img src="{{appliedJob.logoUrl}}">
           </a>
         <!-- /img -->
        </div>
        <div class="right">
          <div class="activity">   
            <div class="buttons">
              <a class="cancel" (click)='openCancel()'>Withdraw</a>
            </div><!-- /buttons -->
          </div><!-- /activity -->

          <div class="content">
             <p class="heading"><a>{{appliedJob.jobTitle}}</a></p>
             <p class="sub-heading"><a>{{appliedJob.employerName}}</a></p>
             <p>{{appliedJob.jobType}} | {{appliedJob.jobCity}},&nbsp;{{appliedJob.jobCountry}}</p>
             <p class="salary">
               <strong>Salary: </strong>{{appliedJob.salaryFigureType}}&nbsp;{{appliedJob.salaryMin}}&nbsp;{{appliedJob.salaryType}}&nbsp;to&nbsp;{{appliedJob.salaryMax}}&nbsp;{{appliedJob.salaryType}}</p>
               <p class="skills">
                  <strong>Skills: </strong>
               <span *ngFor='let skill of appliedJob.skills; index as i'>
                 <span *ngIf="((appliedJob.skills?.length)-1) !== i">{{skill}},</span>
                 <span *ngIf="((appliedJob.skills?.length)-1) === i">{{skill}}</span>
               </span>
             </p>
             <p class="description">{{appliedJob.jobDescription}}</p>
           </div>
           <!-- /content -->
          
        </div><!-- /right -->
     </div><!-- data-preview -->
  </div>
<!-- /end applied jobs -->