@font-face {
    font-family: 'SamsungSharpSans', Arial, Helvetica, sans-serif;
    src: url(../../../../content/fonts/Futura_Book_font.ttf) format('truetype');
}
@font-face {
    font-family: 'FuturaHeavy', Arial, Helvetica, sans-serif;
    src: url(../../../../content/fonts/Futura_Heavy_font.ttf) format('truetype');
}
@font-face {
    font-family: SamsungSharpSans;
    src: url(../../../../content/fonts/SamsungSharpSansRegular-Regular.ttf) format('truetype');
}

body {
    font-family: 'SamsungSharpSans', Arial, Helvetica, sans-serif;
    color: #222;
}
