<div id="available">
    <div class="scroll">
      <div class="box" *ngFor='let availableInterview of availableInterviews'>
        <div class="img">
         <a> <img src="{{availableInterview.logoUrl}}"></a>
        </div>
        <div class="headings">
          <span class="float-right">{{availableInterview.jobType}}</span>
          <h4><a>{{availableInterview.employerName}}</a></h4>
          <p>{{availableInterview.jobTitle}}</p>
          <span>{{availableInterview.jobCity}},&nbsp;{{availableInterview.jobCountry}}</span>
        </div>
        <p class="schedule">
          <strong>Interview Schedule:</strong> {{availableInterview.interviewDate}}
          <br>
          <span> {{availableInterview.interviewTimeStart}}&nbsp;{{availableInterview.interviewTimeMeridianType}}&nbsp;-&nbsp;{{availableInterview.interviewTimeEnd}}
            {{availableInterview.interviewTimeMeridianType}} </span>
        </p>
        <p class="type">
          <strong>Interview Type:</strong> {{availableInterview.interviewType}}</p>
        <p class="venue">
          <strong>Interview Venue:</strong> {{availableInterview.interviewVenue}}</p>
        <p class="salary">
          <strong>Salary:</strong>{{availableInterview.salaryFigureType}}&nbsp;{{availableInterview.salaryMin}}&nbsp;{{availableInterview.salaryType}}&nbsp;to&nbsp;{{availableInterview.salaryMax}}&nbsp;{{availableInterview.salaryType}}</p>
        <hr>
        <div class="buttons">
          <button class="accept" (click)='openAccept()'>Accept</button>
          <button class="cancel" (click)='openCancel()'>Not Interested</button>
          <button class="reschedule" (click)='openReschedule()'>Reschedule</button>
        </div>
      </div>
    </div>
  </div>