<form ngNoForm action="{{ providerURL }}" method="POST">
    <button type="submit" class="btn-block jh-btn-social jh-btn-{{ provider }}">
        <span>
            <i class="fa fa-{{ label }}"></i>&nbsp;&nbsp;Sign in with <span style="text-transform:capitalize;">{{ label }}</span></span>
    </button>
    <input name="scope" type="hidden" value="{{ providerSetting }}" />
    <input name="_csrf" type="hidden" value="{{ csrf }}" />
</form>