.social h2 {
    text-align: center;
    margin: 1.56rem auto;
    font-size: 0.75rem;
    color: #2b2b2b;
    font-weight: 500;
}
.social button {
    background: transparent;
    border: 0.0625rem solid #3b6a88;
    float: left;
    // border-radius:0.625rem;
    text-align: center;
    text-decoration: none;
    color: #3b6a88;
    font-size: 0.75rem;
    transition: all 0.4s;
    padding: 0.312rem 1.56rem;
}
.social button:hover {
    color: #fff;
    background: #3b6a88;
}
