<!--jobs filter bar-->
<div class="fixed-bar clearfix">
  <span class="paging">Showing 1-8 of 254</span>
  <div class="sorted">
    <span>Sort by:</span>
    <select class="category">
      <option>Most view jobs</option>
      <option>Most view jobs</option>
      <option>Most view jobs</option>
    </select>
  </div>
  <!-- /sorted -->
</div>
<!-- /jobs filter bar-->
<div class="jobs">
  	<div class="matching-jobs" *ngFor="let matchingJob of matchingJobs">
        <div class="data-preview clearfix">
           <div class="logo">
               <a class="circle">
                <img src="{{matchingJob.logoUrl}}">
              </a>
            <!-- /img -->
           </div>
           <div class="right">
              <button class="favourite" title="Add to favourites" type="button"></button>
             <div class="activity">   
               <div class="buttons">
                 <a class="view">View</a>
                 <a class="apply">Apply</a>
                 <a class="cancel">Cancel</a>
               </div><!-- /buttons -->
             </div><!-- /activity -->

             <div class="content">
                <p class="heading"><a>{{matchingJob.jobTitle}}</a></p>
                <p class="sub-heading"><a>{{matchingJob.employerName}}</a></p>
                <p>{{matchingJob.jobType}} | {{matchingJob.jobCity}},&nbsp;{{matchingJob.jobCountry}}</p>
                <p class="salary">
                  <strong>Salary: </strong>{{matchingJob.salaryFigureType}}&nbsp;{{matchingJob.salaryMin}}&nbsp;{{matchingJob.salaryType}}&nbsp;to&nbsp;{{matchingJob.salaryMax}}&nbsp;{{matchingJob.salaryType}}</p>
                <p class="skills">
                    <strong>Skills: </strong>
                  <span *ngFor='let skill of matchingJob.skills; index as i'>
                    <span *ngIf="((matchingJob.skills?.length)-1) !== i">{{skill}},</span>
                    <span *ngIf="((matchingJob.skills?.length)-1) === i">{{skill}}</span>
                  </span>
                </p>
                <p class="description">{{matchingJob.jobDescription}}</p>
              </div>
              <!-- /content -->
             
           </div><!-- /right -->
        </div><!-- data-preview -->
      </div>
  <!-- /matching-jobs -->
</div>