@import '../jobs.scss';

.left-body {
    height: 35.81rem;
    overflow-y: scroll;
}
button.favourite {
    cursor: pointer;
    position: absolute;
    right: 0.6rem;
    top: -1.3rem;
    background: url('../../../../../content/images/user/interviews/heart.png') center no-repeat;
    padding: 0.5rem;
    border: none;
    &:hover,
    &:active {
        background: url('../../../../../content/images/user/interviews/red-heart.png') center no-repeat;
    }
}
button.active {
    background: url('../../../../../content/images/user/interviews/red-heart.png') center no-repeat;
}
a {
    cursor: pointer;
}
