@import '../../../content/scss/global.scss';
@import '../../user/shared/scss/shared.scss';
/*   Sign Up Modal   */
a {
    cursor: pointer;
}

.contact-form {
    border: none;
    border-radius: 0;

    .modal-body {
        padding: 0 !important;

        .light-bg {
            @include respons(view-991) {
                padding: 4.4rem 5%;
            }
            padding: 0;
            position: relative;
        }
        .tabs {
            text-align: center;
            margin-top: 1.25rem;
            padding: 0 0.94rem;
            @include respons(view-767) {
                padding: 0 15%;
            }
            label {
                float: left;
                font-size: 0.94rem;
                &:last-child {
                    float: right;
                }
                input {
                    margin-right: 0.94rem;
                }
            }
        }

        button.close {
            font-size: 1.8rem;
            font-weight: 320;
            color: #151515;
            text-shadow: none;
            outline: none;
            width: 1.5rem;
            margin: -0.94rem -0.625rem;
            position: absolute;
            z-index: 10;
            top: 0;
            right: 0;
        } /* /close */

        .signup-img {
            margin-bottom: 5rem;
            text-align: center;
        }
        .form-group {
            position: relative;
            margin-top: 4rem;

            input[type='email'] {
                margin: 0.94rem auto 0 auto;
                position: relative;
                width: 100%;
                padding: 0.75rem 0;
                padding-bottom: 0.2rem !important;
                padding-left: 1.56rem;
                border: none;
                border-bottom: 0.0625rem solid $color-gray;
                font-size: 0.94rem;
                color: $color-gray;
                background: transparent;
                &:focus {
                    box-shadow: none;
                    outline: none;
                }
                &:-webkit-autofill,
                &:-webkit-autofill:hover,
                &:-webkit-autofill:focus {
                    background: transparent;
                    box-shadow: 0 0 0 62.5rem transparent inset;
                    transition: background-color 5000s ease-in-out 0s;
                }
            }
            p.error {
                margin-bottom: 0;
                font-size: 0.94rem;
                color: $color-red;
                text-align: center !important;
            }
        }
        .activity {
            position: absolute;
            top: 38%;
            right: 0.25rem;
            font-size: 0.87rem;
            i {
                color: $color-blue;
            }
        }
        .line {
            margin: 2.5rem 0;
            position: relative;
            text-align: center;
            padding: 0 0.5rem;

            p {
                text-align: center !important;
                margin: 0.31rem auto;
                display: inline-block;
                position: absolute;
                width: 3.125rem;
                top: -1.062rem;
                left: 50%;
                transform: translateX(-50%);
                background: #f8f8f8;
                border: 0 solid #f8f8f8;
                font-weight: 700;
            }
            hr {
                width: 100%;
                border: 0.031rem solid $color-gray;
            }
        }
        button {
            width: 100%;
            height: 3.125rem;
            border: none;
            // border-radius: 1.25rem;
            color: #fff;
            font-size: 0.94rem;
            cursor: pointer;
            outline: none;
            a {
                color: #fff;
            }
        }
        button.signup {
            background: linear-gradient(to left, $color-dark-red, $color-red);
            margin-top: 1.87rem;
        }
        button.facebook {
            a {
                float: left;
                i {
                    float: left;
                    padding-right: 1.25rem;
                    border-right: 0.0625rem solid #fff;
                    font-size: 1.37rem;
                    margin-left: 1.25rem;
                    margin-right: 2.37rem;
                }
            }

            background: #2a7cec;
        } /* /facebook */
        button.twitter {
            margin: 1.25rem 0;
            a {
                float: left;
                i {
                    margin-right: 2.37rem;
                    float: left;
                    padding-right: 0.75rem;
                    border-right: 0.0625rem solid #fff;
                    font-size: 1.37rem;
                    margin-left: 1.12rem;
                }
            }

            background: #00c1ef;
        } /* /twitter */

        p.login {
            color: $heading-color;
            font-size: 0.94rem;
            text-align: center;
            font-weight: 600;
            margin-top: 0.94rem;
            a {
                color: $color-red;
            }
        }
    } /* /modal-body */
} /* /modal-content */

.hide {
    display: none;
}
.light-bg {
    background: #f8f8f8;
    padding-top: 5.62rem;
    @include respond(laptop-1440px) {
        padding-top: 4.06rem;
    }
}
.error {
    border-color: $color-red;
    color: #eb3856;
    font-size: 0.94rem;
    text-align: center !important;
}
.cross {
    font-size: 1.12rem;
    color: #e73655;
}
.success {
    text-align: center;
    margin: 0;
    padding: 0 1.25rem;
    position: absolute;
    top: 40%;
    p {
        margin: 0;
        color: #3bb39d;
    }
}
.tab-content > .active {
    display: block;
}
.alert {
    position: absolute;
    margin-bottom: 0;
    border: 0.0625rem solid transparent;
    border-radius: 0.25rem;
    top: 5em;
    text-align: center;
    left: 0;
    right: 0;
    color: #ea3855;
    padding: 0;
    z-index: 2;
}
.email {
    // position: absolute;
    // left: 0;
    // top: 1.56rem;
    // z-index: 1;
    .fa {
        font-size: 0.94rem;
        color: rgba(0, 0, 0, 0.21);
    }
}
.tabs label {
    cursor: pointer;
}
input[type='radio'] {
    cursor: pointer;
}

.left-side {
    @include respons(view-767) {
        display: none;
    }
}
.signup-form {
    margin-top: 1.56rem;
    padding: 0 5.31rem;
}
.btn-disable {
    background: $color-gray;
    color: $color-white;
    width: 100%;
    padding: 0.857rem;
    border: none;
    // border-radius: 1.25rem;
    font-size: 0.94rem;
    cursor: pointer;
    outline: none;
}
.mat-input-element {
    padding-bottom: 0.2rem !important;
}
