<div class="contact-form" id="register">
    <div class="modal-body">
        <div class="row">
            <!-- dismiss button, click event to dismiss the activeModal -->
            <button class="close" data-dismiss="modal" (click)="activeModal.dismiss('closed')">&times;</button>
            <!-- sign-up image -->
            <div class="col-md-6 left-side">
                <div class="container signup-img">
                    <img src="../../../content/images/signup-img.png" class="img-fluid">
                </div>
            </div>
            <div class="col-md-6 light-bg">
                <div class="success" *ngIf="success">
                    <p>
                        <span>
                            <img src="../../../content/images/right-arrow.png" />
                        </span>
                        <strong>You're almost done.</strong>
                        <br/>An authentication email has been sent to your inbox, please click the activation link in that email
                        to access your account.
                    </p>
                </div>
                <!-- error messages from response -->
                <div class="alert" *ngIf="error">
                    <p class="error">
                        <span>
                            <img src="../../../content/images/cross-arrow.png" />
                        </span>
                        <strong>Registration failed!</strong> Please try again later.
                    </p>
                </div>
                <div class="alert" *ngIf="errorEmailExists">
                    <p class="error">
                        <span>
                            <img src="../../../content/images/cross-arrow.png" />
                        </span>
                        <strong>Email is already in use!</strong> Please choose another one.
                    </p>
                </div>
                <div  *ngIf="!success">
                    <mat-tab-group>
                        <mat-tab label="Talent">
                            <form class="signup-form" role="form" (ngSubmit)="register()" #registerForm="ngForm">
                                <div class="form-group">
                                    <mat-form-field>
                                        <mat-icon matPrefix>person</mat-icon>
                                        <input matInput placeholder="Email Id" name="email" id="email" #email="ngModel" placeholder="{{isEmployer.placeholder}}"
                                            [(ngModel)]="registerAccount.email" minlength=5 maxlength=100 email required>
                                        <!-- <mat-error *ngIf="emailContactUs.invalid">{{getEmailErrorMessage()}}</mat-error> -->
                                    </mat-form-field>
                                    <!-- input field validation's error messages -->
                                    <div *ngIf="email.dirty && email.invalid">
                                        <small class="error" *ngIf="email.errors.required">
                                            Your email is required.
                                        </small>
                                        <small class="error" *ngIf="email.errors.email">
                                            Your email is invalid.
                                        </small>
                                        <small class="error" *ngIf="email.errors.minlength">
                                            Your email is required to be at least 5 characters.
                                        </small>
                                        <small class="error" *ngIf="email.errors.maxlength">
                                            Your email cannot be longer than 100 characters.
                                        </small>
                                    </div>
                                </div>
                                <button type="submit" [disabled]="!registerForm.form.valid" class="signup">Sign Up</button>
                                <!-- social media sign-up, only for employee -->
                                <ng-container *ngIf="!isEmployer.value">
                                    <div class="other-opt">
                                        <div class="line">
                                            <p>OR</p>
                                            <hr>
                                        </div>
                                        <jhi-social provider="facebook"></jhi-social>
                                        <jhi-social provider="linkedin"></jhi-social>
                                    </div>
                                </ng-container>
                                <!-- sign-in button, click event to call openLogin method -->
                                <p class="login">Already have an account?
                                    <a (click)="openLogin()">Sign In</a>
                                </p>
                            </form>
                        </mat-tab>
                        <mat-tab label="Employer">
                            <form class="signup-form" role="form" (ngSubmit)="register()" #registerForm="ngForm">
                                <div class="form-group">
                                    <mat-form-field>
                                        <mat-icon matPrefix>person</mat-icon>
                                        <input matInput placeholder="Email Id" name="email" id="email" #email="ngModel" placeholder="{{isEmployer.placeholder}}"
                                            [(ngModel)]="registerAccount.email" minlength=5 maxlength=100 email required>
                                        <!-- <mat-error *ngIf="emailContactUs.invalid">{{getEmailErrorMessage()}}</mat-error> -->
                                    </mat-form-field>
                                    <!-- input field validation's error messages -->
                                    <div *ngIf="email.dirty && email.invalid">
                                        <small class="error" *ngIf="email.errors.required">
                                            Your email is required.
                                        </small>
                                        <small class="error" *ngIf="email.errors.email">
                                            Your email is invalid.
                                        </small>
                                        <small class="error" *ngIf="email.errors.minlength">
                                            Your email is required to be at least 5 characters.
                                        </small>
                                        <small class="error" *ngIf="email.errors.maxlength">
                                            Your email cannot be longer than 100 characters.
                                        </small>
                                    </div>
                                </div>
                                <button type="submit" [disabled]="!registerForm.form.valid" class="signup">Sign Up</button>
                                <p class="login">Already have an account?
                                    <a (click)="openLogin()">Sign In</a>
                                </p>
                            </form>
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </div>
        </div>
    </div>
</div>