<!-- <jhi-navigation></jhi-navigation> -->
<div class="outer-wrapper">
     <!--left side menubar component (belongs to webapp\app\user\talent\new-dashboard\left-side-menubar folder)-->
  <jhi-side-bar></jhi-side-bar>
  <!--/end left side menubar-->
  <!--topbar component which include search bar and top right user accoun menubar-->
  <jhi-top-bar></jhi-top-bar>
  <!--end topbar-->
    <div class="righ-side-container">
            <div class="job-type" id="jobs">
            <!-- <router-outlet></router-outlet> -->
            <ngb-tabset>
                    <ngb-tab title="Matching">
                      <ng-template ngbTabContent>
                        <jhi-matching></jhi-matching>
                      </ng-template>
                    </ngb-tab>
                    <ngb-tab title="Applied">
                      <ng-template ngbTabContent>
                        <jhi-applied></jhi-applied>
                      </ng-template>
                    </ngb-tab>
                    <ngb-tab title="Favourite">
                            <ng-template ngbTabContent>
                              <jhi-favourite></jhi-favourite>
                            </ng-template>
                        </ngb-tab>
                </ngb-tabset>
            </div>
    </div>
</div>
<!-- /outer-wrapper -->