@import '../../../../content/scss/global.scss';
p,
ul {
    font-size: 0.94rem;
    color: $font-color-black;
}
::-webkit-scrollbar {
    width: 0.25rem !important;
}
::-webkit-scrollbar-track-piece {
    background: #dadada;
}
::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 0.25rem 0 gray !important;
    background: #bdbdbd;
    border-radius: 0;
}
.fixed-bar {
    width: 100%;
    margin-bottom: 1rem;
    .paging {
        font-size: 0.875rem;
        color: $light-gray-color;
    }

    .sorted {
        font-size: 0.875rem;
        color: $light-gray-color;
        display: inline-block;
        float: right;

        select {
            padding: 0.4rem 0.5rem;
            margin-left: 1.25rem;
            border-radius: 0.3rem;
            @include border(0.0625rem, $border-color);
        }
    }
} /* /fixed-bar */
.matching-jobs {
    padding: 2rem 0.5rem 2rem 2rem;
    margin-top: 2rem 1.5rem;
    width: 100%;
    margin-bottom: 1.5rem;
    @include border(0.0625rem, $border-color);

    .logo {
        width: 8%;
        // max-width:6.88rem;
        float: left;

        .circle {
            @include borderRounded(50%);
            text-align: center;
            border: 0.054em solid $border-color;
            padding: 1.5rem;
            overflow: hidden;
            display: block;
            img {
                width: 100%;
            }
        }
    } /* /logo */
    .right {
        width: 90%;
        float: right;
        position: relative;
        .content {
            .heading {
                font-size: 1.5rem;
                color: $blue-color;
                font-weight: bold;
            }
            .sub-heading {
                font-size: 1.25rem;
                color: $black-color;
            }
            p {
                font-size: 0.875rem;
                margin-bottom: 0;
                color: $light-gray-color;
                strong {
                    color: $black-color;
                }
            }
            .salary {
                margin-top: 1rem;
                display: inline-block;
            }
            .skills {
                display: inline-block;
                margin-left: 16%;
            }
        } /* /content */

        .activity {
            display: inline-block;
            text-align: right;
            padding-right: 0.5rem;
            position: relative;
            float: right;

            .fav-icon {
                position: absolute;
                top: -1.8rem;
                right: 1.25rem;
                cursor: pointer;
                color: $light-gray-color;
            }
            .favourite {
                color: $red-color;
            }

            .buttons {
                a {
                    border-radius: 1.25rem;
                    background: none;
                    color: $light-gray-color;
                    font-size: 0.785rem;
                    text-align: center;
                    cursor: pointer;
                    outline: none;
                    @include border(0.0625rem, $border-color);
                    padding: 0.1rem 1.8rem 0.3rem;
                    margin-left: 0.125rem;
                    transition: all 0.4s;

                    &:hover {
                        background: linear-gradient(to right, $blue-color, $dark-blue-color);
                        color: #fff;
                        border: 0.0625rem solid transparent;
                        text-decoration: none;
                    }
                }
            }
        } /* /activity */
    } /* /right */
    &:hover {
        @include box-shadow(0.25rem, 0.25rem, 1.25rem, 0, rgba(229, 99, 161, 0.3));
    }
} /* /new-jobs */
/*--rename right-footer class into  btn-box as it's containing buttons place changed from bottom to top--*/
.btn-box {
    margin-bottom: 1rem;
    button {
        border-radius: 1.25rem;
        background: none;
        color: $color-gray;
        font-size: 0.625rem;
        text-align: center;
        cursor: pointer;
        outline: none;
        border: 0.0625rem solid $bdr-clr;
        padding: 0.3rem 1.58rem 0.287rem;
        margin-right: 0.5rem;
        transition: all 0.4s;

        &:hover {
            background: linear-gradient(to right, $color-blue, $btn-dark-blue);
            color: #fff;
            border: 0.0625rem solid transparent;
        }
    }
    // button.apply{
    //     background: transparent;
    //     color:$color-gray;
    //     border:0.0625rem solid transparent;
    //     &:hover{
    //         background: linear-gradient(to right,$color-blue,$btn-dark-blue);
    //         color:#fff;
    //     }
    // }
}
/* /btn-box */
