/* ==========================================================================
Navbar
========================================================================== */

.navbar-version {
    font-size: 0.625rem;
    color: #ccc;
}

.aleeph-navbar {
    background-color: #3498db;
    padding: 0.2em 1em;
    .profile-image {
        margin: -0.625rem 0;
        height: 2.5rem;
        width: 2.5rem;
        border-radius: 50%;
    }
    .dropdown-item.active,
    .dropdown-item.active:focus,
    .dropdown-item.active:hover {
        background-color: #353d47;
    }
    .dropdown-toggle::after {
        margin-left: 0.15em;
    }
    ul.navbar-nav {
        padding: 0.5em;
        .nav-item {
            margin-left: 1.5rem;
        }
    }
    a.nav-link {
        font-weight: 400;
    }
    .jh-navbar-toggler {
        color: #ccc;
        font-size: 1.5em;
        padding: 0.625rem;
        &:hover {
            color: #fff;
        }
    }
}

@media screen and (min-width: 48rem) {
    .jh-navbar-toggler {
        display: none;
    }
}

@media screen and (max-width: 62rem) {
    .jh-logo-container {
        width: 100%;
    }
}

.navbar-title {
    display: inline-block;
    vertical-align: middle;
}

/* ==========================================================================
Logo styles
========================================================================== */
.navbar-brand {
    &.logo {
        padding: 0.3125rem 0.94rem;
        .logo-img {
            height: 2.8125rem;
            width: 4.375rem;
            display: inline-block;
            vertical-align: middle;
            background: url('../../../content/images/logo-jhipster.png') no-repeat center center;
            background-size: contain;
        }
    }
}
