<div class="resume-data">
  <!--profile name-->
  <ng-template [ngIf]="!(createdProfileName || isEdit)" [ngIfElse]="loading">
    <div class="profile-name-container">
      <div class="clearfix profile-name-head">
        What is your profile name?
        <form [formGroup]="uploadResumeFormGroup" (ngSubmit)="save()">
          <mat-form-field>
            <input matInput placeholder="Profile Name" formControlName="profileNameCtrl" [(ngModel)]="profileName.profileName" required>
            <mat-error>{{getProfileNameErrorMessage()}}</mat-error>
          </mat-form-field>
          <div>
            <button type="submit" [disabled]="uploadResumeFormGroup.invalid || isSaving" mat-button>Save</button>
          </div>
        </form>
      </div>
    </div>
  </ng-template>
  <!--/profile name-->
  <ng-template #loading>
    <div class="profile-name-container">
      <p class="profile-name">
        Profile Name
      </p>
      <p class="profile-head">
       {{createdProfileName}}
        <span class="edit-btn">
          <button (click)="isEdit = !isEdit">
              <mat-icon>edit</mat-icon>
          </button>
        </span>
      </p>
    </div>
    <div class="profile">
      <p class="profile-haed">To make it easier you can upload your resume for
        <span>{{createdProfileName}}</span> profile</p>
      <div class="row">
        <div class="col-md-4">
          <div class="video-profile">
            <a>Video Job Post</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="audio-profile">
            <a>Audio Job Post</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="pdf-doc">
            <a>PDF/Doc</a>
          </div>
        </div>
      </div>
      <div>
        <button type="submit" [disabled]="uploadResumeFormGroup.invalid || isSaving" mat-button>Save</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </div>
  </ng-template>
</div>
<!--/resume-data-->