@import '../education/education.scss';
.experience-data {
    @extend .education-data;
}
.profile-name-container {
    padding: 0rem 2.5rem;
    .profile-name {
        font-size: 0.775rem;
        color: $blue-color;
    }
    .profile-head {
        border-bottom: 1px solid rgba(0, 0, 0, 0.13);
        padding-bottom: 1rem;
        font-size: 1.5rem;
        font-weight: 300;
        .edit-btn {
            float: right;
            font-size: 0.6rem;
            color: $gray-color;
            display: none;
            cursor: pointer;
            .mat-icon {
                font-size: 0.8rem;
                cursor: pointer;
            }
        }
        &:hover {
            .edit-btn {
                display: block;
                cursor: pointer;
            }
        }
    }
    .profile-name-head {
        @extend .profile-head;
        text-align: center;
        border-bottom: none;
        margin-bottom: 1.5rem;
    }
    .mat-form-field {
        width: 98%;
        float: none;
    }
}
.profile {
    p.profile-haed {
        font-size: 1.6rem;
        font-weight: 300;
        text-align: center;
        padding: 2rem 4rem 0;
        span {
            color: $blue-color;
        }
    }
    padding: 0 5rem;

    .video-profile {
        @include divset(9em, transparent, 2.5rem auto, 1.5rem);
        @include borderset(1px, solid, $bdr-clr, 0rem);
        padding: 1.4rem 0 0;
        text-align: center;
        height: 7.5rem;
        cursor: pointer;
        @include respond(small-tablet) {
            float: none;
            margin: 1.2rem auto;
        }

        &:hover {
            @include gradient(53deg, $btn-red, $btn-darkred);
            @include box-shadow(0.25rem, 0.25rem, 1.25rem, 0, rgba(229, 99, 161, 0.3));
            a {
                color: white !important;
                background: url('../../../../../../content/images/user/icons/profile-wizard/webcam.png') no-repeat center 0px;
            }
        }

        a {
            color: $gray-clr;
            display: block;
            padding-top: 50px;
            background: url('../../../../../../content/images/user/icons/profile-wizard/webcam1.png') no-repeat center 0px;
        }
    }
    .audio-profile {
        @extend .video-profile;
        float: none;
        background: none !important;
        &:hover {
            a {
                background: url('../../../../../../content/images/user/icons/profile-wizard/audio1.png') no-repeat center 0px;
            }
        }
        a {
            background: url('../../../../../../content/images/user/icons/profile-wizard/audio.png') no-repeat center 0px;
            color: $gray-clr !important;
        }
    }
    .pdf-doc {
        &:hover {
            a {
                background: url('../../../../../../content/images/user/icons/profile-wizard/doc1.png') no-repeat center 0px;
            }
        }
        @extend .audio-profile;
        @include respond(small-tablet) {
            float: none;
        }
        a {
            background: url('../../../../../../content/images/user/icons/profile-wizard/doc.png') no-repeat center 0px;
        }
    }

    .buttons {
        margin: 1.2rem auto;
        float: right;
        width: 9.7rem;
        @include respond(small-tablet) {
            float: none;
        }
        a {
            @include para(0.75rem, #fff, 2rem);
            display: inline-block;
            text-align: center;
            border-radius: 10px;
            width: 5.7rem;
            height: 2rem;
            text-decoration: none;
            &:first-child {
                background: $gray-clr;
                &:hover {
                    @include gradient(53deg, $btn-blue, $btn-darkblue);
                }
            }
            &:last-child {
                margin-left: 1rem;
                @include gradient(53deg, $btn-blue, $btn-darkblue);
            }
        }
    }
}
