<div class="modify">
  <div class="container">
    <div class="heading">
      <h4 class="heading text-center">minimise | modify | modest</h4>
    </div>
    <div class="row">
      <div class="col-lg-6 left-bar">
        <nav>
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">
            <p>Automated <br><span>Process</span></p>
            <div class="overflow">
              minimise
            </div><!-- /overflow -->
            </a>
            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false"><p>ai, vi & bi <br><span>technology</span></p>
            <div class="overflow">
              modify
            </div><!-- /overflow -->
          </a>
            <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">
              <p>high availability <br><span>c-b platform</span></p>
            <div class="overflow">
              modest
            </div><!-- /overflow -->
            </a>
          </div><!-- /nav-tabs -->
        </nav>
        
      </div><!-- /col-lg-6 -->

      <div class="col-lg-6 right-bar">
        <div class="data-tab">
          <div class="tabing">
            <div class="tab-pane" id="nav-home">

              <ul class="saving list-unstyled">
                <li><h2>Saving</h2></li>
                <li><p>InsyghtAI platform is offering full automated process for hiring talents to decrease the cost, time and effort of recruiters and hence degrading data redundancy and duplication.</p></li>
              </ul><!-- /saving -->
              <ul class="effort list-unstyled">
                <li><h3 class="sb">Hiring Effort</h3></li>
                <li><p>End to end approach reduces conventional & lengthy process of hiring talents throughcandidate scores & matching candidate profiles.</p></li>
              </ul><!-- / -->

              <ul class="time list-unstyled">
                <li><h3 class="sb">Hiring Time</h3></li>
                <li><p>Intelligent screening of 1000s of profiles enables continuous delivery, deployment of large complex data offering continuous delivery and containers.</p></li>
              </ul><!-- /time -->

              <ul class="cost list-unstyled">
                <li><h3 class="sb">Hiring Cost</h3></li>
                <li><p>Human tasks have been streamlined and augmented by technologies. Resulting in costcutting of human labor, making process easier, efficient &amp; less prone to errors.</p></li>
              </ul><!-- /cost -->
              
              <div class="over-hover1 over-animation"></div>
            </div>
            <div class="tab-pane hide" id="nav-profile">
              <ul class="scaning list-unstyled">
                <li><h2 class="heading">huge db scanning</h2></li>
                <li><p>We are using micro services which enables continuous delivery, deployment of large, complex data so that the scalability of the application can be maintained.                </p></li>
              </ul><!-- /scanning -->

              <ul class="matching list-unstyled">
                <li><h2 class="heading">accurate matching</h2></li>
                <li><p>Candidate matching will be AI based which will save recruiters time and efforts on the candidates who are not matching the desired profile so, managers will be able to communicate only with the potential candidates.                </p></li>
              </ul><!-- /matching -->

              <ul class="improvement list-unstyled">
                <li><h2 class="heading">continued improvement</h2></li>
                <li><p>Our efforts are constantly evaluating the delivery processes and improvement in the light of the efficiency, effectiveness and flexibility of product.                </p></li>
              </ul><!-- /improvement -->
              <div class="over-hover1 over-fix2"></div>
            </div>


            <div class="tab-pane hide" id="nav-contact">
              <ul class="scaning list-unstyled">
                <li><h2 class="heading">Global reach</h2></li>
                <li><p>Users can communicate online, therefore reducing expensive long distant phone calls and saving time.</p></li>
              </ul><!-- /scanning -->

              <ul class="matching list-unstyled">
                <li><h2 class="heading">quick scalability</h2></li>
                <li><p>InsyghtAI platform is capable of handling a growing amount of work and its potential is enlarged to accommodate that growth in the system.                </p></li>
              </ul><!-- /matching -->

              <ul class="improvement list-unstyled">
                <li><h2 class="heading">24X7</h2></li>
                <li><p>InsyghtAI is available round the clock to help users with precise solutions regarding their queries.</p></li>
              </ul><!-- /improvement -->

              <div class="over-hover1 over-fix3"></div>
            </div><!-- /tab-pane -->
          </div><!-- /tab-content -->
        </div><!-- /data-tab -->
      </div><!-- /col -->
    </div><!-- /row -->
  </div><!-- /container -->
</div><!-- /modify -->