@import '../../../../../content/scss/global';
/* Start modify */
.modify {
    padding: 2.5rem 0;
    width: 100%;
    @include respons(view-480) {
        padding: 2.5rem 0.62rem;
    }
    h4.heading {
        text-transform: uppercase;
        font-size: 2.19rem;
        color: $heading-color;
        margin: 0 auto 2.5rem;
        font-weight: bold;
        @include respons(view-533) {
            font-size: 1.87rem;
        }
    } /* /heading */
    .left-bar {
        @include respons(view-991) {
            padding: 0 !important;
        }
        padding-right: 0 !important;
    }
    .right-bar {
        @include respons(view-991) {
            padding: 0 !important;
        }
        padding-left: 0 !important;
    }

    nav {
        @include respons(view-991) {
            max-width: 33.94rem;
        }
        @include respons(view-767) {
            max-width: 31.88rem;
            width: 94%;
            margin: 0 3%;
        }
        @include respons(view-480) {
            width: 98%;
            margin: 0 auto;
        }
        margin: 0 auto;
        width: 100%;
        .nav-tabs {
            border: none;
            .active {
                p {
                    color: #fff;
                }
                color: #fff;
                background: linear-gradient(to right, $color-red, $color-dark-red) !important;
                border-top: 0.0625rem solid #fff !important;
                border-bottom: 0.0625rem solid #fff !important;
            } /* /active */
            .nav-item {
                color: #fff;
                width: 100%;
                height: 10rem;
                position: relative;
                text-transform: uppercase;
                border: none;
                border-radius: 0;
                border-top: 0.0625rem solid transparent;
                border-bottom: 0.0625rem solid transparent;

                @include respons(view-991) {
                    width: 33.33%;
                    height: 3.38rem;
                    border: none !important;
                }

                &:nth-of-type(1) {
                    background: #27abd1;
                }
                &:nth-of-type(2) {
                    background: #1f9ec3;
                }
                &:nth-of-type(3) {
                    background: #148aac;
                }

                &:hover {
                    p {
                        color: #fff;
                    }
                    color: #fff;
                    background: linear-gradient(to right, $color-red, $color-dark-red) !important;
                    border-top: 0.0625rem solid #fff;
                    border-bottom: 0.0625rem solid $color-red;
                }

                &:last-of-type {
                    p {
                        @include respons(view-991) {
                            width: 8.5rem;
                        }
                        @include respons(view-480) {
                            width: 6rem;
                        }
                    }
                }
                &:first-of-type {
                    p {
                        @include respons(view-991) {
                            width: 5.4rem;
                        }
                        @include respons(view-480) {
                            width: 4rem;
                        }
                    }
                }

                p {
                    width: 20.62rem;
                    color: #fff;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    line-height: 1;
                    font-size: 1.87rem;
                    font-weight: bold;
                    @include respons(view-991) {
                        width: 6.5rem;
                        font-size: 0.87rem;
                    }
                    @include respons(view-480) {
                        width: 4.5rem;
                        font-size: 0.625rem;
                    }

                    span {
                        margin-left: 6.25rem;
                        display: inline-block;

                        @include respons(view-991) {
                            margin-left: 0.75rem;
                        }
                    }
                }

                .overflow {
                    transform: rotate(-90deg);
                    position: absolute;
                    left: -3.625rem;
                    top: 3.56rem;
                    text-align: center;
                    height: 2.81rem;
                    text-transform: uppercase;
                    width: 10rem;
                    background: rgba(255, 255, 255, 0.3);
                    color: #fff;
                    font-weight: bold;
                    font-size: 1.56rem;

                    @include respons(view-991) {
                        display: none;
                    }
                } /* /overflow */
            } /* /nav-item */
        } /* /nav-tabs */
    } /* /nav */

    .data-tab {
        @include respons(view-991) {
            max-width: 33.88rem;
            padding: 1.87rem 1.25rem 1.87rem 4.38rem;
        }
        @include respons(view-767) {
            max-width: 31.88rem;
            width: 94%;
            margin: 0 3%;
        }
        @include respons(view-480) {
            width: 98%;
            margin: 0 auto;
            padding: 1.87rem 0 1.87rem 2.5rem;
        }
        width: 100%;
        margin: 0.0625rem auto;
        height: 100%;
        border: 0.0625rem solid #cbcbcb;
        padding: 3rem 1.25rem 0 4.38rem;
        overflow: hidden;

        .hide {
            display: none;
        }
        .tabing {
            position: relative;

            .over-hover1 {
                width: 100%;
                height: 100%;
                background: rgba(255, 255, 255, 0.7);
                position: absolute;
                z-index: 1;
                transition: all 4s;
                top: 0rem;
                left: -0.62rem;
                opacity: 0;
            }

            .over-hover {
                width: 100%;
                height: 100%;
                background: rgba(255, 255, 255, 0.7);
                position: absolute;
                z-index: 1;
                transition: all 4s;
                top: 6.25rem;
                left: -0.62rem;
                opacity: 0;
            }
            .over-fix1 {
                opacity: 1;
                top: 6.25rem;
                left: -0.62rem;
            }
            .over-fix2 {
                opacity: 1;
                top: 0;
                left: -0.62rem;
            }
            .over-fix3 {
                opacity: 1;
                top: 0;
                left: -0.62rem;
            }

            .over-animation {
                -webkit-animation: slideDown 20s linear 1;
                -moz-animation: slideDown 20s linear 1;
                -ms-animation: slideDown 20s linear 1;
                -o-animation: slideDown 20s linear 1;
                animation: slideDown 20s linear 1;
            }
            @-webkit-keyframes slideDown {
                20%,
                100% {
                    opacity: 1;
                    top: 100%;
                }
                0% {
                    opacity: 1;
                }
                10% {
                    opacity: 1;
                }
            }
            @-moz-keyframes slideDown {
                20%,
                100% {
                    opacity: 1;
                    top: 100%;
                }
                0% {
                    opacity: 1;
                }
                10% {
                    opacity: 1;
                }
            }
            @-ms-keyframes slideDown {
                20%,
                100% {
                    opacity: 1;
                    top: 100%;
                }
                0% {
                    opacity: 1;
                }
                10% {
                    opacity: 1;
                }
            }
            @-o-keyframes slideDown {
                20%,
                100% {
                    opacity: 1;
                    top: 100%;
                }
                0% {
                    opacity: 1;
                }
                10% {
                    opacity: 1;
                }
            }
            @keyframes slideDown {
                20%,
                100% {
                    opacity: 1;
                    top: 100%;
                }
                0% {
                    opacity: 1;
                }
                10% {
                    opacity: 1;
                }
            }

            ul {
                padding-left: 1.56rem;
                position: relative;
                h2 {
                    text-transform: capitalize;
                    font-size: 1.25rem;
                    color: $color-blue;
                    font-weight: bold;
                    margin-bottom: 0.5rem;
                }
                h3 {
                    color: $heading-color;
                    font-size: 0.94rem;
                }
                p {
                    width: 95%;
                    padding-right: 10%;
                    font-size: 0.75rem;
                    text-align: justify;
                    color: $color-gray;
                    @include respons(view-991) {
                        font-size: 0.87rem;
                    }
                }
                &:last-of-type::before {
                    border: none;
                }
                &::before {
                    content: '';
                    position: absolute;
                    top: 10%;
                    bottom: -0.94rem;
                    left: 0;
                    z-index: 9;
                    border: 0.0315rem dotted rgba(0, 0, 0, 1);
                }
                &::after {
                    content: '';
                    position: absolute;
                    z-index: 9;
                    height: 0.5rem;
                    width: 0.5rem;
                    border-radius: 100%;
                    background: #fff;
                    border: 0.125rem solid #27add0;
                    box-shadow: 0 0 0 0.375rem #fff;
                    left: -0.18rem;
                    top: 0.25rem;

                    @include respons(view-991) {
                        top: 0.375rem;
                    }
                } /* /after */
                &:first-child::after {
                    top: 0.5rem !important;
                    left: -0.25rem;
                    width: 0.56rem;
                    height: 0.56rem;
                    background: #27add0;
                    border: none;
                    box-shadow: 0 0 0 0.0625rem #fff, 0 0 0 0.125rem #27add0, 0 0 0 0.375rem #fff;
                }
            } /* ul */
            #nav-profile {
                margin-top: 2.125rem;
                @include respons(view-991) {
                    margin-top: 0;
                }
                ul {
                    &::after {
                        top: 0.5rem;
                        left: -0.25rem;
                        width: 0.56rem;
                        height: 0.56rem;
                        background: #27add0;
                        border: none;
                        box-shadow: 0 0 0 0.0625rem #fff, 0 0 0 0.125rem #27add0, 0 0 0 0.5rem #fff;
                    }
                    p {
                        overflow: visible;
                    }
                } /* /ul */
            } /* /nav-profile */
            #nav-contact {
                margin-top: 3.125rem;
                @extend #nav-profile;
            }
        } /* /tab-content */
    } /* /data-tab */
} /* /modify */

.effort {
    &::before {
        content: '';
        position: absolute;
        top: 28% !important;
        bottom: -0.94rem;
        left: 0;
        z-index: 9;
        border: 0.0315rem dotted rgba(0, 0, 0, 1);
    }
}
