<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="#{email.title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" href="https://goo.gl/hk22Gj" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
</head>

<body>
<table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
    <tbody>
    <tr>
        <td align="center" valign="top">
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tbody>
               

                <tr>
                    <td align="center"  valign="top" style="padding-right:30px;padding-left:30px;">
                        <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tbody>

                            <tr>
                                <td align="center" valign="top">
                                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="640">
                                        <tbody>
                                        <tr>
                                            <td align="center" valign="top">
                                                <table align="center" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                    <tbody>
                                                    <tr>
                                                        <td align="center" valign="top" width="100%" style="padding-top:40px;padding-bottom:0;">&nbsp;</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align="center" valign="top">
                        <table align="center" border="0" cellpadding="0" cellspacing="0" width="600">
                            <tbody>
                            <tr>
                                <td align="center" valign="top">
                                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:600px;padding: 65px 65px; background: url('https://s3.amazonaws.com/img-storage.aleeph.io/Emailer-Background.png') center no-repeat">
                                        <tbody>

                                        <tr>
                                            <!-- need to chnage-->
                                            <td valign="top" width="100%" style="text-align: center;">
                                                <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                    <tbody>
                                                    <!---->
                                                    <!-- Dear user.login need to chnage-->
                                                    <tr>
                                                        <td style="text-align: center;padding-top: 5px;">
                                                            <img src="https://s3.amazonaws.com/img-storage.aleeph.io/logo.png" width="90" />
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="left" valign="top" style="padding-bottom:20px;padding-top:20px;">
                                                            <h1 th:text = "#{email.greeting}" style="color:#000;font-family:'Roboto',sans-serif;font-size:25px;font-style:normal;font-weight:500;line-height:32px;letter-spacing:normal;margin:0;padding:0;text-align:center">Dear User</h1>
                                                        </td>
                                                    </tr>
                                                    <!-- your account has been created -->
                                                    <tr>
                                                        <td align="left" valign="top" style="padding-bottom:15px">
                                                            <p th:text = "#{email.reset.text1}" style="color:#1892ba;font-family:'Roboto',sans-serif;font-size:23px;font-style:normal;font-weight:300;line-height:25px;letter-spacing:normal;margin:0;padding:0;text-align:center;padding: 0 20px;">
                                                                Your InsyghtAI account has been created, please click on the URL below to
                                                                <!-- complete your registration: -->
                                                            </p>
                                                        </td>
                                                    </tr>
                                                    <!-- Activation Link -->
                                                    <tr>
                                                        <td align="center" style="padding-bottom:5px" valign="top">
                                                            <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                <tbody>
                                                                <tr>
                                                                    <td>
                                                                        <p th:text = "#{email.reset.text2}" style="font-size: 13px; color: #808080;margin-bottom: 12px;font-family:'Roboto',sans-serif;text-align: center;letter-spacing:0.058em;
                                                                        font-weight: 600;">
                                                                            complete your registration:
                                                                        </p>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td align="center" valign="middle">
                                                                        <a th:href="@{|${baseUrl}/#/reset/finish?key=${user.resetKey}|}" style="background: linear-gradient(to right, #27add0 , #158db6);cursor: pointer; border-collapse: separate;color: #ffffff; display: inline-block; font-family: 'Roboto','Helvetica Neue',Helvetica,Arial,sans-serif;font-size: 12px;font-weight: 600;letter-spacing: .4px; text-decoration: none; border-radius: 22px;padding: 20px 52px;"
                                                                           target="_blank">
                                                                            Reset Link
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    <!-- link validity -->
                                                    <tr>
                                                        <td align="center" valign="top" style="padding-bottom:30px;">
                                                            <p th:text = "#{email.link.validity}" style="color:#808080;font-family:'Roboto',sans-serif;font-size:10px;font-style:normal;font-weight:400;line-height:15px;letter-spacing:0.034em;margin:0;padding:0;text-align:center">
                                                                (This link is valid for 24 hours)
                                                            </p>
                                                        </td>
                                                    </tr>
                                                    <!-- Regards Signature -->
                                                    <tr>
                                                        <td align="left" valign="top" style="padding-bottom:25px">
                                                            <p th:text = "#{email.regards}" style="color:#808080;font-family:'Roboto',sans-serif;font-size:10px;font-style:normal;font-weight:400;line-height:12px;letter-spacing:0.034em;margin:0;padding:0;text-align:center">
                                                            </p>
                                                            <p style="color:#808080;font-family:'Roboto',sans-serif;font-size:10px;font-style:normal;font-weight:400;line-height:12px;letter-spacing:0.034em;margin:0;padding:0;text-align:center" >
                                                                <span th:text = "#{email.signature}" style="border-bottom: 1px solid #cecbcb;margin-top: 1px;display: inline-block;padding-bottom: 3px;">Team Aleeph</span>
                                                            </p>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <!--footer-->
                                        <tr>
                                            <td style="padding:0px;text-align: center;">
                                                <table border="0" align="center">
                                                    <tbody>
                                                    <tr>
                                                        <td style="padding-bottom:15px;padding-top:15px;">
                                                            <a href="https://www.facebook.com/AleephIndia/" target="_blank" style="color: #808080;font-size: 12px;padding: 0 10px;"><img src="https://s3.amazonaws.com/img-storage.aleeph.io/facebook.png" width="11" /></a>
                                                            <a href="https://twitter.com/AleephAdvisors" target="_blank" style="color: #808080;font-size: 12px;padding: 0 10px;"><img src="https://s3.amazonaws.com/img-storage.aleeph.io/twitter.png" width="11" /></a>
                                                            <a href="https://www.linkedin.com/company/aleeph-advisors-india-pvt-ltd/" target="_blank" style="color: #808080;font-size: 12px;padding: 0 10px;"><img src="https://s3.amazonaws.com/img-storage.aleeph.io/Linkedin.png" width="11" /></a>
                                                            <a href="https://www.youtube.com/channel/UCiILDQM8MHqlJFitLaIxj6g" target="_blank" style="color: #808080;font-size: 12px;padding: 0 10px;"><img src="https://s3.amazonaws.com/img-storage.aleeph.io/youtube.png" width="11" /></a>
                                                            <a href="https://www.instagram.com/aleephindia/" target="_blank" style="color: #808080;font-size: 12px;padding: 0 10px;"><img src="https://s3.amazonaws.com/img-storage.aleeph.io/Insta.png" width="11" /></a>
                                                            <a href="#" target="_blank" style="color: #808080;font-size: 12px;padding: 0 10px;"><img src="https://s3.amazonaws.com/img-storage.aleeph.io/Google-plus.png" width="11" /></a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <p style="font-size: 10px; display: block; margin: 1px 0; text-align: center; color: #808080;font-family: 'Roboto',sans-serif;">Aleeph Advisors India Pvt. Ltd.</p>
                                                            <p style="font-size: 10px;display: block; margin: 1px 0;text-align: center; color: #808080;font-family: 'Roboto',sans-serif;">&copy; 2018 www.aleeph.io. All Rights Reserved.</p>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>

                                            </td></tr>
                                        <!--/end footer-->
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>

                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
<!--<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.activation.title}">JHipster activation</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
    </head>
    <body>
        <p th:text="#{email.activation.greeting(${user.login})}">
            Dear
        </p>
        <p th:text="#{email.activation.text1}">
            Your JHipster account has been created, please click on the URL below to activate it:
        </p>
        <p>
            
            <a th:href="@{|${baseUrl}/#/reset/finish?key=${user.resetKey}|}"
             th:text="@{|${baseUrl}/#/reset/finish?key=${user.resetKey}|}">Login link</a>
            
        </p>
        <p>
            <span th:text="#{email.activation.text2}">Regards, </span>
            <br/>
            <em th:text="#{email.signature}">JHipster.</em>
        </p>
    </body>
</html>-->
