<div class="education-experience">
  <div class="header clearfix">
    <h1 class="heading">Education Experience</h1>
    <div class="add-data">
      <span (click)='educationToggle()'>+</span>
    </div>
    <div class="form form-education clearfix">
      <jhi-education-modal></jhi-education-modal>
    </div>
  </div>
  <!-- /header -->

  <div class="content">
    <div class="first-item">
     <div class="left-side">
        <h4 class="designation">IIT Delhi</h4>
      <p><span class="company-name">Masters of Technology</span> | <span class="job-location">Mechanical</span></p>
      
      <p class="job-duration">
        <span>2009</span> -
        <span>2012</span>
      </p>
     </div>
      <p class="right-side">
        <span class="country"><strong>Country:</strong> India</span><br>
        <span class="performance"><strong>Performance Scale:</strong> 75%</span>
      </p>

      <div class="activity">
        <span><img src="../../../../../../../content/images/user/profile/edit-icon.png"></span>
        <span data-toggle="modal" data-target="#exampleModal"><img src="../../../../../../../content/images/user/profile/delete-icon.png"></span>
      </div>
      <p class="description"></p>

    </div><!-- /first-item -->

  <div class="first-item">
     <div class="left-side">
        <h4 class="designation">IIT Kanpur</h4>
      <p><span class="company-name">Bachlors of Technology</span> | <span class="job-location">Mechanical</span></p>
      
      <p class="job-duration">
        <span>2006</span> -
        <span>2009</span>
      </p>
     </div>
      <p class="right-side">
        <span class="country"><strong>Country:</strong> India</span><br>
        <span class="performance"><strong>Performance Scale:</strong> 75%</span>
      </p>

      <div class="activity">
        <span><img src="../../../../../../../content/images/user/profile/edit-icon.png"></span>
        <span data-toggle="modal" data-target="#exampleModal"><img src="../../../../../../../content/images/user/profile/delete-icon.png"></span>
      </div>
      <p class="description"></p>
      
    </div><!-- /first-item -->

    <div class="first-item">
     <div class="left-side">
        <h4 class="designation">Delhi Public School</h4>
      <p><span class="company-name">Intermediate</span> | <span class="job-location">Science</span></p>
      
      <p class="job-duration">
        <span>2005</span> -
        <span>2006</span>
      </p>
     </div>
      <p class="right-side">
        <span class="country"><strong>Country:</strong> India</span><br>
        <span class="performance"><strong>Performance Scale:</strong> 75%</span>
      </p>

      <div class="activity">
        <span><img src="../../../../../../../content/images/user/profile/edit-icon.png"></span>
        <span data-toggle="modal" data-target="#exampleModal"><img src="../../../../../../../content/images/user/profile/delete-icon.png"></span>
      </div>
      <p class="description"></p>
      
    </div><!-- /first-item -->
  </div><!-- /content -->
</div>