@import '../experience/experience.scss';
.education-experience {
    width: 100%;
    background: #fff;
    margin: 2rem 0;
    box-shadow: 0.425rem 0.425rem 0.925rem 0 rgba(0, 0, 0, 0.09);

    .left-side {
        display: inline-block;
        float: left;
    }
    .right-side {
        display: inline-block;
        margin-left: 12%;
        strong {
            color: $gray-color;
        }
    }
    .first-item {
        &:last-child {
            .right-side {
                margin-left: 20% !important;
            }
        }
    }
}
