
<!-- <jhi-navigation></jhi-navigation> -->
<div class="outer-wrapper">
  <!--left side menubar component (belongs to webapp\app\user\talent\new-dashboard\left-side-menubar folder)-->
<jhi-side-bar></jhi-side-bar>
<!--/end left side menubar-->
<!--topbar component which include search bar and top right user accoun menubar-->
<jhi-top-bar></jhi-top-bar>
<!--end topbar-->
 <div class="righ-side-container">
         <div class="job-type" id="jobs">
         <!-- <router-outlet></router-outlet> -->
         <ngb-tabset>
          <ngb-tab title="Upcoming Interview">
            <ng-template ngbTabContent>
              <jhi-upcoming></jhi-upcoming>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="Available Request">
            <ng-template ngbTabContent>
              <jhi-available></jhi-available>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="Cancelled Interview">
              <ng-template ngbTabContent>
                <jhi-cancelled></jhi-cancelled>
              </ng-template>
            </ngb-tab>
        </ngb-tabset>
         </div>
 </div>
</div>
<!-- /outer-wrapper -->