@import '../../../../content/scss/global.scss';
.wrapper {
    margin: 1.56rem auto;
}
.premium-service {
    height: 8.75rem;
    padding: 2.812rem 0;
    color: $white;
    text-align: center;
    font-size: $font-size;
    @include gradient(to right, $color-yellow-dark, $color-yellow-light);
}
.join-now {
    border: 0.0625rem solid $white;
    display: block;
    margin: 0 auto;
    margin-top: 0.625rem;
    border-radius: 0.94rem;
    padding: 0.1875rem 1.25rem;
    background: transparent;
    color: $white;
    font-size: $font-size - 0.125rem;
    cursor: pointer;
}
#interview {
    box-shadow: 0 0 0.625rem 0 rgba(0, 0, 0, 0.31);
    padding: 2.187rem 0 0;
}
