$color-red:#eb3856;
$color-red-dark:#bf2046;
$color-blue:#27add0;
$btn-dark-blue:#158db6;
$font-color-black:#212121;
$gradient-red:#c01840;
$gradient-blue:#0e5399;
$white:#fff;
$color-offwhite : #f8f8f8;
$light-blue:#f0f5f8;
$bg-nav-blue:#152640;
$padding:0;
$margin:0;
$box-shadow:0 0 0.562rem 0 rgba(0, 0, 0, 0.55);
$height:25rem;
$width-in-percent:100%;
//$bg-linear-grdient:linear-gradient(to right, rgba(155, 22, 53, 0.92), rgba(14, 83, 153, 0.96));
$z-index:1;
$font-size:0.75rem;
$font-family:'Open Sans', sans-serif;
$border-radius:100%;
$container-max-width:69.375rem;
$color-gray:#878787;
$width-in-px:0.0625rem;
$no-border:none;
$color-border:#e5e9eb;
$filter: brightness(0.5) sepia(1) hue-rotate(-70deg) saturate(0);
$color-yellow-dark:#cca95c;
$color-yellow-light:#f3c965;
$navitem-bg-color: #f8f9fa;
$header-color:#f7f7f7;
$active-color:#e73e4f;
$blog-color:#2cb3cf;
$footer-color:#f4f4f4;
$heading-color:#292f3c;

$font: 'open sans';


			/* margin & padding */
$pad-size:1.25rem;
$mar-size:1.25rem;
			/* font color & size */
$pf-color:#242424;
$sf-color:#878787;
$tf-color:#fff;
$hf-size:3.437rem;
$lf-size:0.75rem;

/* start mixin setup */
@mixin gradient($direction,$f-color,$s-color){
	background: linear-gradient($direction,$f-color,$s-color) !important;
}
@mixin box-shadow($lr,$tb,$spread,$size,$clr)
{
    box-shadow:$lr $tb $spread $size $clr; 
}
@mixin active($bg, $fc)
{
background: $bg;
color: $fc;
}
@mixin button($border-radius, $border,$font-size, $white)
  {
      border-radius: $border-radius;
      border:$border;
      font-size: $font-size;
      color: $white;
      cursor: pointer;
  }
  @mixin focus
  {
	  &:focus{
		border: none;
		outline: none;
	  }
      
  }
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
       -moz-border-radius: $radius;
        -ms-border-radius: $radius;
            border-radius: $radius;
  }
  
  @mixin attachment
  {opacity: 0;width: $width-in-percent;
    &:hover{
      cursor: pointer;
    }
}
@mixin error($font-size, $color-red)
{
	font-size: $font-size;
	color: $color-red;
}

/*************Husain*****************/
$body-bg: #f0f5f8;

/* button colors */

$btn-darkred:#bf2046;
$btn-red:#eb3856;
$btn-darkblue:#158db6;
$btn-blue:#27add0;

/* text colors */

$blue-clr:#0c93ba;
$black-clr:#212121;
$bdr-clr:#dcdcdc;
$gray-clr:#878787;
$error-clr:#ff9595;

$font-family: 'open sans','sans-serif';


	/* start mixin setup */
@mixin gradient($direction,$f-color,$s-color){
	background: linear-gradient($direction,$f-color,$s-color) !important;
}
@mixin divset($width,$bg,$mg,$pd){
	width:$width;
	background:$bg;
	margin:$mg;
	padding:$pd;
}
@mixin para($fs,$fc,$lh){
	font-size:$fs;
	color:$fc;
	line-height:$lh;
}
@mixin borderset($border-width,$border-type,$border-color,$border-radius){
	border:$border-width $border-type $border-color;
	border-radius:$border-radius;
}
@mixin headingset($fs,$fc,$fw){
	font-size:$fs;
	color:$fc;
	font-weight:$fw;
}

.para1{
	@include para(.75rem,$gray-clr,1.2em);
}

			/* mixin setup for media query */

@mixin respond ($breakpoint){
	@if $breakpoint == large-screen{
		@media screen and (min-width:125rem) and (max-width:250rem){
			@content
		};
	};
	@if $breakpoint == macbook-air{
		@media screen and (max-width:96rem){
			@content
		};
	};
	@if $breakpoint == tab-landscape{
		@media screen and (max-width:75rem){
			@content
		};
	};
	@if $breakpoint == ipad-air-landscape{
		@media screen and (max-width:64rem){
			@content
		};
	};
	@if $breakpoint == tab-portrait{
		@media screen and (max-width:61.94rem){
			@content
		};
	};
	@if $breakpoint == galaxy-nexus7-landscape{
		@media screen and (max-width:63.75rem){
			@content
		};
	};
	@if $breakpoint == small-tablet{
		@media screen and (max-width:63.75rem){
			@content
		};
	};
	@if $breakpoint == iphone-6p-landscape{
		@media screen and (max-width:46rem){
			@content
		};
	};
	@if $breakpoint == nexus-landscape{
		@media screen and (max-width:43.125rem){
			@content
		};
	};
	@if $breakpoint == i-phone6-landscape{
		@media screen and (max-width:41.69rem){
			@content
		};
	};
	@if $breakpoint == galaxy-landscape{
		@media screen and (max-width:40rem){
			@content
		};
	};
	@if $breakpoint == xperia-landscape{
		@media screen and (max-width:37.375rem){
			@content
		};
	};
	@if $breakpoint == phone{
		@media screen and (max-width:35.875rem){
			@content
		};
	};
	@if $breakpoint == galaxy-note4{
		@media screen and (max-width:30rem){
			@content
		};
	};
	@if $breakpoint == iphone-6p{
		@media screen and (max-width:25.94rem){
			@content
		};
	};
	@if $breakpoint == lumia-920{
		@media screen and (max-width:24rem){
			@content
		};
	};
	@if $breakpoint == iphone-6{
		@media screen and (max-width:23.44rem){
			@content
		};
	};
	@if $breakpoint == galaxy-s6{
		@media screen and (max-width:22.5rem){
			@content
		};
	};
	@if $breakpoint == iphone-5{
		@media screen and (max-width:20rem){
			@content
		};
	};
}
/*  for none all borders */
.none-set{
	border: none!important;
	outline: none!important;
	box-shadow: none!important;
}
			/* end media query setup */

        /*  End mixin setup */
/*--- Custom scrollbar code --*/

::-webkit-scrollbar{
	width:0.3125rem;
  }
  ::-webkit-scrollbar-track-piece{
	background:#f0f5f8;
  }
  ::-webkit-scrollbar-thumb{
	box-shadow: inset 0 0 0.3125rem 0 gray;
	background: #cbcbcb;
	border-radius:0;
  }
  textarea {
    resize: none;
}
p
{
	text-align: justify;
}
  /*-----/end global scss-----*/

  .header-overlay
  {
      position: absolute;
      left: 0;
      right: 0;
      top:0;
      bottom:0;
      z-index: $z-index - 1;
      @include gradient(to right ,rgba(155, 22, 53, 0.92), rgba(14, 83, 153, 0.96));

  }

  .dashboard-header {
    height: $height - 4.375rem;
    min-height: $height - 4.375rem;
    //background: url('../../../../content/images/user/dashboard/header-image.jpg') center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    position: relative;
    padding-top: 5.312rem;
    .mobile-top-bar
    {
        display: none;
    }
    // @include respond(phone)
    // {
    //     .mobile-top-bar
    // {
    //     display: block;
    // }
    // }/*-----/phone----*/
    
    // @include respond(galaxy-nexus7-landscape)
    // {
    //     .mobile-top-bar
    // {
    //     display: block;
    // }
    // }/*-----/galaxy-nexus7-landscape----*/
    @include respond(large-screen)
	{
			height: 25rem;
            min-height: 25rem;
            padding-top: 3%;
	}
  }
  #sidebar{
	.row {
		margin: 0;
		margin-bottom: 1.25rem;
	}	
	}
	h4.heading{
        @include respond(tab-portrait){
            display:none;
        }
        font-size: $font-size + 0.125rem;
        font-weight: 600;
        float:left;
        margin-bottom: 0.75rem;
	}
	.desk{
		@include respond(galaxy-nexus7-landscape){
            display:none;
            margin-top: 0;
        }
	}
	.wrapper
	{
		margin: 1.56rem auto;
		padding-bottom: 1.87rem;
	}
	a
	{
		cursor: pointer;
	}
	.innerval
	{
		padding-bottom: 1.25rem;
	}
	.see-more
	{
		font-size: 0.75rem;
	}
	.gray
	{
		filter: brightness(0.5) sepia(1) hue-rotate(-70deg) saturate(0);
    margin-right: 0.625rem;
	}
	a
	{
		cursor: pointer;
	}
	.sticky
{
    position: fixed;
    top: 0;
    left:0;
    right:0;
    z-index: 999;
    top: 2.562rem;
}
a.verify
{
    display: inline-block;
	font-size: $font-size - 0.125rem;
	color: #e63554;
    font-weight: 700;
    .fa-check
    {
        color:#49ff00;
	}
	
}
.pagination{
	float:right;
	margin-top:1.25rem;
	margin-right:1.25rem;
	li{
		display:inline-block;
		a{
			color:$gray-clr;
			font-size:1em;
			padding:0 1em 0 0;
			&:hover{

			color:$btn-red;
			}
		}
		.active{
			color:$btn-red;
		}
}
}/* /pagination */
.blog-post
{
	margin-bottom: 1.56rem;
}
a, button, input[type="submit"], input[type="button"],a.btn
{
	cursor: pointer;
	outline: none;
	&:focus
	{
		outline: none;
		box-shadow: none;	
	}
}
input, textarea, select {
	&:-webkit-autofill, &:-webkit-autofill:hover, &:-webkit-autofill:focus {
		background: transparent;
		-webkit-box-shadow: 0 0 0 62.5rem transparent inset;
		transition: background-color 5000s ease-in-out 0s;
		-webkit-text-fill-color: $color-gray !important;
	}
}
// ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
//     color: #c3c3c3;
//     opacity: 1; /* Firefox */
// }

// :-ms-input-placeholder { /* Internet Explorer 10-11 */
//     color: #c3c3c3;
// }

// ::-ms-input-placeholder { /* Microsoft Edge */
//     color: #c3c3c3;
// }