<div class="desired-job">
  <div class="header clearfix">
    <h1 class="heading">Desired Job</h1>
    <div class="add-data">
      <span (click)='desiredToggle()'>+</span>
    </div>
    <div class="form form-desired clearfix">
      <jhi-desired-job-modal></jhi-desired-job-modal>
    </div>
  </div>
  <!-- /header -->

  <div class="content">
    <div class="first-item">
     <div class="left-side">
        <h4 class="designation">Creative Designer</h4>
        <p>Full Type</p>
      <p><span class="city">Noida</span>, <span class="job-location">Ghaziabad</span></p>
      
     </div>
      <p class="right-side">
        <span class="country"><strong>Desired Position:</strong> Graphic Designer</span><br>
        <span class="performance"><strong>Experience:</strong> 4 - 6 Years</span>
      </p>

      <div class="activity">
        <span><img src="../../../../../../../content/images/user/profile/edit-icon.png"></span>
        <span data-toggle="modal" data-target="#exampleModal"><img src="../../../../../../../content/images/user/profile/delete-icon.png"></span>
      </div>
      <p class="description"></p>

    </div><!-- /first-item -->

  <div class="first-item">
     <div class="left-side">
        <h4 class="designation">3D Designer</h4>
        <p>Full Type</p>
      <p><span class="city">Noida</span>, <span class="job-location">Ghaziabad</span></p>
      
     </div>
      <p class="right-side">
        <span class="country"><strong>Desired Position:</strong> Graphic Designer</span><br>
        <span class="performance"><strong>Experience:</strong> 3 - 4 Years</span>
      </p>

      <div class="activity">
        <span><img src="../../../../../../../content/images/user/profile/edit-icon.png"></span>
        <span data-toggle="modal" data-target="#exampleModal"><img src="../../../../../../../content/images/user/profile/delete-icon.png"></span>
      </div>
      <p class="description"></p>

    </div><!-- /first-item -->
  </div><!-- /content -->  
</div>
