@import '../experience/experience.scss';
@import '../education/education.scss';
.desired-job {
    @extend .education-experience;
    .first-item {
        &:last-child {
            .right-side {
                margin-left: 14% !important;
            }
        }
    }
}
.show {
    height: 100% !important;
}
