<!-- <div>
    <div class="row">
        <div class="col-md-4">
            <span class="hipster img-fluid rounded"></span>
        </div>
        <div class="col-md-8">
            <h1>Error Page!</h1>

            <div [hidden]="!errorMessage">
                <div class="alert alert-danger">{{errorMessage}}
                </div>
            </div>
            <div [hidden]="!error403" class="alert alert-danger">You are not authorized to access this page.
            </div>
        </div>
    </div>
</div> -->

<jhi-navigation></jhi-navigation> 
<div class="slider">
    <h4>404</h4>
  </div><!-- /slider -->
  <div class="container data text-center">
    <p class="heading">oops!</p>
    <p>Sorry we couldn’t find the page<br>
  you are looking for.</p>
  <button (click)="movetoTop" routerLink="/">Back to Home</button>
  <div class="ui">
    <img src="../../../content/images/404-img.png">
  </div><!-- /ui -->
  </div><!-- /container -->
  <jhi-footer></jhi-footer>