@import '../../user/shared/scss/shared.scss';
$color-gray : #878787;
$color-blue : #27add0;
$color-dark-blue : #158db6;

$color-white : #f8f8f8;
$heading-color:#292f3c;

$color-red : #eb3856;
$color-dark-red : #bf2046;

$font-family: 'Open Sans', 'sans-serif';
	/* Start Slider */	
    .slider{
        margin-top:3.75rem;
        width:100%;
        background:linear-gradient(to right,$color-blue,$color-dark-blue);
        text-align:center;
        padding:5.625rem 0;
        h4{
            font-size:3.125rem;
            font-weight:bold;
            color:#fff;
            text-transform:uppercase;
        }
    }/* /slider */
    
    
    
    
    
                        /* Start 404 data */
    
    .data{
        padding-top:2.5rem;
        width:100%;
        text-align:center;
        padding-bottom:8.125rem;
    
        p.heading{
            font-size:10.125rem;
            color:$heading-color;
            text-transform:uppercase;
        }
        p{
            margin:0;
            font-size:1.87rem;
            color:$color-gray;
        }
    
        button{
            width:9.625rem;
            height:3.375rem;
            border:none;
            background: linear-gradient(to right,$color-red,$color-dark-red);
            color:$color-white;
            border-radius:1.5rem;
            outline:none;
            cursor:pointer;
            font-size:0.94rem;
            margin:1.87rem auto 5.625rem auto;
    
        }/* /button */
    
    }/* /end data */
