<form [formGroup]="skillFormGroup">

    <!-- Skill Input Field | Validations: Not Null -->
    <mat-form-field>
      <input matInput placeholder="Skill" formControlName="skillNameCtrl" required>
      <mat-error>{{getSkillNameErrorMessage()}}</mat-error>
    </mat-form-field>

    <!-- Profiency Level Drop down -->
    <mat-form-field>
      <mat-select placeholder="Level" formControlName="profiencyLevelCtrl" required>
        <mat-option *ngFor="let profiencyLevel of ProfiencyLevel" [value]="profiencyLevel.value">
          {{profiencyLevel.name}}
        </mat-option>
      </mat-select>
      <mat-error>{{getProfiencyLevelErrorMessage()}}</mat-error>
    </mat-form-field>

    <!-- Experience Drop down -->
    <mat-form-field class="experience">
      <mat-select placeholder="Experience" formControlName="experienceCtrl">
        <mat-option *ngFor="let experience of Experience" [value]="experience.value">
          {{experience.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>


    <!-- Last Year Used Drop down -->
<!--    <mat-form-field>-->
<!--      <mat-select placeholder="Last Used Year" [formControl]="LastUsedYearCtrl">-->
<!--        <mat-option *ngFor="let lastUsed of LastUsed" [value]="lastUsed.value">-->
<!--          {{lastUsed.name}}-->
<!--        </mat-option>-->
<!--      </mat-select>-->
<!--    </mat-form-field>-->

    <!-- <div class="skill-rating">
      <p class="heading">Self Rating</p>
      <ul>
        <li class="rating fill"></li>
        <li class="rating fill"></li>
        <li class="rating fill"></li>
        <li class="rating fill"></li>
        <li class="rating fill"></li>
        <li class="rating fill"></li>
        <li class="rating unfill"></li>
        <li class="rating unfill"></li>
        <li class="rating unfill"></li>
        <li class="rating unfill"></li>
      </ul>
    </div> -->
<!--    <ngb-rating [(rate)]="skill.selfRate" (hover)="hovered=$event" (leave)="hovered=0" [readonly]="readonly"></ngb-rating>-->

    <div>
      <!-- <button mat-button matStepperNext>Next</button> -->
      <button type="submit" [disabled]="skillFormGroup.invalid || isSaving" mat-button>Save</button>
    </div>
  </form>
