
 <!-- Start Chief -->
  <div id="chief">
    <div class="container">
      <h4 class="heading text-center">Chief Proponent</h4>
      <div class="row">
        <div class="col-md-5 col-lg-5 chief-img">
          <img src="../../../../../content/images/we/lady.jpg" class="img-fluid">
        </div><!-- /col-md-4 -->
        <div class="col-md-7 col-lg-7 chief-data">
          <img src="../../../../../content/images/we/comma.png" class="comma">
          <p>The world is full of choices
              where you  need to select 
              your perfect cup of tea.</p>
          <span>Hima Bindu <br><img src="../../../../../content/images/we/chief-sign.png"></span>
        </div>
      </div>
    </div><!-- /container -->
  </div><!-- /chief -->