@import '../../../../../content/scss/global';
/* Start Chief Proponent */
#chief {
    background: url('../../../../../content/images/we/chief-bg.jpg') no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    padding: 2.5rem 0;
    h4.heading {
        text-transform: uppercase;
        font-size: 2.19rem;
        font-weight: bold;
        color: #fff;
        margin-bottom: 2.5rem;
        @include respons(view-533) {
            font-size: 1.87rem;
        }
    }
    .chief-img {
        padding: 0.31rem 0;
        @include respons(view-767) {
            padding: 0 20%;
            text-align: center;
        }
        @include respons(view-533) {
            padding: 0 10%;
        }

        img {
            float: right;

            @include respons(view-767) {
                float: none;
            }
        }
    } /* /chief-img */
    .chief-data {
        background: #fff;
        padding: 1.87rem 3.12rem;

        @include respons(view-767) {
            width: 60%;
            margin: 0 auto;
            background: #fff;
            padding: 1.87rem 1.56rem;
            float: none;
        }
        @include respons(view-533) {
            width: 80%;
        }
        .comma {
            width: 20%;
        }
        p {
            width: 100%;
            padding: 0 25%;
            text-align: center;
            margin-top: 5rem;
            font-size: 1.25rem;
            @include respons(view-991) {
                margin-top: 0.94rem;
                padding: 0%;
            }
            @include respons(view-767) {
                font-size: 0.87rem;
            }
        }
        span {
            float: right;
            margin-top: 5rem;

            @include respons(view-1199) {
                margin-top: 0;
            }
        }
    } /* /chief-data */
} /* /chief */
