<section class="devise">
  <article class="block2">
    <aside class="container">
      <h1>Technologies we’re using</h1>
      <div class="row justify-content-start">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-4 col-md-6">
              <img class="img-fluid" src="../../../../../assets/img/device/tech-ai.png" alt="" />
            </div>
            <div class="col-md-4 col-md-6">
              <p class="tec-aci-text">Artificial Intelligence, a state-of-the-art technology which enables the devices to perceive human-like intelligence
                and Aleeph helps in maximizing the abilities to achieve its objectives.</p>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="row justify-content-end">

            <div class="col-md-4 col-md-6">
              <p class="tec-hci-text">Human-computer interaction majorly concentrates on how people use and are affected by the computer technology.
                Aleeph’s objective is to observe the human interaction with the computer to determine their activities.
              </p>
            </div>
            <div class="col-md-4 col-md-6">
              <img class="img-fluid" src="../../../../../assets/img/device/tech-hci.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </aside>
  </article>
</section>