$font-stack: 'SamsungSharpSans', Arial, Helvetica, sans-serif;
$primary-color: #8c8a85;
$background: #fff;
$text-color: #5e6263;
$font-size: 20px;
$line-height: 40px;
$margin: 0px 15px;
$margin-left: auto;
$border-radius: 10px;
$left: 200px;
$btn_padding: 6px 20px;
$btn-size: 16px;
$background_carousel: #f7f8fa;
$display: none;
$padding: 0;
$carousel-caption-height: 500px;
$h2: 50px;
$p: 15px;
$margin-top: 30px;
$text-align: left;
$float: left;
$float-right: right;
$text-align-right: right;
$width: 100%;
$absolute: absolute;

h1 {
    position: $absolute;
    top: 60%;
    width: $width;
    font-size: 36px;
    letter-spacing: 3px;
    color: $background;
    font-family: 'SamsungSharpSans', Arial, Helvetica, sans-serif;
    text-align: center;
}
body {
    font: 100% 'SamsungSharpSans', Arial, Helvetica, sans-serif;
    color: #8c8a85;
    overflow-x: hidden;
    background-color: #fff;
}
.devise {
    background: #f9fafc;
}
.devise .block1,
.devise .block2,
.devise .block3,
.devise block4 {
    padding: 100px 0 0 0;
    text-transform: uppercase;
}
.devise .box-device {
    text-align: center;
    padding: 25px;
}
.devise .box-device h2 {
    color: #707070;
    text-align: center;
    text-transform: uppercase;
    font-size: 42px;
    font-weight: bold;
    margin-top: 25px;
}
.devise .red {
    background: #ffc3bf;
}
.devise .blue {
    background: #c3f3fa;
}
.devise .yellow {
    background: #ffecb4;
}
.devise .box-device2 {
    box-shadow: 10px 9px 25px #eee;
    min-height: $carousel-caption-height - 20px;
}
.devise .box-device2 p {
    padding: 25px;
    font-size: $font-size - 2px;
    line-height: $line-height - 12px;
    color: #595959;
    text-align: justify;
}
.devise .box-device.dark-yellow {
    background: #ffda2c;
}
.devise .box-device.dark-blue {
    background: #45dff4;
}
.devise .box-device.dark-red {
    background: #ff6458;
}

/* device block 2 css */
.devise .block2 h1 {
    position: relative;
    font-size: 50px;
    color: #0f6597;
    margin-bottom: 25px;
}
.devise .block2 p.tec-aci-text,
.devise .block2 p.tec-hci-text {
    font-size: 18px;
    line-height: 28px;
    margin-top: $carousel-caption-height - 300px;
    color: #8c8a85;
    overflow-x: hidden;
    text-transform: initial;
    text-align: justify;
}
.devise .block2 p.tec-hci-text {
    margin-top: 165px;
}

/* device block 3 css */

.devise .block3 h1 {
    position: relative;
    font-size: 50px;
    color: #0f6597;
    margin-bottom: 55px;
}

/* device block 4 css */

.devise .block4 h1 {
    position: relative;
    font-size: 50px;
    color: #0f6597;
    margin: 80px 0 55px 0;
    text-transform: uppercase;
}

.devise .block4 .red-box {
    background: #c13927;
    border-radius: 100px 10px 100px 10px;
    height: $carousel-caption-height - 343px;
    width: $width;
    display: table-cell;
    vertical-align: middle;
    padding: 50px;
    margin-bottom: $carousel-caption-height - 420px;
}
.devise .block4 .red-box p {
    color: $background;
    font-size: $font-size - 4px;
}

.devise .block4 .blue-box {
    background: #106a9e;
    border-radius: 100px 10px 100px 10px;
    height: $carousel-caption-height - 343px;
    width: $width;
    display: table-cell;
    vertical-align: middle;
    padding: $margin-top + 20px;
    margin-bottom: $margin-top + 50px;
}
.devise .block4 .blue-box p {
    color: $background;
    font-size: 16px;
}
.dot {
    margin-left: -52px;
    margin-top: $margin-top + 40px;
    margin-right: -58px;
    position: relative;
    z-index: 1;
}
.margin-bottom {
    margin-bottom: $margin-top - 20px;
}

@media only screen and (min-width: 992px) and (max-width: 1191px) {
    .devise .block2 p.tec-aci-text {
        margin-top: $margin-top + 138px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .dot {
        display: none;
    }
    .devise .box-device2 {
        min-height: $margin-left;
    }
    .devise .box-device2 {
        margin-bottom: $margin-top + 15px;
    }
    .devise .block2 p.tec-aci-text {
        margin-top: $margin-top + 20px;
    }
    .devise .block2 p.tec-hci-text {
        margin-top: 120px;
    }
}
@media (max-width: 767px) {
    .dot {
        display: none;
    }
    .devise .block4 .red-box,
    .devise .block4 .blue-box {
        margin-bottom: $margin-top - 5px;
    }
    .devise .block2 p.tec-aci-text {
        margin-top: $margin-top + 20px;
    }
    .devise .block4 .red-box,
    .devise .block4 .blue-box {
        height: $margin-left;
    }
    .devise .box-device2 {
        margin-bottom: $margin-top + 15px;
    }
    .devise .block4 h1 {
        font-size: $font-size + 12px;
    }
}
@media (max-width: 375px) {
    .devise .block2 h1 {
        font-size: 32px;
    }
}
