@import '../../../../../content/scss/global';
/* For Map PopUps */
a.btn {
    cursor: pointer;
}
/* Start slider */
/* Start slider */
.slider {
    width: 100%;
    position: relative;
    &::before {
        content: '';
        display: block;
        padding-top: 56.25%;
    }
    #video_slider {
        width: 100%;
        top: 0;
        left: 0;
        position: absolute;
    }
    .overlay {
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(to top, #000, rgba(0, 0, 0, 0));
        color: white;
        z-index: 1;
        text-align: center;
        position: absolute;
        .text {
            position: absolute;
            top: 40%;
            font-size: 0.94rem;
            width: 100%;

            @media screen and (max-width: 61.94rem) {
                top: 30%;
            }

            .hero-text {
                font-size: 3rem;
                width: 100%;

                @media screen and (max-width: 61.94rem) {
                    font-size: 2.5rem;
                }
            }
            p {
                margin-bottom: 3rem;
            }
            .explore-btn {
                padding: 0.8rem 3rem;
                // background: $color-red;
                background: linear-gradient(to right, $color-red, $color-dark-red);
                cursor: pointer;
            }
        }
    }
} /* /slider */
.feature-over {
    width: 100%;
    position: relative;
}

// .carousel-inner {
//    // padding-top: 2.81rem !important;
// }
.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10% !important;
    color: #fff;
    text-align: center;
    opacity: 0.5;
}
