
<div class="slider">
  <video autoplay oncanplay="this.muted=true" loop id="video_slider">
    <source src="../../../../../content/video/live-streaming/video_slider.mp4" type="video/mp4">
  </video>
  <div class="overlay">
    <div class="text">
      <h1 class="hero-text">New Way of Hiring Assets</h1>
      <p>Get ready for live streaming</p>
      <div class="buttons">
        <a class="explore-btn" (click)="register()">Join Now</a>
      </div><!-- /buttons -->
    </div><!-- /text -->
    <!-- <jhi-live-streaming></jhi-live-streaming> -->
  </div>
  </div>

