@import '../../shared/scss/shared.scss';

.left-bar {
    padding: 0 0.125rem;
    box-shadow: 0 0 0.5625rem 0 rgba(0, 0, 0, 0.17);
    .left-body {
        width: 100%;
        overflow-y: scroll;
        max-height: 36.9rem;
        .first {
            width: 100%;
            color: $color-gray;
            border-bottom: 0.0625rem solid $bdr-clr;

            &:last-child {
                border: none;
            }
            .img {
                float: left;
                padding: 0.8em;
                width: 3.75rem;
                margin-right: 0.3125rem;
            }
            .info {
                padding-top: 0.8em;
                padding-right: 0.44rem;

                p {
                    font-size: 0.625rem;
                    padding: 0;
                    margin: 0;
                    text-align: left;
                }
            }
        } /* /first */
        .active {
            background: linear-gradient(to right, $color-blue, $btn-dark-blue);
            color: #fff;
            .close {
                text-shadow: none;
                color: #fff;
                font-size: 1.375rem;
                font-weight: 200;
                &:hover {
                    color: #fff;
                }
            } /* /close */
        } /* /.active */
    } /* /left-body */
    .left-footer {
        width: 100%;
        padding: 1rem;
        border-top: 0.0625rem solid $bdr-clr;
        a {
            color: $color-gray;
            text-decoration: none;
            font-size: 0.94rem;
            &:hover {
                color: $color-red;
            }
        }
    } /* /left-footer */
    button.close {
        font-size: 1.375rem;
        font-weight: 200;
        cursor: pointer;
    }
} /* /left-bar */

.detail-page {
    color: $color-gray;
    padding: 0 0.125rem;

    h5.heading {
        color: $font-color-black;
        font-size: 1.0625rem;
        margin-bottom: 0.625rem;
        font-weight: 400;
    }

    .data-preview {
        padding: 1rem;
        .img {
            float: left;
            width: 15%;
            img {
                float: left;
                margin-top: 0.3rem;
                border: 0.0625rem solid $bdr-clr;
            } /* /img */
        } /* /.img */
        .info {
            width: 80%;
            float: left;
            p {
                margin: 0;
                margin-left: 0.5em;
                font-size: $font-size;
            }
            .heading {
                font-size: 1rem;
                color: $font-color-black;
            }
        } /* /info */
    } /* /data-preview */
    .requirements {
        ul {
            padding-left: 1rem;
            p {
                margin-left: -1rem;
            }
            li {
                font-size: $font-size;
            }
        }
    }
    .banefits {
        ul {
            padding-left: 1rem;
        }
    } /* /banefits */
    .skills {
        p {
            margin-bottom: 0;
        }
    }
    .pop {
        border-top: 0.0625rem solid $bdr-clr;
        list-style: none;
        padding: 0;
        a {
            color: $color-gray;
            padding: 0.3125rem 0;
            text-decoration: none;
            font-size: 0.94rem;

            &:hover {
                color: $color-red;
            }
            &:focus {
                outline: none;
            }
        }
        li {
            display: inline;
        }
    } /* /pop */

    p {
        strong {
            color: $font-color-black;
            font-size: $font-size;
        }
    }
    .see {
        margin-bottom: 0.5rem;
        display: block;
        color: $color-gray;
        font-size: $font-size;
        &:hover {
            color: $color-red;
        }
    }
} /* /detail-page */

p {
    font-size: $font-size;
    margin-bottom: 0.625rem;
}

::-webkit-scrollbar {
    width: 0.375rem;
    height: 3.125rem;
}
::-webkit-scrollbar-track-piece {
    box-shadow: inset 0 0 0.3125rem 0 #27add0;
    border-radius: 1em;
}
::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 0.3125rem 0 gray;
    background: linear-gradient(to bottom, #27add0, #158db6);
    border-radius: 1em;
}

ul li {
    font-size: $font-size;
}
.row {
    margin: 0;
}
footer {
    margin-top: 0.94rem !important;
}
