<div class="skills clearfix">
    <div class="header clearfix">
      <h1 class="heading">Skills</h1>
      <div class="add-data">
        <span (click)='skillToggle()'>+</span>
      </div>
      <div class="form form-skill clearfix">
        <jhi-skill-modal></jhi-skill-modal>
      </div>
    </div>
    <!-- /header -->

    <div class="content">
      <div class="first-skill">
       <div class="left-side">
          <h4 class="designation">Java</h4>
          <ul>
            <li class="rating fill"></li>
            <li class="rating fill"></li>
            <li class="rating fill"></li>
            <li class="rating fill"></li>
            <li class="rating fill"></li>
            <li class="rating fill"></li>
            <li class="rating unfill"></li>
            <li class="rating unfill"></li>
            <li class="rating unfill"></li>
            <li class="rating unfill"></li>
          </ul>
        
       </div>
        <div class="right-side">
          <p><strong>Experience</strong><br> <span>2 Yrs</span></p>
          <p><strong>Last Used</strong><br> <span>2011</span></p>
          <p><strong>Level</strong><br> <span>Expert</span></p>
        </div><!-- /right-side -->

        <div class="activity">
            <span><img src="../../../../../../../content/images/user/profile/edit-icon.png"></span>
            <span data-toggle="modal" data-target="#exampleModal"><img src="../../../../../../../content/images/user/profile/delete-icon.png"></span>
        </div>
        <p class="description"></p>

      </div><!-- /first-item -->

      <div class="first-skill">
       <div class="left-side">
          <h4 class="designation">Angular</h4>
          <ul>
            <li class="rating fill"></li>
            <li class="rating fill"></li>
            <li class="rating fill"></li>
            <li class="rating fill"></li>
            <li class="rating fill"></li>
            <li class="rating fill"></li>
            <li class="rating unfill"></li>
            <li class="rating unfill"></li>
            <li class="rating unfill"></li>
            <li class="rating unfill"></li>
          </ul>
        
       </div>
        <div class="right-side">
          <p><strong>Experience</strong><br> <span>6 months</span></p>
          <p><strong>Last Used</strong><br> <span>2018</span></p>
          <p><strong>Level</strong><br> <span>Basic</span></p>
        </div><!-- /right-side -->

        <div class="activity">
            <span><img src="../../../../../../../content/images/user/profile/edit-icon.png"></span>
            <span data-toggle="modal" data-target="#exampleModal"><img src="../../../../../../../content/images/user/profile/delete-icon.png"></span>
        </div>
        <p class="description"></p>

      </div><!-- /first-item -->

      <div class="first-skill">
       <div class="left-side">
          <h4 class="designation">Angular</h4>
          <ul>
            <li class="rating fill"></li>
            <li class="rating fill"></li>
            <li class="rating fill"></li>
            <li class="rating fill"></li>
            <li class="rating fill"></li>
            <li class="rating fill"></li>
            <li class="rating unfill"></li>
            <li class="rating unfill"></li>
            <li class="rating unfill"></li>
            <li class="rating unfill"></li>
          </ul>
        
       </div>
        <div class="right-side">
          <p><strong>Experience</strong><br> <span>6 months</span></p>
          <p><strong>Last Used</strong><br> <span>2018</span></p>
          <p><strong>Level</strong><br> <span>Basic</span></p>
        </div><!-- /right-side -->

        <div class="activity">
            <span><img src="../../../../../../../content/images/user/profile/edit-icon.png"></span>
            <span data-toggle="modal" data-target="#exampleModal"><img src="../../../../../../../content/images/user/profile/delete-icon.png"></span>
        </div>
        <p class="description"></p>

      </div><!-- /first-item -->

    </div><!-- /content -->  
  </div>