@import '../experience/experience.scss';
.show {
    height: 100% !important;
}
.skills {
    width: 100%;
    background: #fff;
    box-shadow: 0.425rem 0.425rem 0.925rem 0 rgba(0, 0, 0, 0.09);
    .content {
        padding-left: 1rem;
    }
    .first-skill {
        padding-top: 1rem;
        .description {
            margin: 0;
            padding-bottom: 0;
        }

        &:last-child {
            &:before {
                border: none;
            }
            .description {
                display: none;
            }
        }
    }
    .left-side {
        display: inline-block;
        ul {
            list-style: none;
            padding-left: 0;
            li {
                height: 0.8rem;
                width: 0.8rem;
                border-radius: 100%;
                background: #fff;
                border: 0.09rem solid #27add0;
                display: inline-block;
                margin-right: 0.25rem;
                cursor: pointer;
                &:hover {
                    background: #27add0;
                }
            }
            li.fill {
                background: #27add0;
            }
        }
    }
    .right-side {
        display: inline-block;
        text-align: center;
        p {
            display: inherit;
            margin-left: 3rem;
            strong {
                font-size: 0.875rem;
                color: $gray-color;
            }
        }
    }
    .activity {
        margin-top: 1rem;
    }
}
