@import '../../../../../content/scss/global';

#contact {
    width: 100%;
    background: linear-gradient(to right, #0b2ba0, #d2003b);
    padding: 3.75rem 0;
    color: $color-white;
    @include respons(view-767) {
        text-align: center;
    }
    p {
        font-size: 1.25rem;
        display: inline-block;
        margin-top: 1.25rem;
    }
    .contact-btn {
        width: 12.5rem;
        height: 3.43rem;
        border: 0.062rem solid $color-white;
        // border-radius:1.25rem;
        text-align: center;
        cursor: pointer;
        background: transparent;
        color: $color-white;
        float: right;
        outline: none;
        font-size: 1.25rem;

        @include respons(view-767) {
            float: none;
        }
        @include respons(view-767) {
            font-size: 0.75rem;
            width: 9rem;
            height: 3rem;
            // border-radius:2.25rem;
        }
    }
    .container {
        padding: 0 10%;
    } /* /container */
} /* /contact */

#map {
    width: 100%;
    height: 39.37rem;
} /* /map */
