<!-- Start Contact -->
<div id="contact">
    <div class="container">
      <p>Welcome to the world of inspiration</p>
      <button class="contact-btn" (click)="openContactUs()">Contact Us</button>
    </div><!-- /container -->
  </div><!-- /contact -->
  
      <!-- Start Maping -->
  <div #map style="width:100%;height:400px">
   
  </div><!-- /map -->