<div id="blog" class="carousel slide" data-ride="carousel">
  <h4 class="heading1 text-center">Blogs & News</h4>
  <ol class="carousel-indicators">
    <li data-target="#blog" data-slide-to="0" class="active"></li>
    <li data-target="#blog" data-slide-to="1"></li>
    <li data-target="#blog" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner container p-0">
    <div class="carousel-item clearfix active">

      <div class="data row">
        <div class="col-md-6 pl-0 blog-img">
          <img src="../../../../../content/images/home/new-home/blogs/technology1.jpg" class="img-fluid">
        </div>
        <!-- /col-md-6 -->

        <div class="col-md-6 py-3">
          <p class="mt-3">
            <small>May 2, 2018</small>
          </p>
          <h4 class="heading">InsyghtAI Solution making things simple</h4>
          <p>
            <small>
              <i class="fa fa-heart"></i> 24 | Tags: Technology, Education </small>
          </p>
          <p class="mt-3  multiline-ellipsis">
            Searching and recruiting best quality candidates have become a complicated task nowadays. In today’s evolving and competitive...</p>

          <ul class="list-inline social-icon">
            <li class="list-inline-item">
              <a href="https://www.facebook.com/AleephIndia/" class="facebook" target="_blank">
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://twitter.com/AleephAdvisors" class="twitter" target="_blank">
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.linkedin.com/company/aleeph-advisors-india-pvt-ltd/" class="linkedin" target="_blank">
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.instagram.com/aleephindia/" class="instagram" target="_blank">
              </a>
            </li>
            <li class="list-inline-item">
              <a class="google-plus">
              </a>
            </li>
          </ul>

          <button class="see" (click)="movetoTop()" routerLink="/blogs/blog-detail/aleeph-solution-making-things-simple">See More</button>
        </div>
        <!-- /col-md-6 -->
      </div>
      <!-- /data -->

    </div>
    <!-- /carousel-item -->
    <div class="carousel-item clearfix">

      <div class="data row">
        <div class="col-md-6 pl-0 blog-img">
          <img src="../../../../../content/images/home/new-home/blogs/technology2.jpg" class="img-fluid">
        </div>
        <!-- /col-md-6 -->

        <div class="col-md-6 py-3">
          <p class="mt-3">
            <small>May 2, 2018</small>
          </p>
          <h4 class="heading">InsyghtAI Data Platform</h4>
          <p>
            <small>
              <i class="fa fa-heart"></i> 24 | Tags: Technology, Education </small>
          </p>
          <p class="mt-3 multiline-ellipsis">
            We have adopted micro-service architecture building thousands of micro-services that power specific user experiences like
            job search, job...</p>

          <ul class="list-inline social-icon">
            <li class="list-inline-item">
              <a href="https://www.facebook.com/AleephIndia/" class="facebook" target="_blank">
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://twitter.com/AleephAdvisors" class="twitter" target="_blank">
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.linkedin.com/company/aleeph-advisors-india-pvt-ltd/" class="linkedin" target="_blank">
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.instagram.com/aleephindia/" class="instagram" target="_blank">
              </a>
            </li>
            <li class="list-inline-item">
              <a class="google-plus">
              </a>
            </li>
          </ul>

          <button class="see" (click)="movetoTop()" routerLink="/blogs/blog-detail/aleeph-data-platform">See More</button>
        </div>
        <!-- /col-md-6 -->
      </div>
      <!-- /data -->

    </div>
    <!-- /carousel-item -->

    <div class="carousel-item clearfix">

      <div class="data row">
        <div class="col-md-6 pl-0 blog-img">
          <img src="../../../../../content/images/home/new-home/blogs/technology3.jpg" class="img-fluid">
        </div>
        <!-- /col-md-6 -->

        <div class="col-md-6 py-3">
          <p class="mt-3">
            <small>May 2, 2018</small>
          </p>
          <h4 class="heading">Helping Hands Chatbot</h4>
          <p>
            <small>
              <i class="fa fa-heart"></i> 24 | Tags: Technology, Education </small>
          </p>
          <p class="mt-3 multiline-ellipsis">
            InsyghtAI is introducing “Levi” chatbot to communicate with the audience. Users can simply ask questions using voice or by...</p>

          <ul class="list-inline social-icon">
            <li class="list-inline-item">
              <a href="https://www.facebook.com/AleephIndia/" class="facebook" target="_blank">
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://twitter.com/AleephAdvisors" class="twitter" target="_blank">
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.linkedin.com/company/aleeph-advisors-india-pvt-ltd/" class="linkedin" target="_blank">
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.instagram.com/aleephindia/" class="instagram" target="_blank">
              </a>
            </li>
            <li class="list-inline-item">
              <a class="google-plus">
              </a>
            </li>
          </ul>
          <button class="see" (click)="movetoTop()" routerLink="/blogs/blog-detail/helping-hands-chatbot">See More</button>
        </div>
        <!-- /col-md-6 -->
      </div>
      <!-- /data -->

    </div>
    <!-- /carousel-item -->
  </div>
  <!-- /carousel-inner -->
  <a class="carousel-control-prev slide-control" href="#blog" role="button" data-slide="prev">
    <span aria-hidden="true">
      <img src="../../../../../content/images/home/new-home/left-arrow.png">
    </span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next slide-control" href="#blog" role="button" data-slide="next">
    <span aria-hidden="true">
      <img src="../../../../../content/images/home/new-home/right-arrow.png">
    </span>
    <span class="sr-only">Next</span>
  </a>
</div>
<!-- /blog -->