@import '../../../../../content/scss/global';
/* For Map PopUps */
a {
    cursor: pointer;
}

#blog {
    width: 100%;
    background: $color-white;
    padding: 2.5rem 2.94rem;

    @include respons(view-480) {
        padding: 2.5rem 0.94rem;
    }
    .data {
        .blog-img {
            @include respons(view-767) {
                padding: 0 !important;
            }
            img {
                width: 100%;
                height: 100%;
            }
        }

        width: 98%;
        max-width: 57.5rem;
        box-shadow: 0 0 1.25rem 0 #cbcbcb;
        margin: 2.5rem auto 3.75rem auto;
        .col-md-6:last-child {
            padding-right: 1.875rem !important;
        }
    }
    .fav-icon {
        color: $color-gray;
    }
    .carousel-indicators li {
        margin-bottom: 0.94rem;
        border-radius: 50%;
        border: none;
        background: $color-gray;
        &:nth-of-type(2) {
            margin: 0.0625rem 0.87rem;
        }
    }
    .carousel-indicators li.active {
        background: $color-red;
    }
    h4 {
        font-size: 1.25rem;
        font-weight: bold;
        color: $heading-color;
        @include respons(view-480) {
            font-size: 0.94rem;
        }
    }
    h4.heading1 {
        font-size: 2.19rem;
        text-transform: uppercase;

        @include respons(view-533) {
            font-size: 1.87rem;
        }
    }
    i:hover {
        color: $color-red;
    }
    i.active {
        color: $color-red;
    }
    p {
        color: $color-gray;
        //font-size:0.94rem;
        small {
            font-size: 0.62rem;
            color: $color-gray;
            i {
                color: $color-red;
            }
        }
    }
    button {
        width: 5rem;
        height: 1.62rem;
        background: linear-gradient(to right, $color-blue, $color-dark-blue);
        color: $color-white;
        border: none;
        outline: none;
        // border-radius:1.25rem;
        font-size: 0.62rem;
        float: right;
        padding: 0.25rem;
        cursor: pointer;
    }
    ul.social-icon {
        float: left;
        li {
            margin-right: 1.875rem;
            a {
                width: 1rem;
                height: 1rem;
                display: inline-block;
            }
            a.facebook {
                background: url('../../../../../content/images/home/mat-icons/facebook.png') no-repeat center center;
                background-size: contain;
            }
            a.facebook:hover {
                background: url('../../../../../content/images/home/mat-icons/facebook-active.png') no-repeat center center;
                background-size: contain;
            }

            a.twitter {
                background: url('../../../../../content/images/home/mat-icons/twitter.png') no-repeat center center;
                background-size: contain;
            }
            a.twitter:hover {
                background: url('../../../../../content/images/home/mat-icons/twitter-active.png') no-repeat center center;
                background-size: contain;
            }
            a.linkedin {
                background: url('../../../../../content/images/home/mat-icons/linkedin.png') no-repeat center center;
                background-size: contain;
            }
            a.linkedin:hover {
                background: url('../../../../../content/images/home/mat-icons/linkedin-active.png') no-repeat center center;
                background-size: contain;
            }
            a.youtube {
                background: url('../../../../../content/images/home/mat-icons/youtube.png') no-repeat center center;
                background-size: contain;
            }
            a.youtube:hover {
                background: url('../../../../../content/images/home/mat-icons/youtube-active.png') no-repeat center center;
                background-size: contain;
            }
            a.instagram {
                background: url('../../../../../content/images/home/mat-icons/instagram.png') no-repeat center center;
                background-size: contain;
            }
            a.instagram:hover {
                background: url('../../../../../content/images/home/mat-icons/instagram-active.png') no-repeat center center;
                background-size: contain;
            }
            a.google-plus {
                background: url('../../../../../content/images/home/mat-icons/google-plus.png') no-repeat center center;
                background-size: contain;
                width: 1.5rem !important;
            }
            a.google-plus:hover {
                background: url('../../../../../content/images/home/mat-icons/google-plus-active.png') no-repeat center center;
                background-size: contain;
            }
        }
    } /* /social-icon */

    .multiline-ellipsis {
        display: block;
        display: -webkit-box;
        margin: 0 auto;
        line-height: 1.4;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 0.75rem;
        margin-bottom: 0.94rem;
    }

    .slide-control {
        @include respons(view-1199) {
            width: 5%;
        }
        @include respons(view-480) {
            display: none;
        }
    }
} /* /blog */
.carousel-inner > .item {
    position: relative;
    display: none;
    -webkit-transition: 0.6s ease-in-out;
    -moz-transition: 0.6s ease-in-out;
    -o-transition: 0.6s ease-in-out;
    transition: 0.6s ease-in-out;
}
