<!-- Start Our Associates -->
<section id='#accociates'>
  <div id="our-associates">
    <h4 class="heading text-center">Our Associates</h4>
    <div class="container">

      <div class="first">
        <div class="row">
          <div class="col-md-2">
            <img src="../../../../../content/images/home/new-home/associate/1.png">
          </div>
          <!-- /col-md-2 -->
          <div class="col-md-2">
            <img src="../../../../../content/images/home/new-home/associate/2.png">
          </div>
          <!-- /col-md-2 -->
          <div class="col-md-2">
            <img src="../../../../../content/images/home/new-home/associate/3.png">
          </div>
          <!-- /col-md-2 -->
          <div class="col-md-2">
            <img src="../../../../../content/images/home/new-home/associate/4.png">
          </div>
          <!-- /col-md-2 -->
          <div class="col-md-2">
            <img src="../../../../../content/images/home/new-home/associate/3.png">
          </div>
          <!-- /col-md-2 -->
          <div class="col-md-2">
            <img src="../../../../../content/images/home/new-home/associate/4.png">
          </div>
          <!-- /col-md-2 -->
        </div>
        <!-- /row -->
      </div>
      <!-- /first -->

      <div class="second">
        <div class="row">
          <div class="col-md-2">
            <img src="../../../../../content/images/home/new-home/associate/5.png">
          </div>
          <!-- /col-md-2 -->
          <div class="col-md-2">
            <img src="../../../../../content/images/home/new-home/associate/6.png">
          </div>
          <!-- /col-md-2 -->
          <div class="col-md-2">
            <img src="../../../../../content/images/home/new-home/associate/1.png">
          </div>
          <!-- /col-md-2 -->
          <div class="col-md-2">
            <img src="../../../../../content/images/home/new-home/associate/2.png">
          </div>
          <!-- /col-md-2 -->
          <div class="col-md-2">
            <img src="../../../../../content/images/home/new-home/associate/5.png">
          </div>
          <!-- /col-md-2 -->
          <div class="col-md-2">
            <img src="../../../../../content/images/home/new-home/associate/6.png">
          </div>
          <!-- /col-md-2 -->
        </div>
        <!-- /row -->
      </div>
      <!-- /first -->

           <!-- Carousel for Mobile Views -->
           
           <div class="mobile-view-animation clearfix">
             <div class="carousel slide" data-ride="carousel">
               <div class="carousel-inner">
                 <div class="carousel-item active">
                     <div class="img text-center">
                       <img src="../../../../../content/images/home/new-home/associate/1.png">
                     </div>
         
                     <div class="img text-center">
                       <img src="../../../../../content/images/home/new-home/associate/2.png">
                     </div>
         
                     <div class="img text-center">
                       <img src="../../../../../content/images/home/new-home/associate/3.png">
                     </div>
                 </div>
                 <!-- first carousel-item -->
         
                 <div class="carousel-item">
                    <div class="img text-center">
                      <img src="../../../../../content/images/home/new-home/associate/4.png">
                    </div>
        
                    <div class="img text-center">
                      <img src="../../../../../content/images/home/new-home/associate/5.png">
                    </div>
        
                    <div class="img text-center">
                      <img src="../../../../../content/images/home/new-home/associate/6.png">
                    </div>
                </div>
                 <!-- second carousel-item -->
               </div>
             </div>
           </div>
           <!-- /mobile view animation -->
          </div>
          <!-- /container -->
  </div>
  <!-- /Our Associates -->
</section>