@import '../../../../../content/scss/global';
/* Start out associates */
#our-associates {
    width: 100%;
    padding: 2.5rem 0;
    h4.heading {
        text-transform: uppercase;
        font-size: 2.19rem;
        font-weight: bold;
        color: $heading-color;
        margin-bottom: 2.5rem;

        @include respons(view-533) {
            font-size: 1.87rem;
        }
    }
    .container {
        max-width: 71.25rem;
        padding-top: 4rem;
        padding-bottom: 4rem;
        position: relative;
        overflow: hidden;
        @include respons(view-767) {
            height: 8.12rem;
            padding-top: 0;
            padding-bottom: 0;
        }
    }

    // end container

    .first {
        @include respons(view-767) {
            display: none;
        }
        width: 100%;
        float: left;
        animation: 15s linear infinite;
        animation-name: husain11;
        position: absolute;
        left: 100%;
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        @keyframes husain11 {
            0% {
                left: 100%;
            }
            100% {
                left: -105%;
            }
        }

        @keyframes husain111 {
            0% {
                left: 100%;
            }
            100% {
                left: -105%;
            }
        }
        h4.heading {
            font-size: 2.18rem;
            font-weight: bold;
            color: $heading-color;
            margin-bottom: 2.5rem;
            text-transform: uppercase;
        }
        .logo {
            width: 7.75rem;
            height: 7.75rem;
            border-radius: 50%;
            display: inline-block;
            margin: 0 1.87rem;
        }
    }
    // end first

    .second {
        @extend .first;
        @include respons(view-767) {
            display: none;
        }
        width: 100%;
        float: left;
        animation: 15s linear infinite;
        animation-name: husain111;
        animation-delay: 7.5s;
        position: absolute;
        left: 100%;
    }
    // end second

    .mobile-view-animation {
        width: 100%;
        padding: 0;
        display: none;

        @include respons(view-767) {
            display: block !important;
        }
        .img {
            width: 33.33%;
            float: left;
            @include respons(view-480) {
                padding: 0 0.2rem;

                img {
                    width: 92%;
                }
            }
        }
    }
    // end mobile view animation
} /* / our associates */
