      <!-- Start -->
      <div class="product clearfix">

        <h4 class="heading text-center">Product & vision</h4>
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="title">
                <p>We are evolving <span>1<sup><small>st</small></sup></span> of it's kind global talent sourcing platform engaging organization and employers,<br> matching the requirements and skill utilizing, <span>Artificial Intelligence, Video Analytics, HCI, Business Intelligence and Machine Learning.</span></p>
              </div><!-- /left -->
            </div><!-- /col-lg -->
          </div><!-- /row -->
        </div><!-- /container -->
        <div class="intro clearfix">
          <div class="container">
          <div class="col-lg-12">
            <div class="left">
              <p>Introducing</p>
              <p><span>Click & Hire</span></p>
              <p>Potential candidates</p>
              <p>just few clicks away</p>
            </div><!-- /left -->
      
            <div class="right">
              <div class="logo"><img src="../../../../../content/images/devise/product/white-logo.png"></div><!-- /logo -->
      
              <div class="animated-images">
                <div class="circle one"><img src="../../../../../content/images/devise/product/1.png"></div><!-- /circle -->
                <div class="circle two"><img src="../../../../../content/images/devise/product/2.png"></div><!-- /circle -->
                <div class="circle three"><img src="../../../../../content/images/devise/product/3.png"></div><!-- /circle -->
                <div class="circle four"><img src="../../../../../content/images/devise/product/4.png"></div><!-- /circle -->
                <div class="circle five"><img src="../../../../../content/images/devise/product/5.png"></div><!-- /circle -->
                <div class="circle six"><img src="../../../../../content/images/devise/product/6.png"></div><!-- /circle -->
              </div>
      
            </div><!-- /right -->
          </div><!-- /col-lg -->
        </div>
        </div><!-- /row -->
      </div><!-- /product -->
      