@import '../../../../../content/scss/global';
/* Start Product */
.product {
    width: 100%;
    h4.heading {
        text-transform: uppercase;
        font-size: 2.19rem;
        color: $heading-color;
        margin: 2.5rem auto;
        font-weight: bold;
        @include respons(view-533) {
            font-size: 1.87rem;
        }
        @include respons(view-480) {
            margin: 2.5rem auto;
        }
    }
    .title {
        text-align: center;
        p {
            font-size: 1.25rem;
            color: $heading-color;

            @include respons(view-533) {
                font-size: 0.87rem;
            }

            span {
                @include respons(view-533) {
                    font-size: 1.25rem;
                }
                font-weight: bold;
                font-size: 1.87rem;
                color: $color-blue;
            }
        }
    } /* /title */

    .intro {
        margin-top: 2.5rem;
        background: linear-gradient(to right, $color-blue, $color-dark-blue);
        padding-top: 8.12rem;
        padding-bottom: 9.4rem;

        @include respons(view-991) {
            padding-top: 3.125rem;
            padding-bottom: 40.94rem;
        }

        .left {
            @include respons(view-991) {
                width: 100%;
                max-width: 31.25rem;
                float: right;
            }
            @include respons(view-767) {
                width: 85%;
            }
            @include respons(view-480) {
                width: 100%;
            }
            width: 50%;
            display: inline-block;
            p {
                margin: 0;
                font-size: 2.37rem;
                color: $color-white;

                @include respons(view-533) {
                    font-size: 2rem;
                }

                span {
                    font-size: 3.125rem;
                    font-weight: bold;

                    @include respons(view-533) {
                        font-size: 2.62rem;
                    }
                }
            }
        } /* /left */

        .right {
            @include respons(view-991) {
                width: 100%;
                max-width: 34.25rem;
                top: 31.25rem;
                float: none;
                margin: 0 auto;

                @include respons(view-533) {
                    top: 25rem;
                }
                @include respons(view-400) {
                    top: 30rem;
                    left: 5%;
                }
            }
            @include respons(view-1199) {
            }
            width: 50%;
            display: block;
            float: right;
            position: relative;

            .logo {
                position: absolute;
                top: 0;
                left: 50%;
                transform: translate(-50%, 165%);
                img {
                    @include respons(view-400) {
                        width: 100%;
                    }
                }
                @include respons(view-400) {
                    transform: translate(-50%, 170%);
                }
            }

            .animated-images {
                position: relative;
                width: 100%;
                height: 100%;

                .circle {
                    border-radius: 50%;
                    position: absolute;
                    top: 0;
                    right: 0;
                    box-shadow: 0.125 0.125 0.625rem 0 rgba(0, 0, 0, 0.5);

                    img {
                        @include respons(view-533) {
                            width: 100%;
                        }
                    }
                }
                // End Circle

                // mixin for circle animation

                @mixin animations($name-of-animation, $start-point, $middle-point, $end-point) {
                    @-webkit-keyframes #{$name-of-animation} {
                        from {
                            -webkit-transform: translateY(0.5rem) rotate3d(0, 0, 1, 3deg);
                            transform: translateY(0.5rem) rotate3d(0, 0, 1, 3deg);
                        }
                        to {
                            -webkit-transform: translateY(-0.5rem) rotate3d(0, 0, 1, 0deg);
                            transform: translateY(-0.5rem) rotate3d(0, 0, 1, 0deg);
                        }
                    }
                    @-moz-keyframes #{$name-of-animation} {
                        from {
                            -webkit-transform: translateY(0.5rem) rotate3d(0, 0, 1, 3deg);
                            transform: translateY(0.5rem) rotate3d(0, 0, 1, 3deg);
                        }
                        to {
                            -webkit-transform: translateY(-0.5rem) rotate3d(0, 0, 1, 0deg);
                            transform: translateY(-0.5rem) rotate3d(0, 0, 1, 0deg);
                        }
                    }
                    @keyframes #{$name-of-animation} {
                        from {
                            -webkit-transform: translateY(0.5rem) rotate3d(0, 0, 1, 3deg);
                            transform: translateY(0.5rem) rotate3d(0, 0, 1, 3deg);
                        }
                        to {
                            -webkit-transform: translateY(-0.5rem) rotate3d(0, 0, 1, 0deg);
                            transform: translateY(-0.5rem) rotate3d(0, 0, 1, 0deg);
                        }
                    }
                }

                // end of mixin for circle animation

                @include animations(circle-animation1, -0.625rem, 0.625rem, -0.625rem);
                @include animations(circle-animation2, -0.625rem, 0.625rem, -0.625rem);
                @include animations(circle-animation3, -0.625rem, 0.625rem, -0.625rem);
                @include animations(circle-animation4, -0.625rem, 0.625rem, -0.625rem);
                @include animations(circle-animation5, -0.625rem, 0.625rem, -0.625rem);
                @include animations(circle-animation6, -0.625rem, 0.625rem, -0.625rem);

                .one {
                    top: -0.312rem;
                    right: 75%;
                    // animation: circle-animation1 22s 300ms ease infinite;
                    // -webkit-animation: circle-animation1 22s 300ms ease infinite;
                    // -moz-animation: circle-animation1 22s 300ms ease infinite;
                    // -o-animation: circle-animation1 22s 300ms ease infinite;
                    -webkit-animation-delay: -2.4s;
                    animation-delay: -2.4s;
                    -webkit-animation-duration: 6s;
                    animation-duration: 6s;
                    transition-delay: 0.8s;
                    -webkit-animation-direction: alternate;
                    animation-direction: alternate;
                    -webkit-animation-iteration-count: infinite;
                    animation-iteration-count: infinite;
                    -webkit-animation-name: circle-animation1;
                    animation-name: circle-animation1;
                    -webkit-animation-play-state: running;
                    animation-play-state: running;
                    -webkit-animation-timing-function: ease-in-out;
                    animation-timing-function: ease-in-out;
                    @include respons(view-533) {
                        width: 6.88rem;
                        right: 73%;
                        top: -0.312rem;
                    }
                }

                .two {
                    top: -8.44rem;
                    right: 40%;
                    // animation: circle-animation2 20s ease infinite;
                    // -webkit-animation: circle-animation1 20s ease infinite;
                    // -moz-animation: circle-animation1 20s ease infinite;
                    // -o-animation: circle-animation1 20s ease infinite;
                    -webkit-animation-delay: -1.8s;
                    animation-delay: -1.8s;
                    -webkit-animation-duration: 6s;
                    animation-duration: 6s;
                    -webkit-animation-direction: alternate;
                    animation-direction: alternate;
                    -webkit-animation-iteration-count: infinite;
                    animation-iteration-count: infinite;
                    -webkit-animation-name: circle-animation1;
                    animation-name: circle-animation1;
                    -webkit-animation-play-state: running;
                    animation-play-state: running;
                    -webkit-animation-timing-function: ease-in-out;
                    animation-timing-function: ease-in-out;
                    @include respons(view-533) {
                        width: 6.88rem;
                        right: 38%;
                        top: -8.12rem;
                    }
                }

                .three {
                    top: -1.69rem;
                    right: 2.5rem;
                    // animation: circle-animation3 16s 100ms ease infinite;
                    // -webkit-animation: circle-animation1 16s 100ms ease infinite;
                    // -moz-animation: circle-animation1 16s 100ms ease infinite;
                    // -o-animation: circle-animation1 16s 100ms ease infinite;
                    -webkit-animation-delay: -3.4s;
                    animation-delay: -3.4s;
                    -webkit-animation-duration: 6s;
                    animation-duration: 6s;
                    -webkit-animation-direction: alternate;
                    animation-direction: alternate;
                    -webkit-animation-iteration-count: infinite;
                    animation-iteration-count: infinite;
                    -webkit-animation-name: circle-animation1;
                    animation-name: circle-animation1;
                    -webkit-animation-play-state: running;
                    animation-play-state: running;
                    -webkit-animation-timing-function: ease-in-out;
                    animation-timing-function: ease-in-out;
                    @include respons(view-533) {
                        width: 5.62rem;
                        top: -1.25rem;
                        right: 1.56rem;
                    }
                }

                .four {
                    top: 8.88rem;
                    right: 0.625rem;
                    // animation: circle-animation4 19s 200ms ease infinite;
                    // -webkit-animation: circle-animation1 19s 200ms ease infinite;
                    // -moz-animation: circle-animation1 19s 200ms ease infinite;
                    // -o-animation: circle-animation1 19s 200ms ease infinite;
                    -webkit-animation-delay: -0.3s;
                    animation-delay: -0.3s;
                    -webkit-animation-duration: 6s;
                    animation-duration: 6s;
                    -webkit-animation-direction: alternate;
                    animation-direction: alternate;
                    -webkit-animation-iteration-count: infinite;
                    animation-iteration-count: infinite;
                    -webkit-animation-name: circle-animation1;
                    animation-name: circle-animation1;
                    -webkit-animation-play-state: running;
                    animation-play-state: running;
                    -webkit-animation-timing-function: ease-in-out;
                    animation-timing-function: ease-in-out;
                    @include respons(view-533) {
                        width: 6.88rem;
                    }
                }
                .five {
                    top: 15.62rem;
                    right: 39%;
                    // animation: circle-animation5 20s ease infinite;
                    // -webkit-animation: circle-animation1 20s ease infinite;
                    // -moz-animation: circle-animation1 20s ease infinite;
                    // -o-animation: circle-animation1 20s ease infinite;
                    -webkit-animation-delay: -2.2s;
                    animation-delay: -2.2s;
                    -webkit-animation-duration: 6s;
                    animation-duration: 6s;
                    -webkit-animation-direction: alternate;
                    animation-direction: alternate;
                    -webkit-animation-iteration-count: infinite;
                    animation-iteration-count: infinite;
                    -webkit-animation-name: circle-animation1;
                    animation-name: circle-animation1;
                    -webkit-animation-play-state: running;
                    animation-play-state: running;
                    -webkit-animation-timing-function: ease-in-out;
                    animation-timing-function: ease-in-out;
                    @include respons(view-533) {
                        width: 6.88rem;
                        top: 15.19rem;
                        right: 34%;
                    }
                }

                .six {
                    top: 12.81rem;
                    right: 75%;
                    // animation: circle-animation6 19s 1s ease infinite;
                    // -webkit-animation: circle-animation1 19s 1s ease infinite;
                    // -moz-animation: circle-animation1 19s 1s ease infinite;
                    // -o-animation: circle-animation1 19s 1s ease infinite;
                    -webkit-animation-delay: -0.5s;
                    animation-delay: -0.5s;
                    -webkit-animation-duration: 6s;
                    animation-duration: 6s;
                    -webkit-animation-direction: alternate;
                    animation-direction: alternate;
                    -webkit-animation-iteration-count: infinite;
                    animation-iteration-count: infinite;
                    -webkit-animation-name: circle-animation1;
                    animation-name: circle-animation1;
                    -webkit-animation-play-state: running;
                    animation-play-state: running;
                    -webkit-animation-timing-function: ease-in-out;
                    animation-timing-function: ease-in-out;
                    @include respons(view-533) {
                        width: 5.62rem;
                        top: 10.62rem;
                        right: 70%;
                    }
                }
            } /* /animated-images */
        } /* /right */
    } /* /intro */
} /* /product */
