<!--Full Page Title Header Start-->
<div class="slider">
  <h4>How can we help you?</h4>
  <div class="input-group">
    <input type="text" name="search" class="form-control" placeholder="Write your question here and press enter">
    <div class="input-group-append">
      <!-- <span class="input-group-text"> <img src="images/search-icon.png"></span> -->
    </div>
  </div>
</div>
<!--/End Full Page Title Header Start-->

<!--Page Content Start-->
<div class="data-agreement" id="support-detail">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 left">
        <p class="heading">Related Queries</p>
        <p class="active">
          <a class="fav">What is Aleeph?</a>
        </p>
        <p>
          <a class="under">Understanding the Hire NG</a>
        </p>
        <p>
          <a class="pre">How can I pay for premium services?</a>
        </p>
        <p>
          <a class="sub">How can I submit job post?</a>
        </p>
        <p>
          <a class="match-candi">How can I get best match candidate for my job?</a>
        </p>
        <p>
          <a class="email-candi">Can I E-mail the candidate?</a>
        </p>
      </div>
      <!-- /col-lg-4 -->
      <div class="col-lg-8 right">
        <div class="what-aleeph collapse-data">
          <p class="heading">What is Aleeph?</p>
          <p>Aleeph is a leading-edge platform integrated with the power of innovating technologies like Artificial Intelligence
            (AI) and Human-Computer Interaction (HCI) to help enterprises to gain influence of modern talents. We lead with
            an objective to pinpoint the concerns and devise plentiful innovative solutions to overpower them without any
            jerk.
          </p>
        </div>
        <!-- /collpase-data -->

        <div class="Understanding collapse-data hide">
          <p class="heading">Understanding the Hire NG</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </div>
        <!-- /collpase-data -->

        <div class="premium collapse-data hide">
          <p class="heading">How can I pay for premium services?</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
        </div>
        <!-- /collpase-data -->

        <div class="submit collapse-data hide">
          <p class="heading">How can I submit job post?</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </div>
        <!-- /collpase-data -->

        <div class="matching-candidate collapse-data hide">
          <p class="heading">How can I get best match candidate for my job?</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </div>
        <!-- /collpase-data -->

        <div class="email-candidate collapse-data hide">
          <p class="heading">Can I E-mail the candidate?</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </div>
        <!-- /collpase-data -->


      </div>
      <!-- /col-lg-8 -->
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!--/End Page Content Start-->