@import 'app/../content/scss/global.scss';
$color-gray: #878787;
$color-blue: #27add0;
$color-dark-blue: #158db6;

$color-white: #f8f8f8;
$heading-color: #292f3c;

$color-red: #eb3856;
$color-dark-red: #bf2046;
.slider {
    margin-top: 4.75rem;
    width: 100%;
    background: linear-gradient(to right, $color-blue, $color-dark-blue);
    text-align: center;
    padding: 2.5rem 0 4rem;
    h4 {
        font-size: 3.12rem;
        font-weight: bold;
        color: #fff;
        @include respons(view-767) {
            font-size: 2.5rem;
        }

        @include respons(view-533) {
            font-size: 1.87rem;
        }
    }
    .input-group {
        max-width: 40rem;
        margin: 1.25rem auto 0;
        width: 90%;

        input {
            width: 90%;
            border: none;
            color: $color-gray;
            background: url('../../../../../content/images/home/new-home/search-icon.png') right no-repeat #f8f8f8;
            background-position-x: 98%;
            background-size: 1.87rem;
            height: 4rem;
            // border-radius: 0.6rem;

            @include respons(view-480) {
                height: 2.5rem;
                background-size: 1.1rem;
                font-size: 0.9rem;
            }

            &::placeholder {
                color: #b3b3b3;
            }
            &:focus {
                box-shadow: none;
            }
        }
        span {
            background: #fff;
            border: none;
            cursor: pointer;
            img {
                width: 80%;
            }
        }
    }
} /* /slider */
/* Start Data-Policy */

.data-agreement {
    background: #f8f8f8;
    width: 100%;
    padding: 2.5rem 0;

    .container {
        .left {
            padding: 0 1.87rem 1.87rem 2.5rem;
            @include respons(view-991) {
                padding: 0 1.25rem 1.87rem 1.25rem;
                width: 100%;
                float: left;
            }
            p.active a {
                color: $color-blue !important;
            }
            p:hover a {
                color: $color-blue;
            }
        }
        .right {
            padding: 0 5rem 1.87rem 5rem;
            margin-left: 1.87rem;
            max-width: 63%;
            @include respons(view-991) {
                max-width: 100%;
                margin-left: 0;
                padding: 0 1.25rem 1.87rem 1.25rem;
                margin-top: 2.5rem;
                width: 100%;
                float: left;
            }

            .hide {
                display: none !important;
                transition: all 0.3s;
            }
        }

        .left,
        .right {
            background: #fff;
            box-shadow: 0 0 0.75rem 0 #cbcbcb;

            .row {
                background: #f8f8f8;
            }

            .heading {
                font-size: 1.25rem;
                color: $heading-color;
                margin-top: 1.87rem;
            }
            h4.heading {
                color: $heading-color;
                font-size: 0.94rem;
                font-weight: bold;

                @include respons(view-533) {
                    font-size: 1.12rem;
                }
            }
            p {
                display: block;
                a {
                    font-size: 0.94rem;
                    color: $color-gray;
                }
            }
            p {
                margin-top: 1.87rem;
                font-size: 0.94rem;
                color: $color-gray;
            }
            ol {
                padding-left: 0.94rem;
                li {
                    line-height: 1.9;
                    color: $color-gray;
                    font-size: 0.94rem;
                }
            } /* /ol */

            ul {
                padding-left: 0.94rem;
                li {
                    line-height: 1.9;
                    color: $color-gray;
                    font-size: 0.94rem;
                    strong {
                        color: $heading-color;
                    }
                }
            } /* /ol */
        } /* /col */
    } /* /container */
} /* /data-policy */
// .input-group{
// 	width:40rem;
// 	margin:1.25rem auto 0;
// 	max-width: 90%;

// 	input{
// 		width:100%;
// 		height:2.75rem;
// 		border:none;
// 		color:$color-gray;
// 		background: url('../../../../../content/images/home/new-home/search-icon.png') right no-repeat #f8f8f8;
// 		background-position-x: 98%;
//         background-size: 1.87rem;
//         height: 4.06rem;

// 		&::placeholder{
// 			color:#b3b3b3;
// 		}
// 		&:focus{
// 			box-shadow:none;
// 		}

// 	}
// 	span{
// 		background:#fff;
// 		border:none;
// 		cursor:pointer;
// 		img{
// 			width:80%;
// 		}
// 	}

// }
