
<!--***************************************************
   // Landing Page Common Navigation Header Component
   // Belongs to webapp/app/common/shared/ui-navigation folder
***********************************************************-->
<jhi-navigation></jhi-navigation>
<!--/End Navigation Header Component-->

<!--***************************************************
   //  Full page banner with page title component
   // Belongs to webapp/app/common/devise/banner folder
***********************************************************-->
<jhi-banner></jhi-banner>

<!--***************************************************
   //  Product & Vision component which includes Click & Hire section
   // Belongs to webapp/app/common/devise/product-vision folder
***********************************************************-->
<jhi-product-vision></jhi-product-vision>

<!--***************************************************
   //  Case Study component
   // Belongs to webapp/app/common/devise/case-study folder
***********************************************************-->
<jhi-case-study></jhi-case-study>

<!--***************************************************
   //  Our Solution component
   // Belongs to webapp/app/common/devise/solution folder
***********************************************************-->
<jhi-solution></jhi-solution>

<!--***************************************************
   //  Design, Develop and Deploy component under Devise heading
   // Belongs to webapp/app/common/devise/design-develop-deploy folder
***********************************************************-->
<jhi-design-develop-deploy></jhi-design-develop-deploy>

<!--***************************************************
   //  Making Things Simple component which is a problem-solution section
   //It includes Potential Candidates just a few click away section bar
   // Belongs to webapp/app/common/devise/problem-solutions folder
***********************************************************-->
<jhi-problem-solutions></jhi-problem-solutions>

<!--***************************************************
    // Landing Page Common Footer Component
    // Belongs to webapp/app/common/shared/ui-footer folder
***********************************************************-->
<jhi-footer></jhi-footer>
<!--/End Navigation Footer Component-->
