@import '../../../../../content/scss/global';
.devise-data {
    width: 100%;
    background: $color-white;
    padding: 2.5rem 0;

    h4.heading {
        font-size: 2.19rem;
        font-weight: bold;
        color: $heading-color;
        text-transform: uppercase;

        @include respons(view-533) {
            font-size: 1.87rem;
        }
    }
    .content {
        width: 98%;
        max-width: 68.12rem;
        margin: 0.625rem auto 0 auto;
        .left {
            width: 100%;
            ul {
                text-align: center;
                margin: 0 auto;
                li {
                    color: $color-gray;
                    font-size: 1.25rem;
                    @include respons(view-480) {
                        font-size: 1rem;
                    }

                    padding-bottom: 0.187rem;
                    font-weight: bold;
                    display: inline-block;
                    text-transform: uppercase;
                    cursor: pointer;
                    &:hover {
                        color: $heading-color;
                        border-bottom: 0.187rem solid $color-blue;
                        padding-bottom: 0;
                    }
                    &:nth-of-type(2) {
                        margin: 1.87rem 5rem 2.5rem 5rem;
                        @include respons(view-480) {
                            margin: 1.87rem 1.25rem 2.5rem 1.25rem;
                        }
                    }
                }
                li.active {
                    color: $heading-color;
                    border-bottom: 0.187rem solid $color-blue;
                    padding-bottom: 0;
                }
            }
        } /* /left */
        .right {
            img {
                width: 100%;
            }

            @include respons(view-767) {
                width: 100%;
            }

            width: 75%;
            margin: 0 auto;
            background: #fff;
            color: $color-gray;
            text-align: center;
            padding-bottom: 2.5rem;
            p {
                max-width: 33.25rem;
                width: 92%;
                margin: 2.5rem auto 0 auto;
                font-size: 1.25rem;
                color: $color-gray;
                text-align: justify;

                @include respons(view-533) {
                    font-size: 0.87rem;
                }
            }
        } /* /right */
    } /* /content */
} /* /device */

.hide {
    display: none;
}
