@import 'app/../content/scss/global.scss';

.education-data {
    border: 1px solid rgba(0, 0, 0, 0.15);
    width: 93%;
    margin: 0 auto;
    .summary-haed {
        font-size: 1.5rem;
        color: #27add0;
        letter-spacing: 0.02rem;
        text-align: center;
        font-weight: 300;
    }
}
// .add-button
// {
//     @include button(0, 0, 2rem, $color-blue);
//     background: transparent;
//     position: absolute;
//     right: -1.3rem;
//     top: -1.3rem;
//     &:hover
//     {
//         background: transparent !important;
//         border: none !important;
//         color: $color-blue;
//     }
// }
.button,
button {
    cursor: pointer;
    float: right;
    @extend .para1;
    padding: 0.29rem 1.9rem;
    border-radius: 1rem;
    margin-left: 0.5rem;
    color: $color-gray;
    background: none;
    border: 0.05rem $color-gray solid;
    @include focus;
    margin-top: 1rem;
    &:hover {
        @include gradient(53deg, $btn-blue, $btn-darkblue);
        color: $color-white;
        border: 0.05rem $color-blue solid;
    }
}
.saved-data-container {
    border-right: 1px solid rgba(0, 0, 0, 0.15);
    padding: 1.5rem;
    overflow-y: auto;
    overflow-x: hidden;

    .saved-data-box {
        padding: 1.5rem 1.6rem 1rem;
        border: 1px solid rgba(0, 0, 0, 0.15);
        margin-bottom: 0.9rem;
        min-height: 8rem;
        min-height: 10rem;
        max-width: 14rem;
        margin: 0 auto 0.9rem;
        .designation {
            font-size: 0.85rem;
            color: $font-color-black;
            margin-bottom: 0.05rem;
        }
        p {
            font-size: 0.72rem;
            color: $gray-color;
            margin-bottom: 0;
        }
        .delete {
            float: right;
            margin-top: -0.8rem;
            margin-right: -1.5rem;
            font-size: 0.8rem;
            display: none;
            .material-icons {
                font-size: 16px;
            }
            &:hover {
                cursor: pointer;
            }
        }
        &:hover {
            background: $blue-color;
            @include box-shadow(0.25rem, 0.25rem, 1.25rem, 0, rgba(39, 173, 208, 0.52));
            .desination,
            p,
            .delete {
                color: $white-color;
            }
            .delete {
                display: block;
            }
        }
    } /*saved-data-box*/
} /*saved-data-container end*/
.instruction {
    padding: 0 !important;
    text-align: center;
    line-height: 9rem;
    cursor: pointer;
}
.form-container {
    padding: 1.5rem 2rem;
}
.mat-checkbox-layout {
    float: right;
}
.current-date {
    color: $light-gray-color;
    font-size: 0.94rem;
    float: left;
    margin: 0.9rem 0rem;
    width: 100%;
}
.startDate {
    float: none;
}
.ng-tns-c9-17 {
    width: 100% !important;
}
.mat-form-field {
    width: 49%;
    &:nth-child(even) {
        float: right;
    }
}
.example-full-width {
    width: 100% !important;
}
