<form [formGroup]="firstFormGroup" (ngSubmit)="save()">

  <!-- Qualification Input Box | Validation: Required -->
  <mat-form-field>
    <input matInput placeholder="Qualification" formControlName="qualificationCtrl" [(ngModel)]="education.educationType" required>
    <mat-error>{{getQualificationErrorMessage()}}</mat-error>
  </mat-form-field>

  <!-- Discipline Input Box -->
  <mat-form-field>
    <input matInput placeholder="Discipline" formControlName="disciplineCtrl" [(ngModel)]="education.discipline">
  </mat-form-field>

  <!-- Specialization Input Box -->
  <mat-form-field>
    <input matInput placeholder="Specialization" formControlName="specializationCtrl" [(ngModel)]="education.minor">
  </mat-form-field>

  <!-- University/Board Input Box | Validation: Required -->
  <mat-form-field>
    <input matInput placeholder="University/Board Name" formControlName="universityBoardCtrl" [(ngModel)]="education.universityBoardName"
      required>
    <mat-error>{{getUniversitBoardErrorMessage()}}</mat-error>
  </mat-form-field>

  <!-- Institute Name Input Box | Validation: Required -->
  <mat-form-field>
    <input matInput placeholder="Institute Name" formControlName="instituteCtrl" [(ngModel)]="education.instituteSchoolName"
      required>
    <mat-error>{{getInstituteErrorMessage()}}</mat-error>
  </mat-form-field>

  <!-- Location Input Box | Validation: Required -->
  <mat-form-field>
    <input matInput placeholder="Location" formControlName="locationCtrl" [(ngModel)]="education.countryId" required>
    <mat-error>{{getLocationErrorMessage()}}</mat-error>
  </mat-form-field>

  <!-- Performance Scale Drop Down | Validation: Required -->
  <mat-form-field>
    <mat-select placeholder="Performance Scale" formControlName="performanceScaleCtrl" [(ngModel)]="education.performanceScale"
      required>
      <mat-option *ngFor="let performanceScale of PerformanceScale" [value]="performanceScale.value">
        {{performanceScale.name}}
      </mat-option>
    </mat-select>
    <mat-error>{{getPerformanceScaleErrorMessage()}}</mat-error>
  </mat-form-field>

  <!-- Achieved Input Box | Validation: Required, MinimumValue(0), MaximumValue('PerformanceScale') -->
  <mat-form-field>
    <input matInput placeholder="Achieved" formControlName="achievedCtrl" [(ngModel)]="education.achieved" required>
    <mat-error>{{getAchievedErrorMessage()}}</mat-error>
  </mat-form-field>

  <!-- Start Experience Date Input Field | Validation: Required -->
  <mat-form-field>
    <input matInput [matDatepicker]="startDate" placeholder="Start Date" formControlName="startDateCtrl" required>
    <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
    <mat-datepicker #startDate></mat-datepicker>
    <!-- <mat-error>{{getDobErrorMessage()}}</mat-error> -->
  </mat-form-field>

  <!-- End Experience Date Input Field | Validation: Required, Custom -->
  <mat-form-field>
    <input matInput [matDatepicker]="endDate" placeholder="End Date" formControlName="endDateCtrl">
    <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
    <mat-datepicker #endDate></mat-datepicker>
    <!-- <mat-error>{{getDobErrorMessage()}}</mat-error> -->
  </mat-form-field>

  <!-- Currently Employer Check-box | Validations:  -->
  <mat-checkbox class="current-date">Current Employer</mat-checkbox>

  <div>
    <!-- <button mat-button matStepperNext>Next</button> -->
    <button type="submit" [disabled]="firstFormGroup.invalid || isSaving" mat-button>Save</button>

  </div>
</form>