// angular material pre-build theme
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

/******************************/
// $body-bg: #f0f5f8;

/* button colors */

$btn-darkred: #bf2046;
$btn-red: #eb3856;
$btn-darkblue: #158db6;
$color-dark-blue: #158db6;
$color-blue: #0c93ba;
$btn-blue: #27add0;

/* text colors */

$blue-clr: #0c93ba;
$black-clr: #212121;
$bdr-clr: #dcdcdc;
$gray-clr: #878787;
$error-clr: #ff9595;

$font-family: 'open sans', 'sans-serif';
$heading-color: #292f3c;

$color-red: #eb3856;
$color-dark-red: #bf2046;
$border-color: #dcdcdc;
//import
//dashboard shared variables

$color-red: #eb3856;
$color-red-dark: #bf2046;
$color-blue: #27add0;
$btn-dark-blue: #158db6;
$font-color-black: #212121;
$gradient-red: #c01840;
$gradient-blue: #0e5399;
$color-white: #f8f8f8;
$white: #fff;
$light-blue: #f0f5f8;
$bg-nav-blue: #152640;
$padding: 0;
$margin: 0;
$box-shadow: 0 0 0.5625rem 0 rgba(0, 0, 0, 0.55);
$height: 25rem;
$width-in-percent: 100%;
$z-index: 1;
$font-size: 0.75rem;
$font-family: 'Open Sans', sans-serif;
$border-radius: 100%;
$container-max-width: 69.4rem;
$color-gray: #878787;
$width-in-px: 0.0625rem;
$no-border: none;
$color-border: #e5e9eb;
$filter: brightness(0.5) sepia(1) hue-rotate(-70deg) saturate(0);
$color-yellow-dark: #cca95c;
$color-yellow-light: #f3c965;

//////////// talent dashboard new variables////////////
$blue-color: #27add0;
$dark-blue-color: #158db6;
$black-color: #1b1d1f;
$dark-gray-color: #272a2e;
$gray-color: #373c42;
$pink-color: #f967a2;
$dark-pink-color: #d31d4b;
$white-color: #fff;
$body-bg-color: #f0f5f8;
$light-gray-color: #878787;
$red-color: #ff2e5a;
$dark-red-color: #de002a;
// ///////////////////////////////////////////

/* start mixin setup */

//////////// talent dashboard mixins/////////////
@mixin borderRounded($border-rate) {
    -webkit-border-radius: $border-rate;
    -moz-border-radius: $border-rate;
    -ms-border-radius: $border-rate;
    border-radius: $border-rate;
}
@mixin border($border-size, $color) {
    -webkit-border: $border-size solid $color;
    -moz-border: $border-size solid $color;
    -ms-border: $border-size solid $color;
    border: $border-size solid $color;
}
// ////////////////////////////////////////
@mixin gradient($direction, $f-color, $s-color) {
    background: linear-gradient($direction, $f-color, $s-color) !important;
}
@mixin box-shadow($lr, $tb, $spread, $size, $clr) {
    box-shadow: $lr $tb $spread $size $clr;
}
@mixin active($bg, $fc) {
    background: $bg;
    color: $fc;
}
@mixin button($border-radius, $border, $font-size, $color-white) {
    border-radius: $border-radius;
    border: $border;
    font-size: $font-size;
    color: $color-white;
    cursor: pointer;
}
@mixin focus {
    &:focus {
        border: none;
        outline: none;
    }
}
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

@mixin attachment {
    opacity: 0;
    width: $width-in-percent;
    &:hover {
        cursor: pointer;
    }
}
@mixin error($font-size, $color-red) {
    font-size: $font-size;
    color: $color-red;
}
@mixin gradient($direction, $f-color, $s-color) {
    background: linear-gradient($direction, $f-color, $s-color) !important;
}
@mixin divset($width, $bg, $mg, $pd) {
    width: $width;
    background: $bg;
    margin: $mg;
    padding: $pd;
}
@mixin para($fs, $fc, $lh) {
    font-size: $fs;
    color: $fc;
    line-height: $lh;
}
@mixin borderset($border-width, $border-type, $border-color, $border-radius) {
    border: $border-width $border-type $border-color;
    border-radius: $border-radius;
}
@mixin headingset($fs, $fc, $fw) {
    font-size: $fs;
    color: $fc;
    font-weight: $fw;
}

.para1 {
    @include para(0.75em, $gray-clr, 1.2em);
}
/* end mixin setup */

/* mixin setup for media query */
@mixin respond($breakpoint) {
    @if $breakpoint == large-screen {
        @media screen and (min-width: 125rem) and (max-width: 250rem) {
            @content;
        }
    }
    @if $breakpoint == macbook-air {
        @media screen and (max-width: 96rem) {
            @content;
        }
    }
    @if $breakpoint == tab-landscape {
        @media screen and (max-width: 75rem) {
            @content;
        }
    }
    @if $breakpoint == ipad-air-landscape {
        @media screen and (max-width: 64rem) {
            @content;
        }
    }
    @if $breakpoint == tab-portrait {
        @media screen and (max-width: 61.94rem) {
            @content;
        }
    }
    @if $breakpoint == galaxy-nexus7-landscape {
        @media screen and (max-width: 63.75rem) {
            @content;
        }
    }
    @if $breakpoint == small-tablet {
        @media screen and (max-width: 63.75rem) {
            @content;
        }
    }
    @if $breakpoint == iphone-6p-landscape {
        @media screen and (max-width: 46rem) {
            @content;
        }
    }
    @if $breakpoint == nexus-landscape {
        @media screen and (max-width: 43.125rem) {
            @content;
        }
    }
    @if $breakpoint == i-phone6-landscape {
        @media screen and (max-width: 41.69rem) {
            @content;
        }
    }
    @if $breakpoint == galaxy-landscape {
        @media screen and (max-width: 40rem) {
            @content;
        }
    }
    @if $breakpoint == xperia-landscape {
        @media screen and (max-width: 37.375rem) {
            @content;
        }
    }
    @if $breakpoint == phone {
        @media screen and (max-width: 35.875rem) {
            @content;
        }
    }
    @if $breakpoint == galaxy-note4 {
        @media screen and (max-width: 30rem) {
            @content;
        }
    }
    @if $breakpoint == iphone-6p {
        @media screen and (max-width: 25.94rem) {
            @content;
        }
    }
    @if $breakpoint == lumia-920 {
        @media screen and (max-width: 24rem) {
            @content;
        }
    }
    @if $breakpoint == iphone-6 {
        @media screen and (max-width: 23.44rem) {
            @content;
        }
    }
    @if $breakpoint == galaxy-s6 {
        @media screen and (max-width: 22.5rem) {
            @content;
        }
    }
    @if $breakpoint == iphone-5 {
        @media screen and (max-width: 20rem) {
            @content;
        }
    }
}
/*end  mixin setup for media query */
// New Breakpoints for responsive landing pages
@mixin respons($breakpoint) {
    @if $breakpoint == view-1199 {
        @media screen and (max-width: 74.94rem) {
            @content;
        }
    }
    @if $breakpoint == view-991 {
        @media screen and (max-width: 61.94rem) {
            @content;
        }
    }
    @if $breakpoint == view-767 {
        @media screen and (max-width: 47.94rem) {
            @content;
        }
    }
    @if $breakpoint == view-533 {
        @media screen and (max-width: 33.31rem) {
            @content;
        }
    }
    @if $breakpoint == view-480 {
        @media screen and (max-width: 30rem) {
            @content;
        }
    }
    @if $breakpoint == view-400 {
        @media screen and (max-width: 25rem) {
            @content;
        }
    }
    @if $breakpoint == view-360 {
        @media screen and (max-width: 22.5rem) {
            @content;
        }
    }
}

/******variables end*******/

@import 'bootstrap-variables';

.xlModal > .modal-dialog {
    max-width: 68.75rem !important;
    // min-width: 60.69rem !important;
    width: 90% !important;
    margin: 1.25rem auto;
    min-height: 100%;
    margin-top: 4.875rem;
    /* height: 19.44rem; */
    /* display: block; */
    //background: #fff;
    // @include respond(laptop-90rem)
    // {
    //     width: 80% !important;

    // }
}
/* ==============================================================
CSS that need to be change
===============================================================*/
strong {
    font-family: 'SamsungSharpSans-Bold', Arial, Helvetica, sans-serif;
}
.carousel-indicators .active {
    background-color: #2072a2;
}
.carousel-indicators li {
    display: inline-block;
    width: 0.625rem;
    height: 0.625rem;
    margin: 0.0625rem;
    text-indent: -62.44rem;
    cursor: pointer;
    background-color: transparent;
    border: 0.0625rem solid #0f6597;
    border-radius: 0.625rem;
}
// .carousel-control-next-icon, .carousel-control-prev-icon {
//     display: none;
// }
.no-padding {
    padding: 0;
}

:focus {
    outline: -webkit-focus-ring-color auto 0;
}
/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
/* ==========================================================================
Social button
========================================================================== */
.jh-btn-social {
    margin-bottom: 1.56rem;
}

.jh-btn-google {
    background-color: #dd4b39;
    border-color: rgba(0, 0, 0, 0.2);
    color: #fff;
}

.jh-btn-google:hover,
.jh-btn-google:focus,
.jh-btn-google:active,
.jh-btn-google.active,
.open > .dropdown-toggle.jh-btn-google {
    background-color: #c23321;
    border-color: rgba(0, 0, 0, 0.2);
    color: #fff;
}

.jh-btn-facebook,
.jh-btn-linkedin {
    background-color: #3b5998;
    color: #fff;
    width: 100%;
    height: 3.125rem;
    border: none;
    // border-radius: 1.25rem;
    font-size: 0.94rem;
    cursor: pointer;
    outline: none;
    .fa-facebook {
        display: none;
        position: relative;
        padding-right: 0.875rem;
        font-size: 1.125rem;
        margin-left: 0;
        margin-right: 1.56rem;
    }
    .fa-facebook::after {
        display: none;
        position: absolute;
        content: '';
        height: 1.19rem;
        background: #fff;
        width: 0.0625rem;
        right: -0.5rem;
    }
    &:focus {
        outline: none;
        box-shadow: none;
    }
}
.jh-btn-linkedin {
    background-color: #1178b3;
    .fa-linkedin {
        display: none;
        position: relative;
        padding-right: 0.875rem;
        font-size: 1.125rem;
        margin-left: 0;
        margin-right: 1.56rem;
    }
    .fa-linkedin::after {
        display: none;
        position: absolute;
        content: '';
        height: 1.19rem;
        background: #fff;
        width: 0.0625rem;
        right: -0.125rem;
    }
}

.jh-btn-facebook:hover,
.jh-btn-facebook:focus,
.jh-btn-facebook:active,
.jh-btn-facebook.active,
.open > .dropdown-toggle.jh-btn-facebook {
    background-color: #3b5998;
    color: #fff;
    outline: none;
}

.jh-btn-twitter {
    background-color: #55acee;
    border-color: rgba(0, 0, 0, 0.2);
    color: #fff;
}

.jh-btn-linkedin:hover,
.jh-btn-linkedin:focus,
.jh-btn-linkedin:active,
.jh-btn-linkedin.active,
.open > .dropdown-toggle.jh-btn-linkedin {
    background-color: #1178b3;
    outline: none;
}
/* jhipster-needle-scss-add-main JHipster will add new css style */

/*************************************/
/**************************************/

#sidebar {
    .nav-tabs {
        padding: 0;
        width: 100%;
        border: none !important;
        text-align: center;
        display: block;
        margin-bottom: 0;
        .nav-item {
            width: 50%;
            text-align: center;
            display: inline-block;
            a.nav-link {
                border: 0.0625rem solid #dcdcdc;
                background: #fff;
                width: 100%;
                height: 1.56rem;
                color: $color-gray;
                padding: 0;
                line-height: 1.44rem;
                font-size: 0.75rem;
                border-radius: 0;
                &:hover {
                    color: $color-red;
                }
            }

            .nav-link.active,
            .nav-tabs .nav-item.show .nav-link {
                border: 0.0625rem solid $color-red;
                background: $color-red;
                color: #fff !important;
            }
        }
        li:first-child {
            border-right: 0.0625rem solid #dcdcdc;
        }
    }
}

#sidebar {
    .interview {
        box-shadow: 0 0 0.75rem 0 #cbcbcb;
        padding: 1em 0 0 0;
        background: #fff;

        i {
            &:hover {
                color: $color-red;
            }
            cursor: pointer;
            float: right;
        }
        ul.info {
            border-bottom: 0.0625rem solid #dcdcdc;
            text-align: left;
            li:nth-of-type(2) {
                color: #212121;
                font-weight: 700;
            }
        }
        li {
            font-size: 0.7em;
            color: $color-gray;
            line-height: 1.2em;
        }
        .lg {
            font-size: 0.75rem;
            line-height: 2.5em;
        }
        .view {
            margin: 0.3125rem 0;
            a {
                padding: 0 0.125rem;
                color: $color-gray;
                text-align: center;
            }
            .active {
                color: $color-red;
            }
        }

        .data {
            // border-top:0.0625rem solid #dcdcdc;
            // border-bottom:0.0625rem solid #dcdcdc;
            // text-align:center;
            li {
                a:hover {
                    color: $color-red;
                }
                padding: 0 0;
            }
            li.active {
                border-right: 0.0625rem solid #dcdcdc;
                a {
                    color: $color-red;
                }
            }
            a {
                padding: 0 0.125rem;
                color: $color-gray;
                text-align: center;
                font-size: 0.625rem;
            }
        }
        .pagination {
            float: right;
            margin-right: 0.625rem;
            li {
                display: inline-block;
                a {
                    color: $color-gray;
                    font-size: 1em;
                    padding: 0 1em 0 0;
                }
                .active {
                    color: $color-red;
                }
                &:last-child {
                    margin-top: 0.0625rem;
                }
            }
        }

        // .innerval{
        // display:none;
        // @include respond(tab-portrait){
        // display:block;
        // padding-bottom:2em;
        // }
        // }
        // @include respond(galaxy-nexus7-landscape)
        // {
        // box-shadow: none;
        // }
    }
}
li.ellipsis-txt {
    display: block; /* Fallback for non-webkit */
    display: -webkit-box;
    max-width: 25rem;
    //height: 0.875rem*$line-height*$lines-to-show; /* Fallback for non-webkit */
    margin: 0 auto;
    font-size: 0.875rem;
    line-height: 1.4;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
/*--------Disable Class to disable links which are not working-------*/
.disable {
    color: $color-gray !important;
    &:hover {
        cursor: text !important;
        color: $color-gray !important;
        text-decoration: none !important;
    }
}
/*------interview-schedule detail page scss------*/
// .interview-detail
// {
//     margin-bottom: 10em;
//     padding:0.625rem 0 0;
//     background: #fff;
//     box-shadow: 0 0 0.5625rem 0 rgba(0, 0, 0, 0.17);
//     .nav-tabs {
//         border: none;
//         padding-left: 10rem;
//         position: relative;
//         margin: 0.625rem 0 1.56rem;
//       .hover2 {
//             position: absolute;
//             top: 0;
//             width: 35%;
//             border-radius: 1.25rem;
//             height: 100%;
//             background: linear-gradient(to right, #eb3856, #bf2046);
//             transition: left .4s;
//             left: 49%;
//         }
//         a {
//             display: block;
//             text-align: center;
//             text-transform: uppercase;
//             font-size: 0.75rem;
//             font-weight: 400;
//             letter-spacing: 0.0625rem;
//             padding: 0.3125rem 3.44rem;
//             -webkit-border-radius: 1.25rem;
//             -moz-border-radius: 1.25rem;
//             -ms-border-radius: 1.25rem;
//             border-radius: 1.25rem;
//             margin-left: -1.87rem;
//             color: #212121;
//             border: 0.0625rem solid rgba(0, 0, 0, 0.15);
//             &:hover{
//                 background: linear-gradient(to right, #eb3856, #bf2046);
//                 color: #fff;
//             }

//         }
//     }
//     .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
//         border: 0.0625rem solid #ddd;
//         background: linear-gradient(to right, #eb3856, #bf2046);
//         color: #fff;
//     }

// }

.modal-dialog {
    max-width: 68.75rem !important;
    width: 90% !important;
}
.modal-content {
    border-radius: 0;
}
.dropdown-item {
    white-space: normal;
}
.dropdown-menu {
    border-radius: 0;
}

#jobs,
#interview,
#interview-schedule,
#posted-jobs {
    margin-bottom: 2rem;
    margin-top: 4.5rem;
    background: $white-color;
    .nav-tabs {
        position: relative;
        margin: 0 auto;
        border-top: 0.0625rem solid rgba(220, 220, 220, 0.7);
        border-bottom: 0.0625rem solid rgba(220, 220, 220, 0.7);
        border-right: 0.0625rem solid rgba(220, 220, 220, 0.7);
        li {
            background: #ededed;
            width: 33.33%;
            text-align: center;
            border-left: 0.0625rem solid rgba(220, 220, 220, 0.7);
        }

        a {
            font-size: 1.25rem;
            color: $light-gray-color;
            border: none;
            padding: 1.25rem 0;
            &:hover {
                color: $light-gray-color;
                // border: 0.0625rem solid transparent;
            }
        }
        a.active {
            color: $light-gray-color;
        }
    } /* /nav-tab */
    // .nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    //     border-color: transparent;
    // }
    .nav-tabs .nav-link:focus,
    .nav-tabs .nav-link:hover {
        border-color: transparent;
    }
    .tab-content {
        padding: 2rem 4rem 1.5rem;
        overflow-y: auto;
        max-height: 44rem;
        overflow-x: hidden;
    }
}

/****Responsive SCSS for sign up and sign in pop-ups*******/
.modal-dialog {
    @include respond(laptop-90rem) {
        width: 90% !important;
        max-width: 68.75rem !important;
    }
}
#associate .carousel-inner {
    @include respond(ipad-air-landscape) {
        width: 82% !important;
        .logo {
            margin: 0 0.3125rem;
        }
    }
}
//end
.trending-jobs {
    .carousel-control-next,
    .carousel-control-prev {
        right: -0.7rem;
        background: $dark-pink-color;
        height: 2.5rem;
        width: 2.5rem;
        border-radius: 3rem;
        margin-top: 4rem;
        opacity: 1;
    }
    // .carousel-control-next-icon
    // {
    //     background: url('/content/images/user/dashboard/icons/right.png') center no-repeat !important;
    // }
    .carousel-control-prev {
        margin-left: 0rem;
        left: -0.7rem;
    }
}
#posted-jobs .nav-tabs {
    width: 32.5rem;
    margin-bottom: 1.56rem;
    a {
        width: 16.19rem;
    }
}
#talent-carousel {
    .carousel-indicators {
        display: none;
    }
}
.ngx-editor .ngx-wrapper.show-placeholder .ngx-editor-placeholder {
    font-size: 0.75rem;
}
#education form .dropdown-menu,
.work-exp .dropdown-menu {
    border-radius: 0;
    width: 100% !important;
    .dropdown-item {
        display: block;
        width: 100%;
        padding: 0.25rem 0.5rem 0.25rem;
        clear: both;
        font-weight: 400;
        color: $color-gray;
        text-align: inherit;
        white-space: nowrap;
        background: none;
        border: 0;
        font-size: 0.75rem;
    }
    .dropdown-item.active,
    .dropdown-item:active {
        color: #fff;
        text-decoration: none;
        background-color: #27aace;
    }
}
.right-side .dropdown-toggle {
    .svg-inline--fa.fa-w-14 {
        width: 0.5rem !important;
    }
}

/*---------Custom CSS for Angular Material--------*/
.mat-checkbox-inner-container {
    width: 1rem !important;
    height: 1rem !important;
    .mat-checkbox-frame {
        border-width: 1px !important;
        border-color: rgba(0, 0, 0, 0.15) !important;
    }
}
.mat-focused .mat-form-field-label {
    color: $color-blue;
}
.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: $color-red;
}
.mat-form-field-underline {
    background-color: rgba(0, 0, 0, 0.13);
    bottom: 1.4rem;
}
.mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: transparent;
}
.mat-form-field {
    font-size: 0.875rem !important;
    width: 100%;
    margin-top: 1rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
        'Segoe UI Emoji', 'Segoe UI Symbol';
    input {
        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus {
            background: transparent;
            box-shadow: 0 0 0px 1000px transparent inset;
            transition: background-color 5000s ease-in-out 0s;
            color: $color-white !important;
            -webkit-text-fill-color: $color-gray !important;
        }
    }
}
.work-data-edit,
.education-data {
    .mat-checkbox-layout {
        margin-right: 0;
        margin-bottom: 0;
        margin-top: 0.5rem;
    }
}
.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color: rgba(0, 0, 0, 0.87);
}
.mat-form-field.mat-focused.mat-primary .mat-select-arrow {
    color: rgba(0, 0, 0, 0.54);
}
.mat-checkbox {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
        'Segoe UI Emoji', 'Segoe UI Symbol';
}
.mat-form-field-can-float .mat-input-server:focus + .mat-form-field-label-wrapper .mat-form-field-label,
.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    font-size: 1rem;
    color: $color-blue;
}
.mat-form-field-appearance-legacy .mat-form-field-prefix .mat-icon,
.mat-form-field-appearance-legacy .mat-form-field-suffix .mat-icon {
    width: 1em;
    margin-right: 0.3rem;
    font-size: 1.08rem;
}
#contact-us {
    .mat-form-field-appearance-legacy .mat-form-field-label,
    .mat-form-field-can-float .mat-input-server:focus + .mat-form-field-label-wrapper .mat-form-field-label,
    .mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
        color: $white-color;
    }
    .mat-form-field-appearance-legacy {
        .mat-form-field-ripple {
            background-color: transparent;
        }
        .mat-form-field-underline {
            background-color: $white-color;
        }
    }
}
#register {
    .mat-tab-label {
        padding: 1.8rem 1.5rem;
        width: 50%;
        background: #ccc;
    }
    .mat-tab-label-active {
        background: #f8f8f8;
    }
    .mat-tab-group.mat-primary .mat-ink-bar,
    .mat-tab-nav-bar.mat-primary .mat-ink-bar {
        background-color: transparent;
    }
    .mat-tab-header,
    .mat-tab-nav-bar {
        border-bottom: 0px solid rgba(0, 0, 0, 0.12);
    }
}
/*---------/Custom CSS for Angular Material--------*/

//custom css for new dashboard
.interviews-tabs {
    .mat-tab-labels {
        display: flex;
        flex-direction: row-reverse;
    }
    .mat-tab-group.mat-primary .mat-ink-bar,
    .mat-tab-nav-bar.mat-primary .mat-ink-bar {
        background-color: $dark-pink-color;
    }
    .mat-tab-label-active {
        color: $dark-pink-color;
    }
    .mat-tab-label {
        min-width: 80px;
        font-size: 0.8rem;
        letter-spacing: 0.1rem;
    }
    .mat-tab-header,
    .mat-tab-nav-bar {
        border-bottom: 0px solid rgba(0, 0, 0, 0.12);
    }
    .mat-tab-group.mat-primary .mat-tab-label:not(.mat-tab-disabled):focus,
    .mat-tab-group.mat-primary .mat-tab-link:not(.mat-tab-disabled):focus,
    .mat-tab-nav-bar.mat-primary .mat-tab-label:not(.mat-tab-disabled):focus,
    .mat-tab-nav-bar.mat-primary .mat-tab-link:not(.mat-tab-disabled):focus {
        background-color: transparent;
    }
}
.mat-horizontal-stepper-header-container {
    padding: 0 3.5rem;
    width: 80%;
    margin: 1rem auto 3.5rem;
}
.mat-stepper-horizontal {
    padding: 2rem;
}
.mat-horizontal-stepper-header {
    flex-direction: column;
    flex-wrap: nowrap;
}
.mat-stepper-horizontal-line {
    height: 2rem !important;
    width: 100%;
    margin: 0 0px !important;
    border-top-width: 3px !important;
    border-top-color: rgba(0, 0, 0, 0.33) !important;
}
.mat-step-header {
    overflow: visible !important;
    padding: 0 !important ;
    &:hover {
        background: transparent !important;
    }
}
.mat-step-label {
    text-align: center;
}
.mat-step-header .mat-step-icon {
    background-color: $blue-color;
}
.mat-step-icon,
.mat-step-icon-not-touched {
    height: 3rem !important;
    width: 3rem !important;
}
.mat-horizontal-stepper-header .mat-step-icon,
.mat-horizontal-stepper-header .mat-step-icon-not-touched {
    margin-right: 0 !important;
}
.mat-step-header .mat-step-label.mat-step-label-active {
    position: absolute;
    top: 3.5rem;
}
/*-------end--------*/
//dashboard common css
.outer-wrapper {
    background-color: $body-bg-color;
}
.righ-side-container {
    width: 100%;
    padding: 2rem 2rem 2rem 14rem;
}
/*-------end--------*/
