<!--jobs filter bar-->
<div class="fixed-bar clearfix">
  <span class="paging">Showing 1-8 of 254</span>
  <div class="sorted">
    <span>Sort by:</span>
    <select class="category">
      <option>Most view jobs</option>
      <option>Most view jobs</option>
      <option>Most view jobs</option>
    </select>
  </div>
  <!-- /sorted -->
</div>
<!-- /jobs filter bar-->
<div class="interviews">
  	<div class="upcoming" *ngFor="let upcomingInterview of upcomingInterviews">
        <div class="data-preview clearfix">
           <div class="logo">
               <a class="circle">
                <img src="{{upcomingInterview.logoUrl}}">
              </a>
            <!-- /img -->
           </div>
           <div class="right">
             <div class="activity">   
               <div class="buttons">
                 <a class="view">View</a>
                 <a class="cancel">Cancel</a>
                 <a class="reschedule"  (click)='openReschedule()'>Reschedule</a>
                 
               </div><!-- /buttons -->
             </div><!-- /activity -->

             <div class="content">
                <p class="heading"><a>{{upcomingInterview.jobTitle}}</a></p>
                <p class="sub-heading"><a>{{upcomingInterview.employerName}}</a></p>
                <p class="mb-3">{{upcomingInterview.jobType}} | {{upcomingInterview.jobCity}},&nbsp;{{upcomingInterview.jobCountry}}</p>
                <div class="clearfix">
                <p class="p-left">
                  <strong>Salary: </strong>{{upcomingInterview.salaryFigureType}}&nbsp;{{upcomingInterview.salaryMin}}&nbsp;{{upcomingInterview.salaryType}}&nbsp;to&nbsp;{{upcomingInterview.salaryMax}}&nbsp;{{upcomingInterview.salaryType}}</p>
                <p class="p-right">
                    <strong>Skills: </strong>
                  <span *ngFor='let skill of upcomingInterview.skills; index as i'>
                    <span *ngIf="((upcomingInterview.skills?.length)-1) !== i">{{skill}},</span>
                    <span *ngIf="((upcomingInterview.skills?.length)-1) === i">{{skill}}</span>
                  </span>
                </p>
              </div>
              <div  class="clearfix">
                <p class="p-left"><strong>Date: </strong>{{upcomingInterview.interviewDate}}</p>
                <p class="p-right"><strong>Interview Type: </strong> {{upcomingInterview.interviewType}}</p>
              </div>
              <div  class="clearfix">
                <p class="p-left"><strong>Interview Time: </strong>{{upcomingInterview.interviewTimeStart}} {{upcomingInterview.interviewTimeMeridianType}} - {{upcomingInterview.interviewTimeEnd}} {{upcomingInterview.interviewTimeMeridianType}}</p>
                <p class="p-right"><strong>Venue: </strong>{{upcomingInterview.interviewVenue}}
                </p>
              </div>
              </div>
              <!-- /content -->
             
           </div><!-- /right -->
        </div><!-- data-preview -->
      </div>
  <!-- /upcoming -->
</div>