<!--***************************************************
    Landing Page Common Navigation Header Component
    Belongs to webapp/app/common/shared/ui-navigation folder
***********************************************************-->
<jhi-navigation></jhi-navigation>

<router-outlet></router-outlet>

<!--***************************************************
    Landing Page Common Footer Component
    Belongs to webapp/app/common/shared/ui-footer folder
***********************************************************-->
<jhi-footer></jhi-footer>