@import '../../../../content/scss/global';
$color-gray: #878787;
$color-blue: #27add0;
$color-dark-blue: #158db6;

$color-white: #f8f8f8;
$heading-color: #292f3c;

$color-red: #eb3856;
$color-dark-red: #bf2046;
.slider {
    margin-top: 4.75rem;
    width: 100%;
    background: linear-gradient(to right, $color-blue, $color-dark-blue);
    text-align: center;
    padding: 5.62rem 0;
    h4 {
        font-size: 3.12rem;
        font-weight: bold;
        color: #fff;
        text-transform: uppercase;

        @include respons(view-767) {
            font-size: 2.5rem;
        }

        @include respons(view-533) {
            font-size: 1.87rem;
        }
    }
} /* /slider */

.career-slider {
    margin-top: 4.75rem;
    width: 100%;
    img {
        width: 100%;
        min-height: 9.4rem;
        @include respons(view-360) {
            display: none;
        }
    }
    .career-mobile-banner {
        display: none;

        @include respons(view-360) {
            display: block;
        }
    }
}

p {
    text-align: justify;

    @include respons(view-533) {
        text-align: left;
    }
}

/* Start Data-Policy */

.data-cookie,
.data-agreement,
.data-policy {
    background: #f8f8f8;
    width: 100%;
    padding: 2.5rem 0;

    table {
        margin-top: 2.5rem;
        .left-side {
            width: 23.75rem;
            text-align: left;

            @include respons(view-991) {
                width: 35%;
            }
        }
        tr {
            td,
            th {
                padding: 2.5rem;
                color: $color-gray;
                @include respons(view-991) {
                    padding: 1rem;
                }
            }
            th {
                color: $heading-color !important;
            }
        }
    }

    .container {
        background: #fff;
        box-shadow: 0 0 0.75rem 0 #cbcbcb;
        padding: 0.62rem 4.37rem 2.5rem;

        @include respons(view-767) {
            padding: 0.62rem 1.37rem 2.5rem;
        }

        p.heading {
            font-size: 1.25rem;
            color: $heading-color;
            margin-top: 1.87rem;
            text-align: left;

            @include respons(view-533) {
                font-size: 1.87rem;
            }
        }
        h4.heading {
            color: $heading-color !important;
            font-size: 0.94rem !important;
            font-weight: bold !important;
            float: none !important;
            @include respons(view-533) {
                font-size: 1.12rem !important;
            }
        }
        p {
            strong {
                color: $heading-color;
            }
        }

        p {
            margin-top: 1.87rem;
            font-size: 0.94rem;
            color: $color-gray;
        }
        ol {
            padding-left: 0.94rem;
            li {
                line-height: 1.9;
                color: $color-gray;
                font-size: 0.94rem;
            }
        } /* /ol */

        ul {
            padding-left: 0.94rem;
            li {
                line-height: 1.9;
                color: $heading-color;
                font-size: 0.94rem;
                margin-top: 0.5rem;

                span {
                    color: $color-gray;
                    strong {
                        color: $heading-color;
                    }
                }
            }
        } /* /ol */
        p.sub-heed {
            font-size: 1.12rem;
            color: #292f3c;
            margin-top: 1.87rem;
            // padding-left: 0.87rem;
        }

        p.margin {
            margin: 0.31rem 0;
        }
        p span {
            font-size: 1.12rem;
            color: #27add0;
        }
    } /* /container */
} /* /data-policy */

.fa-plus,
.fa-minus {
    font-size: 1rem;
    color: #27add0;
}

.faqs .data {
    display: none;
}
.form-inline .form-group {
    width: 48%;
    margin-right: 2%;
    margin-top: 1.87rem;
    @include respons(view-533) {
        width: 100%;
        margin-right: 0;
    }
    input {
        width: 100%;
        padding: 0.25rem 0;
        border: none;
        //border-bottom: 0.06rem solid;
        font-size: 0.75rem;
    }
}
.upload {
    display: block;
    width: 100%;
    margin: 1.56rem 0;
    label {
        display: inline-block;
    }
    .required {
        color: $color-red;
    }
    #resume {
        display: none;
        visibility: hidden;
    }
    .upload-btn {
        border: 0.06rem solid #26a9cd;
        padding: 0.12rem 0.94rem 0.25rem;
        color: #26a9cd;
        // border-radius: 1.25rem;
        font-size: 0.75rem;
        margin-left: 2.5rem;
        cursor: pointer;
        &:hover {
            @include gradient(to right, $color-blue, $color-dark-blue);
            color: $color-white;
        }
    }
}
.submit-box {
    input[type='submit'] {
        border: 0;
        //background: linear-gradient(to right, #27add0, #158db6);
        @include gradient(to right, $color-blue, $color-dark-blue);
        color: $color-white;
        padding: 0.19rem 1.56rem 0.31rem;
        font-size: 0.81rem;
        // border-radius: 1.25rem;
        font-weight: 500;
    }
}
a.email,
p.phone {
    color: $font-color-black;
    font-size: 0.87rem;
}
.padding-left {
    padding-left: 0.25rem;
}

#career button {
    background: linear-gradient(to right, #27add0, #158db6);
    border: none;
    // border-radius: 1.25rem;
    color: #f8f8f8;
    padding: 0.25rem 1rem 0.25rem;
    font-size: 0.75rem;
    font-weight: 400;
    outline: none;
    cursor: pointer;
    margin-bottom: 1.25rem;
    margin-top: 1.25rem;
}
.faqs {
    p.heading {
        cursor: pointer;
    }
}
