@import '../../../../shared/scss/shared.scss';




			/* Start All Pop-ups Coding At Here */

/* Accept Modal */

.accept-modal{
	border-radius:0;
	.modal-content{
		border-radius:0;
		border:none;
		.modal-header{
			background: linear-gradient(to right,$color-blue,$btn-dark-blue);
			border-radius:0;
			padding:.5em;
			height:8.75rem;
			img{
				margin:1em auto;
			}
			button{
				padding:0;
				margin:0;
				color:#fff;
				text-shadow:none;
				&:hover{
					color:#fff;
				}
			}
		}/* /modal-header */
		.modal-body{
			border-bottom:0.1875rem solid $color-blue;
			padding:5em 1rem;
			h5{
				color:$color-blue;
			}
		}/* /modal-body */
	}/* /modal-content */
}/* /accept-modal */

/* Cancel Modal */

.cancel-modal{
	@extend .accept-modal;

	.modal-content{
		.modal-header{
			height:2.5rem;
			button.close{
				    padding: 1rem;
	    			margin: -1rem -1rem -1rem auto;
			}
		}/* /modal-header */
		.modal-body{
			padding:1.2rem 2rem;
			select{
				width:100%;
				border:none;
				color:$color-gray;
				border-bottom:0.0625rem solid $bdr-clr;
				i{
					float:right;
				}
				&:focus{
					outline:none;
				}
			}/* /select */
			textarea{
				outline:none;
				color:$color-gray;
				width:100%;
				height:12.5em;
				padding:0.2rem 0.5rem;
				border:0.0625rem solid $bdr-clr;
                margin:1rem auto;
                font-size: 0.94rem;
			}
			.submit{
				width:5.5rem;
				height:1.4rem;
				color:#fff;
				float:right;
				outline:none;
				cursor:pointer;
				border-radius:1em;
                border:none;
                font-size: 0.94rem;
				background: linear-gradient(to right,$color-blue,$btn-dark-blue);
			}
		}/* /modal-body */
	}/* /modal-content */
}/* /Cancel-modal */

			/* Start Schedule Modal */
.schedule-modal{
	@extend .cancel-modal;
	.modal-content{
		.modal-body{
			input{
                font-size: 0.94rem;
				&:focus{
					outline:none;
				}
				@include respond(galaxy-note4){
					width:48%;
					float:left;
				}
				background: url(../../../../../../content/images/user/popups/date.png) no-repeat center right;
				width: 23%;
			    border: none;
			    border-bottom: 0.0625rem solid $bdr-clr;
			    padding-left:0.25rem;

			}/* /input */
		    input[name="time"]{
				background: url(../../../../../../content/images/user/popups/time.png) no-repeat center right;
		    	margin:0 1%;
		    	@include respond(galaxy-note4){
					margin:0 0 0 4%;
				}
		    }
			select{
				width:48%;
                padding-top:0.0625rem;
                font-size: 0.94rem;
				@include respond(galaxy-note4){
					width:100%;
					margin-top:.9rem;
				}
			}
		}/* /modal-body */
	}/* /modal-content */
}/* schedule-modal */
select
{
    font-size: 0.94rem;
}

/* /End All Pop-ups & Modals */
    
