<div class="cancel-modal">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.dismiss('closed')">
        <span aria-hidden="true">&times;</span>
      </button>
      <!-- /close-btn -->
    </div>
    <!-- /modal-header -->
    <div class="modal-body">
      <select id="reason">
        <option>Reason for withdrawal job </option>
        <option>Others</option>
        <i class="fa fa-chevron-right"></i>
      </select>

      <form>
        <textarea>Add your message...</textarea>
        <button type="submit" class="submit">Submit</button>
      </form>
    </div>
    <!-- /modal-body -->
  </div>
  <!-- /modal-content -->
</div>