
 <!--***************************************************
    Blog Page Common Navigation Header Component
    Belongs to webapp/app/common/shared/blog/header folder
***********************************************************-->
<jhi-navigation></jhi-navigation>
<!--/End Navigation Header Component-->

<!--**********************************
      Blog Page Slider Component
      Belongs to webapp/app/common/shared/blog/banner folder
    **************************************-->
    <jhi-banner></jhi-banner>
    <!--/End banner slider component-->

  <!-- start for blog detail section -->

  <div class="blog-detail">
      <div class="container">
        <div class="row">
  
  
          <!-- this col is for left spacing -->
          <div class="col-md-2"></div><!-- /col-md-2 -->
  
          <!-- this col is for blog section detail -->
          <div class="col-md-8">
            <div class="inner-wrapper">
              
  
              <div class="preview-img">
                <img src="../../../../../../content/images/blog/images/data-platform.jpg" class="img-fluid">
              </div><!-- /preview-img -->
  
              <!-- this is preview-img blog data -->
              <div class="blog-content">
                <p class="date"> <small>May 14, 2018</small></p><!-- /date -->
                <h3 class="heading">Aleeph Data Platform</h3>
                <p>
                  <span class="favourite-counting"><i class="fa fa-heart"></i> 24 |</span>
                  <small>Tags: Technology, Education</small>
                </p>
    
                <p class="first-para">We have adopted micro-service architecture building thousands of micro-services that power specific user experiences like job search, job listings, background check, social media logins, etc. Each micro-service maintains domain data in the data store of their choice be it MongoDB, MySQL, Elastic search and many more.</p>
              
                <p class="second-para">Analytics, Insights, Data Science and even other micro-service teams depend on data from multiple teams to run their business as usual. Aleeph Data Platform (ADP) provides the capabilities necessary to consume and act on this data. The tech stack majorly comprises of Yarn, Angular, Docker, & other API services supporting the meta layer of the data.</p>
    
    
                <div class="social-connections">
                  <ul class="social-icons list-unstyled">
                    <li>share:</li>
                    <li class="list-inline-item">
                      <a href="https://www.facebook.com/AleephIndia/" class="facebook" target="_blank">
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="https://twitter.com/AleephAdvisors" class="twitter" target="_blank">
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="https://www.linkedin.com/company/aleeph-advisors-india-pvt-ltd/" class="linkedin" target="_blank">
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="https://www.instagram.com/aleephindia/" class="instagram" target="_blank">
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a class="google-plus">
                      </a>
                    </li>
                  </ul><!-- /social-icons -->
                </div><!-- /social-connection -->
              </div><!-- /blog-content -->
  
              <!-- this is for most popular posts -->
              <jhi-popular-post></jhi-popular-post>
    
            </div><!-- /inner-wrapper -->
          </div><!-- /col-md-8 -->
  
            <!-- this col is for left spacing -->
          <div class="col-md-2"></div><!-- /col-sm-2 -->
  
        </div><!-- /row -->
      </div><!-- /container -->
    </div><!-- /blog-preview -->

    
  <!-- This is for SignIn or SignUP -->
  <div class="potential">
      <div class="text">Potential Candidates just a few click <a class="mouse" (click)="register()"><hr> </a> away
      </div><!-- /text -->
  </div><!-- /potential -->

  <!--***************************************************
    Landing Page Common Footer Component
    Belongs to webapp/app/common/shared/ui-footer folder
***********************************************************-->
<jhi-footer></jhi-footer>
<!--/End Navigation Footer Component-->