@import '../../user/shared/scss/shared.scss';
$font-color-black: #212121;
$blue-color: #27add0;
$dark-blue: #158db6;
$border-color: #e7e7e7;
$color-gray: #878787;
.activation-form {
    min-height: 46em;
    width: 98%;
    background: #fff;
    margin: 0 auto;
    padding-top: 3.75rem;
    max-width: 69.3em;

    .heading {
        font-size: 1.87rem;
        color: $font-color-black;
    }
    .sub-heading {
        font-size: 1.5rem;
        color: $blue-color;
    }

    form {
        position: relative;
        width: 94%;
        max-width: 22.5rem;
        margin: 2.5rem auto;

        input {
            border: none;
            border-bottom: 0.0625rem solid $border-color;
            color: $color-gray;
            border-radius: 0;
            margin-top: 1.5rem;
            padding-left: 0;
            font-size: 0.75rem;
        }
        button {
            border: none;
            // border-radius:0.625rem;
            background: linear-gradient(to right, $blue-color, $dark-blue);
            color: #fff;
            text-align: center;
            padding: 0.312rem 1.5rem;
            font-size: 0.625rem;
            float: right;
            margin-top: 1.5rem;
            outline: none;
            cursor: pointer;
        } /* /button */
        .notify {
            display: none;
            background: #fff;
            width: 100%;
            position: absolute;
            top: -0.75rem;
            left: 102%;
            width: 23.75rem;
            height: 3.9rem;
            box-shadow: 0 0 0.75rem 0 #cbcbcb;
            border-radius: 1.5rem;
            span.rect {
                display: inline-block;
                width: 0.94rem;
                height: 0.94rem;
                transform: rotate(-45deg);
                background: #fff;
                margin: 1.5rem 0 0 -0.437rem;
                box-shadow: -0.0625rem -0.0625rem 0.0625rem 0 #ccc;
            }
            span.i {
                width: 0.94rem;
                color: #27add0;
                display: inline-block;
                height: 0.94rem;
                border-radius: 50%;
                text-align: center;
                border: 0.0625rem solid #27add0;
                font-size: 0.56rem;
                margin: 1rem 0 0 0.625rem;
            }
            p {
                width: 80%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 0.75rem;
                color: $color-gray;
            }
        }
        .notify2 {
            display: none;
            top: 2.56rem;
        }
        .notify3 {
            display: none;
            top: 5.81rem;
        }
    } /* /form */
} /* /activation */
.form-control:focus {
    box-shadow: none;
}
.logo {
    text-align: center;
    padding: 0 0 2.19rem;
    img {
        width: 6.9rem;
    }
}
.alert-success {
    color: #3bb39d;
    background-color: transparent;
    border-color: transparent;
    text-align: center;
}
.alert-danger {
    color: #ea3855;
    background-color: transparent;
    border-color: transparent;
    text-align: center;
}
