<!-- <div>
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1>Activation</h1>

      <div class="alert alert-success" *ngIf="success">
        <span>
          <strong>Your user account has been activated.</strong> Please </span>
        <a class="alert-link" (click)="login()">sign in</a>.
      </div>

      <div class="alert alert-danger" *ngIf="error">
        <strong>Your user could not be activated.</strong> Please use the registration form to sign up.
      </div>

    </div>
  </div>
</div>

<div>
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1>Account Activation</h1>
      <div class="alert alert-danger" *ngIf="keyMissing">
        <strong>The account activation key is missing.</strong>
      </div>
      <div class="alert alert-warning" *ngIf="!success && !keyMissing">
        <p>Activate your account</p>
      </div>
      <div class="alert alert-danger" *ngIf="error">
        <p>Your account couldn't be activated. Remember a account activation request is only valid for 24 hours.</p>
      </div>
      <p class="alert alert-success" *ngIf="success">
        <span>
          <strong>Your account has been activated.</strong> Please </span>
        <a class="alert-link" (click)="login()">sign in</a>.
      </p>

      <div class="alert alert-danger" *ngIf="doNotMatch">
        The password and its confirmation do not match!
      </div>

      <div *ngIf="!keyMissing">
        <form *ngIf="!success" name="form" role="form" (ngSubmit)="accountActivation()" #activationForm="ngForm">
          <div class="form-group">
            <label class="form-control-label">User Login</label>
            <input type="text" class="form-control" name="login" #loginInput="ngModel" [(ngModel)]="registerUser.login" placeholder="User Login"
              required minlength="1" maxlength="50" pattern="^[_'.@A-Za-z0-9-]*$">

            <div *ngIf="loginInput.dirty && loginInput.invalid">
              <small class="form-text text-danger" *ngIf="loginInput.errors.required">
                This field is required.
              </small>

              <small class="form-text text-danger" *ngIf="loginInput.errors.maxlength">
                This field cannot be longer than 50 characters.
              </small>

              <small class="form-text text-danger" *ngIf="loginInput.errors.pattern">
                This field can only contain letters, digits and e-mail addresses.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label">First Name</label>
            <input type="text" class="form-control" id="firstName" name="firstName" #firstNameInput="ngModel" placeholder="First name"
              [(ngModel)]="registerUser.firstName" maxlength="50" required>

            <div *ngIf="firstNameInput.dirty && firstNameInput.invalid">
              <small class="form-text text-danger" *ngIf="firstNameInput.errors.required">
                Your password is required.
              </small>
              <small class="form-text text-danger" *ngIf="firstNameInput.errors.maxlength">
                This field cannot be longer than 50 characters.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label">Last Name</label>
            <input type="text" class="form-control" id="lastName" name="lastName" #lastNameInput="ngModel" placeholder="Last name" [(ngModel)]="registerUser.lastName"
              maxlength="50">

            <div *ngIf="lastNameInput.dirty && lastNameInput.invalid">
              <small class="form-text text-danger" *ngIf="lastNameInput.errors.maxlength">
                This field cannot be longer than 50 characters.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" #passwordInput="ngModel" placeholder="Password"
              [(ngModel)]="registerUser.password" minlength=4 maxlength=50 required>
            <div *ngIf="passwordInput.dirty && passwordInput.invalid">
              <small class="form-text text-danger" *ngIf="passwordInput.errors.required">
                Your password is required.
              </small>
              <small class="form-text text-danger" *ngIf="passwordInput.errors.minlength">
                Your password is required to be at least 4 characters.
              </small>
              <small class="form-text text-danger" *ngIf="passwordInput.errors.maxlength">
                Your password cannot be longer than 50 characters.
              </small>
            </div>
            <jhi-password-strength-bar [passwordToCheck]="registerUser.password"></jhi-password-strength-bar>
          </div>
          <div class="form-group">
            <label class="form-control-label" for="confirmPassword">Password confirmation</label>
            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" #confirmPasswordInput="ngModel" placeholder="Confirm the password"
              [(ngModel)]="confirmPassword" minlength=4 maxlength=50 required>
            <div *ngIf="confirmPasswordInput.dirty && confirmPasswordInput.invalid">
              <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.required">
                Your password confirmation is required.
              </small>
              <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.minlength">
                Your password confirmation is required to be at least 4 characters.
              </small>
              <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.maxlength">
                Your password confirmation cannot be longer than 50 characters.
              </small>
            </div>
          </div>
          <button type="submit" [disabled]="activationForm.form.invalid" class="btn btn-primary">Submit</button>
        </form>
      </div>

    </div>
  </div>
</div> -->

<div class="container">
  <div class="activation-form">
    <div class="logo">
      <img src="../../../content/images/home/new-home/logo.png" />
    </div>
    <p class="heading text-center">Account Activation</p>
    <p class="sub-heading text-center">Activate your account</p>
    <div class="alert alert-danger" *ngIf="keyMissing">
      <strong>The account activation key is missing.</strong>
    </div>
    <!-- <div class="alert alert-warning" *ngIf="!success && !keyMissing">
      <p>Activate your account</p>
    </div> -->
    <!-- <div class="alert alert-danger" *ngIf="error">
      <p>Your account couldn't be activated. Remember a account activation request is only valid for 24 hours.</p>
    </div> -->
    <p class="alert alert-success" *ngIf="success">
      <img src="../../../content/images/right-arrow.png" />
      <span>
        <strong>Your account has been activated.</strong> Please </span>
      <a class="alert-link" (click)="login()">sign in</a>.
    </p>

    <div *ngIf="!keyMissing">
      <form *ngIf="!success" class="form-vertical" name="form" role="form" (ngSubmit)="accountActivation()" #activationForm="ngForm">
        <div class="alert alert-danger" *ngIf="error">
          <img src="../../../content/images/cross-arrow.png" />
          <strong>Your user could not be activated.</strong> Please use the registration form to sign up.
        </div>
        <div class="alert alert-danger" *ngIf="doNotMatch">
          The password and its confirmation do not match!
        </div>
        <div class="form-group">
          <input type="text" (click)="sw('.notify1')" (blur)="hd('.notify1')" class="form-control" name="login" #loginInput="ngModel"
            [(ngModel)]="registerUser.login" placeholder="Pick a Login *" required minlength="4" maxlength="50" pattern="^[_'.@A-Za-z0-9-]*$">

          <div *ngIf="loginInput.dirty && loginInput.invalid">
            <small class="form-text text-danger" *ngIf="loginInput.errors.required">
              This field is required.
            </small>

            <small class="form-text text-danger" *ngIf="loginInput.errors.maxlength">
              This field cannot be longer than 50 characters.
            </small>

            <small class="form-text text-danger" *ngIf="loginInput.errors.pattern">
              This field can only contain letters, digits and e-mail addresses.
            </small>
          </div>
          <div class="notify notify1">
            <span class="rect"></span>
            <span class="i">i</span>
            <p>Contains letter, alphabets and special characters [ _ ' . @ * $].</p>
          </div>
        </div>
        <div class="form-group">
          <input type="password" (click)="sw('.notify2')" (blur)="hd('.notify2')" class="form-control" id="password" name="password"
            #passwordInput="ngModel" placeholder="Password *" [(ngModel)]="registerUser.password" minlength=4 maxlength=50
            required>
          <div *ngIf="passwordInput.dirty && passwordInput.invalid">
            <small class="form-text text-danger" *ngIf="passwordInput.errors.required">
              Your password is required.
            </small>
            <small class="form-text text-danger" *ngIf="passwordInput.errors.minlength">
              Your password is required to be at least 4 characters.
            </small>
            <small class="form-text text-danger" *ngIf="passwordInput.errors.maxlength">
              Your password cannot be longer than 50 characters.
            </small>
          </div>
          <jhi-password-strength-bar [passwordToCheck]="registerUser.password"></jhi-password-strength-bar>
          <div class="notify notify2">
            <span class="rect"></span>
            <span class="i">i</span>
            <p>Your password contains at least 4 characters.</p>
          </div>
        </div>
        <div class="form-group">
          <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" #confirmPasswordInput="ngModel" placeholder="Confirm Password *"
            [(ngModel)]="confirmPassword" minlength=4 maxlength=50 required>
          <div *ngIf="confirmPasswordInput.dirty && confirmPasswordInput.invalid">
            <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.required">
              Your password confirmation is required.
            </small>
            <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.minlength">
              Your password confirmation is required to be at least 4 characters.
            </small>
            <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.maxlength">
              Your password confirmation cannot be longer than 50 characters.
            </small>
          </div>
          <div class="notify notify3">
            <span class="rect"></span>
            <span class="i">i</span>
            <p>Contains letter & alphabets only lorem ipsum dolerim iosp kinrihf jduonfu kjeul lormtin kifngi aneir.</p>
          </div>
        </div>
        <button type="submit" [disabled]="activationForm.form.invalid" class="btn btn-primary">Submit</button>
      </form>
      <!-- /form-inline -->
    </div>
    <!-- /end information-form -->
  </div>
  <!-- /end container -->