<div class="outer-wrapper">
  <!--left side menubar component (belongs to webapp\app\user\talent\new-dashboard\left-side-menubar folder)-->
<jhi-side-bar></jhi-side-bar>
<!--/end left side menubar-->
<!--topbar component which include search bar and top right user accoun menubar-->
<jhi-top-bar></jhi-top-bar>
<div class="righ-side-container">
<div class="job-detail">
  <div class="data-preview clearfix">
      <!-- <button class="favourite" title="A dd to favourites" type="button"></button> -->
       <div class="logo">
         <a class="circle">
            <img src="../../../../../content/images/user/dashboard/logo/dell.png">
         </a><!-- /img -->
       </div>
       <div class="right">
         <div class="activity">
           <div class="buttons">
             <a class="apply">Reschedule</a>
             <a class="cancel">Cancel</a>
           </div><!-- /buttons -->
         </div><!-- /activity -->

            <div class="content">
              <p class="heading">PHP MySQL Developer</p>
              <p class="sub-heading">Microsoft</p>
              <p>Full Time | Noida, Ghaziabad</p>
              <div class="clearfix">
                  <p class="p-left"><strong>Salary: </strong>3LPA to 4LPA</p>
                  <p class="p-right"><strong>Skills: </strong>Java, Php, Mysql</p>
              </div>
              <div class="clearfix">
                  <p class="p-left"><strong>Date: </strong>13-06-2018</p>
                  <p class="p-right"><strong>Interview Type: </strong>Video Interview</p>
              </div>
              <div class="clearfix">
                  <p class="p-left"><strong>Interview Time: </strong>9:00 AM - 10:30 AM</p>
                  <p class="p-right"><strong>Venue: </strong>Hauz Khas</p>
              </div>
              <div class="description">
                  <p class="title">Job Description</p>
                  <p>Lorem ipsum dolor sit amet, cu vis mundi dolor. Nam at labore recteque deterruisset, liber aliquid contentiones no pro, sale numquam forensibus ut eam. Cum et denique perfecto, quas detraxit no eos, te dsd persequeris Lorem ipsum dolor sit </p>
                </div><!-- /discription -->
                <div class="requirements">
                  <p class="title">Requirements</p>
                  <ul>
                    <p>Cum et denique perfecto, quas detraxit no eos, te dsd persequerisLorem ipsum dolor sit amet, cu vis mundi dolor. Nam at labore recteque deterruisset, liber aliquid contentiones </p>
                    <li><span>No pro, sale numquam forensibus ut eam. Cum et denique perfecto. </span></li>
                    <li><span>uid contentiones no pro, sale numquam forensibus ut eam. Cum</span></li>
                    <li><span>queris Lorem ipsum dolor sit amet, cu vis mundi dolor.</span></li>
                    <li><span>uid contentiones no pro, sale numquam forensibus ut eam. Cum et denique perfecto,</span></li>
                    <li><span>queris Lorem ipsum dolor sit amet, cu vis mundi dolor. Nam at labore recteque </span></li>
                  </ul>
                </div><!-- /requirements -->
                <div class="banefits">
                  <p class="title">Banefits & Perks</p>
                  <ul>
                    <li><span>bus ut eam. Cum et denique perfecto, quas detraxit no eos.</span></li>
                    <li><span>bus ut eam. Cum et denique perfecto, quas detraxit</span></li>
                    <li><span>bus ut eam. Cum et denique perfecto, quas detraxit</span></li>
                    <li><span>bus ut eam. Cum et denique perfecto, quas detraxit</span></li>
                  </ul>
                </div><!-- /banefits -->
                <div class="skill">
                  <p class="title">Skills</p>
                  <p>JavaScript, CSS, HTML, Bootstrap, Angular</p>
                </div><!-- /skills -->
            </div><!-- /content -->
         
       </div><!-- /right -->
  </div><!-- data-preview -->
            
</div><!-- /jobs -->
</div>
</div>