<div class="opportunity">
    <div class="banner">
        <img src="../../../../../content/images/opportunity/opportunity-banner.jpg" class="img-fluid">
        <h1 class="hero-text">Opportunities</h1>
      </div><!-- /banner -->      
</div>