@charset "utf-8";

@import '../../../../content/scss/global.scss';

/* CSS Document */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Futura Book BT', 'roboto';
    font-size: 100%;
}

.outer-wrapper {
    width: 100%;
    float: left;
}

form.login {
    margin: 11.5% auto;
    max-width: 26.87rem;
    width: 95%;
    background: #fff;
    box-shadow: 0 0 0.75rem 0 #000;
}

.form-header {
    width: 100%;
    float: left;
}
.form-header .close {
    width: 0.0625rem;
    float: right;
    margin: 1.25rem;
}
.clearfix {
    clear: both;
    width: 100%;
}

.form-body {
    padding: 0 2.5%;
    width: 100%;
    float: left;
    padding: 0 3.125rem;
}
.form-group {
    position: relative;
}
input.form-control {
    border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.09) !important;
    position: relative;
    padding-left: 1.56rem !important;
}
.ng-invalid:not(form),
.ng-valid,
.ng-valid.required {
    border: none;
    border-radius: 0;
    font-size: 0.94rem;
    padding: 0.625rem 0;
}
.form-control:focus {
    outline: none;
    box-shadow: none;
}

@media screen and (max-width: 22.875rem) {
    .form-body {
        width: 100%;
        float: left;
        padding: 0.312rem;
    }
}
.form-body h1 {
    font-size: 1.125rem;
    text-align: center;
    font-weight: 500;
    margin: 0.625rem 0 1.56rem 0;
}
.form-input-icon {
    position: absolute;
    left: 0.75rem;
    top: 0.375rem;
    z-index: 9;
}

// .form-body div.email input{
// 	background: url(../../../../assets/icons/user.png) no-repeat 1.56rem 0.75rem;
// }

.email {
    position: relative;
}
.form-body input {
    font-size: 0.94rem;
    border-bottom: 0.0625rem solid #d4d4d4;
    box-shadow: 0 0.437rem 0.437rem -0.25rem #e2e2e2;
    margin-bottom: 1.56rem;
    margin-top: 1.25rem;
    padding-left: 3.56rem;
    width: 100%;
    border: none;
    height: 2.19rem;
}
.form-body input::placeholder {
    color: #cbcbcb;
}

button.reset {
    display: block;
    background: transparent;
    // border-radius:0.625rem;
    text-align: center;
    color: #3b6a88;
    font-size: 0.94rem;
    border: 0.0625rem solid #3b6a88;
    margin: 0 auto 1.56rem auto;
    cursor: pointer;
    outline: none;
    transition: all 0.3s;
    width: 6.25rem;
    height: 1.56rem;
    line-height: 1.56rem;
}
button.reset:hover {
    background: #3b6a88;
    color: #fff;
}
h2.login {
    font-size: 0.94rem;
    color: #292929;
    margin: 1.56rem auto 4.5rem auto;
    text-align: center;
    font-weight: 500;
}
h2.login a {
    color: #297bb0;
}

// 			/* Start All Devices Responsive Media Query */

//         /* Galaxy Tab 2 10.1 */

// @media screen and (max-width:800px){
//     @media screen and (max-height:1280px){
// 	   form.login{
//            margin:30% auto;
// 	   }
//     }
// }

//         /* iPad Air */

// @media screen and (max-width:768px){
//     @media screen and (max-height:1024px){
// 	   form.login{
//            margin:32% auto;
// 	   }
//     }
// }

//         /* Galaxy Nexus 7 */

// @media screen and (max-width:603px){
//     @media screen and (max-height:966px){
// 	   form.login{
//            margin:40% auto;
// 	   }
//     }
// }

//     /* Kindle Fire */

// @media screen and (max-width:600px){
//     @media screen and (max-height:1024px){
// 	   form.login{
//            margin:40% auto;
// 	   }
//     }
// }

// /* Kindle Fire HD 7" */

// @media screen and (max-width:533px){
//     @media screen and (max-height:853px){
// 	   form.login{
//            margin:45% auto;
// 	   }
//     }
// }

//         /* Galaxy Note 4*/

// @media screen and (max-width:480px){
//     @media screen and (max-height:853px){
// 	   form.login{
//            margin:50% auto;
// 	   }
//     }
// }

//         /* Iphone 6 Plus */

// @media screen and (max-width:414px){
//     @media screen and (max-height:736px){
// 	   form.login{
//            margin:48% auto;
// 	   }
//     }
// }
//         /* Nexus 6 */

// @media screen and (max-width:412px){
//     @media screen and (max-height:690px){
// 	   form.login{
//            margin:42% auto;
// 	   }
//     }
// }

//         /* Lumia 920 */

// @media screen and (max-width:384px){
//     @media screen and (max-height:640px){
// 	   form.login{
//            margin:39% auto;
// 	   }
//     }
// }

//         /* Iphone 6 */

// @media screen and (max-width:375px){
//     @media screen and (max-height:667px){
// 	   form.login{
//            margin:44% auto;
// 	   }
//     }
// }

//         /* Galaxy Note II */

// @media screen and (max-width:360px){
//     @media screen and (max-height:640px){
// 	   form.login{
//            margin:10% auto;
// 	   }
//     }
// }

//         /* Galaxy S6 */

// @media screen and (max-width:360px){
//     @media screen and (max-height:640px){
// 	   form.login{
//            margin:40% auto;
// 	   }
//     }
// }

//         /* Iphone 5 */

// @media screen and (max-width:320px){
//     @media screen and (max-height:568px){
// 	   form.login{
//            margin:34% auto;
// 	   }
//     }
// }

//         /* Iphone 4 */

// @media screen and (max-width:320px){
//     @media screen and (max-height:480px){
// 	   form.login{
//            margin:21% auto;
// 	   }
//     }
// }
// $color-gray : #878787;
// $color-blue : #27add0;
// $color-dark-blue : #158db6;

// $color-white : #f8f8f8;
// $heading-color:#292f3c;

// $color-red : #eb3856;
// $color-dark-red : #bf2046;

// $font-family: 'Open Sans', 'sans-serif';

a,
button {
    cursor: pointer;
}
form.forgot-password {
    width: 28.12rem;
    margin: 4.38rem auto;
    text-align: center;

    p.heading {
        font-size: 1.87rem;
        color: $heading-color;
        margin: 0;
    }
    p.title {
        font-size: 1.25rem;
        color: $color-blue;
        margin: 2.125rem auto 3.125rem auto;
    }
    .form-group {
        width: 80%;
        margin: 0 auto;
        input {
            position: relative;
            width: 100%;
            border: none;
            border-bottom: 0.0625rem solid #cbcbcb;
            color: $color-gray;
            font-size: 0.94rem;
            padding: 0.5rem 0;
            &:-webkit-autofill,
            &:-webkit-autofill:hover,
            &:-webkit-autofill:focus {
                background: transparent;
                box-shadow: 0 0 0 62.5rem transparent inset;
                transition: background-color 5000s ease-in-out 0s;
                color: $color-white !important;
                -webkit-text-fill-color: $color-gray !important;
            }
        }
    }
    button {
        color: #fff;
        background: linear-gradient(to right, $color-blue, $color-dark-blue);
        // border-radius:1.25rem;
        border: none;
        font-size: 0.94rem;
        margin: 3.125rem auto 0 auto;
        display: inline-block;
        cursor: pointer;
    }
    p.login {
        margin: 1.25rem auto 0;
        a {
            font-size: 0.94rem;
            color: $color-blue;
        }
    }
}
button.close {
    font-size: 1.8rem;
    font-weight: 320;
    color: #151515;
    text-shadow: none;
    outline: none;
    width: 1.5rem;
    margin: -0.94rem -0.625rem;
    position: absolute;
    z-index: 10;
    top: 0.687rem;
    right: 0.75rem;
} /* /close */

.success,
.error {
    margin-top: 1.25rem;
}
.icon {
    position: absolute;
    left: 0.125rem;
    top: 0.5rem;
    z-index: 1;
    .fa {
        font-size: 0.94rem;
        color: rgba(0, 0, 0, 0.35);
    }
}
