<!---new code-->
<button aria-label="Close" data-dismiss="modal" class="close" type="button" (click)="activeModal.dismiss('closed')">&times;</button>
<!-- <button aria-label="Close" data-dismiss="modal" class="close" type="button" (click)="activeModal.dismiss('closed')">
        <span aria-hidden="true">x</span>
    </button> -->
<form class="forgot-password" name="form" role="form" (ngSubmit)="requestReset()" #resetRequestForm="ngForm" *ngIf="!success">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="alert" *ngIf="errorEmailNotExists">
                <p class="error">
                    <span>
                        <img src="../../../../content/images/cross-arrow.png" />
                    </span>
                    <strong>Email address isn't registered!</strong> Please check and try again.
                </p>
            </div>
            <div class="success" *ngIf="success === 'OK'">
                <p class="error">
                    <span>
                        <img src="../../../../content/images/right-arrow.png" />
                    </span>
                    <strong>Check your emails for details on how to reset your password.</strong>
                </p>
            </div>
        </div>
    </div>
    <p class="heading">Reset Password</p>
    <p class="title">Please enter your email address and we'll send you a link to reset your password.</p>

    <!-- <div class="form-group">
        <input type="email" name="email" placeholder="Enter your email Id">
    </div> -->
    <div class="form-group">
        <span class="icon">
            <i class="fa fa-envelope" aria-hidden="true"></i>
        </span>
        <input type="email" class="form-control" id="email" name="email" #email="ngModel" placeholder="Enter your email id" [(ngModel)]="resetAccount.email"
            minlength=5 maxlength=100 email>
    </div>
<!--    <div *ngIf="email.required">-->
<!--        <small class="form-text text-danger" *ngIf="email.errors.required">-->
<!--            Your email is required.-->
<!--        </small>-->
<!--    </div>-->
    <div *ngIf="email.dirty && email.invalid">
        <small class="form-text text-danger" *ngIf="email.errors.email">
            Your email is invalid.
        </small>
        <!-- <small class="form-text text-danger" *ngIf="email.errors.minlength">
            Your email is required to be at least 5 characters.
        </small> -->
        <small class="form-text text-danger" *ngIf="email.errors.maxlength">
            Your email cannot be longer than 100 characters.
        </small>
    </div>
    <!-- /form-group -->
    <button type="submit" [disabled]="resetRequestForm.form.invalid" class="reset">Reset</button>
    <p class="login">
        <a (click)="openLogin()">Back to Sign In</a>
    </p>
</form>
<!-- /forgot password -->
