<div class="contact-form">
    <div class="modal-body">
        <div class="row">
            <div class="col-md-6 left-side">
                <div class="container signup-img">
                    <img src="../../../content/images/sign-in.png" class="img-fluid">
                </div>
            </div>
            <button class="close" data-dismiss="modal" (click)="activeModal.dismiss('closed')">&times;</button>

            <div class="col-md-6 light-bg">
                <div class="alert" *ngIf="authenticationError">
                    <p class="error">
                        <span>
                            <img src="../../../content/images/cross-arrow.png" />
                        </span>
                        Please check your credentials.
                    </p>
                </div>
                <form class="form" role="form" (ngSubmit)="login()" #loginForm="ngForm">
                    <div class="tab-content">
                        <div id="candidate" class="active">
                            <div class="form-group">
                                <!-- <input type="text" required [(ngModel)]="username" name="username" #userNameText="ngModel" placeholder="Username"> -->
                               
                                <mat-form-field> 
                                        <mat-icon matPrefix>person</mat-icon>  
                                    <input matInput placeholder="Username" [(ngModel)]="username" name="username" #userNameText="ngModel" required>
                                </mat-form-field>
                                <div [hidden]="userNameText.valid || userNameText.pristine">
                                    <span class="error">Please enter username</span>
                                </div>
                                <!-- <span class="user">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                </span> -->
                            </div>
                            <div class="form-group">
                                <!-- <input type="password" required [(ngModel)]="password" name="password" #passwordText="ngModel" placeholder="Password"> -->
                                <!-- <mat-form-field>
                                        <span matPrefix class="password"><i class="fa fa-key"></i>&nbsp;</span>
                                        <input matInput type="password" [(ngModel)]="password" name="password" #passwordText="ngModel" placeholder="Password" required>
                                </mat-form-field> -->
                                <mat-form-field>
                                    <!-- <span matPreffix (click)="hide = !hide">
                                        <span  *ngIf='hide' class="password">
                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                        </span>
                                        <span *ngIf='!hide' class="password">
                                                <i class="fa fa-eye-slash" aria-hidden="true"></i>
                                        </span>
                                    </span> -->
                                   
                                       <mat-icon matPrefix>vpn_key</mat-icon>
                                    <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" [(ngModel)]="password" name="password"
                                        #passwordText="ngModel" placeholder="Password" required>
                                    <span class="password-toggle" (click)="hide = !hide">
                                            <mat-icon matSuffix *ngIf='hide'>visibility</mat-icon>
                                        <!-- <i class="fa fa-eye" *ngIf='hide'>&nbsp;</i> -->
                                        <!-- <i class="fa fa-eye-slash" aria-hidden="true" *ngIf='!hide'>&nbsp;</i> -->
                                        <mat-icon matSuffix *ngIf='!hide'>visibility_off</mat-icon>
                                    </span>

                                </mat-form-field>
                                <div [hidden]="passwordText.valid || passwordText.pristine">
                                    <span class="error">Please enter password</span>
                                </div>
                                <!-- <span class="password">
                                    <i class="fa fa-key" aria-hidden="true"></i>
                                </span> -->
                            </div>
                            <div class="form-group clearfix">
                                <div class="remember-me">
                                    <input class="form-check-input" type="checkbox" name="rememberMe" id="rememberMe" [(ngModel)]="rememberMe" checked>
                                    <label for="rememberMe"> Remember Me</label>
                                </div>
                                <div class="forgot-pass">
                                    <a (click)="requestResetPassword()">Forgot Password?</a>
                                </div>
                            </div>

                            <button type="submit" [disabled]="!loginForm.form.valid" class="signup">Sign In</button>
                        </div>
                    </div>
                </form>
                <div class="other-opt">
                    <div class="line">
                        <p>OR</p>
                        <hr>
                    </div>
                    <jhi-social provider="facebook"></jhi-social>
                    <jhi-social provider="linkedin"></jhi-social>
                </div>
                <p class="login">Don't have an account?
                    <a (click)="openRegister()">Sign Up</a>
                </p>
            </div>
        </div>
    </div>
</div>