@import '../../../content/scss/global.scss';
/*   Sign Up Modal   */
a,
button {
    cursor: pointer;
}
.contact-form {
    .light-bg {
        @include respons(view-991) {
            padding: 4.4rem 5%;
        }
        padding: 3.75rem 5.31rem 1.87rem 5.31rem;
        position: relative;
    }
    border: none;
    border-radius: 0;

    .modal-body {
        padding: 0 !important;

        .tabs {
            text-align: center;
            margin-top: 5rem;
            padding: 0 0.94rem;
            label {
                float: left;
                &:last-child {
                    float: right;
                }
                input {
                    margin-right: 0.94rem;
                }
            }
        }

        button.close {
            font-size: 1.8rem;
            font-weight: 320;
            color: #151515;
            text-shadow: none;
            outline: none;
            width: 1.5rem;
            position: absolute;
            top: -0.94rem;
            right: -0.625rem;
            z-index: 9;
        } /* /close */

        .signup-img {
            margin-bottom: 5rem;
            text-align: center;
        }
        .form-group {
            position: relative;

            input {
                //margin:0.94rem auto 0 auto;
                position: relative;
                width: 100%;
                //padding:0.625rem 0;
                //padding-left: 1.6rem;
                border: none;
                //border-bottom:0.062rem solid $color-gray;
                font-size: 0.94rem;
                color: $color-gray;
                background: transparent;
                &:focus {
                    box-shadow: none;
                    outline: none;
                }
                &:-webkit-autofill,
                &:-webkit-autofill:hover,
                &:-webkit-autofill:focus {
                    background: transparent;
                    box-shadow: 0 0 0 62.5rem transparent inset;
                    transition: background-color 5000s ease-in-out 0s;
                    font-size: 0.94rem;
                }
            }
            p.error {
                margin-bottom: 0;
                font-size: 0.94rem;
                color: $color-red;
            }
        }
        .activity {
            position: absolute;
            top: 38%;
            right: 0.25rem;
            font-size: 0.94rem;
            i {
                color: $color-blue;
            }
        }
        .line {
            margin: 2.5rem 0;
            position: relative;
            text-align: center;
            padding: 0 0.5rem;

            p {
                margin: 0.312rem auto;
                display: inline-block;
                position: absolute;
                width: 3.12rem;
                top: -1.06rem;
                left: 50%;
                transform: translateX(-50%);
                background: #f8f8f8;
                border: 0 solid #f8f8f8;
                font-weight: 700;
            }
            hr {
                width: 100%;
                border: 0.0312rem solid $color-gray;
            }
        }
        button {
            width: 100%;
            height: 3.12rem;
            border: none;
            // border-radius: 1.25rem;
            color: #fff;
            font-size: 0.94rem;
            cursor: pointer;
            outline: none;
            a {
                color: #fff;
            }
        }
        button.signup {
            background: linear-gradient(to left, $color-dark-red, $color-red);
        }
        button.facebook {
            a {
                float: left;
                i {
                    float: left;
                    padding-right: 1.25rem;
                    border-right: 0.062rem solid #fff;
                    font-size: 1.4rem;
                    margin-left: 1.25rem;
                    margin-right: 2.4rem;
                }
            }

            background: #2a7cec;
        } /* /facebook */
        button.twitter {
            margin: 1.25rem 0;
            a {
                float: left;
                i {
                    margin-right: 2.4rem;
                    float: left;
                    padding-right: 0.75rem;
                    border-right: 0.062rem solid #fff;
                    font-size: 1.4rem;
                    margin-left: 1.12rem;
                }
            }

            background: #00c1ef;
        } /* /twitter */

        p.login {
            color: $heading-color;
            font-size: 0.94rem;
            text-align: center;
            font-weight: 600;
            margin-top: 0.94rem;
            a {
                color: $color-red;
                cursor: pointer;
            }
        }
    } /* /modal-body */
} /* /modal-content */

.hide {
    display: none;
}
.light-bg {
    background: #f8f8f8;
}
.input-error {
    border-color: $color-red;
}
.cross {
    font-size: 1.12rem;
    color: #e73655;
}
.forgot-pass {
    text-align: right;
    margin-top: -0.2rem;
    float: left;
    width: 50%;
    a {
        color: $color-blue;
        font-size: 0.75rem;
        cursor: pointer;
    }
}
.message {
    text-align: center;
    .sucess {
        font-size: 0.94rem;
        color: #3bb388;
        span {
            display: block;
            font-weight: 400;
            margin-bottom: 0.312rem;
            font-size: 1.12rem;
        }
    }

    img {
        margin-right: 0.312rem;
    }
}
.user,
.password {
    // position: absolute;
    // left: 0;
    // top: 1.44rem;
    .fa {
        font-size: 0.94rem;
        color: rgba(0, 0, 0, 0.21);
    }
}
.password-toggle {
    .fa-eye,
    .fa-eye-slash {
        color: $font-color-black;
        &:hover {
            cursor: pointer;
        }
    }
}
.remember-me {
    font-size: 0.75rem;
    float: left;
    width: 50%;
    color: #27add0;
    input[type='checkbox'] {
        width: 0.75rem !important;
        top: 0.19rem;
        left: 0;
        margin: 0;
    }
}
.other-opt {
    .jh-btn-facebook {
        width: 100%;
        height: 3.12rem;
        border: none;
        // border-radius: 1.25rem;
        color: #fff;
        font-size: 0.94rem;
        cursor: pointer;
        outline: none;
        background: #3c5a9a;
    }
}
p.error {
    color: $color-red !important;
    font-size: 0.94rem;
    text-align: center;
}
.alert {
    position: absolute;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 0.062rem solid transparent;
    border-radius: 0.25rem;
    top: 1.5em;
    left: 0;
    right: 0;
}
.tabs label {
    cursor: pointer;
}

.left-side {
    @include respons(view-767) {
        display: none;
    }
}
.btn-disable {
    background: $color-gray;
    color: $color-white;
    width: 100%;
    padding: 0.857rem;
    border: none;
    // border-radius: 1.25rem;
    font-size: 0.94rem;
    cursor: pointer;
    outline: none;
}
.password-toggle {
    position: absolute;
    right: 0;
    bottom: 0;
    .mat-icon {
        cursor: pointer;
    }
}
.mat-input-element {
    padding-bottom: 0.2rem !important;
}
