<div class="outer-wrapper clearfix">
  <!--left side menubar component (belongs to webapp\app\user\talent\new-dashboard\left-side-menubar folder)-->
  <jhi-side-bar></jhi-side-bar>
  <!--/end left side menubar-->
  <!--topbar component which include search bar and top right user accoun menubar-->
  <jhi-top-bar></jhi-top-bar>

  <div class="right-side-container">
    <div class="row">
      <div class="col-md-2">
        <ul class="left-tabs">
          <li class="active">
            <a>Profile</a>
          </li>
          <li>
            <a>Work Experience</a>
          </li>
          <li>
            <a>Education Experience</a>
          </li>
          <li>
            <a>Skills</a>
          </li>
          <li>
            <a>Desired Job</a>
          </li>
        </ul>
      </div>
      <!-- /col-md-3 -->
      <div class="profile-form col-md-10">
        <!-- profile Name -->
        <jhi-resume></jhi-resume>

        <!-- Work Experience -->
        <jhi-experience></jhi-experience>

        <!-- Education Experience -->
        <jhi-education></jhi-education>

        <!-- Skills -->
        <jhi-skill></jhi-skill>

        <!-- Desired Job -->
        <jhi-desired-job></jhi-desired-job>
      </div>
      <!-- /profile-form -->
    </div>
  </div>

  <div class="alert-popup">
    <!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
  </button> -->
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Are You Sure?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete it?
        </div>
        <div class="modal-footer">
          <button type="button" class="button cancel" data-dismiss="modal">Cancel</button>
          <button type="button" class="button cancel" data-dismiss="modal">Ok</button>
        </div>
      </div>
    </div>
  </div>
  </div>
  
</div>