@import '../../../../../../content/scss/global.scss';
body {
    background: #f0f5f8;
}
.modal-dialog {
    max-width: 30rem !important;
    color: $light-gray-color;
    h5 {
        color: #fff;
        font-size: 1.25rem;
        margin: 0.5rem 1rem;
    }
    .close {
        color: #fff;
        font-size: 1.56rem;
        text-shadow: none;
        font-weight: 350;
        outline: none;
    }
    .modal-header {
        background: linear-gradient(to right, $blue-color, $dark-blue-color);
        border-radius: 0;
        padding: 0.3125rem;
    }
    .button {
        border: 1px solid $light-gray-color;
        background: transparent;
        font-size: 0.75rem;
        padding: 0.3rem 1rem;
        color: $light-gray-color;
        cursor: pointer;
        margin-left: 1.25rem;
        &:hover {
            color: $white-color;
            border: 1px solid $white-color;
            background: linear-gradient(to right, $blue-color, $dark-blue-color);
        }
    }
}
.right-side-container {
    width: 100%;
    padding: 6.5rem 2rem 2rem 14rem;
}
.left-tabs {
    background: #ffffff;
    border-radius: 10px;
    padding: 1.5rem;
    list-style: none;
    li {
        color: $light-gray-color;
        font-size: 0.8rem;
        line-height: 2.5rem;
        cursor: pointer;

        &:hover {
            color: $red-color;
        }
    }
    li.active {
        color: $dark-red-color;
    }
}
