@import '../dashboard.scss';
.interviews-tabs {
    background: $white-color;
    margin: 1.3rem 0 1rem 0rem;
    padding: 0 0.8rem 1rem;
    position: relative;
    @include box-shadow(0.425rem, 0.425rem, 0.925rem, 0, rgba(0, 0, 0, 0.09));
    .head {
        position: absolute;
        left: 1rem;
        top: 0.85rem;
    }
}
a:hover {
    cursor: pointer !important;
}
