<div class="interviews-tabs">
  <h4 class="head">Interviews</h4>
  <mat-tab-group headerPosition="right">
      <mat-tab label="Re-Schedule">
          <jhi-reschedule></jhi-reschedule>
      </mat-tab>
      <mat-tab label="Schedule">
          <jhi-schedule></jhi-schedule>
      </mat-tab>

  </mat-tab-group>
  <div class="see-more-container">
      <a class="see-more disable">See More</a>
  </div>
</div>