<div class="work-experience">
  <div class="header clearfix">
    <h1 class="heading">Work Experience</h1>
    <div class="add-data">
      <span (click)="experienceToggle()">+</span>
    </div>
    <div class="form form-experience clearfix">
      <jhi-experience-modal></jhi-experience-modal>
    </div>
    
  </div>
  <!-- /header -->
  <div class="content">
    <div class="first-item">
      <h4 class="designation">Software Developer</h4>
      <p class="job-type"><strong>Job Type:</strong> Full Time</p>

      <div class="activity">
        <span><img src="../../../../../../../content/images/user/profile/edit-icon.png"></span>
        <span data-toggle="modal" data-target="#exampleModal"><img src="../../../../../../../content/images/user/profile/delete-icon.png"></span>
      </div>

      <p><span class="company-name">Amazon Prime</span>, <span class="job-location">Okhla New Delhi</span></p>
      
      <p class="job-duration">
        <span>March 2017</span> -
        <span>Present</span>
      </p>
      <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente natus sunt, numquam, ab vero quidem aut blanditiis distinctio iste maiores aperiam praesentium, minus animi magni laboriosam. Eum, autem maiores. Exercitationem.</p>
    </div><!-- /first-item -->

    <div class="first-item">
      <h4 class="designation">Android Developer</h4>
      <p class="job-type"><strong>Job Type:</strong> Full Time</p>

      <div class="activity">
        <span><img src="../../../../../../../content/images/user/profile/edit-icon.png"></span>
        <span data-toggle="modal" data-target="#exampleModal"><img src="../../../../../../../content/images/user/profile/delete-icon.png"></span>
      </div>
      <p><span class="company-name">Google</span>, <span class="job-location">Okhla New Delhi</span></p>
      
      <p class="job-duration">
        <span>March 2017</span> -
        <span>Present</span>
      </p>
      <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente natus sunt, numquam, ab vero quidem aut blanditiis distinctio iste maiores aperiam praesentium, minus animi magni laboriosam. Eum, autem maiores. Exercitationem.</p>
    </div><!-- /first-item -->

    <div class="first-item">
      <h4 class="designation">Android Developer</h4>
      <p class="job-type"><strong>Job Type:</strong> Full Time</p>

      <div class="activity">
        <span><img src="../../../../../../../content/images/user/profile/edit-icon.png"></span>
        <span data-toggle="modal" data-target="#exampleModal"><img src="../../../../../../../content/images/user/profile/delete-icon.png"></span>
      </div>
      <p><span class="company-name">Google</span>, <span class="job-location">Okhla New Delhi</span></p>
      
      <p class="job-duration">
        <span>March 2017</span> -
        <span>Present</span>
      </p>
      <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente natus sunt, numquam, ab vero quidem aut blanditiis distinctio iste maiores aperiam praesentium, minus animi magni laboriosam. Eum, autem maiores. Exercitationem.</p>
    </div><!-- /first-item -->
  </div><!-- /content -->  
</div>
