@import '../../../../../../../content/scss/global.scss';
.header {
    border-bottom: 1px solid #bfbebe;
    padding-bottom: 0.5rem;

    .heading {
        font-size: 1.25rem;
        font-weight: bold;
        color: $gray-color;
        display: inline-block;
        padding: 1rem;
        padding-bottom: 0;
    }

    .add-data {
        display: inline-block;
        float: right;
        margin-top: 0.3rem;
        padding: 1rem;
        span {
            outline: none;
            border: none;
            background: transparent;
            cursor: pointer;
            font-weight: 400;
            font-size: 35px;
            color: #27add0;
            line-height: 0;
        }
    }
    .form {
        float: left;
        width: 96%;
        margin: 0 2% 1rem;
        height: 0;
        overflow: hidden;
        transition: all 0.4s;
    }
    .show {
        height: 100% !important;
    }
}
.work-experience {
    background: #fff;
    margin-top: 2rem;
    box-shadow: 0.425rem 0.425rem 0.925rem 0 rgba(0, 0, 0, 0.09);
}
.content {
    width: 100%;
    padding-left: 2.5rem;
    padding-right: 1.5rem;
    span {
        img {
            cursor: pointer;
        }
    }

    .first-item {
        margin-top: 1rem;
        position: relative;
        &:before {
            content: '';
            position: absolute;
            top: 10%;
            bottom: -3rem;
            left: -1.08rem;
            border: 0.0315rem solid $light-gray-color;
        }
        &:after {
            content: '';
            position: absolute;
            height: 0.8rem;
            width: 0.8rem;
            border-radius: 100%;
            background: #fff;
            border: 0.09rem solid #27add0;
            left: -23px;
            top: 7px;
        }

        &:last-child {
            &:before {
                border: none;
            }
            .description {
                border: none;
                margin-bottom: 0;
            }
        }
    }
    .designation {
        font-size: 0.875rem;
        display: inline;
    }
    .job-type {
        display: inline-block;
        margin-left: 12%;
        strong {
            color: $gray-color;
        }
    }
    .activity {
        float: right;

        span:first-child {
            margin-right: 0.5rem;
        }
    }
    p {
        color: $light-gray-color;
        font-size: 0.75rem;
        margin-bottom: 0;
    }
    .description {
        margin-top: 1rem;
        padding-right: 4rem;
        padding-bottom: 2rem;
        border-bottom: 1px solid $light-gray-color;
        margin-bottom: 2rem;
    }
}
