<div id="shortlisted">
  <div class="header clearfix">
      <h4 class="head">Shortlisted Candidates</h4>
    </div>
    <div class="scroll clearfix">
      <div class="box" *ngFor='let shortlistedCandidate of shortlistedCandidates'>
        <div class="img">
         <a> <img src="{{shortlistedCandidate.candidateUrl}}"></a>
        </div>
        <div class="headings">
          <h4><a>{{shortlistedCandidate.candidateName}}</a></h4>
          <p>{{shortlistedCandidate.jobTitle}}</p>
          <span>{{shortlistedCandidate.candidateCity}},&nbsp;{{shortlistedCandidate.candidateCountry}}</span>
        </div>
        <p class="schedule">
          <strong>Experience Req:</strong> {{shortlistedCandidate.experienceMin}}{{shortlistedCandidate.experienceType}}&nbsp;-&nbsp;{{shortlistedCandidate.experienceMax}}{{shortlistedCandidate.experienceType}}
        </p>
        <p class="salary">
          <strong>Salary:</strong> {{shortlistedCandidate.salaryMin}}&nbsp;{{shortlistedCandidate.salaryType}}&nbsp;to&nbsp;{{shortlistedCandidate.salaryMax}}&nbsp;{{shortlistedCandidate.salaryType}}</p>
        <p class="type">
          <strong>Application Status:</strong> {{shortlistedCandidate.applicationStatus}}</p>
        <hr>
        <div class="buttons">
          <button class="accept">Schedule Interview</button>
          <button class="reschedule">Not Interested</button>
        </div>
      </div>
    </div>
  </div>